<template>
  <footer class="footer">
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__logo">
          <NuxtLink to="/">
            <NuxtImg
              src="assets/img/logo/logo.svg"
              width="170"
              height="52"
              loading="lazy"
              alt="footer-logo"
            />
          </NuxtLink>
        </div>

        <div class="footer__block">
          <div class="footer__navigation">
            <FooterNav
              v-for="(item, i) in FOOTER"
              :key="i"
              :info="item.INFO"
              :arrow-show="item.ARROW"
              :title="item.TITLE"
              :link-general="item.ALL?.NAME"
              :toGeneral="item.ALL?.LINK"
              :class="{
                active: isActive === i,
                [item?.CLASS || '']: item?.CLASS,
              }"
              @toggle-accordion="toggleAccordion(i)"
            />
            <nav class="footer__nav">
              <h4 class="footer__nav-title">{{ FOOTER_SITES.TITLE }}</h4>
              <ul class="footer__nav-list">
                <li
                  class="footer__nav-item"
                  v-for="(nav, i) in FOOTER_SITES.INFO"
                  :key="i"
                >
                  <NuxtLink class="footer__nav-link" :to="`${nav.LINK}`"
                    >{{ nav.NAME }}
                  </NuxtLink>
                </li>
              </ul>
            </nav>
          </div>

          <div class="footer__connection">
            <ul class="footer__contacts">
              <li class="footer__contacts-tel">
                <a class="footer__contacts-link" href="tel:+38(097)470-44-77">
                  <Icon name="SocialPhone" class="footer__contacts-icon" />
                  +38(097)470-44-77
                </a>
              </li>
              <li class="footer__contacts-tel">
                <a class="footer__contacts-link" href="tel:+38(099)470-44-77">
                  <Icon name="SocialPhone" class="footer__contacts-icon" />
                  +38(099)470-44-77
                </a>
              </li>
            </ul>

            <FooterSocials />
          </div>
        </div>
        <ul class="footer__bottom-politics">
          <li class="footer__bottom-politics-item">
            <NuxtLink class="footer__bottom-link" to="/privacy-policy">
              Політика конфіденційності
            </NuxtLink>
          </li>
          <li class="footer__bottom-politics-item">
            <NuxtLink class="footer__bottom-link" to="/public-offer">
              Договір про публічну оферту
            </NuxtLink>
          </li>
          <li class="footer__bottom-politics-item">
            <a href="https://webnauts.pro/">
              Made by <span>Webnauts Pro</span>💙</a
            >
          </li>
        </ul>
      </div>
    </div>
  </footer>
</template>

<script setup lang="ts">
// ---- COMPONENTS ---- //
import FooterSocials from "./FooterSocials.vue"
import FooterNav from "./FooterNav.vue"

// ---- CONSTANTS ---- //
import { FOOTER, FOOTER_SITES } from "~/constants"

// ---- DATA ---- //
const isActive = ref<null | number>(null)
const index = ref<null | number>(null)

// ---- METHODS ---- //
const toggleAccordion = (i: number) => {
  index.value = i
  isActive.value === i ? (isActive.value = null) : (isActive.value = i)
}
</script>

<style lang="scss">
@import "@/assets/scss/components/footer/footer.scss";

.footer__socials {
  margin-bottom: 0;
}
</style>
