<template>
  <ul :class="['footer__socials', blockPosition]">
    <li
      v-for="link in FOOTER_SOCIALS"
      :key="link.LOGO"
      class="footer__socials-item"
    >
      <a
        class="footer__socials-link"
        href="/"
        @click="handleClickWeb(link.LOGO)"
      >
        <Icon :name="link.LOGO" alt="social media logo" />
      </a>
    </li>
  </ul>
</template>

<script setup lang="ts">
// ---- CONSTANTS ---- //
import { FOOTER_SOCIALS } from "~/constants"

// ---- DATA ---- //
const props = defineProps<{
  position?: string
}>()

// ---- COMPUTED ---- //
const blockPosition = computed(() => {
  switch (props.position) {
    case "top":
      return "footer__socials--position_top"
    case "bottom":
      return "footer__socials--position_bottom"
    default:
      return ""
  }
})

// ---- METHODS ---- //
const handleClickWeb = (logo: string) => {
  switch (logo) {
    case "SocialViber":
      const phoneNumber = "+380978764512"
      const viberUrl = `viber://add?number=${encodeURIComponent(phoneNumber)}`

      // Проверка доступности Viber
      if (
        typeof navigator !== "undefined" &&
        navigator.userAgent.match(/android|iphone|ipad|ipod/i)
      ) {
        window.location.href = viberUrl
      } else {
        window.open(viberUrl, "_blank")
      }
      break
    case "SocialWatsapp":
      window.open("https://wa.me/+380978764512", "_blank")
      break
    case "SocialTelegram":
      window.open("https://telegram.im/@Rubikon_tickets_bot", "_blank")
      break
    default:
      break
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/footer/footer-socials.scss";
</style>
