<template>
  <nav class="nav">
    <h4 class="nav__title" @click="toggleAccordion">
      {{ title }} <Icon name="ArrowFooter" v-if="arrowShow" />
    </h4>
    <div class="nav__body">
      <div class="nav__expandable">
        <ul class="nav__list">
          <li class="nav__item" v-for="(item, i) in info" :key="i">
            <NuxtLink class="nav__link" :to="`${item.LINK}`">{{
              item.NAME
            }}</NuxtLink>
          </li>
        </ul>
        <NuxtLink class="nav__link--general" :to="`${toGeneral}`">{{
          linkGeneral
        }}</NuxtLink>
      </div>
    </div>
  </nav>
</template>

<script setup lang="ts">
// ---- DATA ---- //
defineProps<{
  title: string
  arrowShow?: boolean
  toGeneral?: string
  linkGeneral?: string
  info: Array<{ NAME: string; LINK: string }>
}>()

const emit = defineEmits(["toggle-accordion"])

// ---- METHODS ---- //
const toggleAccordion = () => {
  emit("toggle-accordion")
}
</script>

<style lang="scss" scoped>
.nav {
  display: grid;

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    gap: rem(20);
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    font-size: rem(16);
    font-weight: 400;
    color: var(--monochrome-white);

    max-height: rem(36);

    @media (min-width: 1200px) {
      // height: 100%;
      display: block;
    }

    & svg {
      width: rem(36);
      height: rem(36);
      fill: var(--monochrome-dark-grey);

      @media (min-width: 1200px) {
        display: none;
      }
    }
  }

  &__body {
    overflow: hidden;

    display: grid;
    grid-template-rows: 0fr;
    // height: 0;
    transition: 0.3s ease-in-out;
    margin-top: rem(15);

    @media (min-width: 1200px) {
      height: 100%;
      margin-top: rem(20);
    }
  }

  &__expandable {
    min-height: 0;

    @media (min-width: 1200px) {
      min-height: unset;
    }
  }

  &__list {
    display: grid;
    gap: rem(15);
    margin-bottom: rem(10);

    @media (min-width: 1200px) {
      gap: rem(20);
    }
  }

  &__link {
    font-size: rem(14);
    font-weight: 300;
    line-height: 1.4;
    color: var(--monochrome-white);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: var(--accent-color);
    }

    @media (min-width: 700px) {
      font-size: rem(15);
    }

    &--general {
      margin-top: rem(18);
      font-size: rem(12);
      font-weight: 400;
      color: var(--additional-dark-yellow);
      text-decoration: underline dotted;
    }

    @media (min-width: 700px) {
      font-size: rem(14);
    }
  }

  &.active {
    & .nav {
      @media (max-width: 1200px) {
        &__body {
          grid-template-rows: 1fr;
          padding-bottom: rem(20);
        }

        &__title {
          color: var(--accent-color);

          & svg {
            fill: var(--accent-color);
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
</style>
