<template>
  <DelayHydration>
    <HeroSection is-trips-page-search class-name="hero--search hero--trips" />
  </DelayHydration>

  <DelayHydration>
    <section class="trips">
      <div class="container">
        <div v-if="false" class="trips-head">
          <div class="trips-head__wrapper">
            <AppBreadcrumb />
            <h2 class="trips__title">Розклад автобусу {Київ— Варшава}</h2>
          </div>
          <div class="trips-reverse">
            <h4 class="trips-reverse__subtitle">Зворотній напрямок:</h4>
            <h4 class="trips-reverse__title">Автобуси {Варшава— Київ}</h4>
            <button class="trips-reverse__btn">
              <Icon name="ArrowLeftIcon" />
            </button>
          </div>
        </div>
        <div class="trips__inner">
          <div class="trips-left">
            <Transition appear name="trips-filter">
              <TripsFilter
                v-if="isActiveModal.filter"
                @on-filter-update="closeFilterModal"
                @on-close="closeFilterModal"
              />
            </Transition>
          </div>
          <template v-if="getSelectedFilters.length">
            <div class="trips-configuration">
              <ul class="trips-configuration__list">
                <li
                  class="trips-configuration__item"
                  v-for="(filter, i) in getSelectedFilters"
                  :key="`${filter.filterId}-${i}`"
                >
                  <span>{{ filter.filterName }}</span>
                  <AppButton
                    class="trips-configuration__remove"
                    icon-name="ModalClose"
                    icon-size="24"
                    @click="updateTrips(filter)"
                  />
                </li>
              </ul>
              <button
                class="trips-configuration__reset"
                @click="resetAllFilters"
              >
                Скасувати
              </button>
            </div>
          </template>
          <div class="trips-top">
            <AppBtnBack v-if="false" class="trips-btn--back" />
            <div class="trips-top__head">
              <h3 class="trips-title">
                Знайдено
                <span>{{ getActiveDate?.busDeparturesCount }}</span>
                автобусів
              </h3>
              <div class="trips-top__content">
                <div class="trips-top__content-wrap">
                  <AppButton
                    class="trips-btn trips-sort__btn"
                    :class="{ active: fetchQuery.sort }"
                    icon-name="FilterSort"
                    icon-size="27"
                    @click="toggleModal('sort')"
                  />
                  <Transition name="trips-modal">
                    <div
                      v-if="isActiveModal.sort"
                      class="trips-top__modal"
                      :class="[
                        isActiveModal.sort ? 'trips-top__modal--open' : '',
                      ]"
                    >
                      <button
                        class="trips-top__modal-close"
                        @click="toggleModal('sort')"
                      >
                        <Icon name="ModalClose" size="30" />
                      </button>
                      <div class="trips-top__modal-head">
                        <h2 class="trips-top__modal-title">Сортувати за:</h2>
                      </div>
                      <div class="trips-top__modal-content">
                        <ul
                          class="trips-top__modal-list"
                          v-for="sortField in sortFields"
                          :key="sortField.id"
                        >
                          <li
                            class="trips-top__modal-item"
                            :class="{
                              active: sortField.id === getSelectedSort?.id,
                            }"
                            @click="updateSort(sortField)"
                          >
                            {{ sortField.name }}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </Transition>
                </div>
                <div class="trips-top__content-wrap">
                  <AppButton
                    :class="{ active: getSelectedFilters.length }"
                    class="trips-btn trips-filter__btn"
                    text="Фільтр"
                    icon-name="TripsFilterIcon"
                    icon-size="24"
                    @click="toggleModal('filter')"
                  />
                </div>
                <div class="trips-top__content-wrap">
                  <AppButton
                    :text="mobileCurrencyBtn"
                    class="trips-btn trips-select__btn"
                    icon-name="TripsPaid"
                    icon-size="24"
                    @click="toggleModal('currency')"
                  />
                  <Transition name="trips-modal">
                    <div
                      v-if="isActiveModal.currency"
                      class="trips-top__modal"
                      :class="[
                        isActiveModal.currency ? 'trips-top__modal--open' : '',
                      ]"
                    >
                      <button
                        class="trips-top__modal-close"
                        @click="toggleModal('currency')"
                      >
                        <Icon name="ModalClose" size="30" />
                      </button>
                      <div class="trips-top__modal-head">
                        <h2 class="trips-top__modal-title">Валюта</h2>
                      </div>
                      <div class="trips-top__modal-content">
                        <ul
                          class="trips-top__modal-list"
                          v-for="currency in getCurrenciesNameConcat"
                          :key="currency.code"
                        >
                          <li
                            class="trips-top__modal-item"
                            :class="{
                              active: currency.id === getSelectedCurrency?.id,
                            }"
                            @click="updateCurrency(currency)"
                          >
                            {{ currency.name }}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </Transition>
                </div>
                <div class="trips-top__selects">
                  <div class="trips-select">
                    <p>Валюта</p>
                    <AppSelect
                      class="trips-select__component"
                      :options="getCurrenciesNameConcat"
                      :selected="getSelectedCurrency"
                      @on-choose="updateCurrency"
                    />
                  </div>
                  <div class="trips-select">
                    <p>Сортувати за</p>
                    <AppSelect
                      class="trips-select__component trips-select__component--sort"
                      :options="sortFields"
                      :selected="getSelectedSort"
                      @on-choose="updateSort"
                    />
                  </div>
                </div>
              </div>
            </div>
            <ul class="trips-top__list">
              <li
                class="trips-top__item"
                v-for="(date, i) in trips.dates"
                :key="`date-${i}-${date.price}`"
                :class="{ active: date.active }"
                @click="onActiveDateChange(date)"
              >
                <div class="trips-top__item-date">{{ date.date.name }}</div>
                <div class="trips-top__item-count">
                  {{ date.busDeparturesCount }}
                </div>
                <span
                  v-if="date.busDeparturesCount"
                  class="trips-top__item-price"
                >
                  {{ getRecountedPrice(date.price) }}
                  {{ getSelectedCurrency?.code }}
                </span>
                <div class="trips-top__item-date" v-else>Немає квитків</div>
              </li>
            </ul>
          </div>
          <div v-if="!pendingTripsFetch" class="trips-content">
            <template v-if="tripsFounded || pendingTripsMore">
              <!-- Trips content -->
              <ul class="ticket-elems">
                <Trip
                  v-for="trip in trips.departures.data"
                  :key="trip.id"
                  :trip="trip"
                  :active-currency="getSelectedCurrency"
                  @on-fetch-details="getTripDetailsById"
                />
              </ul>
              <TripsTripHint v-if="onlyOneTripFounded" type="notFound" />
              <div v-if="isMoreTrips" class="trips-content__bottom">
                <button
                  class="trips-content__btn"
                  :class="{ disabled: pendingTripsFetch || pendingTripsMore }"
                  :disabled="pendingTripsFetch || pendingTripsMore"
                  @click="fetchMoreTrips"
                >
                  Показати більше квитків
                </button>
              </div>
            </template>
            <EmptyLayout
              v-else
              class="empty-layout--trips"
              img-src="/assets/img/trip/trip-empty.svg"
              :layout-text="emptyLayoutText"
            />
            <template v-if="isNearestDatesTrips">
              <ul>
                <li
                  v-for="nearestTrips in trips.nearestDates"
                  :key="nearestTrips.date.date"
                >
                  <div v-if="nearestTrips.departures.data.length">
                    <div class="trips-content__top">
                      <div class="trips-content__info">
                        Рейси на {{ nearestTrips.date.name }}
                      </div>
                    </div>
                    <ul class="ticket-elems">
                      <Trip
                        v-for="trip in nearestTrips.departures.data"
                        :key="trip.id"
                        :trip="trip"
                        :active-currency="getSelectedCurrency"
                        @on-fetch-details="
                          getNearestTripDetails($event, nearestTrips.date.date)
                        "
                      />
                    </ul>
                    <div class="trips-content__bottom">
                      <div v-if="isMoreTrips" class="trips-content__bottom">
                        <button
                          class="trips-content__btn"
                          :class="{ disabled: pendingTripsFetch }"
                          :disabled="pendingTripsFetch"
                          @click="fetchMoreNearestTrips(nearestTrips)"
                        >
                          Показати більше квитків на {{ nearestTrips.date }}
                        </button>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </template>
            <TripsTripHint v-else type="support" />
          </div>
        </div>
      </div>
    </section>
  </DelayHydration>

  <DelayHydration>
    <Rates v-if="false" />
  </DelayHydration>
</template>

<script setup async lang="ts">
// Components
import TripsFilter from "~/components/trips/TripsFilter.vue";
import HeroSection from "~/components/main-page/hero/LazyHeroSection.vue";
import EmptyLayout from "~/components/PersonalCabinet/EmptyLayout.vue";
import AppButton from "~/components/UI/AppButton.vue";
import AppSelect from "~/components/UI/AppSelect.vue";
import Trip from "~/components/trips/Trip/Trip.vue";
import Rates from "~/components/rates/index.vue";

// Types
import { ICurrencyOption, ISelectOption } from "~/types";
import {
  ITripsDeparturesDate,
  INearestDateTrip,
  TripModalFlagsKeys,
  TripModalFlags,
  IFilterPayload,
  ITrip,
} from "~/types/trips";

// Stores
import { useTripsStore } from "~/stores/trips";

// Constants
import { QUERY_KEY } from "~/constants/trips";
import { IFetchQuery } from "~/types/api";
import AppBreadcrumb from "~/components/UI/AppBreadcrumb.vue";
import AppBtnBack from "~/components/UI/AppBtnBack.vue";

// Composables
const tripsStore = useTripsStore();
const route = useRoute();

// Data
const { SORT, CURRENCY_ID } = QUERY_KEY;

// Store actions
const {
  getCurrenciesNameConcat,
  getSelectedCurrency,
  getSelectedFilters,
  getRecountedPrice,
  getSelectedSort,
  getActiveDate,
} = toRefs(tripsStore);
const {
  resetSearchValidationErrors,
  fetchTripsNearest,
  fetchTripDetails,
  fetchSEOTrips,
  parseUrlQuery,
  resetFilters,
  updateQuery,
  fetchTrips,
} = tripsStore;

// Store data
const { sortFields } = toRefs(tripsStore.filters);
const { trips, fetchQuery, pendingTripsFetch, pendingTripsMore, search } =
  toRefs(tripsStore);

// Async data
// -- merging query from the URL to the app store
fetchQuery.value = deepMerge(fetchQuery.value, route.query);
parseUrlQuery(route.query as IFetchQuery);

const { error } = await fetchSEOTrips(route.params.from, route.params.to);

// Flags
const isActiveModal: TripModalFlags = reactive({
  currency: false,
  filter: false,
  price: false,
  sort: false,
});
const prevWidth = ref(0);

// Computed data
const tripsFounded = computed(() => {
  return trips.value.departures.data.length;
});
const isMoreTrips = computed(() => {
  return !!trips.value.departures.next_page_url;
});
const isNearestDatesTrips = computed(() => {
  let isTrips = false;

  trips.value.nearestDates.forEach((nearestDate) => {
    if (nearestDate.departures.data.length) {
      isTrips = true;
    }
  });

  return isTrips;
});
const onlyOneTripFounded = computed(() => {
  return trips.value.departures.data.length === 1;
});
const emptyLayoutText = computed(() => {
  return isNearestDatesTrips.value
    ? "Ми не знайшли квитки на цей день, але маємо декілька варіантів у інші дати:"
    : "Ми нічого не знайшли, спробуйте щось інше";
});
const pageHeadTitle = computed(() => {
  const { toCity, fromCity } = search.value;
  return `Rubikon - Пошук рейсiв ${fromCity.selected?.name || ""}-${
    toCity.selected?.name || ""
  }`;
});
const mobileCurrencyBtn = computed(() => {
  return `${getSelectedCurrency.value?.name}, ${getSelectedCurrency.value?.code}`;
});

// Methods
function toggleModal(modalFlag: TripModalFlagsKeys) {
  isActiveModal[modalFlag] = !isActiveModal[modalFlag];

  isActiveModal[modalFlag] && window.innerWidth < 1023
    ? lockPageScroll()
    : unlockPageScroll();
}
function closeFilterModal() {
  if (window.innerWidth < 1023) {
    isActiveModal.filter = false;
    unlockPageScroll();
  }
}
function closeModal(modalFlag: TripModalFlagsKeys) {
  isActiveModal[modalFlag] = false;
  unlockPageScroll();
}
function updateURLQuery(currentQuery: object) {
  const query = JSON.parse(JSON.stringify(currentQuery));
  return navigateTo({
    path: "/trips",
    query,
  });
}
async function updateTrips(filterPayload: IFilterPayload) {
  updateQuery(filterPayload);

  updateURLQuery(fetchQuery.value);
}
async function getTripDetailsById(trip: ITrip) {
  const queryPayload = {
    departureDate: fetchQuery.value.departureDate,
    fromBusStopId: trip.startBusStop.id as number,
    toBusStopId: trip.endBusStop.id as number,
    currencyId: fetchQuery.value.currencyId,
  };

  const { data: tripDetails } = await fetchTripDetails(trip.id, queryPayload);

  if (tripDetails) trip.more = tripDetails.data;
}
async function resetAllFilters() {
  resetFilters();

  await fetchTrips(true, true);

  updateURLQuery(fetchQuery.value);
}
// Need to test!
async function fetchMoreNearestTrips(nearestTrips: INearestDateTrip) {
  if (!nearestTrips.departures.next_page_url) return;

  fetchQuery.value[QUERY_KEY.DEPARTURE_DATE] = nearestTrips.date.date;
  fetchQuery.value[QUERY_KEY.PAGE] = nearestTrips.departures.current_page + 1;

  await fetchTripsNearest();
}
async function getNearestTripDetails(trip: ITrip, tripDepartureDate: string) {
  const queryPayload = {
    departureDate: tripDepartureDate,
    fromBusStopId: trip.startBusStop.id as number,
    toBusStopId: trip.endBusStop.id as number,
    currencyId: fetchQuery.value.currencyId,
  };

  const { data: tripDetails } = await fetchTripDetails(trip.id, queryPayload);

  if (tripDetails) trip.more = tripDetails.data;
}
// Need to test!
async function fetchMoreTrips() {
  fetchQuery.value.page += 1;
  await fetchTrips(false);
}
async function updateCurrency(selectedSort: ICurrencyOption) {
  closeModal("currency");

  fetchQuery.value[CURRENCY_ID] = selectedSort.id as number;
  await fetchTrips(true, true);

  updateURLQuery(fetchQuery.value);
}
async function updateSort(selectedSort: ISelectOption) {
  closeModal("sort");

  fetchQuery.value[SORT] = selectedSort.id as string;
  await fetchTrips(true, true);

  updateURLQuery(fetchQuery.value);
}
async function onActiveDateChange(activeDate: ITripsDeparturesDate) {
  if (activeDate.active) return;

  // reset previous active status
  trips.value.dates.forEach((dateObj) => (dateObj.active = false));
  // set new date active status
  activeDate.active = true;

  search.value.departureDate = activeDate.date.date;

  fetchQuery.value[QUERY_KEY.DEPARTURE_DATE] = activeDate.date.date;

  // fetch new trips
  await fetchTrips(true, true);
}

// Lifecycle hooks
onMounted(() => {
  prevWidth.value = window.innerWidth;

  if (window.innerWidth >= 1024) isActiveModal.filter = true;

  window.addEventListener("resize", () => {
    if (prevWidth.value == window.innerWidth) return false;

    prevWidth.value = window.innerWidth;

    if (window.innerWidth >= 1024) {
      unlockPageScroll();
      isActiveModal.filter = true;
    } else if (window.innerWidth < 1023) {
      isActiveModal.filter = false;
    }
  });
});
onUnmounted(() => {
  resetSearchValidationErrors();
});

// Page meta, etc.
useHead({
  title: pageHeadTitle,
});
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/trips/trips.scss";
:deep(.trips-select__component .select__toggle) {
  min-width: rem(176);
}
:deep(.trips-select__component--sort .select__toggle) {
  min-width: rem(311);
}
.trips-modal-leave-from,
.trips-modal-enter-to {
  transition: 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.trips-modal-leave-to,
.trips-modal-enter-from {
  transition: 0.3s ease;
  opacity: 0;
  transform: translateY(-100%);
}

.trips-filter-leave-from,
.trips-filter-enter-to {
  transition: 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.trips-filter-leave-to,
.trips-filter-enter-from {
  transition: 0.3s ease;
  opacity: 0;
  transform: translateY(-100%);
  @media (min-width: 1199px) {
    opacity: 1;
    transform: translateY(0);
  }
}

.ticket-about-enter-active {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  @media (min-width: 1024px) {
    transition-property: opacity, height;
    transition: height 0.3s ease;
    overflow: hidden;
  }
}

.ticket-about-leave-active {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  @media (min-width: 1024px) {
    transition: height 0.3s ease;
    overflow: hidden;
  }
}

.ticket-about-leave-from,
.ticket-about-enter-to {
  opacity: 1;
  transform: translateY(0);
}

.ticket-about-leave-to,
.ticket-about-enter-from {
  opacity: 0;
  transform: translateY(-100%);
  @media (min-width: 1024px) {
    height: 0;
  }
}
.tab-content-fade-enter-active,
.tab-content-fade-leave-active {
  transition: opacity 0.5s;
}

.tab-content-fade-enter,
.tab-content-fade-leave-to {
  opacity: 0;
}
</style>
