@mixin font-face($font-family, $url, $weight, $style: normal) {
  @font-face {
    font-family: '#{$font-family}';

    src: url('~/assets/fonts/#{$url}.otf') format('truetype');
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}
