@mixin truncate($truncation-boundary) {
  overflow: hidden;
  max-width: $truncation-boundary;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin truncate-limit($lines) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}
