.partners {
  padding-top: rem(100);
  margin-bottom: rem(50); // TODO: temporary!!!

  @media (min-width: 1200px) {
    padding-top: rem(150);
  }

  &__title {
    margin-bottom: rem(30);

    @media (min-width: 1200px) {
      margin-bottom: rem(50);
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(15);

    @media (min-width: 760px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(6, 1fr);
      gap: rem(20);
    }
  }
}
