.partners__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: rem(65);
  border-radius: rem(8);

  @media (min-width: 1200px) {
    min-height: rem(104);
  }

  &-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 80%;

      @media (min-width: 1200px) {
        width: 100%;
      }
    }
  }
}
