.review {
  padding: rem(15);

  border-radius: 8px;
  border: 1px solid var(--monochrome-grey);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);
  }

  &__title {
    font-size: rem(14);
    font-weight: 400;
    color: var(--monochrome-black);

    @media (min-width: 1024px) {
      font-size: rem(16);
    }
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: rem(6);
  }

  &__fill {
    fill: var(--accent-color);
  }

  &__stroke {
    stroke: var(--accent-color);
  }

  &__fill,
  &__stroke {
    width: rem(16);
    height: rem(16);

    @media (min-width: 1024px) {
      width: rem(20);
      height: rem(20);
    }
  }

  &__info {
    max-width: max-content;
    padding: rem(5);
    display: grid;
    grid-template-columns: rem(20) 1fr;
    align-items: center;
    gap: rem(5);

    background-color: var(--light-green-color);
    border-radius: 17px;

    & span {
      font-size: rem(12);
      font-weight: 400;
      color: var(--green-color);
    }
  }

  &__text {
    margin-top: rem(5);

    font-size: rem(14);
    font-weight: 300;
    line-height: 140%;

    color: var(--monochrome-black);
  }
}
