.route {
  &-list {
    margin-bottom: rem(15);
  }

  &-item {
    position: relative;
    z-index: var(--ui-index-1);
    padding: rem(7.5) 0 rem(7.5) rem(66);

    &--crossing {
      @media(min-width: 1024px) {
        padding-left: rem(100);
        & .route-item {
          &__content {
            &:before {
              margin-left: rem(78.5);
            }
          }

          &__icon {
            margin-left: rem(67);
          }
        }
      }
    }

    &__content {
      display: flex;
      align-items: center;
      margin-bottom: rem(5);

      &:before {
        content: '';
        position: absolute;
        top: rem(20);
        left: rem(-0.6);
        z-index: -1;
        height: 100%;
        margin-left: rem(50);
        border: rem(1) dashed var(--monochrome-grey);
      }
    }

    &__wrapper {
      position: absolute;
      left: 0;
      display: flex;
      align-items: center;
      gap: rem(5);
    }

    &__time {
      font-size: rem(12);
      color: var(--monochrome-black);
      flex: 0 0 rem(37);

      &.approximate {
        &:after {
          content: '*';
          font-size: rem(12);
          color: var(--additional-red-color);
        }
      }
    }

    &__icon {
      position: absolute;
      left: 0;
      margin-left: rem(38);
      width: rem(24);
      height: rem(24);
      color: var(--accent-color);
      background: var(--monochrome-white);

      &--stops {
        width: rem(16);
        height: rem(16);
        left: rem(4);
      }
    }

    &__city {
      font-size: rem(14);
      font-weight: 300;
      line-height: rem(20);
      color: var(--monochrome-black);
      border-bottom: rem(1) solid var(--monochrome-grey);
      @media(min-width: 1024px){
        border-bottom: none;
      }
    }

    &__address {
      width: 100%;
      max-width: max-content;

      font-size: rem(12);
      font-weight: 300;

      color: var(--monochrome-dark-grey);
      border-bottom: rem(1) solid var(--monochrome-grey);
      @media(min-width: 1024px){
        border-bottom: none;
      }
    }

    &__own-address {
      width: 100%;
      max-width: max-content;
      padding: rem(5) rem(6);
      border-radius: rem(17);
      background: var(--monochrome-light-grey);

      display: flex;
      justify-content: center;
      align-items: center;
      gap: rem(5);

      font-size: rem(11);
      color: var(--monochrome-dark-grey);
    }

    &__transfer {
      width: 100%;
      max-width: max-content;
      margin-top: rem(15);
      background: var(--monochrome-white);

      padding: rem(4) rem(10) rem(4) rem(4);
      border-radius: rem(16);
      border: rem(1) solid var(--accent-color);

      display: flex;
      align-items: center;
      gap: rem(5);

      position: relative;
      left: rem(-66);
      //&-wrap {
      //
      //
      //  &:before {
      //    content: '';
      //    position: absolute;
      //    top: rem(20);
      //    left: rem(-0.5);
      //    z-index: -1;
      //    height: 100%;
      //    margin-left: rem(50);
      //    border: rem(1) dashed var(--monochrome-grey);
      //  }
      //}

      &-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: rem(24);
        height: rem(24);

        border-radius: 50%;
        background: var(--accent-color);
      }

      &-title {
        font-size: rem(14);
        font-weight: 300;
        color: var(--monochrome-black);
      }
    }

    &:last-child {
      padding-bottom: 0;

      .route-item__content {
        &:before {
          display: none;
        }
      }
    }
  }

  &__approximate {
    position: relative;
    font-size: 12px;
    font-weight: 300;
    color: var(--monochrome-black);

    &:before {
      content: '*';
      font-size: rem(12);
      color: var(--additional-red-color);
    }
  }
}