.discounts {
  &__head {
    display: grid;
    grid-template-columns: 1fr rem(20);
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    cursor: pointer;

    transition: padding 0.3s ease-in-out;

    & svg {
      fill: var(--monochrome-dark-grey);
    }

    @media (min-width: 1024px) {
      display: none;
      cursor: auto;
      & svg {
        display: none;
      }
    }
  }

  &__title {
    font-size: rem(16);
    font-weight: 400;
    color: var(--monochrome-black);
  }

  &__body {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    border-top: 1px solid transparent;

    @media (min-width: 1024px) {
      grid-template-rows: 1fr;
    }
  }

  &__inner {
    min-height: 0;
  }

  &__block {
    display: grid;
    gap: rem(20);
  }

  &__about {
    padding-top: rem(20);

    @media (min-width: 1024px) {
      padding-top: rem(30);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: rem(5);
    position: relative;

    & svg {
      fill: var(--monochrome-grey);
    }
  }

  &__subtitle {
    font-size: rem(14);
    font-weight: 400;

    color: var(--monochrome-black);

    @media (min-width: 1024px) {
      font-size: rem(16);
    }
  }

  &__popup {
    display: none;
    cursor: pointer;

    & svg {
      width: rem(20);
      height: rem(20);
      fill: var(--monochrome-dark-white);
    }

    @media (min-width: 800px) {
      display: block;
    }

    &--warning {
      & svg {
        fill: var(--additional-red-color);
      }
    }
  }

  &__popup-float {
    max-width: rem(350);
    display: none;
    position: absolute;
    left: 0;
    top: -25px;

    padding: rem(8);

    font-size: rem(12);
    font-weight: 300;

    background-color: var(--monochrome-white);
    box-shadow: 0px 0px 10px 0px rgba(108, 108, 108, 0.4);
    border-radius: rem(10);

    @media (min-width: 800px) {
      display: block;
    }

    &--other {
      max-width: 100%;
      left: 0;
      top: -35px;
    }
  }

  &__additionally {
    margin-top: rem(10);

    font-size: rem(12);
    font-weight: 300;
    color: var(--monochrome-dark-grey);

    @media (min-width: 800px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(15);

    margin-top: rem(15);
  }

  &__item {
    & p {
      font-size: rem(12);
      font-weight: 300;

      @media (min-width: 1024px) {
        font-size: rem(14);
      }
    }
  }

  &__other {
    padding-top: rem(20);
    border-top: 1px solid var(--monochrome-grey);

    @media (min-width: 1024px) {
      border: unset;
      padding-top: 0;
    }
  }

  &.open {
    & .discounts {
      @media (max-width: 1023px) {
        &__head {
          padding-bottom: rem(20);

          & svg {
            fill: var(--monochrome-black);
            transform: rotate(180deg);
          }
        }

        &__body {
          grid-template-rows: 1fr;
          border-top: 1px solid var(--monochrome-grey);
        }
      }
    }
  }
}
