.conditions {
  @media (min-width: 1024px) {
    padding-top: rem(30);
  }

  &__head {
    display: grid;
    grid-template-columns: 1fr rem(20);
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    cursor: pointer;

    transition: padding 0.3s ease-in-out;

    & svg {
      fill: var(--monochrome-dark-grey);
    }

    @media (min-width: 1024px) {
      display: none;
      cursor: auto;
      & svg {
        display: none;
      }
    }
  }

  &__title {
    font-size: rem(16);
    font-weight: 400;
    color: var(--monochrome-black);
  }

  &__body {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    border-top: 1px solid transparent;

    @media (min-width: 1024px) {
      grid-template-rows: 1fr;
    }
  }

  &__inner {
    min-height: 0;
  }

  &__list {
    //padding-top: rem(20);
    display: flex;
    flex-direction: column;
    gap: rem(15);

    @media (min-width: 1024px) {
      padding-top: 0;
      gap: rem(10);
    }
  }

  &__item {
    font-size: rem(14);
    font-weight: 300;
    line-height: 140%;
  }

  &__wrap {
    span {
      display: block;
      font-size: rem(14);
      font-weight: 300;
      line-height: 140%;
      &:not(:last-child) {
        margin-bottom: rem(15);
        @media(min-width: 1024px) {
          margin-bottom: rem(10);
        }
      }
    }
  }

  &.open {
    & .conditions {
      @media (max-width: 1023px) {
        &__head {
          padding-bottom: rem(20);

          & svg {
            fill: var(--monochrome-black);
            transform: rotate(180deg);
          }
        }

        &__body {
          grid-template-rows: 1fr;
          border-top: 1px solid var(--monochrome-grey);
          padding-top: 20px;
        }
      }
    }
  }
}
