.details {
  &__head {
    display: grid;
    grid-template-columns: 1fr rem(20);
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    cursor: pointer;

    transition: padding 0.3s ease-in-out;

    & svg {
      fill: var(--monochrome-dark-grey);
    }

    @media (min-width: 1024px) {
      display: none;
      cursor: auto;
      & svg {
        display: none;
      }
    }
  }

  &__title {
    font-size: rem(16);
    font-weight: 400;
    color: var(--monochrome-black);
  }

  &__body {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    overflow: hidden;

    @media (min-width: 1024px) {
      grid-template-rows: 1fr;
    }
  }

  &__inner {
    min-height: 0;
  }

  &__block {
    display: grid;
    gap: rem(20);
  }

  &__info {
    display: grid;
    gap: rem(20);
    padding: rem(20) 0;
    border-top: 1px solid var(--monochrome-grey);
    border-bottom: 1px solid var(--monochrome-grey);

    @media (min-width: 1024px) {
      border: unset;
      grid-template-columns: rem(220) 1fr;
      gap: rem(180);
      padding-top: rem(30);
    }
  }

  &__conditions {
    max-width: rem(651);

    display: flex;
    flex-direction: column;
    gap: rem(10);

    padding: rem(15);

    border-radius: 8px;
    border: 1px solid var(--additional-dark-yellow);

    & p {
      max-width: rem(218);

      font-size: rem(12);
      font-weight: 300;
      color: var(--monochrome-black);

      @media (min-width: 400px) {
        max-width: 100%;
      }
    }

    @media (min-width: 1024px) {
      padding: rem(25);
      grid-row: 2;

      & p {
        font-size: rem(14);
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: rem(5);
    position: relative;

    & svg {
      fill: var(--monochrome-grey);
    }
  }

  &__subtitle {
    font-size: rem(14);
    font-weight: 400;

    color: var(--monochrome-black);

    @media (min-width: 1024px) {
      font-size: rem(16);
    }
  }

  &__popup {
    display: none;
    cursor: pointer;

    & svg {
      width: rem(20);
      height: rem(20);
      fill: var(--monochrome-dark-white);
    }

    @media (min-width: 800px) {
      display: block;
    }

    &--warning {
      & svg {
        fill: var(--additional-red-color);
      }
    }
  }

  &__popup-float {
    max-width: rem(350);
    display: none;
    position: absolute;
    left: 0;
    top: -28px;

    padding: rem(8);

    font-size: rem(12);
    font-weight: 300;

    background-color: var(--monochrome-white);
    box-shadow: 0px 0px 10px 0px rgba(108, 108, 108, 0.4);
    border-radius: rem(10);

    @media (min-width: 800px) {
      display: block;
    }

    &--comfort {
      max-width: 100%;
      left: 0;
      top: -32px;
    }
  }

  &__additionally {
    margin-top: rem(10);

    font-size: rem(12);
    font-weight: 300;
    color: var(--monochrome-dark-grey);

    @media (min-width: 800px) {
      display: none;
    }
  }

  &__general-list {
    display: flex;
    flex-direction: column;
    gap: rem(12);

    margin-top: rem(15);
    padding-bottom: rem(20);
    border-bottom: 1px solid var(--monochrome-grey);

    @media (min-width: 1024px) {
      padding: 0;
      border: unset;
    }
  }

  &__general-info {
    display: flex;
    // align-items: center;
    gap: rem(5);

    & h4 {
      font-size: rem(14);
      font-weight: 400;
    }

    & p {
      font-size: rem(14);
      font-weight: 300;
      line-height: 140%;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 30% 70%;
    row-gap: rem(10);
    column-gap: rem(30);

    margin-top: rem(15);

    @media (min-width: 1024px) {
      column-gap: rem(20);
      grid-template-columns: 20% 80%;
      max-width: rem(625);
    }

    @media (min-width: 1275px) {
      grid-template-columns: 15% 28% 1fr;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: rem(20) 1fr;
    align-items: center;
    gap: rem(5);

    @media (min-width: 1024px) {
      gap: rem(10);
    }

    & h4 {
      font-size: rem(12);
      font-weight: 400;

      @media (min-width: 1024px) {
        font-size: rem(14);
      }
    }

    &:nth-child(3),
    &:nth-child(5) {
      @media (min-width: 1275px) {
        grid-column: 1;
      }
    }

    &:nth-child(7),
    &:nth-child(8) {
      grid-column: span 2;

      @media (min-width: 1275px) {
        grid-column: unset;
        grid-column: 3;
      }
    }

    &:nth-child(7) {
      @media (min-width: 1275px) {
        grid-row-start: 1;
      }
    }
    &:nth-child(8) {
      @media (min-width: 1275px) {
        grid-row-start: 2;
      }
    }
  }

  &__carrier,
  &__photoes {
    padding-bottom: rem(20);
    border-bottom: 1px solid var(--monochrome-grey);

    @media (min-width: 1024px) {
      padding: 0;
      border: unset;
    }
  }

  &__text {
    margin-top: rem(15);

    font-size: rem(14);
    font-weight: 300;
    line-height: 140%;

    max-width: rem(820);
  }

  &__warning {
    padding: rem(10);
    display: grid;
    grid-template-columns: rem(24) 1fr;
    gap: rem(5);

    border-radius: 8px;
    background-color: var(--light-yellow-color);
    max-width: rem(960);

    & p {
      font-size: rem(12);
      font-weight: 300;
    }

    @media (min-width: 1024px) {
      align-items: center;
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: rem(10);

    margin-top: rem(20);
    // overflow: hidden;
    // max-height: rem(370);

    // & a {
    //   height: rem(100);
    // }

    & img {
      border-radius: rem(8);
    }

    @media (min-width: 800px) {
      grid-template-columns: repeat(5, rem(115));
      margin-top: rem(10);

      // max-height: rem(87);

      // max-height: rem(115);

      // & a {
      //   height: rem(115);
      // }
    }
  }

  &__img {
    border-radius: 8px;
  }

  &__gallery-link {
    &:nth-child(n + 7) {
      display: none;
    }

    &:nth-child(6) {
      position: relative;

      &::before {
        content: "+5 \A фотографій";
        white-space: pre-wrap;
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        z-index: var(--ui-index-1);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        font-size: rem(12);
        font-weight: 400;
        text-align: center;

        color: var(--monochrome-white);
        border-radius: 8px;
        background: linear-gradient(
          0deg,
          rgba(39, 39, 39, 0.5) 0%,
          rgba(39, 39, 39, 0.6) 100%
        );
      }
    }
    @media (min-width: 800px) {
      &:nth-child(n + 6) {
        display: none;
      }

      &:nth-child(5) {
        position: relative;

        &::before {
          content: "+5 \A фотографій";
          white-space: pre-wrap;
          display: flex;
          align-items: center;
          justify-content: center;

          position: absolute;
          z-index: var(--ui-index-1);
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          font-size: rem(12);
          font-weight: 400;
          text-align: center;

          color: var(--monochrome-white);
          border-radius: 8px;
          background: linear-gradient(
            0deg,
            rgba(39, 39, 39, 0.5) 0%,
            rgba(39, 39, 39, 0.6) 100%
          );
        }
      }
    }
  }

  &__btn {
    position: absolute;
    z-index: var(--ui-index-2);
    right: 20px;
    top: 20px;
    width: rem(50);
    height: rem(50);

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--monochrome-white);
  }

  &.open {
    & .details {
      @media (max-width: 1023px) {
        &__head {
          padding-bottom: rem(25);

          & svg {
            fill: var(--monochrome-black);
            transform: rotate(180deg);
          }
        }

        &__body {
          grid-template-rows: 1fr;
        }
      }
    }
  }
}
