.rule {
  &__head {
    display: grid;
    grid-template-columns: 1fr rem(20);
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    cursor: pointer;

    transition: padding 0.3s ease-in-out;

    & svg {
      fill: var(--monochrome-dark-grey);
    }

    @media (min-width: 1024px) {
      display: none;
      cursor: auto;
      & svg {
        display: none;
      }
    }
  }

  &__title {
    font-size: rem(16);
    font-weight: 400;
    color: var(--monochrome-black);
  }

  &__body {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    overflow: hidden;

    @media (min-width: 1024px) {
      grid-template-rows: 1fr;
    }
  }

  &__inner {
    min-height: 0;
  }

  &__block {
    display: grid;
    gap: rem(20);
  }

  &__info {
    display: grid;
    gap: rem(20);
    padding: rem(20) 0;
    border-top: 1px solid var(--monochrome-grey);
    border-bottom: 1px solid var(--monochrome-grey);

    @media (min-width: 1024px) {
      border: unset;
      gap: rem(180);
      padding-top: rem(30);
      padding-bottom: 0;
    }
  }

  &__about {
    max-width: rem(820);
  }

  &__header {
    display: flex;
    align-items: center;
    gap: rem(5);
    position: relative;

    & svg {
      fill: var(--monochrome-grey);
    }
  }

  &__subtitle {
    font-size: rem(14);
    font-weight: 400;

    color: var(--monochrome-black);

    @media (min-width: 1024px) {
      font-size: rem(16);
    }
  }

  &__popup {
    display: none;
    cursor: pointer;

    & svg {
      width: rem(20);
      height: rem(20);
      fill: var(--monochrome-dark-white);
    }

    @media (min-width: 800px) {
      display: block;
    }

    &--warning {
      & svg {
        fill: var(--additional-red-color);
      }
    }
  }

  &__popup-float {
    display: none;
    position: absolute;
    left: 0;
    top: -33px;

    padding: rem(8);

    font-size: rem(12);
    font-weight: 300;

    background-color: var(--monochrome-white);
    box-shadow: 0px 0px 10px 0px rgba(108, 108, 108, 0.4);
    border-radius: rem(10);

    @media (min-width: 800px) {
      display: block;
    }
  }

  &__additionally {
    margin-top: rem(10);

    font-size: rem(12);
    font-weight: 300;
    color: var(--monochrome-dark-grey);

    @media (min-width: 800px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(15);

    margin-top: rem(15);
  }

  &__item {
    font-size: rem(14);
    font-weight: 300;
    line-height: 140%;

    color: var(--monochrome-black);

    & h4 {
      font-size: rem(14);
      font-weight: 400;
    }

    &--withSeparate {
      & p {
        padding: rem(8) rem(10);

        border-radius: 16.5px;
        background-color: var(--accent-color);
      }
    }

    &--withoutSeparate {
      & p {
        padding: rem(8) rem(10);

        color: var(--green-color);
        border-radius: 16.5px;
        background-color: var(--light-green-color);
      }
    }

    &--animals {
      display: flex;
      flex-direction: column;
      gap: rem(5);

      max-width: rem(962);

      @media (min-width: 650px) {
        flex-direction: row;
        align-items: center;

        // &:nth-child(3) {
        //   flex-direction: column;
        //   align-items: start;
        // }
      }
    }
  }

  &__wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: rem(5);

    h4 {
      font-size: rem(14);
      color: var(--monochrome-light-black);
    }

    p {
      font-size: rem(14);
      font-weight: 300;
      color: var(--monochrome-light-black);
    }



    &:not(:last-child) {
      margin-bottom: rem(15);
      @media(min-width: 768px) {
        margin-bottom: rem(10);
      }
    }
  }
  &-place {
    &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: rem(10);
    }
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: rem(8) rem(10);
      border-radius: rem(16.5);
      font-size: rem(12);
    }
    &__animal {
      background: var(--accent-color);
      color: var(--monochrome-black);
    }
    &__free {
      background: var(--additional-green);
      color: var(--green-color);
    }
  }
  &__warning {
    padding: rem(10);
    display: grid;
    grid-template-columns: rem(24) 1fr;
    gap: rem(5);

    border-radius: 8px;
    background-color: var(--light-yellow-color);
    max-width: max-content;

    & p {
      font-size: rem(12);
      font-weight: 300;
    }

    @media (min-width: 1024px) {
      align-items: center;
    }
  }

  &.open {
    & .rule {
      @media (max-width: 1023px) {
        &__head {
          padding-bottom: rem(25);

          & svg {
            fill: var(--monochrome-black);
            transform: rotate(180deg);
          }
        }

        &__body {
          grid-template-rows: 1fr;
          // border-top: 1px solid var(--monochrome-grey);
        }
      }
    }
  }
}
