.route {
  @media (min-width: 1024px) {
    padding-top: rem(30);
  }

  &__head {
    display: grid;
    grid-template-columns: 1fr rem(20);
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    cursor: pointer;

    transition: padding 0.3s ease-in-out;

    & svg {
      fill: var(--monochrome-dark-grey);
    }

    @media (min-width: 1024px) {
      display: none;
      cursor: auto;
      & svg {
        display: none;
      }
    }
  }

  &__title {
    font-size: rem(16);
    font-weight: 400;
    color: var(--monochrome-black);
  }

  &__body {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    overflow: hidden;

    @media (min-width: 1024px) {
      grid-template-rows: 1fr;
    }
  }

  &__inner {
    min-height: 0;
  }

  &__block {
    display: grid;
    gap: rem(15);

    @media (min-width: 1024px) {
      grid-template-columns: 1fr rem(560);
      align-items: center;
      justify-content: space-between;
    }
  }

  &__map {
    overflow: hidden;
    display: block;
    border-radius: rem(5);
    min-height: rem(157);

    & img {
      border-radius: rem(5);
    }

    @media (min-width: 1024px) {
      max-width: rem(560);
      max-height: rem(280);
    }
  }

  &.open {
    & .route {
      @media (max-width: 1023px) {
        &__head {
          padding-bottom: rem(20);

          & svg {
            fill: var(--monochrome-black);
            transform: rotate(180deg);
          }
        }

        &__body {
          grid-template-rows: 1fr;
          padding-top: rem(20);
        }
      }
    }
  }
}
