.feedback {
  @media (min-width: 1024px) {
    box-shadow: unset;
    border-radius: unset;
    padding: unset;
  }

  &__head {
    display: grid;
    grid-template-columns: 1fr rem(20);
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    cursor: pointer;

    transition: padding 0.3s ease-in-out;

    & svg {
      fill: var(--monochrome-dark-grey);
    }

    @media (min-width: 1024px) {
      display: none;
      cursor: auto;
      & svg {
        display: none;
      }
    }
  }

  &__title {
    font-size: rem(16);
    font-weight: 400;
    color: var(--monochrome-black);

    // @media (min-width: 1200px) {
    //   font-size: rem(24);
    // }
  }

  &__body {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    border-top: 1px solid transparent;

    @media (min-width: 1024px) {
      grid-template-rows: 1fr;
      padding-top: rem(30);
      // padding-top: rem(20);
      // border-top: 1px solid var(--monochrome-grey);
    }
  }

  &__inner {
    min-height: 0;
    // display: flex;
    // flex-direction: column;
    // gap: rem(15);
  }

  &__block {
    display: grid;
    gap: rem(20);

    @media (min-width: 1024px) {
      grid-template-columns: 1fr rem(806);
      gap: rem(70);
    }
  }

  &__right {
    @media (min-width: 1024px) {
      //padding-top: rem(30);
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    //margin-top: rem(25);

    @media (min-width: 1024px) {
      justify-content: space-between;
      height: rem(575);
    }
  }

  &__subtitle {
    display: flex;
    align-items: center;
    gap: rem(10);

    font-size: rem(20);
    font-weight: 400;
    color: var(--monochrome-black);

    & svg {
      fill: var(--accent-color);
      width: rem(25);
      height: rem(25);
    }

    @media (min-width: 1024px) {
      & svg {
        width: rem(36);
        height: rem(36);
      }

      font-size: rem(28);
    }

    @media (min-width: 1200px) {
      & svg {
        width: rem(42);
        height: rem(42);
      }

      font-size: rem(36);
    }
  }

  &__label,
  &__text {
    font-size: rem(14);
    font-weight: 300;
    line-height: 140%;
  }

  &__label {
    color: var(--monochrome-dark-grey);
    margin-top: rem(10);

    @media (min-width: 1200px) {
      font-size: rem(16);
    }
  }

  &__text {
    color: var(--monochrome-black);
  }

  &__right {
    overflow-y: scroll;
    height: rem(643);

    &::-webkit-scrollbar {
      width: 0;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    @media (min-width: 1024px) {
      height: rem(575);
    }
  }

  &__cards {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: rem(15);

    @media (min-width: 1200px) {
      gap: rem(20);
    }
  }

  &.open {
    & .feedback {
      @media (max-width: 1023px) {
        &__head {
          padding-bottom: rem(20);

          & svg {
            fill: var(--monochrome-black);
            transform: rotate(180deg);
          }
        }

        &__body {
          grid-template-rows: 1fr;
          border-top: 1px solid var(--monochrome-grey);
          padding-top: 20px;
        }
      }
    }
  }
}
