<template>
  <NuxtLayout>
    <NuxtPage />
  </NuxtLayout>

  <AppLoader :loading="loading" :loading-completed="loadingCompleted" />
  <ModalWrapper />
</template>

<script setup lang="ts">
// Stores
import { useTripsStore } from "~/stores/trips"
import { useModalStore } from "~/stores/modal"
import { useAuthStore } from "~/stores/auth"

// Composables
const loadingState = useLoadingState()
const route = useRoute()

// Stores instances
const modalStore = useModalStore()
const authStore = useAuthStore()
const tripsStore = useTripsStore()

// Stores actions
const {
  openModalRegisterPassword,
  openModalRecoveryPassword,
  openModalAuthEmail,
} = modalStore
const { signInWithProvider } = authStore
const { fetchFilters } = tripsStore

// Data
if (route.query.provider) {
  await signInWithProvider(route.query.provider, route.query.token)
}

// -- local
const { loading, loadingCompleted } = loadingState

// Lifecycle hooks
// -- server
onServerPrefetch(async () => {
  await fetchFilters()

  // if (route.query.provider) {
  //   await signInWithProvider(route.query.provider, route.query.token)
  // }
})

// -- client
onMounted(async () => {
  unlockPageScroll()

  // show modal sign-in
  if (route.query.auth) openModalAuthEmail()

  // show modal to end sign-in and create a password
  if (route.query.regToken) openModalRegisterPassword()

  // show modal reset password and create new one
  if (route.query.resetToken) openModalRecoveryPassword()

  // login and navigate user after getting auth token when the user sign-in with google/facebook
  if (route.query.provider) {
    const { data } = await signInWithProvider(
      route.query.provider,
      route.query.token
    )

    if (!data) return

    return navigateTo("/personal-cabinet/tickets")
  }
})
</script>
