<template>
  <div class="container">
    <section class="error section">
      <div class="error__wrapper">
        <div class="error__image">
          <NuxtImg :src="`assets/img/error/${src}.png`" />
        </div>
        <div class="error__info">
          <h1 class="error__title">Йой! Щось пішло не так!</h1>
          <p class="error__text">
            {{ error.data?.text || defaultErrorText }}
          </p>
        </div>
        <div class="error__link">
          <AppButton
            class="error__btn"
            :text="'На головну'"
            :buttonStyle="'default-gold'"
            @click="backToMain"
          />
        </div>
      </div>
    </section>
  </div>
</template>

<script setup lang="ts">
// Types
import { INuxtError } from "~/types/api"

// Components
import AppButton from "~/components/UI/AppButton.vue"

// Modules, plugins
import { useScreen } from "vue-screen"
const screen = useScreen()

// Data
defineProps<{ error: INuxtError }>()
const defaultErrorText =
  "Будь ласка, переконайтеся, що ви ввели правильну адресу або поверніться на головну сторінку сайту"
const src = ref<string>("error-mobile")

// Methods
function backToMain() {
  clearError({ redirect: "/" })
}
watch(
  () => screen.width,
  () => {
    if (screen.width < 750) {
      src.value = "error-mobile"
    }

    if (screen.width > 750) {
      src.value = "error"
    }
  },
  { immediate: true }
)
</script>

<style scoped lang="scss">
.error {
  height: 100vh;
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(15);

    margin-top: rem(50);
    max-width: rem(581);

    @media (min-width: 750px) {
      gap: rem(20);
    }
  }

  &__title {
    font-size: rem(20);
    font-weight: 400;

    color: var(--monochrome-black);
    text-align: center;

    @media (min-width: 750px) {
      font-size: rem(24);
    }
  }

  &__text {
    font-size: rem(14);
    font-weight: 300;
    line-height: 140%;
    text-align: center;

    color: var(--monochrome-black);

    @media (min-width: 750px) {
      font-size: rem(16);
    }
  }

  &__link {
    width: 100%;
  }

  &__btn {
    min-height: rem(50);
    max-width: rem(345);
    margin: auto;
    margin-top: rem(25);

    @media (min-width: 750px) {
      max-width: rem(180);
      margin-top: rem(20);
    }
  }

  &__image {
    max-width: rem(719);
    max-height: rem(316);
  }
}
</style>
