.trips-filter {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--ui-index-5);
  width: 100%;
  height: 100dvh;
  background: var(--monochrome-white);
  @media(min-width: 1024px){
    position: static;
    height: auto;
    border-radius: rem(8);
  }
  &__container {
    padding: rem(30) rem(15) rem(40);
    @media(min-width: 1200px){
      padding: rem(30);
    }
  }

  &__head {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding-bottom: rem(25);
    border-bottom: rem(1) solid var(--monochrome-grey);
    position: relative;
  }

  &__cansel {
    width: fit-content;
    font-size: rem(12);
    line-height: rem(14);
    min-height: initial;
  }

  &__title {
    font-size: rem(20);
    line-height: rem(24);
  }

  &__close {
    position: absolute;
    top: rem(-20);
    right: rem(0);
    z-index: var(--ui-index-5);
    color: var(--monochrome-dark-grey);
    min-height: inherit;
    width: rem(30);
    height: rem(30);
    @media(min-width: 1024px){
      display: none;
    }
  }

  &__list {
    margin-top: rem(20);
  }

  &__item {
    &:not(:last-child) {
      border-bottom: rem(1) solid var(--monochrome-grey);
      margin-bottom: rem(20);
      @media(min-width: 1024px){
        padding-bottom: rem(15);
        margin-bottom: rem(30);
      }
    }
  }

  &__accordion {
    transition: all 0.3s ease;
    &-head {
      display: flex;
      align-items: center;
      gap: rem(10);
      padding-bottom: rem(15);
      cursor: pointer;
      @media(min-width: 1024px) {
        padding-bottom: rem(15);
      }
    }
    &-arrow {
      transition: transform 0.3s ease;
      transform: rotate(-180deg);
    }
    &-title {
      font-size: rem(16);
      line-height: rem(19);
    }
    &-wrapper {
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
      opacity: 0;
      transition: opacity 0.3s ease, grid-template-rows 0.3s ease, -ms-grid-rows 0.3s ease;
   }
    &-list {
      min-height: 0;
    }
    &-item {
      p {
        font-size: rem(16);
        font-weight: 300;
        line-height: rem(24);
      }
      &:not(:last-child){
        margin-bottom: rem(10);
      }
      @media(min-width: 1024px){
        &:not(:last-child){
          margin-bottom: rem(5);
        }
      }

    }
    &-icon {
      width: rem(20);
      height: rem(20);
      @media(min-width: 1024px){
        width: rem(24);
        height: rem(24);
      }
    }
    &-checkbox {

    }
    &--open {
      transition: all 0.3s ease;
      padding-bottom: rem(20);
      .trips-filter__accordion-head {
      }
      .trips-filter__accordion-wrapper{
        transition: opacity 0.3s ease, grid-template-rows 0.3s ease, -ms-grid-rows 0.3s ease, all 0.3s ease;
        opacity: 1;
        grid-template-rows: 1fr;
        overflow: visible;

      }
      .trips-filter__accordion-arrow {
        transition: transform 0.3s ease;
        transform: rotate(0);
      }
      @media(min-width: 1024px) {
        padding-bottom: 0;
      }
    }
  }
}
