.trips {
  padding: rem(50) 0;
  background: var(--monochrome-light-grey);
  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(40);
    &__wrapper {

    }
  }
  &__title {
    font-size: 48px;
    line-height: 58px;
    color: var(--monochrome-black);
  }
  &-reverse {
    width: 100%;
    max-width: max-content;

    padding: rem(15);
    background: var(--monochrome-white);
    border-radius: rem(8);

    display: grid;
    grid-template-columns: 1fr max-content;
    gap: rem(6) rem(30);
    align-items: center;

    &__subtitle {
      font-size: 16px;
      line-height: 19px;
      color: var(--monochrome-dark-grey);
    }
    &__title {
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: var(--monochrome-black);

      grid-column: 1/2;
      grid-row: 2/3;
    }
    &__btn {
      grid-column: 2/3;
      grid-row: 1/3;
      width: rem(50);
      height: rem(50);
      border-radius: 50%;
      border: rem(1) solid var(--monochrome-dark-grey);

      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
      svg {
        width: rem(24);
        height: rem(24);
        flex-shrink: 0;
        transform: rotate(180deg);
      }
      @media(any-hover: hover){
        &:hover {
          transition: all 0.3s ease;
          border-color: var(--accent-color);
          svg {
            fill: var(--accent-color);
          }
        }
      }
    }
  }

  &__inner {
    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: 24.09% 74.7%;
      grid-template-rows: auto 1fr;
      gap: rem(20);
    }
  }

  &-left {
    @media (min-width: 1024px) {
      grid-row: 1/4;
    }
  }
  &-content {
    &__top {
      margin-top: rem(20);
      margin-bottom: rem(20);
    }
    &__bottom {
      margin-top: rem(20);
    }
    &__info {
      padding: rem(20);
      background: var(--monochrome);
      box-shadow: 0 0 rem(10) 0 #6c6c6c66;

      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--monochrome-black);
      font-size: rem(16);
      line-height: rem(19);
      border-radius: rem(8);
      @media (min-width: 992px) {
        font-size: rem(24);
        line-height: rem(29);
      }
    }
    &__btn {
      width: 100%;
      max-width: max-content;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: rem(18) rem(20);

      border: rem(1) solid var(--accent-color);
      border-radius: rem(8);

      font-size: rem(12);
      line-height: rem(14);
      color: var(--monochrome-black);
      transition: 0.3s ease;

      @media (min-width: 992px) {
        padding: rem(20.5) rem(20);
        font-size: rem(16);
        line-height: rem(19);
      }

      @media (any-hover: hover) {
        &:hover {
          transition: 0.3s ease;

          background: var(--accent-color);
          color: var(--monochrome-black);
        }
      }

      &.disabled {
        color: var(--monochrome-dark-grey);
        pointer-events: none;
        border-color: var(--monochrome-dark-grey);
      }
    }
  }

  &-top {
    margin-bottom: rem(20);
    @media (min-width: 1024px) {
      margin-bottom: 0;
    }

    &__head {
      @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: rem(20);
      }
    }

    &__content {
      display: flex;
      gap: rem(10);

      &-wrap {
        @media (min-width: 1024px) {
          display: none;
        }
      }
    }

    &__modal {
      position: fixed;
      top: 0;
      left: 0;
      z-index: var(--ui-index-5);
      width: 100%;
      height: 100dvh;
      background: var(--monochrome-white);
      padding: rem(30) rem(15) rem(40);

      &-close {
        color: var(--monochrome-dark-grey);
        position: absolute;
        top: rem(15);
        right: rem(15);
        z-index: var(--ui-index-5);
        width: rem(30);
        height: rem(30);
        @media (min-width: 1024px) {
          display: none;
        }
      }

      &-head {
        position: relative;
        padding-bottom: rem(25);
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;

        &:before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: rem(1);
          background: var(--monochrome-grey);
        }
      }

      &-list {
        margin-top: rem(20);
      }

      &-item {
        font-size: rem(16);
        font-weight: 300;
        line-height: rem(24);
        color: var(--monochrome-black);
        cursor: pointer;

        &:not(:last-child) {
          margin-bottom: rem(20);
        }

        &.active {
          color: var(--additional-dark-yellow);
        }
        // &--disabled {
        // }
      }

      &-title {
        font-size: rem(20);
        line-height: rem(24);
        color: var(--monochrome-black);
        grid-column: 2/3;
      }

      // &--open {
      // }
    }

    &__selects {
      display: none;
      @media (min-width: 1024px) {
        display: flex;
        align-items: center;
        gap: rem(20);
      }
    }

    &__list {
      margin-top: rem(15);
      display: flex;

      border-radius: rem(8);
      @media (min-width: 768px) {
        gap: rem(20);
        border-radius: initial;
      }
    }

    &__item {
      width: 100%;

      display: grid;
      grid-template-columns: 1fr auto;
      gap: rem(5);
      cursor: pointer;
      padding: rem(5) rem(10);
      border-bottom: rem(5) solid var(--monochrome-grey);
      background: var(--monochrome-white);
      transition: 0.3s ease;
      @media (min-width: 768px) {
        border-radius: rem(8);
        border-color: var(--additional-dark-yellow);
        gap: rem(8);
      }
      @media (min-width: 992px) {
        padding: rem(20);
      }

      &-date {
        font-size: rem(12);
        line-height: rem(14);
        align-self: center;
        color: var(--monochrome-dark-grey);
        @media (min-width: 768px) {
          font-size: rem(16);
          line-height: rem(19);
        }
      }

      &-count {
        width: rem(22);
        height: rem(22);

        padding: rem(4);
        border-radius: 50%;
        font-size: rem(12);
        font-weight: 300;
        line-height: rem(14);
        color: var(--monochrome-dark-grey);
        background: var(--monochrome-light-grey);

        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease;

        @media (min-width: 768px) {
          font-size: rem(14);
          line-height: rem(20);
          width: rem(47);
          height: rem(47);

          grid-column: 2/3;
          grid-row: 1/3;
          margin: auto;
        }
      }

      &-price {
        display: block;
        font-size: rem(10);
        font-weight: 300;
        line-height: rem(12);
        color: var(--monochrome-dark-grey);
        @media (min-width: 768px) {
          font-size: rem(14);
          line-height: rem(20);
        }
      }

      &:first-child {
        border-bottom-left-radius: rem(8);
      }

      &:last-child {
        border-bottom-right-radius: rem(8);
      }

      &.active {
        border-bottom: rem(5) solid var(--accent-color);

        > div,
        span {
          color: var(--monochrome-black);
        }
      }

      @media (any-hover: hover) {
        &:hover {
          background: var(--light-yellow-color);
          border-color: var(--accent-color);
          transition: 0.3s ease;
          .trips-top__item-count {
            transition: 0.3s ease;

            background: var(--accent-color);
          }
        }
      }
    }
  }

  &__content {
  }

  &-title {
    font-size: rem(20);
    line-height: rem(24);
    color: var(--monochrome-black);
    margin-bottom: rem(30);
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &-select {
    display: flex;
    align-items: center;
    gap: rem(15);

    p {
      font-size: rem(16);
      font-weight: 400;
      line-height: rem(19);
      color: var(--monochrome-dark-grey);
      margin-right: rem(15);
      white-space: nowrap;
    }
    &__component {
      background: var(--monochrome-white);
    }
  }

  &-sort {
    &__btn {
      max-width: rem(47);
      height: rem(44);
      min-height: initial;

      color: var(--monochrome-dark-grey);
      padding: rem(9) rem(10) rem(8);
      border: rem(1) solid var(--monochrome-grey);
      background: var(--monochrome-white);
      border-radius: rem(8);
      transition: 0.3s ease;

      &.active {
        color: var(--accent-color);
        border-color: var(--accent-color);
        transition: 0.3s ease;
      }
    }
  }

  &-filter {
    &__btn {
      max-width: rem(108);
      height: rem(44);
      min-height: initial;

      padding: rem(10);
      border: rem(1) solid var(--monochrome-grey);
      border-radius: rem(8);

      background: var(--monochrome-white);

      gap: rem(10);

      font-size: rem(14);
      font-weight: 300;
      line-height: rem(20);

      &.active {
        position: relative;
        border-color: var(--accent-color);

        &:before {
          content: "";
          position: absolute;
          top: rem(9);
          right: rem(9);
          width: rem(10);
          height: rem(10);
          border-radius: 50%;
          background: var(--accent-color);
          transition: 0.3s ease;
        }
      }
    }
  }

  &-select {
    &__btn {
      max-width: rem(170);
      height: rem(44);
      min-height: initial;

      color: var(--monochrome-black);
      padding: rem(9) rem(10) rem(8);
      border: rem(1) solid var(--monochrome-grey);
      background: var(--monochrome-white);

      font-size: rem(14);
      font-weight: 300;
      line-height: rem(20);
      justify-content: space-between;
      border-radius: rem(8);
    }

    &__component {
    }
  }

  &-btn {
    @media (min-width: 1024px) {
      display: none;
    }
    &--back {
      display: flex;
      margin-bottom: rem(20);
    }
  }

  &-configuration {
    padding-bottom: rem(30);
    border-bottom: rem(1) solid var(--monochrome-grey);
    margin-bottom: rem(30);
    @media (min-width: 1240px) {
      display: flex;
      gap: rem(30);
      align-items: center;
      padding-bottom: rem(20);
      margin-bottom: rem(20);
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: rem(10);
      margin-bottom: rem(15);
      @media (min-width: 1240px) {
        margin-bottom: 0;
      }
    }

    &__item {
      padding: rem(10) rem(15);
      background: var(--monochrome-white);
      border-radius: rem(22);

      display: flex;
      align-items: center;
      gap: rem(10);
      transition: 0.3s ease-in;
      cursor: pointer;
      @media (any-hover: hover) {
        &:hover {
          transition: 0.3s ease-in;
          background: var(--monochrome-grey);
        }
      }

      span {
        font-size: rem(12);
        font-weight: 300;
        line-height: rem(14);
        color: var(--monochrome-black);
        flex: 0 0 auto;
        @media (min-width: 1024px) {
          font-size: rem(14);
          line-height: rem(20);
        }
      }

      button {
        min-height: unset;
      }
      &.disabled {
        background: var(--monochrome-grey);
        span {
          color: var(--monochrome-dark-grey);
        }
        button {
          color: var(--monochrome-dark-grey);
        }
      }
    }

    &__reset {
      width: 100%;
      padding: rem(13);
      border-radius: rem(8);

      display: flex;
      justify-content: center;
      align-items: center;

      background: var(--monochrome-grey);
      color: var(--monochrome-black);

      font-size: rem(12);
      line-height: rem(14);
      transition: 0.3s ease-in;
      @media (min-width: 1240px) {
        max-width: max-content;
        font-size: rem(16);
        line-height: rem(19);
        padding: rem(15.5) rem(26.5);
      }
      @media (any-hover: hover) {
        &:hover {
          background: var(--monochrome-dark-grey);
        }
      }
      &.disabled {
        background: var(--monochrome-grey);
        color: var(--monochrome-dark-grey);
      }
    }
  }
}
