.detail {
  &:not(:last-child) {
    margin-bottom: rem(15);
  }

  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(20);

    cursor: pointer;
    box-shadow: 0 0 rem(10) 0 rgba(108, 108, 108, 0.4);
    background: var(--monochrome-white);
    padding: rem(15);
    border-radius: rem(8);
    transition: 0.3s ease;

    &__title {
      max-width: rem(500);
      font-size: rem(16);
      line-height: rem(19);
      color: var(--monochrome-black);
    }

    svg {
      transition: transform 0.3s ease;
      color: var(--monochrome-dark-grey);
      flex-shrink: 0;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &-body {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s ease;
    background: var(--monochrome-white);
    padding: 0 rem(15);
    @media (min-width: 1024px) {
      grid-template-rows: 0fr;
      overflow: visible;
      opacity: 1;
      margin: 0;
      padding: 0;
    }
  }

  &__inner {
    min-height: 0;
    @media(min-width: 1024px) {
      min-height: auto;
      display: grid;
      gap: rem(20);
    }
  }

  &__condition {
    padding: rem(15);

    border: rem(1) solid var(--additional-dark-yellow);
    border-radius: rem(8);

    width: 100%;
    max-width: rem(650);

    display: flex;
    flex-direction: column;
    gap: rem(10);

    h5 {
      font-size: rem(14);
      line-height: rem(17);
      color: var(--monochrome-black);
      @media(min-width: 1024px) {
        font-size: rem(16);
      }
    }

    p {
      font-size: rem(12);
      font-weight: 300;
      line-height: rem(14);
      color: var(--monochrome-black);
      @media(min-width: 1024px) {
        font-size: rem(14);
        line-height: rem(20);
      }
    }

    @media(min-width: 1024px) {
      padding: rem(20);
    }
  }

  &-block {
    margin-top: rem(20);
    padding-top: rem(20);
    border-top: rem(1) solid var(--monochrome-grey);

    width: 100%;
    &:first-child {
      margin-top: 0;
    }
    @media(min-width: 1024px) {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }

    &__head {
      display: flex;
      flex-direction: column;
      gap: rem(5);
      margin-bottom: rem(15);

      @media (min-width: 1024px) {
        flex-direction: row;
        align-items: center;
      }

      h5 {
        font-size: rem(14);
        line-height: rem(20);
      }
    }

    &__body {
      .detail-block__text + .detail-block__text {
        margin-top: rem(15);
      }
    }

    &__list {
      display: grid;
      gap: rem(10);

      &--comfort {
        width: 100%;
        max-width: rem(820);
        grid-template-columns: 1fr 1fr;
        @media (min-width: 576px) {
          grid-template-columns: 1fr 1fr 1fr;
          gap: rem(10) rem(20);
        }
      }
    }

    &__item {
      display: flex;
      align-items: center;
      gap: rem(5);
      //&:not(:last-child) {
      //  margin-bottom: rem(10);
      //}
      h4 {
        font-size: rem(14);
        line-height: rem(17);
        color: var(--monochrome-black);
      }
      img {
        width: rem(20);
        height: rem(20);
      }
      p {
        font-size: rem(14);
        font-weight: 300;
        line-height: rem(20);
        color: var(--monochrome-black);
        word-break: break-word;
      }

      svg {
        flex-shrink: 0;
      }

      &--comfort {
      }
    }

    &__text {
      font-size: rem(14);
      font-weight: 300;
      line-height: rem(20);
      color: var(--monochrome-black);
    }
    &--mod {
      max-width: 100%;
    }
    &--route {
      display: grid;
      gap: rem(15);
      @media(min-width: 1024px) {
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
      }
      @media(min-width: 1240px){
        grid-template-columns: 1fr rem(560);
      }
    }
  }

  &-tooltip {
    margin-top: rem(10);
    @media (min-width: 576px) {
      align-items: center;
    }
    @media (min-width: 1024px) {
      margin-top: 0;
    }

    &__wrapper {
      grid-column: 2 span;

      display: flex;
      align-items: center;
      gap: rem(5);
      max-width: fit-content;
      padding: rem(5) rem(6.5);
      background: var(--monochrome-light-grey);
      border-radius: rem(17);
      @media (min-width: 1024px) {
        padding: rem(5);
      }

      p {
        font-size: rem(12);
        font-weight: 300;
        line-height: rem(14);
        color: var(--monochrome-dark-grey);
        white-space: nowrap;

        @media (min-width: 1024px) {
          font-size: rem(11);
          font-weight: 400;
          line-height: rem(13);
        }
      }
    }

    &--about {
      display: block;
      margin-top: 0;
    }
  }

  &-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: rem(10);

    margin-top: rem(20);
    overflow: hidden;
    max-height: rem(210);

    @media (min-width: 800px) {
      grid-template-columns: repeat(5, rem(115));
      margin-top: rem(10);

      max-height: rem(115);
    }

    &__link {
      height: rem(100);

      img {
        border-radius: rem(8);
      }

      @media(min-width: 800px) {
        height: rem(115);
      }
      &:nth-child(5) {
        grid-column: 3;
      }
      &:nth-child(6) {
        grid-column: 2;
        grid-row: 2;
      }
      @media (min-width: 800px) {
        &:nth-child(5) {
          grid-column: 5;
        }

        &:nth-child(6) {
          grid-column: 1;
          grid-row: 2;
        }
      }

      &:nth-child(5) {
        position: relative;

        &::before {
          content: '+' attr(data-count) '\A фотографій';
          white-space: pre-wrap;
          display: flex;
          align-items: center;
          justify-content: center;

          position: absolute;
          z-index: var(--ui-index-1);
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          font-size: rem(12);
          font-weight: 400;
          text-align: center;

          color: var(--monochrome-white);
          border-radius: 8px;
          background: linear-gradient(
                          0deg,
                          rgba(39, 39, 39, 0.5) 0%,
                          rgba(39, 39, 39, 0.6) 100%
          );
        }
      }
    }
  }

  &-warning {
    margin-top: rem(20);
    padding-top: rem(20);
    border-top: rem(1) solid var(--monochrome-grey);
    @media(min-width: 1024px) {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }
    &__wrapper {
      width: 100%;
      padding: rem(10);
      display: grid;
      grid-template-columns: rem(24) 1fr;
      gap: rem(5);

      border-radius: 8px;
      background-color: var(--light-yellow-color);
      max-width: max-content;

      p {
        font-size: rem(12);
        font-weight: 300;
      }
      span {
        text-decoration: underline;
      }
      @media (min-width: 1024px) {
        align-items: center;
      }
    }

  }


  &--open {
    box-shadow: 0 0 rem(10) 0 rgba(108, 108, 108, 0.4);
    border-radius: rem(8);
    transition: 0.3s ease;

    .detail-head {
      box-shadow: none;
      border-radius: rem(8) rem(8) 0 0;
      margin-bottom: 0;
      svg {
        transition: transform 0.3s ease;
        transform: rotate(180deg);
      }
    }

    .detail-body {
      //margin-top: 0;
      opacity: 1;
      padding: rem(10) rem(15) rem(20);

      grid-template-rows: 1fr;

      border-bottom-right-radius: rem(8);
      border-bottom-left-radius: rem(8);
    }
  }
}