.trips-badges {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(5);
    @media (min-width: 992px) {
      gap: rem(10);
    }
    &--trips-mobile {
      padding-top: rem(15);
      border-top: rem(1) solid var(--monochrome-grey);
      @media(min-width: 1024px){
        padding-top: 0;
        border: none
      }
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: rem(6) rem(9.5);
    border-radius: rem(16.5);

    font-size: rem(10);
    line-height: rem(12);

    transition: 0.3s ease;
    @media (min-width: 992px) {
      padding: rem(8) rem(12);
    }
    &.recommended {
      padding: 0;
    }
    &.red {
      background: var(--additional-light-red);
      color: var(--additional-red-color);
    }
    &.blue {
      background: var(--additional-light-blue);
      color: var(--accent-blue);
    }
    &.green {
      background: var(--additional-light-green);
      color: var(--green-color);
    }
    &.yellow {
      background: var(--additional-light-yellow);
      color: var(--additional-dark-yellow);
    }
    &.grey {
      background: var(--monochrome-grey);
      color: var(--monochrome-black);
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: rem(5);
  }
  &__count {
    @media(min-width: 1024px){
      display: none;
    }
  }
  &__tooltip {
    padding: 0;
  }

}
