.trips-hint {
  padding: rem(15);
  background: var(--monochrome-white);
  border-radius: rem(8);

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: rem(20);
  &.support {
    flex-wrap: wrap;
    gap: rem(10);
    .trips-hint__wrapper{
      margin: 0;
      max-width: 100%;
    }
    .trips-hint__btn {
      max-width: 100%;
      @media(min-width: 768px){
        max-width: max-content;
      }
    }
    @media(min-width: 768px){
      flex-wrap: nowrap;
    }
  }
  @media(min-width: 768px){
    padding: rem(21);
  }
  &__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: rem(10);
    @media(min-width: 576px) {
      width: 100%;
      max-width: rem(370);
      margin: 0  auto;
      justify-content: center;
      grid-template-rows: 1fr 1fr;
      gap: rem(5) rem(20);
    }
  }
  &__img {
    width: rem(40);
    height: rem(40);
    @media(min-width: 576px) {
      grid-row: 1/3;
    }
    @media(min-width: 768px){
      width: rem(50);
      height: rem(50);
    }
  }
  &__title {
    color: var(--monochrome-black);
    font-size: 14px;
    grid-column: 2/3;
    grid-row: 1/2;
    @media(min-width: 768px){
      font-size: rem(16);
      line-height: rem(19);
    }
  }
  &__text {
    color: var(--monochrome-dark-grey);
    font-size: rem(12);
    line-height: rem(19);
    font-weight: 300;
    grid-column: 1/3;

    @media(min-width: 576px){
      grid-column: 2/3;
    }
    @media(min-width: 768px){
      font-size: rem(12);
      line-height: rem(14);
    }
  }
  &__btn {
    width: 100%;
    max-width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(18) rem(20);

    border: rem(1) solid var(--accent-color);
    border-radius: rem(8);

    font-size: rem(12);
    line-height: rem(14);
    color: var(--monochrome-black);
    transition: 0.3s ease;

    @media (min-width: 992px) {
      padding: rem(20.5) rem(20);
      font-size: rem(16);
      line-height: rem(19);
    }
    @media (any-hover: hover) {
      &:hover {
        transition: 0.3s ease;

        background: var(--accent-color);
        color: var(--monochrome-black);
      }
    }
    &.disabled {
      color: var(--monochrome-dark-grey);
      border-color: var(--monochrome-dark-grey);
    }
  }

}