<template>
  <ul class="trips-badges__list">
    <li class="trips-badges__item recommended" v-if="badges.recommended">
      <AppTooltip
        class="tooltip--badges-recommended"
        tooltip-background="accent-color"
        icon-name="TripsBadgesRecommended"
        icon-color="var(--monochrome-black)"
        icon-size="15"
        text="Rubikon рекомендує"
      />
    </li>
    <li class="trips-badges__item red" v-if="badges.busChangesCount">
      <div class="trips-badges__wrapper">
        Рейс з пересадками
        <template v-if="true">
          <span class="trips-badges__count">{{ badges.busChangesCount }}</span>
          <AppTooltip
            class="tooltip--badges-red"
            tooltip-background="transparent"
            icon-name="TicketHelpQuestion"
            icon-color=""
            icon-size="15"
            :text="`Всього пересадок: ${badges.busChangesCount}`"
          />
        </template>
      </div>
    </li>
    <li class="trips-badges__item blue" v-if="badges.fastest">
      <div class="trips-badges__wrapper">Найшвидший</div>
    </li>
    <li class="trips-badges__item green" v-if="badges.cheapest">
      <div class="trips-badges__wrapper">Найдешевший</div>
    </li>
  </ul>
</template>

<script setup lang="ts">
// Components
import AppTooltip from "~/components/UI/AppTooltip.vue"

// Types
import { ITripBadges } from "~/types/trips"

// Data
defineProps<{
  badges: ITripBadges
}>()
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/trips/trips-badges.scss";
</style>
