<template>
  <div class="trips-hint" :class="{ support: type === 'support' }">
    <div class="trips-hint__wrapper">
      <NuxtImg :src="hintData?.smileSrc" class="trips-hint__img" />
      <h3 class="trips-hint__title">{{ hintData?.title }}</h3>
      <p class="trips-hint__text">{{ hintData?.text }}</p>
    </div>
    <button v-if="type === 'support'" class="trips-hint__btn">
      Почати діалог
    </button>
  </div>
</template>

<script setup lang="ts">
type HintT = "support" | "notFound"
const props = defineProps<{
  type: HintT
}>()

const hintData = computed(() => {
  const notFound = {
    title: "Не знайшли потрібні квитки?",
    text: "Перегляньте пропозиції на інші дати нижче.",
    smileSrc: "assets/img/trip/cry-smile.png",
  }

  const support = {
    title: "Потрібна допомога з вибором квитка?",
    text: "Зв’яжіться з нашим відділом підтримки, який відповість на всі ваші питання!",
    smileSrc: "assets/img/trip/cry-smile.png",
  }

  const dataArray = new Map([
    ["support", support],
    ["notFound", notFound],
  ])

  return dataArray.get(props.type)
})
</script>

<style lang="scss">
@import "@/assets/scss/components/trips/trips-hint.scss";
</style>
