<template>
  <li class="ticket-elem">
    <div class="ticket-elem__wrapper">
      <div class="ticket-elem__container ticket-elem__container--trips">
        <div class="ticket-elem__left">
          <div class="ticket-elem__header">
            <div class="ticket-comfortable ticket-comfortable--trips-mobile">
              <div class="ticket-comfortable__wrapper">
                <span class="ticket-comfortable__icon">
                  <Icon class="ticket-comfortable__icon" name="TicketCarrier" />
                </span>
                <span class="ticket-comfortable__title">Перевізник:</span>
                <span class="ticket-comfortable__name">{{
                  trip.carrier.name
                }}</span>
                <span class="ticket-comfortable__mark">{{
                  trip.carrier.rating
                }}</span>
              </div>
            </div>
            <TripsTripBadges
              v-if="hasBadges"
              :badges="trip.badges"
              class="trips-badges__list--trips-mobile"
            />
          </div>

          <TicketTravel
            trip
            :start-bus-stop="trip.startBusStop"
            :end-bus-stop="trip.endBusStop"
            :trip-duration="trip.duration"
          />
          <div
            class="ticket-approximate__time"
            v-if="trip.startBusStop.ownAddress || trip.endBusStop.ownAddress"
          >
            Це приблизний час відправлення та прибуття. За день до виїзду ми
            зателефонуємо та повідомимо точну інформацію.
          </div>
          <AppTooltip
            tooltip-background="monochrome-grey"
            icon-name="TicketHelp"
            icon-color="var(--monochrome-dark-grey)"
            icon-size="20"
            text="Час прибуття вказаний з врахуванням нормативного часу для проходження кордону"
          />

          <div class="ticket-comfortable ticket-comfortable--trips">
            <div
              v-if="trip.carrier"
              class="ticket-comfortable__wrapper comfortable-trips--desk comfortable-order--2"
            >
              <span class="ticket-comfortable__icon">
                <Icon class="ticket-comfortable__icon" name="TicketCarrier" />
              </span>
              <span class="ticket-comfortable__title">Перевізник:</span>
              <span class="ticket-comfortable__name">
                {{ trip.carrier.name }}
              </span>
              <span class="ticket-comfortable__mark">
                {{ trip.carrier.rating }}
              </span>
            </div>
            <div
              v-if="trip.schedule"
              class="ticket-comfortable__wrapper comfortable-order--3"
            >
              <span class="ticket-comfortable__icon">
                <Icon name="TicketCalendar" />
              </span>
              <span class="ticket-comfortable__title">Графік поїздок:</span>
              <span class="ticket-comfortable__name">{{ trip.schedule }}</span>
            </div>
            <div
              v-if="trip.icons.length"
              class="ticket-comfortable__wrapper comfortable-order--1"
            >
              <ul class="ticket-comfortable__list">
                <li
                  class="ticket-comfortable__item"
                  v-for="iconLink in iconsArr"
                  :key="iconLink"
                >
                  <span class="ticket-comfortable__icon">
                    <NuxtImg :src="iconLink" />
                  </span>
                </li>
                <li v-if="restAmount">
                  <span class="ticket-comfortable__rest">
                    +{{ restAmount }}
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="ticket-elem__bottom">
          <AppButton
            class="ticket-btn__more"
            :class="[
              openMoreInfo ? 'ticket-btn__more--open' : '',
              pendingTripsDetails ? 'btn--pending' : '',
            ]"
            :text="aboutBtnPending"
            button-style="light-grey"
            icon-name="TicketArrowDown"
            icon-size="24"
            @click="getTripDetailsById"
          />
        </div>
        <div class="ticket-elem__right">
          <div class="ticket-trips__wrapper">
            <div class="ticket-trips__head">
              <div class="ticket-trips__price">
                <span
                  >{{ getRecountedPrice(trip.price) }}
                  {{ activeCurrency?.code }}</span
                >
              </div>

              <TripsTripPayment :payment-info="trip.payment" />
            </div>
            <div class="ticket-trips__main">
              <!-- dev -->
              <div class="ticket-trips__wrap">
                <AppButton
                  class="ticket-btn__reserve"
                  button-style="default-gold"
                  :text="buyBtnInfo?.btnText"
                  @click="onBuyTicket(tripInfoPayload)"
                />
                <p>{{ buyBtnInfo?.infoText }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="ticket-elem__about">
          <Transition
            name="ticket-about"
            @enter="enter"
            @leave="leave"
            @after-enter="afterEnter"
          >
            <div
              v-if="openMoreInfo"
              class="ticket-about"
              :class="[openMoreInfo ? 'ticket-about--open' : '']"
            >
              <div class="ticket-about__header">
                <h3 class="ticket-about__header-title">Подробиці рейсу</h3>
                <button
                  class="ticket-btn__close-about"
                  @click="getTripDetailsById"
                >
                  <Icon name="ModalClose" size="30" />
                </button>
              </div>

              <div
                v-if="trip.more && !pendingTripsDetails"
                class="ticket-about__main"
              >
                <!-- desktop -->
                <TripsTripMore
                  v-if="width >= 1024"
                  :detail="trip.more.details"
                  :route="trip.more.route"
                  :discounts="trip.more.discounts"
                  :rule="trip.more.rules"
                  :conditions="trip.more.conditions"
                  :info="trip.more.info"
                />
                <!-- mobile -->
                <template v-else>
                  <TransitionGroup name="tab-content-fade">
                    <TripDetail key="TripDetail" :data="trip.more.details" />
                    <TripRoute
                      key="TripRoute"
                      :data="trip.more.route"
                      :trip-info="trip.more.info"
                    />
                    <TripDiscounts
                      key="TripDiscounts"
                      :data="trip.more.discounts"
                    />
                    <TripRule key="TripRule" :data="trip.more.rules" />
                    <TripConditions
                      key="TripConditions"
                      :data="trip.more.conditions"
                    />
                  </TransitionGroup>
                </template>
              </div>
              <template v-else>
                <LoadingSkeletonsMore v-if="width >= 1024" />
                <LoadingSkeletonsMoreMobile v-else />
              </template>
            </div>
          </Transition>
        </div>
      </div>
    </div>
  </li>
</template>

<script setup lang="ts">
import { useScreen } from "vue-screen"
// Components
import AppTooltip from "~/components/UI/AppTooltip.vue"
import AppButton from "~/components/UI/AppButton.vue"
import TripDetail from "~/components/trips/Trip/More/Detail.vue"
import TripRoute from "~/components/trips/Trip/More/Route.vue"
import TripDiscounts from "~/components/trips/Trip/More/Discounts.vue"
import TripRule from "~/components/trips/Trip/More/Rule.vue"
import TripConditions from "~/components/trips/Trip/More/Conditions.vue"
// Types
import { ITrip } from "~/types/trips"
import { ICurrencyOption } from "~/types"
import { ITripInfoPayload } from "~/types/booking"

// Constants
import { PAYMENT } from "~/constants/trips"

// Stores
const tripsStore = useTripsStore()
const bookingStore = useBookingStore()

// Stores data
const { getRecountedPrice, fetchQuery, pendingTripsDetails } =
  storeToRefs(tripsStore)
const { canBook } = toRefs(bookingStore)

// Data
const { width } = toRefs(useScreen())
// { trip, activeCurrency }
const props = defineProps<{
  activeCurrency?: ICurrencyOption
  trip: ITrip
}>()
const emit = defineEmits<{
  "on-fetch-details": [tripId: ITrip]
}>()

const openFilter = ref<boolean>(false)
const openMoreInfo = ref<boolean>(false)
const screenSizeComfortableIcons = ref<boolean>(false)
const iconsArr = ref<string[]>()
const restAmount = ref<number>(0)

// Computed data
// const tripUniqId = computed(() => {
//   return `${props.trip.id}-${props.trip.startBusStop.id}-${props.trip.endBusStop.id}`
// })
const hasBadges = computed(() => {
  const { fastest, cheapest, recommended, busChangesCount } = props.trip.badges

  return recommended || fastest || cheapest || !!busChangesCount
})

const aboutBtnText = computed(() => {
  return openMoreInfo.value ? "Сховати деталі" : "Детальніше"
})
const aboutBtnPending = computed(() => {
  return pendingTripsDetails.value && openMoreInfo.value
    ? "Завантаження"
    : aboutBtnText.value
})
const buyBtnInfo = computed(() => {
  const reservePayment = {
    btnText: "ЗАБРОНЮВАТИ",
    infoText: "ОПЛАТА ПРИ ПОСАДЦІ",
  }
  const partialPayment = {
    btnText: "ЗАБРОНЮВАТИ",
    infoText: "ДОПЛАТА ПРИ ПОСАДЦІ",
  }
  const directPayment = {
    btnText: "КУПИТИ",
    infoText: "",
  }

  const paymentMethods = new Map([
    [PAYMENT.PARTIAL, partialPayment],
    [PAYMENT.FULL, directPayment],
    [PAYMENT.FREE, reservePayment],
  ])

  return paymentMethods.get(props.trip.payment.paymentType)
})
const tripInfoPayload = computed(() => {
  return {
    fromBusStopId: props.trip.startBusStop.id as number,
    departureDate: fetchQuery.value.departureDate,
    toBusStopId: props.trip.endBusStop.id as number,
    currencyId: props.activeCurrency?.id,
    tripId: props.trip.id,
  }
})

// Start Animation openDetails Desktop
const enter = (element: HTMLElement) => {
  if (window.innerWidth >= 1024) {
    element.style.width = getComputedStyle(element).width
    element.style.position = "absolute"
    element.style.visibility = "hidden"
    element.style.height = "auto"

    const height = getComputedStyle(element).height

    element.style.width = ""
    element.style.position = ""
    element.style.visibility = ""
    element.style.height = "0"

    getComputedStyle(element).height
    requestAnimationFrame(() => {
      element.style.height = height
    })
  }
}
const afterEnter = (element: HTMLElement) => {
  if (window.innerWidth >= 1024) {
    element.style.height = "auto"
  }
}
const leave = (element: HTMLElement) => {
  if (window.innerWidth >= 1024) {
    element.style.height = getComputedStyle(element).height

    getComputedStyle(element).height

    requestAnimationFrame(() => {
      element.style.height = "0"
    })
  }
}
// End Animation openDetails Desktop

// Methods
async function onBuyTicket({
  departureDate,
  fromBusStopId,
  toBusStopId,
  currencyId,
  tripId,
}: ITripInfoPayload) {
  canBook.value = true

  await navigateTo({
    path: `/trips/booking/${tripId}`,
    query: {
      fromBusStopId,
      departureDate,
      toBusStopId,
      currencyId,
    },
  })
}
function updateScreenIconsAmount() {
  screenSizeComfortableIcons.value = window.innerWidth <= 1024
  iconsArr.value = props.trip.icons

  let iconCount = screenSizeComfortableIcons.value ? 3 : 4

  if (iconsArr.value.length >= iconCount) {
    iconsArr.value = props.trip.icons.slice(0, iconCount)
    restAmount.value = props.trip.icons.length - iconCount
  }
}
function getTripDetailsById() {
  if (!props.trip.more) {
    emit("on-fetch-details", props.trip)
  }

  openMoreInfo.value = !openMoreInfo.value

  if (openMoreInfo.value && window.innerWidth < 1024) {
    document.documentElement.style.overflow = "hidden"
  } else {
    document.documentElement.style.overflow = "unset"
  }
}

// Lifecycle hooks
onMounted(() => {
  updateScreenIconsAmount()
  window.addEventListener("resize", () => {
    if (window.innerWidth >= 1024) {
      document.documentElement.style.overflow = "unset"
      openFilter.value = true
    } else if (window.innerWidth < 1023) {
      openFilter.value = false
    }
    updateScreenIconsAmount()
  })

  // if (screen.width >= 1024) {
  //   // document.documentElement.style.overflow = "unset"
  //   // openFilter.value = true
  // }
})
onBeforeUnmount(() => {
  window.removeEventListener("resize", updateScreenIconsAmount)
})
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/trips/trips.scss";
@import "@/assets/scss/components/personal-cabinet/tickets.scss";

:deep(.ticket-btn__more svg) {
  color: var(--monochrome-dark-grey);
  margin-left: rem(8);
  transition: transform 0.3s ease;
}

:deep(.ticket-btn__more--open svg) {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
:deep(.trips-select__component .select__toggle) {
  background: var(--monochrome-white);
}
.trips-modal-leave-from,
.trips-modal-enter-to {
  transition: 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.trips-modal-leave-to,
.trips-modal-enter-from {
  transition: 0.3s ease;
  opacity: 0;
  transform: translateY(-100%);
}

.trips-filter-leave-from,
.trips-filter-enter-to {
  transition: 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.trips-filter-leave-to,
.trips-filter-enter-from {
  transition: 0.3s ease;
  opacity: 0;
  transform: translateY(-100%);
  @media (min-width: 1199px) {
    opacity: 1;
    transform: translateY(0);
  }
}

.ticket-about-enter-active {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  @media (min-width: 1024px) {
    transition-property: opacity, height;
    transition: height 0.3s ease;
    overflow: hidden;
  }
}

.ticket-about-leave-active {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  @media (min-width: 1024px) {
    transition: height 0.3s ease;
    overflow: hidden;
  }
}

.ticket-about-leave-from,
.ticket-about-enter-to {
  opacity: 1;
  transform: translateY(0);
}

.ticket-about-leave-to,
.ticket-about-enter-from {
  opacity: 0;
  transform: translateY(-100%);
  @media (min-width: 1024px) {
    height: 0;
  }
}
.tab-content-fade-enter-active,
.tab-content-fade-leave-active {
  transition: opacity 0.5s;
}

.tab-content-fade-enter,
.tab-content-fade-leave-to {
  opacity: 0;
}
</style>
