<template>
  <div class="ticket-trips__prepayment" :class="templateData?.iconColor">
    <Icon :name="templateData?.icon || ''" />
    <p>{{ templateData?.text }}</p>

    <UIAppTooltip
      v-if="hasPrepaymentPercent"
      class="transparent tooltip--trips tooltip--trips-prepayment tooltip--desktop"
      tooltip-background="transparent"
      icon-color="var(--monochrome-dark-grey)"
      icon-name="TicketHelp"
      icon-size="17"
      :text="templateData?.tooltip"
    />
  </div>
</template>

<script setup lang="ts">
// Types
import { ITrip } from "~/types/trips"

// Constants
import { PAYMENT } from "~/constants/trips"

// Data
const { paymentInfo } = defineProps<{
  paymentInfo: ITrip["payment"]
}>()

// Computed data
const hasPrepaymentPercent = computed(() => {
  return paymentInfo.paymentType === PAYMENT.PREPAYMENT_PERCENT
})
const templateData = computed(() => {
  const freePayment = {
    text: "БЕЗ ПЕРЕДПЛАТИ",
    icon: "TripsPrepaymentCheck",
    iconColor: "ticket-trips__prepayment--green",
    tooltip: "",
  }
  const fullPayment = {
    text: "ОБОВ’ЯЗКОВА ОПЛАТА",
    icon: "TripsPrepaymentCheck",
    iconColor: "ticket-trips__prepayment--red",
    tooltip: "",
  }
  const partialPayment = {
    text: `ПЕРЕДПЛАТА ${paymentInfo.prepaymentPercent}%`,
    icon: "TripsPrepaymentMoney",
    iconColor: "ticket-trips__prepayment--grey",
    tooltip: `Ви сплачуєте ${paymentInfo.prepaymentPercent}% від вартості квитка, а залишок доплачуєте при посадці водієві в день рейсу.`,
  }

  const paymentData = new Map([
    [PAYMENT.PARTIAL, partialPayment],
    [PAYMENT.FULL, fullPayment],
    [PAYMENT.FREE, freePayment],
  ])

  return paymentData.get(paymentInfo.paymentType)
})
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/personal-cabinet/tickets.scss";
@import "@/assets/scss/components/trips/trips.scss";
</style>
