<template>
  <div class="skeleton-more">
    <AppTabs
      class="skeleton skeleton-tabs"
      type="details"
      :tabs="TABS_TRIP_DETAILS"
      :currentTab="currentTab"
    />
    <div class="skeleton-more__wrapper">
      <div class="skeleton-more__wrap">
        <div class="skeleton skeleton--grey skeleton-more__head"></div>
        <div class="skeleton skeleton-more__text"></div>
        <div class="skeleton skeleton-more__text"></div>
        <div class="skeleton skeleton-more__text"></div>
      </div>

      <div class="skeleton-more__wrap">
        <div
          class="skeleton skeleton--grey skeleton-more__head skeleton-more__head--small"
        ></div>
        <div class="skeleton-more__comforts">
          <div class="skeleton-more__comfort">
            <div class="skeleton skeleton-more__icon"></div>
            <div class="skeleton skeleton-more__text"></div>
          </div>
          <div class="skeleton-more__comfort">
            <div class="skeleton skeleton-more__icon"></div>
            <div class="skeleton skeleton-more__text"></div>
          </div>
          <div class="skeleton-more__comfort">
            <div class="skeleton skeleton-more__icon"></div>
            <div class="skeleton skeleton-more__text"></div>
          </div>
          <div class="skeleton-more__comfort">
            <div class="skeleton skeleton-more__icon"></div>
            <div class="skeleton skeleton-more__text"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="skeleton-more__block">
      <div
        class="skeleton skeleton--grey skeleton-more__head skeleton-more__head--big"
      ></div>
      <div class="skeleton skeleton-more__text skeleton-more__text--big"></div>
      <div
        class="skeleton skeleton-more__text skeleton-more__text--middle"
      ></div>
      <div class="skeleton skeleton-more__text skeleton-more__text--tiny"></div>
    </div>

    <div class="skeleton-more__block">
      <div class="skeleton skeleton--grey skeleton-more__head"></div>
      <div class="skeleton-more__images">
        <div class="skeleton skeleton-more__img"></div>
        <div class="skeleton skeleton-more__img"></div>
        <div class="skeleton skeleton-more__img"></div>
        <div class="skeleton skeleton-more__img"></div>
        <div class="skeleton skeleton-more__img"></div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
// Components
import AppTabs from "~/components/UI/AppTabs.vue"

// Constants
import { TABS_TRIP_DETAILS } from "~/constants"

// Data
const currentTab = ref("TripDetail")
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/skeleton/skeleton.scss";
</style>
