<template>
  <ul class="skeleton-more__list">
    <li class="skeleton-more__item">
      <div class="skeleton skeleton-more__item-name"></div>
      <div class="skeleton skeleton-more__item-icon"></div>
    </li>
    <li class="skeleton-more__item">
      <div
        class="skeleton skeleton-more__item-name skeleton-more__item-name--small"
      ></div>
      <div class="skeleton skeleton-more__item-icon"></div>
    </li>
    <li class="skeleton-more__item">
      <div
        class="skeleton skeleton-more__item-name skeleton-more__item-name--small"
      ></div>
      <div class="skeleton skeleton-more__item-icon"></div>
    </li>
    <li class="skeleton-more__item">
      <div class="skeleton skeleton-more__item-name"></div>
      <div class="skeleton skeleton-more__item-icon"></div>
    </li>
    <li class="skeleton-more__item">
      <div
        class="skeleton skeleton-more__item-name skeleton-more__item-name--big"
      ></div>
      <div class="skeleton skeleton-more__item-icon"></div>
    </li>
    <li class="skeleton-more__item">
      <div class="skeleton skeleton-more__item-name"></div>
      <div class="skeleton skeleton-more__item-icon"></div>
    </li>
  </ul>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
@import "@/assets/scss/components/skeleton/skeleton.scss";
</style>
