<template>
  <li class="ticket-elem">
    <div class="ticket-elem__wrapper">
      <div class="ticket-elem__container">
        <div class="ticket-elem__left">
          <div class="ticket-elem__header">
            <div class="ticket-elem__header-wrapper">
              <div class="ticket-elem__header-info">
                <div class="skeleton skeleton-ticket__id"></div>
              </div>
            </div>
            <ul class="skeleton-badges">
              <li class="skeleton skeleton-badges__item"></li>
              <li class="skeleton skeleton-badges__item"></li>
              <li class="skeleton skeleton-badges__item"></li>
              <li class="skeleton skeleton-badges__item"></li>
            </ul>
          </div>
          <div class="ticket-travel">
            <!--Ticket FROM Start-->
            <div
              class="skeleton-travel__from ticket-travel__from ticket-travel--decor"
            >
              <div class="ticket-travel__head">
                <div
                  class="skeleton skeleton--grey skeleton-ticket__travel-city"
                ></div>

                <div class="skeleton skeleton-ticket__travel-place"></div>
              </div>
              <div class="ticket-travel__wrapper">
                <div class="skeleton skeleton-ticket__travel-departure"></div>
                <div class="ticket-travel__data">
                  <div class="skeleton skeleton-ticket__travel-day"></div>
                </div>
              </div>
            </div>
            <!--Ticket FROM End-->

            <div class="ticket-travel__area">
              <div
                class="skeleton skeleton-travel__area ticket-travel__area-time"
              ></div>
            </div>

            <!--Ticket TO Start-->
            <div class="ticket-travel__to ticket-travel--decor">
              <div class="ticket-travel__head">
                <div
                  class="skeleton skeleton--grey skeleton-ticket__travel-city"
                ></div>

                <div class="skeleton skeleton-ticket__travel-place"></div>
              </div>

              <div class="ticket-travel__wrapper">
                <div class="skeleton skeleton-ticket__travel-departure"></div>
                <div class="ticket-travel__data">
                  <div class="skeleton skeleton-ticket__travel-day"></div>
                </div>
              </div>
            </div>
            <!--Ticket TO End-->
          </div>

          <div
            class="ticket-comfortable ticket-comfortable--mobile ticket-comfortable--desktop"
          >
            <div class="ticket-comfortable__wrapper">
              <span class="skeleton skeleton-comfortable__icon"></span>
              <span class="skeleton skeleton-comfortable__title"></span>
            </div>
          </div>
        </div>
        <div class="ticket-elem__right">
          <div class="ticket-passengers">
            <div class="ticket-passengers__head">
              <div class="skeleton skeleton-ticket__passengers-title"></div>
              <span class="ticket-item__circle-decor"></span>
              <div class="skeleton skeleton-ticket__passengers-count"></div>
              <Icon
                class="ticket-passengers__head-arrow"
                name="TicketArrowDown"
                size="20"
              />
            </div>
            <div class="ticket-passengers__wrapper">
              <div class="ticket-passengers__content">
                <div class="ticket-passengers__list">
                  <div
                    class="ticket-passengers__item skeleton-ticket__passengers-item"
                  >
                    <div class="ticket-passengers__item-info">
                      <div
                        class="skeleton skeleton-ticket__passengers-name"
                      ></div>
                      <div
                        class="skeleton skeleton-ticket__passengers-type"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="ticket-passengers__transaction">
              <div
                class="skeleton skeleton--yellow skeleton-btn skeleton-btn__pay skeleton-btn__pay--desk"
              ></div>
              <div class="ticket-passengers__transaction-wrapper">
                <div class="ticket-passengers__transaction-wrap">
                  <div
                    class="skeleton-btn skeleton-btn__return skeleton-btn__return--desk"
                  >
                    <span class="skeleton skeleton--grey"></span>
                  </div>
                  <div
                    class="skeleton skeleton--grey skeleton-ticket__passengers-link"
                  ></div>
                </div>
                <AppButton
                  v-if="false"
                  class="ticket-btn__download ticket-btn__download--desk"
                  icon-name="TicketDownload"
                  icon-size="24"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="ticket-elem__bottom">
          <div
            class="skeleton skeleton--yellow skeleton-btn skeleton-btn__confirm"
          ></div>
          <div
            class="skeleton skeleton--yellow skeleton-btn skeleton-btn__pay"
          ></div>
          <div class="skeleton skeleton-btn">
            <div class="skeleton skeleton--grey skeleton-btn__more"></div>
          </div>
        </div>
        <div class="ticket-elem__about"></div>
      </div>
    </div>
  </li>
</template>

<script setup lang="ts">
import AppButton from "~/components/UI/AppButton.vue"
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/skeleton/skeleton.scss";
@import "@/assets/scss/components/personal-cabinet/tickets.scss";
</style>
