<template>
  <ul class="skeleton-trips__date trips-top__list">
    <li class="trips-top__item">
      <div class="skeleton skeleton-trips__date-name"></div>
      <div class="skeleton skeleton-trips__date-icon"></div>
      <div class="skeleton skeleton-trips__date-price"></div>
    </li>
    <li class="trips-top__item active">
      <div class="skeleton skeleton-trips__date-name"></div>
      <div class="skeleton skeleton-trips__date-icon"></div>
      <div class="skeleton skeleton-trips__date-price"></div>
    </li>
    <li class="trips-top__item">
      <div class="skeleton skeleton-trips__date-name"></div>
      <div class="skeleton skeleton-trips__date-icon"></div>
      <div class="skeleton skeleton-trips__date-price"></div>
    </li>
  </ul>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
@import "@/assets/scss/components/skeleton/skeleton.scss";
@import "@/assets/scss/components/trips/trips.scss";
</style>
