<template>
  <li class="ticket-elem">
    <div class="ticket-elem__wrapper">
      <div class="ticket-elem__container ticket-elem__container--trips">
        <div class="ticket-elem__left">
          <div class="ticket-elem__header">
            <div class="ticket-comfortable ticket-comfortable--trips-mobile">
              <div class="ticket-comfortable__wrapper">
                <span class="skeleton skeleton-comfortable__icon"></span>
                <span class="skeleton skeleton-comfortable__title"></span>
              </div>
            </div>
            <ul class="skeleton-badges">
              <li class="skeleton skeleton-badges__item"></li>
              <li class="skeleton skeleton-badges__item"></li>
              <li class="skeleton skeleton-badges__item"></li>
              <li class="skeleton skeleton-badges__item"></li>
            </ul>
          </div>
          <div class="ticket-travel ticket-travel--trips">
            <!--Ticket FROM Start-->
            <div
              class="skeleton-travel__from ticket-travel__from ticket-travel--decor ticket-travel__from--trips"
            >
              <div class="skeleton skeleton--grey skeleton-travel__time"></div>
              <div class="ticket-travel__head">
                <div class="skeleton skeleton-travel__city"></div>
                <div class="skeleton skeleton-travel__place"></div>
              </div>
            </div>
            <!--Ticket FROM End-->

            <div class="ticket-travel__area">
              <div
                class="skeleton skeleton-travel__area ticket-travel__area-time"
              ></div>
            </div>

            <!--Ticket TO Start-->
            <div
              class="ticket-travel__to ticket-travel--decor ticket-travel__to--trips"
            >
              <div class="skeleton skeleton--grey skeleton-travel__time"></div>

              <div class="ticket-travel__head">
                <div class="skeleton skeleton-travel__city"></div>
                <div class="skeleton skeleton-travel__place"></div>
              </div>
            </div>
            <!--Ticket TO End-->
          </div>

          <div class="skeleton skeleton-notice"></div>

          <div class="ticket-comfortable ticket-comfortable--trips">
            <div class="ticket-comfortable__wrapper comfortable-trips--desk">
              <span class="skeleton skeleton-comfortable__icon"></span>
              <span class="skeleton skeleton-comfortable__title"></span>
            </div>
            <div class="ticket-comfortable__wrapper">
              <span class="skeleton skeleton-comfortable__icon"></span>
              <span class="skeleton skeleton-comfortable__title"></span>
            </div>
            <div class="ticket-comfortable__wrapper">
              <ul class="ticket-comfortable__list">
                <li class="ticket-comfortable__item">
                  <span class="skeleton skeleton-comfortable__icon"></span>
                </li>
                <li class="ticket-comfortable__item">
                  <span class="skeleton skeleton-comfortable__icon"></span>
                </li>
                <li class="ticket-comfortable__item">
                  <span class="skeleton skeleton-comfortable__icon"></span>
                </li>
                <li class="ticket-comfortable__item">
                  <span class="skeleton skeleton-comfortable__icon"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ticket-elem__bottom">
          <div class="skeleton skeleton-btn">
            <div class="skeleton skeleton--grey skeleton-btn__more"></div>
          </div>
        </div>
        <div class="ticket-elem__right">
          <div class="ticket-trips__wrapper">
            <div class="ticket-trips__head">
              <div class="skeleton skeleton--grey skeleton-trips__price"></div>
              <div class="skeleton skeleton-trips__prepayment"></div>
            </div>
            <div class="ticket-trips__main">
              <!-- dev -->
              <div class="ticket-trips__wrap">
                <div
                  class="skeleton skeleton--yellow skeleton-btn skeleton-btn__reserve"
                ></div>
                <div class="skeleton skeleton-trips__info"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
@import "@/assets/scss/components/skeleton/skeleton.scss";
@import "@/assets/scss/components/personal-cabinet/tickets.scss";
</style>
