<template>
  <div class="trips-filter">
    <div class="trips-filter__container">
      <div class="trips-filter__head">
        <template v-if="false">
          <AppButton class="trips-filter__cansel" text="Скасувати" />
        </template>
        <h3 class="trips-filter__title">Фільтри</h3>
        <AppButton
          class="trips-filter__close"
          icon-name="ModalClose"
          icon-size="30"
          @click="closeFilter"
        />
      </div>
      <div class="trips-filter__main">
        <ul class="trips-filter__list">
          <TripsFilterLayout
            filter-name="Тип рейсу"
            :filter-options="departureTypes"
            :filter-key="QUERY_KEY.DEPARTURE_TYPE_ID"
            @update-filter="onFilterChange"
          />
          <TripsFilterLayout
            filter-name="Передплата"
            :filter-options="prepayments"
            :filter-key="QUERY_KEY.PREPAYMENTS"
            @update-filter="onFilterChange"
          />
          <TripsFilterLayout
            filter-name="Тип транспорту"
            :filter-options="transportTypes"
            :filter-key="QUERY_KEY.TRANSPORT_TYPES"
            @update-filter="onFilterChange"
          />
          <TripsFilterLayout
            filter-name="Час відправлення"
            :filter-options="departureTimes"
            :filter-key="QUERY_KEY.DEPARTURE_TIMES"
            @update-filter="onFilterChange"
          />
          <TripsFilterLayout
            filter-name="Комфорт"
            :filter-options="busOptions"
            :filter-key="QUERY_KEY.BUS_OPTIONS"
            @update-filter="onFilterChange"
          />
        </ul>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
// Components
import AppButton from "~/components/UI/AppButton.vue"

// Types
import { IFilterPayload } from "~/types/trips"

// Constants
import { QUERY_KEY } from "~/constants/trips"

// Stores
import { useTripsStore } from "~/stores/trips"

// Stores actions
const { updateQuery, fetchTrips } = useTripsStore()

// Stores Data
const tripsStore = useTripsStore()
const {
  prepayments,
  departureTypes,
  busOptions,
  departureTimes,
  transportTypes,
} = toRefs(tripsStore.filters)
const { fetchQuery } = toRefs(tripsStore)

// Data
const emit = defineEmits<{
  "on-filter-update": [void]
  "on-close": [void]
}>()

// Methods
async function onFilterChange(filterPaylod: IFilterPayload) {
  emit("on-filter-update")
  updateQuery(filterPaylod)

  await fetchTrips()

  const currentQuery = JSON.parse(JSON.stringify(fetchQuery.value))
  await navigateTo({ query: currentQuery })
}
function closeFilter() {
  emit("on-close")
}
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/trips/trips-filter.scss";
</style>
