<template>
  <li class="trips-filter__item">
    <div
      class="trips-filter__accordion"
      :class="[openSelect ? 'trips-filter__accordion--open' : '']"
    >
      <div class="trips-filter__accordion-head" @click="toggleSelect">
        <Icon
          class="trips-filter__accordion-arrow"
          name="TripsFilterArrow"
          size="24"
        />
        <h4 class="trips-filter__accordion-title">{{ filterName }}</h4>
      </div>
      <div class="trips-filter__accordion-wrapper">
        <ul class="trips-filter__accordion-list">
          <li
            class="trips-filter__accordion-item"
            v-for="option in filterOptions"
            :key="option.id"
          >
            <AppCheckboxBoolean
              class="trips-filter__accordion-checkbox"
              :icon-name="option.icon"
              :label="option.name"
              :id="option.name"
              :value="isSelectedFilter(option.id, filterKey)"
              @on-change="updateFilter(option.id, option.name)"
            />
          </li>
        </ul>
      </div>
    </div>
  </li>
</template>

<script setup lang="ts" generic="FilterT">
// Components
import AppCheckboxBoolean from "~/components/UI/AppCheckboxBoolean.vue"

// Types
// import { ITripFilterOption } from "~/types"
import { IFilterPayload } from "~/types/trips"

// Stores
import { useTripsStore } from "~/stores/trips"

// Constants =>
import { QUERY_KEY } from "~/constants/trips"

// Stores

// Composables
const tripsStore = useTripsStore()

// Store data
const { isSelectedFilter } = toRefs(tripsStore)

// Local data
const { filterOptions = [], filterKey } = defineProps<{
  filterOptions: FilterT[]
  filterName: string
  filterKey: QUERY_KEY
}>()
const emit = defineEmits<{
  (
    e: "update-filter",
    { filterId, filterKey, filterName }: IFilterPayload,
  ): void
}>()

const openSelect = ref<boolean>(false)

// Methods
function toggleSelect() {
  openSelect.value = !openSelect.value
}
function updateFilter(filterId: number, filterName: string) {
  emit("update-filter", {
    filterKey: filterKey,
    filterName,
    filterId,
  })
}
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/trips/trips-filter.scss";
</style>
