.aside {
  height: 100%;
  width: 100%;
  display: grid;

  &__top {
    position: relative;
    padding-top: rem(135);
    padding-bottom: rem(15);
    background: linear-gradient(90deg, #1b1b1d 0%, #383e45 100%);

    @media (min-width: 1400px) {
      padding-bottom: rem(50);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(10);

    @media (min-width: 1200px) {
      flex-direction: row;
      align-items: end;
      justify-content: space-between;
    }
  }

  &__ticket {
    width: 100%;
    max-width: rem(960);
    padding: rem(15);
    border-radius: 8px;
    background-color: var(--monochrome-white);

    @media (min-width: 800px) {
      padding: rem(30);
    }
  }

  &__title {
    font-size: rem(16);
    font-weight: 400;
    color: var(--monochrome-dark-grey);

    margin-bottom: rem(10);

    @media (min-width: 700px) {
      display: none;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(10);

    width: 100%;
    height: rem(44);

    font-size: rem(12);
    font-weight: 400;

    border-radius: 8px;
    background-color: var(--monochrome-white);
    color: var(--monochrome-dark-grey);
    transition: 0.3s ease-in-out;

    & svg {
      fill: var(--monochrome-dark-grey);
      width: rem(24);
      height: rem(24);
    }

    &.open {
      color: var(--monochrome-black);
      & svg {
        transform: rotate(180deg);
        fill: var(--monochrome-black);
      }
    }
    @media(min-width: 992px){
      max-width: rem(316);
    }

    @media (min-width: 1200px) {
      font-size: rem(16);
    }
  }

  &__bottom {
    width: 100%;
    height: 0;
    transition: 0.3s ease-in-out;
    grid-template-rows: 0fr;
    overflow: hidden;

    @media (min-width: 1024px) {
      background-color: var(--monochrome-white);
      gap: rem(20);
    }

    &-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: rem(15);

      @media (min-width: 1024px) {
        gap: 0;
        padding-bottom: rem(40);
        max-height: rem(580);
        overflow: auto;

        &::-webkit-scrollbar {
          width: rem(2);
        }

        &::-webkit-scrollbar-track {
          background-color: var(--monochrome-grey);
          border-radius: rem(5);
        }

        &::-webkit-scrollbar-thumb {
          background-color: var(--additional-dark-yellow);
          border-radius: rem(5);
        }
      }
    }
  }

  &__tab {
    display: none;

    @media (min-width: 1024px) {
      display: flex;
    }
  }
}
