.booking {
  padding-top: rem(20);
  padding-bottom: rem(100);

  display: grid;
  gap: rem(20);

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 58% 40%;
    gap: rem(20);

    // padding-top: rem(150);
    padding-bottom: rem(150);
  }

  &__left {
    display: grid;
    gap: rem(20);
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: rem(20);

    @media (min-width: 1024px) {
      flex-direction: column-reverse;
      align-self: start;
    }
  }

  &-route {
    height: 100%;
    max-height: rem(450);
    overflow: hidden;

    .route {
      height: 100%;
      max-height: rem(390);
      overflow: auto;

      &::-webkit-scrollbar {
        width: rem(2);
      }

      &::-webkit-scrollbar-track {
        background-color: var(--monochrome-grey);
        border-radius: rem(5);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--additional-dark-yellow);
        border-radius: rem(5);
      }
    }

  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__notice {
    width: 100%;
    padding: rem(10) rem(20);
    margin-bottom: rem(5);

    font-size: rem(12);
    font-weight: 400;
    text-align: center;

    color: var(--monochrome-black);
    background-color: var(--monochrome-grey);
    border-radius: 8px;

    &--hide {
      @media (min-width: 1200px) {
        display: none;
      }
    }
  }

  &__choose {
    position: relative;
    text-align: center;
    font-size: rem(12);
    font-weight: 400;

    margin-top: rem(20);
    margin-bottom: rem(20);

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: calc((100% - 41px) / 2);
      height: rem(1);
      background-color: var(--monochrome-grey);
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
    @media(min-width: 1024px){
      display: none;
    }
  }

  &__button {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(5);

    @media (min-width: 960px) {
      gap: rem(10);
    }

    & button {
      min-height: rem(50);

      @media (min-width: 1200px) {
        min-height: rem(70);
      }
    }
  }

  &__buttons {
    width: 100%;

    &.active {
      display: grid;
      gap: rem(10);

      @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(20);

        & .booking {
          &__notice {
            grid-row: 1;
            grid-column: span 2;
            width: 100%;
          }
        }
      }
    }
  }

  &__text {
    font-size: rem(12);
    font-weight: 300;
    color: var(--monochrome-dark-grey);

    text-align: center;

    &--conditions {
      margin-top: rem(25);

      @media (min-width: 960px) {
        margin-top: rem(20);
      }

      & a {
        text-decoration: underline;
      }
    }
  }

  &-buttons {
    width: 100%;
  }
  &-contents {
    display: flex;
    flex-direction: column;
    @media(min-width: 1200px){
      margin-top: rem(20);

      flex-direction: row;
      gap: rem(20);
    }
  }
  &-wrapper{
    @media(min-width: 1200px){
      flex: 1 1 50%;
    }
  }
  &-notice {
    width: 100%;
    margin-bottom: rem(10);

    font-size: rem(12);
    font-weight: 400;
    line-height: rem(14);
    text-align: center;

    padding: rem(10);
    color: var(--monochrome-black);
    background-color: var(--monochrome-grey);
    border-radius: rem(8);
    @media(min-width: 1024px){
      display: none;
    }
    &--desck {
      display: none;
      @media(min-width: 1024px){
        display: block;
      }
    }
    &.hide {
      @media (min-width: 1200px) {
        display: none;
      }
    }
  }
  &-wrap {
    display: flex;
    flex-direction: column;
    gap: rem(5);
    .btn {
      min-height: rem(50);

      @media (min-width: 1200px) {
        min-height: rem(70);
      }
    }
  }

  &__passenger {
    display: grid;
    grid-template-columns: rem(163) rem(163);
    gap: rem(20);

    @media (min-width: 960px) {
      grid-template-columns: rem(240) rem(240);
    }
  }

  &__addBtn {
    width: rem(163);
    height: rem(50);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(10);

    border-radius: 8px;
    border: 1px solid var(--monochrome-grey);
    background-color: var(--monochrome-grey);

    & span {
      font-size: rem(12);
      font-weight: 400;
      color: var(--monochrome-black);
    }

    & svg {
      fill: var(--monochrome-dark-grey);
    }

    &--children {
      border: 1px dashed var(--monochrome-dark-grey);
      background-color: transparent;
    }

    @media (min-width: 960px) {
      width: rem(240);
      height: rem(60);

      & span {
        font-size: rem(16);
      }
    }
  }
}
