.comment {
  display: grid;
  gap: rem(15);

  @media (min-width: 960px) {
    gap: rem(10);
  }

  &__title {
    font-size: rem(18);
    font-weight: 400;

    color: var(--monochrome-black);

    @media (min-width: 960px) {
      font-size: rem(24);
    }
  }

  &__text {
    font-size: rem(12);
    font-weight: 300;
    color: var(--monochrome-dark-grey);

    @media (min-width: 960px) {
      font-size: rem(14);
      color: var(--monochrome-black);
    }
  }

  & textarea {
    width: 100%;
    height: rem(120);
    resize: none;
    padding: rem(15);
    border: rem(2) solid transparent;
    background-color: var(--monochrome-light-grey);
    border-radius: rem(8);

    font-size: rem(14);
    font-weight: 300;
    line-height: 150%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--monochrome-dark-grey);
      font-family: "e-Ukraine", sans-serif;
      font-size: rem(14);
      font-weight: 300;
      line-height: 150%;

      @media (min-width: 960px) {
        font-size: rem(16);
      }
    }

    @media (min-width: 960px) {
      margin-top: rem(10);
      height: rem(180);
      font-size: rem(16);
    }
  }
}
