.place {
  display: grid;
  gap: rem(20);

  border: 1px solid var(--accent-color);

  &__head {
    display: flex;
    align-items: center;
    gap: rem(10);
    position: relative;

    width: fit-content;

    & svg {
      cursor: pointer;
      fill: var(--monochrome-grey);
      display: none;

      @media (min-width: 1024px) {
        display: block;
      }
    }
  }

  &__title {
    font-size: rem(18);
    font-weight: 400;
    color: var(--monochrome-black);

    @media (min-width: 1200px) {
      font-size: rem(24);
    }
  }

  &__popup-float {
    position: absolute;
    right: 0;
    top: -30px;

    padding: rem(8);

    font-size: rem(12);
    font-weight: 300;

    background-color: var(--monochrome-white);
    box-shadow: 0px 0px 10px 0px rgba(108, 108, 108, 0.4);
    border-radius: rem(10);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: rem(15);
  }

  &__label {
    font-size: rem(14);
    font-weight: 400;
    color: var(--monochrome-dark-grey);

    @media (min-width: 700px) {
      font-size: rem(16);
    }
  }

  &__block {
    display: grid;
    gap: rem(10);
    overflow: hidden;

    @media (min-width: 700px) {
      grid-template-columns: 65% 35%;
      gap: rem(20);
    }
  }
}
