.animals {
  &__inner {
    display: grid;
    grid-template-columns: 1fr rem(34);
    gap: rem(10);

    @media (min-width: 960px) {
      align-items: center;
    }

    @media (min-width: 1200px) {
      grid-template-columns: 1fr rem(40);
      gap: rem(70);
    }
  }

  &__info {
    display: grid;
    grid-template-columns: rem(25) 1fr;
    gap: rem(10);

    @media (min-width: 960px) {
      align-items: center;
    }

    @media (min-width: 1200px) {
      grid-template-columns: rem(36) 1fr;
      gap: rem(20);
    }
  }

  &__icon {
    width: rem(25);
    height: rem(25);

    @media (min-width: 1200px) {
      width: rem(36);
      height: rem(36);
    }
  }

  &__label {
    font-size: rem(14);
    font-weight: 400;

    color: var(--monochrome-black);

    @media (min-width: 1200px) {
      font-size: rem(16);
    }

    @media (min-width: 1400px) {
      font-size: rem(20);
    }

    @media (min-width: 1600px) {
      font-size: rem(24);
    }
  }

  &__btn {
    width: rem(34);
    height: rem(34);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--monochrome-light-grey);
    overflow: hidden;
    border-radius: 50%;

    & svg {
      width: rem(13);
      height: rem(13);

      fill: var(--monochrome-dark-grey);
    }

    @media (min-width: 1200px) {
      width: rem(40);
      height: rem(40);

      & svg {
        width: rem(16);
        height: rem(16);
      }
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(30);
  }

  &__body {
    margin-top: rem(20);
    display: grid;
    gap: rem(20);

    @media (min-width: 960px) {
      grid-template-columns: rem(100) 1fr;
    }
  }

  &__title {
    font-size: rem(18);
    font-weight: 400;
    color: var(--monochrome-black);

    @media (min-width: 1200px) {
      font-size: rem(24);
    }
  }

  &__button {
    & svg {
      width: rem(24);
      height: rem(24);
    }
  }

  &__warning {
    margin-top: rem(10);
    padding: rem(15);

    background-color: var(--light-yellow-color);
    border-radius: 8px;

    & p {
      font-size: rem(12);
      font-weight: 400;
      line-height: 140%;
      color: var(--monochrome-black);

      & span {
        color: var(--additional-red-color);
      }
    }
  }

  &__checkbox {
    margin-top: rem(15);
    font-size: rem(14);

    @media (min-width: 1200px) {
      margin-top: rem(20);
      font-size: rem(16);
    }
  }

  &__notice {
    margin-top: rem(20);
    padding: rem(20);

    display: grid;
    gap: rem(10);

    background-color: var(--additional-light-red);
    border-radius: 8px;

    & img,
    & svg {
      width: rem(40);
      height: rem(40);
    }

    & svg {
      fill: var(--additional-red-color);
    }

    @media (min-width: 660px) {
      grid-template-columns: rem(40) 1fr;
      gap: rem(20);
    }

    @media (min-width: 1200px) {
      grid-template-columns: rem(50) 1fr;

      & img {
        width: rem(50);
        height: rem(50);
      }
    }
  }

  &__hero {
    display: grid;
    gap: rem(10);
    max-width: rem(531);
  }

  &__subtitle {
    font-size: rem(14);
    font-weight: 400;

    color: var(--monochrome-black);

    @media (min-width: 1200px) {
      font-size: rem(16);
    }
  }

  &__text {
    font-size: rem(12);
    font-weight: 300;
    color: var(--monochrome-black);

    & a {
      font-weight: 400;
    }

    @media (min-width: 1200px) {
      font-size: rem(14);
    }
  }
}
