.cost {
  display: grid;

  @media (min-width: 1024px) {
    gap: rem(20);
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    cursor: pointer;

    transition: padding 0.3s ease-in-out;

    & svg {
      width: rem(24);
      height: rem(24);
      fill: var(--monochrome-dark-grey);
    }

    @media (min-width: 1024px) {
      cursor: auto;
      & svg {
        display: none;
      }
    }
  }

  &__title {
    font-size: rem(18);
    font-weight: 400;
    color: var(--monochrome-black);

    @media (min-width: 1200px) {
      font-size: rem(24);
    }
  }

  &__body {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    border-top: 1px solid transparent;

    @media (min-width: 1024px) {
      grid-template-rows: 1fr;
      padding-top: rem(20);
      border-top: 1px solid var(--monochrome-grey);
    }
  }

  &__inner {
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: rem(15);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  &__item:first-of-type {
    align-items: center;
  }

  &__item,
  &__result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(30);
  }

  &__label {
    font-size: rem(14);
    font-weight: 300;
    line-height: 140%;

    color: var(--monochrome-black);

    &--result {
      font-weight: 400;

      @media (min-width: 1200px) {
        font-weight: 300;
        font-size: rem(20);
        max-width: max-content;
      }
    }

    &--discount {
      max-width: 68%;

      @media (min-width: 1600px) {
        max-width: 80%;
      }
    }

    @media (min-width: 1200px) {
      font-size: rem(16);
    }
  }

  &__price {
    font-size: rem(14);
    font-weight: 400;

    color: var(--monochrome-black);

    @media (min-width: 1200px) {
      font-size: rem(16);
    }

    &--result {
      flex-shrink: 0;
      @media (min-width: 1200px) {
        font-size: rem(20);
      }
    }
  }

  &.open {
    & .cost {
      @media (max-width: 1023px) {
        &__head {
          padding-bottom: rem(15);

          & svg {
            fill: var(--monochrome-black);
            transform: rotate(180deg);
          }
        }

        &__body {
          grid-template-rows: 1fr;
          padding-top: rem(15);
          border-top: 1px solid var(--monochrome-grey);
        }
      }
    }
  }
}
