.flight {
  display: grid;

  @media (min-width: 1024px) {
    gap: rem(20);
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20);

    cursor: pointer;

    transition: padding 0.3s ease-in-out;

    & svg {
      width: rem(24);
      height: rem(24);
      fill: var(--monochrome-dark-grey);
    }

    @media (min-width: 1024px) {
      cursor: auto;
      & svg {
        display: none;
      }
    }
  }

  &__title {
    font-size: rem(18);
    font-weight: 400;
    color: var(--monochrome-black);

    @media (min-width: 1200px) {
      font-size: rem(24);
    }
  }

  &__body {
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    border-top: 1px solid transparent;

    @media (min-width: 1024px) {
      grid-template-rows: 1fr;
      padding-top: rem(20);
      overflow: unset;
    }
  }

  &__inner {
    min-height: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(15);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 15px;
      left: 55px;
      width: 1px;
      height: calc(100% - 50px);
      z-index: var(--ui-index-1);
      background-image: repeating-linear-gradient(
        to bottom,
        #dfdfdf,
        #dfdfdf 3px,
        transparent 5px,
        transparent 5px
      );
    }
  }

  &__item {
    position: relative;
    display: grid;
    grid-template-columns: rem(35) rem(24) 1fr;
    column-gap: rem(8);
  }

  &__transfer {
    position: relative;
    z-index: var(--ui-index-2);
    display: flex;
    align-items: center;
    gap: rem(5);

    grid-column: span 3;

    padding: rem(4) rem(10) rem(4) rem(4);
    max-width: rem(226);

    border-radius: rem(16);
    border: 1px solid var(--accent-color);
    background: var(--monochrome-white);
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(24);
    height: rem(24);

    background-color: var(--accent-color);
    border-radius: 50%;
    overflow: hidden;
  }

  &__icon {
    position: relative;
    z-index: var(--ui-index-2);

    margin-left: auto;
    margin-right: auto;
  }

  &__time {
    // display: grid;
    // grid-template-columns: max(rem(38)) rem(20);
    // gap: rem(6);

    font-size: rem(12);
    font-weight: 400;
    color: var(--monochrome-black);

    & svg {
      width: rem(20);
      height: rem(20);
    }

    & p span {
      color: var(--additional-red-color);
    }
  }

  &__label {
    font-size: rem(14);
    font-weight: 300;

    width: fit-content;

    color: var(--monochrome-black);
    border-bottom: 1px solid var(--monochrome-grey);

    @media (min-width: 1024px) {
      border-bottom: unset;
    }
  }

  &__link {
    position: relative;
    & a {
      width: max-content;
      display: flex;
      align-items: center;

      padding: rem(5);

      font-size: rem(12);
      font-weight: 300;

      color: var(--monochrome-dark-grey);
      background-color: var(--monochrome-light-grey);
      border-radius: rem(17);

      & svg {
        margin-left: rem(5);
        fill: var(--monochrome-dark-grey);
      }

      @media (min-width: 1024px) {
        font-size: rem(11);
        font-weight: 400;
      }
    }
  }

  &__select {
    position: relative;
    z-index: var(--ui-index-2);
    grid-column: span 2;

    @media (min-width: 1024px) {
      display: flex;
      align-items: center;
      gap: rem(10);
    }
  }

  &__address {
    font-size: rem(12);
    font-weight: 300;

    color: var(--monochrome-dark-grey);
    border-bottom: 1px solid var(--monochrome-grey);

    @media (min-width: 1024px) {
      border-bottom: unset;
    }
  }

  &__notice {
    margin-top: rem(15);

    font-size: rem(12);
    font-weight: 300;
    line-height: 140%;

    color: var(--monochrome-black);

    & span {
      color: var(--additional-red-color);
    }
  }

  &__popup {
    display: none;
    cursor: pointer;

    & svg {
      width: rem(20);
      height: rem(20);
      fill: var(--monochrome-dark-white);
    }

    @media (min-width: 1024px) {
      display: block;
    }

    &--warning {
      & svg {
        fill: var(--additional-red-color);
      }
    }
  }

  &__popup-float {
    max-width: rem(300);
    display: none;
    position: absolute;
    right: 0;
    top: -29px;

    padding: rem(8);

    font-size: rem(12);
    font-weight: 300;

    background-color: var(--monochrome-white);
    box-shadow: 0px 0px 10px 0px rgba(108, 108, 108, 0.4);
    border-radius: rem(10);

    @media (min-width: 1024px) {
      display: block;
    }

    &--warning {
      z-index: var(--ui-index-2);
      right: unset;
      top: -38px;
    }

    &--choosePlace {
      top: -60px;
    }
  }

  &__iconChoose {
    display: none;

    @media (min-width: 1024px) {
      display: unset;
    }
  }

  &__warning {
    max-width: rem(445);
    margin-top: rem(10);
    padding: rem(10);
    display: flex;
    gap: rem(4);

    background-color: var(--monochrome-grey);
    border-radius: rem(8);

    & p {
      font-size: rem(12);
      font-weight: 400;
      color: var(--monochrome-black);
    }

    & svg {
      fill: var(--monochrome-dark-grey);
    }

    @media (min-width: 1024px) {
      display: none;
    }

    &--select {
      max-width: rem(600);
    }
  }

  &__info {
    grid-column: 3;
    grid-row: 1;
  }

  &.open {
    & .flight {
      @media (max-width: 1023px) {
        &__head {
          padding-bottom: rem(15);

          & svg {
            fill: var(--monochrome-black);
            transform: rotate(180deg);
          }
        }

        &__body {
          grid-template-rows: 1fr;
          padding-top: rem(15);
          border-top: 1px solid var(--monochrome-grey);
          overflow: unset;
        }
      }
    }
  }

  &.warning {
    @media (min-width: 1024px) {
      & .flight {
        &__item {
          grid-template-columns: rem(60) rem(24) 1fr;
          align-items: center;
        }

        &__time {
          align-items: center;
          display: grid;
          grid-template-columns: max(rem(38)) rem(20);
          gap: rem(6);
        }

        &__list {
          &::after {
            left: 80px;
            top: 25px;
          }
        }
      }
    }
  }

  &--route {
    &.box {
      padding: 0;
      border-radius: 0;
      background-color: unset;
      box-shadow: unset;
    }

    & .flight {
      &__head {
        display: none;
      }

      &__body {
        grid-template-rows: 1fr;
        @media (min-width: 1024px) {
          padding-top: 0;
        }
      }

      &__popup-float {
        max-width: rem(450);
        left: 0;
        top: -28px;
      }
    }
  }
}
