.stages {
  box-shadow: none;

  &__notice {
    padding: rem(10);

    font-size: rem(12);
    font-weight: 400;
    text-align: center;

    color: var(--green-color);
    border-radius: rem(7);
    background-color: var(--light-green-color);
  }

  &__block {
    margin-top: rem(10);

    display: flex;
    flex-direction: column;
    gap: rem(10);

    @media (min-width: 1200px) {
      margin-top: rem(20);
    }
  }

  &__decorate {
    display: grid;
    grid-template-columns: 15px 1fr 15px 1fr 15px;
    gap: rem(5);
    align-items: center;
    width: calc(100% - 70px);
    margin: auto;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(32);
  }

  &__item {
    &:nth-child(2) {
      & p {
        max-width: rem(82);
        color: var(--monochrome-black);

        @media (min-width: 415px) {
          max-width: 100%;
        }
      }
    }
  }

  &__text {
    font-size: rem(12);
    font-weight: 400;
    text-align: center;

    color: var(--monochrome-dark-grey);

    @media (min-width: 1200px) {
      font-size: rem(16);
    }
  }

  &__round {
    display: block;

    width: rem(15);
    height: rem(15);

    border-radius: 50%;
    overflow: hidden;

    background-color: var(--light-yellow-color);

    &:nth-child(1) {
      background-color: var(--additional-dark-yellow);
    }

    &:nth-child(3) {
      background-color: var(--accent-color);
    }
  }

  &__line {
    width: 100%;
    height: rem(1);

    background-color: var(--monochrome-grey);

    &:nth-child(2) {
      background-color: var(--accent-color);
    }
  }

  &--confirmed {
    & .stages {
      &__item {
        &:nth-child(2) {
          & p {
            color: var(--monochrome-dark-grey);
          }
        }
        &:nth-child(3) {
          & p {
            color: var(--monochrome-black);
          }
        }
      }

      &__round {
        &:nth-child(1) {
          background-color: var(--additional-dark-yellow);
        }

        &:nth-child(3) {
          background-color: var(--additional-dark-yellow);
        }

        &:nth-child(5) {
          background-color: var(--accent-color);
        }
      }

      &__line {
        background-color: var(--accent-color);
      }
    }
  }
}
