.notice {
  display: grid;
  grid-template-columns: rem(45) 1fr;
  gap: rem(10);

  padding: rem(15);

  border-radius: 8px;
  background-color: var(--monochrome-grey);

  & svg {
    width: rem(45);
    height: rem(45);
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: rem(5);
  }

  &__title {
    font-size: rem(14);
    font-weight: 400;

    color: var(--monochrome-black);

    @media (min-width: 960px) {
      font-size: rem(16);
    }

    @media (min-width: 1200px) {
      font-size: rem(20);
    }
  }

  &__text {
    font-size: rem(12);
    font-weight: 300;

    color: var(--monochrome-black);

    @media (min-width: 960px) {
      font-size: rem(14);
    }

    @media (min-width: 1200px) {
      font-size: rem(16);
    }
  }
}
