.passengers {
  &__wrapper {
    display: grid;
    gap: rem(10);

    margin-top: rem(15);

    @media (min-width: 500px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 700px) {
      margin-top: rem(20);

      grid-template-columns: repeat(6, 1fr);
      gap: rem(20);
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(30);
    min-height: 24px;
  }

  &__title {
    font-size: rem(18);
    font-weight: 400;

    color: var(--monochrome-black);
  }

  &__label {
    // grid-column: span 2;
    margin-top: rem(5);

    font-size: rem(16);
    font-weight: 400;

    color: var(--monochrome-black);

    @media (min-width: 500px) {
      display: none;
    }
  }

  &__button {
    & svg {
      width: rem(24);
      height: rem(24);
    }
  }

  &__block {
    display: flex;
    align-items: center;
    gap: rem(10);

    position: relative;

    & svg {
      cursor: pointer;
      fill: var(--monochrome-dark-white);
    }
    @media (min-width: 700px) {
      grid-column: span 3;
    }
    // &:nth-child(1) {
    //   grid-column-start: 1;
    //   grid-column-end: 4;
    // }

    // &:nth-child(2) {
    //   grid-column-start: 4;
    //   grid-column-end: 7;
    // }
  }

  &__popup {
    display: none;

    @media (min-width: 500px) {
      display: unset;
    }
  }

  &__popup-float {
    position: absolute;
    right: 0;
    top: -18px;

    padding: rem(8);

    font-size: rem(12);
    font-weight: 300;

    background-color: var(--monochrome-white);
    box-shadow: 0px 0px 10px 0px rgba(108, 108, 108, 0.4);
    border-radius: rem(10);
  }

  &__select {
    // width: 100%;
    // max-width: rem(316);
    height: rem(54);

    @media (min-width: 700px) {
      grid-column: span 2;
    }
  }

  &__input,
  &__group {
    @media (min-width: 700px) {
      grid-column: span 2;
    }
  }

  &__warning {
    padding: rem(10);

    border-radius: 8px;
    background: var(--light-yellow-color);

    @media (min-width: 500px) {
      grid-column: span 2;
    }

    @media (min-width: 700px) {
      padding: rem(15);
      grid-column: span 6;
    }

    & p {
      max-width: rem(620);
      font-size: rem(12);
      font-weight: 300;

      color: var(--monochrome-black);

      @media (min-width: 700px) {
        font-weight: 400;
      }
    }
  }

  &__checkbox {
    font-size: rem(14);
    @media (min-width: 500px) {
      grid-column: span 2;
    }

    @media (min-width: 700px) {
      grid-column: span 6;
    }
  }

  &__story {
    padding: rem(10);
    display: grid;
    grid-template-columns: rem(20) 1fr;
    gap: rem(4);

    background-color: var(--monochrome-light-grey);
    border-radius: rem(8);

    // grid-column: span 2;

    & p {
      font-size: rem(12);
      font-weight: 400;
      color: var(--monochrome-black);
    }

    & svg {
      fill: var(--monochrome-dark-grey);
    }

    @media (min-width: 500px) {
      display: none;
    }
  }
}
