.contacts {
  display: flex;
  flex-direction: column;
  gap: rem(20);

  @media (min-width: 750px) {
    gap: rem(30);
  }

  &__top,
  &__inner,
  &__fields,
  &__field {
    display: flex;
    flex-direction: column;
  }

  &__field {
    &:not(:first-of-type) {
      display: block;
      height: rem(55);
    }
  }

  &__top {
    padding-bottom: rem(20);
    border-bottom: 1px solid var(--monochrome-grey);

    @media (min-width: 750px) {
      padding-bottom: rem(30);
    }
  }

  &__head {
    @media (min-width: 750px) {
      position: relative;
      display: flex;
      align-items: center;
      gap: 7px;
    }
  }

  &__fields {
    margin-top: rem(15);
    gap: rem(15);

    @media (min-width: 750px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: rem(20);
    }
  }

  &-socials {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: rem(15) rem(20);
    margin-top: rem(20);

    & .app-input-box {
      margin-top: rem(10);
    }
  }
  &-social {
    width: 100%;
    max-width: rem(305);
    @media(min-width: 992px){
      max-width: rem(246);
    }
  }
  &__checkbox {
    &:not(:first-of-type) {
      margin-top: rem(20);
    }

    @media (min-width: 960px) {
      &:not(:first-of-type) {
        margin-top: rem(0);
      }

      &--same {
        grid-column: span 3;
      }
    }
  }

  &__checkInput {
    max-width: rem(450);

    @media (min-width: 960px) {
      grid-row-start: 2;
    }

    &.viber {
      grid-column: 1;
    }

    &.whatsapp {
      grid-column: 2;
    }

    &.telegram {
      grid-column: 3;
    }
  }

  &__title {
    font-size: rem(18);
    font-weight: 400;
    color: var(--monochrome-black);

    @media (min-width: 750px) {
      display: flex;
      gap: rem(10);

      & svg {
        cursor: pointer;

        &:hover {
          &.contacts__remark {
            display: block;
          }
        }
      }
    }

    @media (min-width: 1200px) {
      font-size: rem(24);
    }
  }

  &__text,
  &__remark {
    margin-top: rem(10);
    font-size: rem(12);
    font-weight: 300;
    color: var(--monochrome-dark-grey);
  }

  &__remark {
    @media (min-width: 750px) {
      max-width: rem(700);
      position: absolute;
      top: -35px;
      left: 0;
      padding: rem(8);
      background-color: var(--monochrome-white);
      border-radius: 8px;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
      margin-top: 0;

      color: var(--monochrome-black);
    }
  }

  &__radioes {
    display: flex;
    align-items: center;
    gap: rem(20);

    margin-top: rem(15);

    @media (min-width: 750px) {
      margin-top: rem(20);
    }
  }

  &__radio {
    max-width: rem(450);
    margin-top: rem(15);
  }
}
