.unconfirmed {
  margin: auto;
  padding-top: rem(175);

  max-width: rem(636);

  @media (min-width: 1200px) {
    padding-top: rem(225);
  }

  &__wrapper,
  &__head,
  &__block {
    display: grid;
    align-items: center;
  }

  &__wrapper {
    gap: rem(30);
  }

  &__head {
    gap: rem(20);

    @media (min-width: 1200px) {
      gap: rem(25);
    }
  }

  &__block {
    gap: rem(15);
  }

  &__title {
    text-align: center;
  }

  &__text {
    font-size: rem(14);
    font-weight: 300;
    line-height: 140%;

    text-align: center;
    color: var(--monochrome-black);

    & span {
      font-weight: 400;
    }

    @media (min-width: 1200px) {
      font-size: rem(16);
      line-height: 150%;
    }
  }

  &__submit-btn {
    margin: auto;
    max-width: rem(345);
    width: 100%;
    min-height: rem(50);

    font-size: rem(12);
    font-weight: 400;

    gap: rem(10);

    @media (min-width: 1200px) {
      font-size: rem(16);
      max-width: rem(560);
      min-height: rem(70);
    }
  }

  &__btn {
    max-width: rem(160);

    margin: auto;

    font-size: rem(12);
    font-weight: 300;

    color: var(--monochrome-dark-grey);
    border-bottom: 1px solid var(--monochrome-grey);
    padding-bottom: rem(1);

    @media (min-width: 1200px) {
      font-size: rem(16);
      max-width: rem(210);
    }
  }
}
