.app-button-back {
  display: flex;
  align-items: center;
  gap: rem(15);
  cursor: pointer;
  max-width: max-content;
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(50);
    height: rem(50);
    border-radius: 50%;
    border: 1px solid var(--monochrome-black);
    transition: all 0.3s ease;

  }

  @media (any-hover: hover) {
    &:hover {
      .app-button-back__btn {
        transition: all 0.3s ease;
        border-color: var(--accent-color);

        & svg {
          fill: var(--accent-color);
        }
      }
    }
  }
}
