.app-constructor {
  &__input {
    &-box {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: rem(54);
      border-radius: rem(8);
      background-color: var(--monochrome-light-grey);
      border: 1px solid transparent;
      transition: border-color 0.3s ease-in-out;

      &.currencies__exchange-input {
        .app-constructor__input-field {
          padding: rem(15) rem(57) rem(15) rem(15);
        }
      }

      &.invalid {
        border-color: var(--additional-red);

        // &:focus + label,
        // &:not(:placeholder-shown) + label {
        //   transform: translateY(-20px) scale(0.6);
        // }
      }
    }

    &-field {
      align-self: stretch;
      width: 100%;
      // min-height: rem(54);
      padding: rem(15) rem(35) rem(15) rem(15);
      font-weight: 300;
      border: 2px solid transparent;
      border-radius: rem(8);
      background: transparent;
      outline: transparent;
      transition: border-color 0.2s ease-in-out;

      &.disabled::placeholder {
        color: var(--disabled-field-color);
      }

      &:focus {
        border-color: var(--monochrome-dark-grey);
      }
    }

    &-label {
      position: absolute;
      top: 50%;
      right: rem(15);
      font-weight: 300;
      color: var(--monochrome-dark-grey);
      transform: translateY(-50%);
      pointer-events: none;
    }
  }
}

// .app-input {
//   &:focus + label,
//   &:not(:placeholder-shown) + label {
//     transform: translateY(-20px) scale(0.6);
//   }

//   &-wrapper {
//     &.error {
//       border: 1px solid var(--additional-red);

//       .app-input,
//       .app-input__label {
//         color: var(--additional-red);
//       }
//     }
//   }
// }

// .error-info {
//   position: absolute;
//   left: 0;
//   top: calc(100% + 5px);
//   font-size: 12px;
//   font-weight: 300;
//   color: var(--additional-red);
// }
