.fancybox__slide .has-image .is-selected .is-done {
  & .fancy__content {
    width: 345px;
    height: 215px;
  }
}
.f-thumbs__slide .for-image .is-selected .f-thumbs__slide__button {
  border: 5px solid var(--monochrome-white);
}
