//.tabs {
//  &-list {
//    position: relative;
//    display: flex;
//
//    padding: rem(5);
//
//    width: 100%;
//    max-width: max-content;
//
//    background: var(--monochrome-light-grey);
//    border-radius: rem(34);
//
//    &--header {
//      max-width: rem(115);
//
//      & .tabs {
//        &-btn {
//          padding: rem(8) rem(12);
//        }
//        &__active {
//          padding: rem(8) rem(12);
//        }
//      }
//    }
//
//    &--popular {
//      background: var(--monochrome-white);
//      @media (min-width: 1200px) {
//        padding: rem(10);
//      }
//
//      & .tabs {
//        &-btn {
//          font-size: rem(12);
//          padding: rem(8) rem(8);
//
//          @media (min-width: 960px) {
//            font-size: rem(16);
//          }
//
//          @media (min-width: 1200px) {
//            font-size: rem(20);
//            padding: rem(17) rem(34);
//          }
//        }
//
//        &__active {
//          padding: rem(8) rem(8);
//
//          @media (min-width: 1200px) {
//            padding: rem(17) rem(34);
//          }
//        }
//      }
//    }
//  }
//
//  &-btn {
//    position: relative;
//    z-index: var(--ui-index-2);
//    padding: rem(8.5) rem(24);
//
//    font-size: rem(14);
//    font-weight: 300;
//    line-height: rem(20);
//
//    color: var(--monochrome-dark-grey);
//
//    &--active {
//      color: var(--monochrome-black);
//    }
//  }
//
//  &__active {
//    position: absolute;
//    top: 50%;
//    left: 0;
//    z-index: var(--ui-index-1);
//
//    padding: rem(8.5) rem(24);
//
//    opacity: 0;
//    border-radius: rem(30);
//    background: var(--accent-color);
//    transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1),
//      width 0.4s cubic-bezier(0.86, 0, 0.07, 1),
//      -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
//    animation: show 0.5s forwards;
//    animation-delay: 200ms;
//    will-change: width, transform;
//    pointer-events: none;
//  }
//}
//@keyframes show {
//  0% {
//    opacity: 0;
//  }
//  100% {
//    opacity: 1;
//  }
//}
