.select {
  position: relative;
  display: flex;
  width: 100%;
  align-self: stretch;
  border-radius: rem(8);
  background-color: var(--monochrome-light-grey);

  &__search {
    &-input {
      max-width: 95%;
      margin: 0 auto rem(10);
    }

    &-not-found {
      display: grid;
      place-items: center;
      height: rem(70);
    }
  }

  &__check {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__svg {
    flex-shrink: 0;
    width: rem(18);
    height: rem(18);
    transition: 0.2s ease;
  }

  &__icon {
    width: rem(24);
    height: rem(24);
  }

  &__result {
    position: relative;
  }

  &__recent {
    position: relative;
    padding: rem(45) rem(20) rem(30);
    padding-bottom: rem(15);

    &::before {
      content: "";
      position: absolute;
      left: rem(20);
      right: rem(20);
      top: rem(15);
      height: rem(1);
      background-color: grey;
    }

    .select__item {
      border-radius: rem(5);
      background-color: rgba(var(--monochrome-light-grey), 0.4);

      &:not(:last-child) {
        margin-bottom: rem(10);
      }
    }

    .select__option {
    }
  }

  &__title {
    margin-bottom: rem(16);
    color: var(--monochrome-black);
  }

  &__field {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 0;
    // max-width: rem(286);
    white-space: nowrap;
    text-overflow: ellipsis;

    // display: -webkit-box;
    // -webkit-line-clamp: 4;
    // -webkit-box-orient: vertical;
    // overflow-y: hidden;
  }

  &__chosen {
    overflow: hidden;
    min-width: 0;
    max-width: 100%;
    // white-space: normal;
    white-space: pre-wrap;
    max-height: rem(20);

    text-overflow: ellipsis;
  }

  &__choosen {
  }

  &.active {
    .select__dropdown {
      opacity: 1;
      visibility: visible;
    }

    .select__toggle {
      // border-color: var(--monochrome-dark-grey);
    }

    .select__backdrop {
      display: block;
    }

    .select__svg {
      transform: scale(1, -1);
    }
  }

  &--long {
    grid-column: 2 span;
  }

  &--error {
    &::before {
      content: attr(data-error);
      position: absolute;
      right: rem(5);
      top: calc(100% + rem(5));
      color: red;
      animation: show-error 0.2s ease forwards;
    }

    .select__text {
      color: red;
    }

    .select__toggle {
      border-color: red;
    }

    .select__toggle svg {
      fill: red;
    }

    &.select--chosen .select__chosen {
      color: red;
    }
  }

  &--chosen {
    .select__toggle {
      padding: rem(14) rem(20);
    }

    .select__text {
      margin-bottom: rem(4);
    }

    .select__chosen {
      color: var(--monochrome-black);
    }
  }

  &.disabled {
    // user-select: none;
    // pointer-events: none;

    .select__toggle {
      cursor: not-allowed;
      font-size: 14px;
      color: var(--monochrome-dark-grey);

      @media (min-width: 1200px) {
        font-size: 16px;
      }
    }
  }

  &.choose {
    & .select {
      &__text {
        font-size: rem(12);
      }
    }
  }
}

.select__toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  outline: none;
  border: rem(1) solid transparent;
  border-radius: rem(8);
  padding: rem(15);
  min-height: rem(54);
  // max-width: rem(286);

  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-align: left;
  transition: 0.1s ease;
  cursor: pointer;

  &.bgc-grey {
    background-color: var(--monochrome-light-grey);
  }

  &.bgc-white {
    background-color: var(--monochrome-white);
  }

  svg {
    width: rem(24);
    height: rem(24);
    fill: var(--monochrome-black);
  }
}

.select__text {
  font-size: rem(14);
  color: var(--monochrome-dark-grey);
  font-weight: 300;

  @media (min-width: 1200px) {
    font-size: rem(16);
  }

  &.select__choosen {
    color: var(--monochrome-black);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.select__dropdown {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100% + rem(6));
  z-index: var(--ui-index-2);
  overflow: hidden;
  border-radius: rem(8);
  padding: rem(15) 0;
  min-width: rem(130);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.25s ease;
}

.select__options {
  list-style: none;
  margin: 0;

  &[data-simplebar] {
    max-height: rem(180);
  }

  &--empty {
    display: grid;
    place-content: center;
    padding: 30px;
  }
}

.select__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: rem(15) rem(20);
  min-width: 0;
  max-width: 100%;

  font-weight: 300;
  line-height: 150%;
  // white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  color: var(--monochrome-black);
  transition: 0.1s ease;
  cursor: pointer;

  svg {
    flex-shrink: 0;
  }
  &.active {
    font-weight: 500;
    background-color: var(--monochrome-light-grey);
    gap: rem(10);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--monochrome-light-grey);
    }
  }
}

@keyframes show-error {
  from {
    opacity: 0;
    transform: translateX(rem(20));
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
