.app-input {
  align-self: stretch;
  width: 100%;
  padding: rem(20) rem(15) rem(10) rem(15);
  font-weight: 300;
  border: rem(2) solid transparent;
  border-radius: rem(8);
  outline: transparent;
  transition: border-color 0.2s ease-in-out;
  background-color: var(--monochrome-light-grey);

  cursor: pointer;

  &:focus + label,
  &:not(:placeholder-shown) + label {
    transform: translateY(-22px) scale(0.6);
  }

  &__label {
    position: absolute;
    top: 50%;
    left: rem(15);
    font-weight: 300;
    color: var(--monochrome-dark-grey);
    transform: translateY(-50%);
    pointer-events: none;
    transition: 300ms ease;
    transform-origin: left;
    display: flex;
    align-items: center;
    gap: rem(5);
    font-size: rem(14);

    & svg {
      width: rem(20);
      height: rem(20);
    }

    @media (min-width: 1200px) {
      font-size: rem(18);
    }

    @media (min-width: 1600px) {
      font-size: rem(20);
      gap: rem(10);

      & svg {
        width: rem(24);
        height: rem(24);
      }
    }
  }

  &-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: rem(54);
    border-radius: rem(8);
    height: 100%;
    z-index: var(--ui-index-2);
    border: rem(1) solid transparent;

    &.invalid {
      border-color: var(--additional-red-color);
    }

    &.error {
      & .app-input {
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
      }
    }

    &--child {
      & .app-input {
        background-color: var(--monochrome-light-grey);

        &__label {
          flex-direction: row-reverse;
          @media (min-width: 1200px) {
            font-size: rem(16);
          }
        }
      }
    }

    &--animal {
      & .app-input {
        background-color: var(--monochrome-light-grey);

        &__label {
          @media (min-width: 1200px) {
            font-size: rem(16);
          }
        }
      }
    }

    &--booking {
      & .app-input {
        &__label {
          @media (min-width: 1200px) {
            font-size: rem(16);
          }

          @media (min-width: 1600px) {
            font-size: rem(16);
          }
        }
      }
    }

    &--place {
      height: unset;
      display: block;
      margin-bottom: rem(20);
      @media (min-width: 845px) {
        display: none;
      }
    }

    &--header {
      height: unset;

      & .app-input {
        background-color: var(--monochrome-white);
        padding-top: rem(25);
        padding-bottom: rem(13);
        height: 100%;
        max-height: rem(60);
        @media (min-width: 1200px) {
          padding: rem(42) rem(20) rem(14);
          max-height: rem(80);

          &__label {
            left: rem(22);
          }
        }
      }

      @media (min-width: 1200px) {
        min-height: unset;
        height: 100%;
      }

      &-from {
        @media (min-width: 1200px) {
          border-top-left-radius: rem(8);
          border-bottom-left-radius: rem(8);
        }
      }

      &-to {
        @media (min-width: 1200px) {
          & .app-input {
            padding-left: rem(42);

            &__label {
              left: rem(42);
            }
          }
        }
      }
    }

    &--passenger {
      @media (min-width: 1200px) {
        padding-right: rem(246);
      }
    }

    &--form {
      min-height: rem(60);

      & .app-input {
        background-color: var(--monochrome-white);
      }
    }

    &--contacts {
      min-height: rem(54);
      max-height: rem(54);
      height: 100%;

      & .app-input {
        &__label {
          @media (min-width: 1200px) {
            font-size: rem(16);
          }

          @media (min-width: 1600px) {
            font-size: rem(16);
          }
        }
      }
    }

    &.up {
      & .app-input__label {
        transform: translateY(-22px) scale(0.6);
      }
    }

    &--cabinet {
      & .app-input {
        &__label {
          @media(min-width: 1200px) {
            font-size: rem(16);
            line-height: rem(24);
          }
        }
      }
    }

    &--modal {
      & .app-input {
        &__label {
          font-size: rem(16);
          line-height: rem(24);
        }

        &__icon {
          cursor: pointer;
          transition: 0.3s ease;
          color: var(--monochrome-dark-grey);
          @media(any-hover: hover) {
            &:hover {
              transition: 0.3s ease;
              color: var(--accent-color);
            }
          }
        }
      }
    }
  }

  &__icon {
    position: absolute;
    top: rem(15);
    right: rem(15);
    width: rem(24);
    height: rem(24);
  }
}

.error-info {
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  font-size: rem(12);
  font-weight: 300;
  color: var(--additional-red-color);
  bottom: rem(20);
}
