.breadcrumb {
  margin-bottom: rem(20);
  &-list {
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    &:not(:last-child):after{
      content: '/';
      display: inline-block;
      font-size: rem(14);
      line-height: rem(20);
      color: var(--monochrome-dark-grey);
      margin: 0 rem(5);
    }
  }
  &-link {
    font-size: rem(14);
    font-weight: 300;
    line-height: rem(20);
    color: var(--monochrome-dark-grey);
    &.active {
      color: var(--additional-dark-yellow);
    }

  }
}