.tabs {
  &-list {
    display: flex;
    align-items: center;
    padding: rem(5);
    border-radius: rem(34);
    width: 100%;
    max-width: max-content;
    &.lang {
      display: none;
     .tabs-btn {
        padding: rem(5) rem(8);
      }
      @media (min-width: 760px) {
        margin-left: rem(30);
        display: flex;
      }
    }
    &.details {
      margin-bottom: rem(20);
     .tabs-btn {
        padding: rem(8.5) rem(20.5);
      }
    }
    &.popular {
      margin-bottom: rem(30);
      @media(min-width: 768px){
        margin-bottom: rem(50);
      }
      .tabs-btn {
        font-size: rem(12);
        font-weight: 300;
        line-height: rem(14);

        padding: rem(8) rem(10);
        @media(min-width: 768px){
          font-size: rem(20);
          line-height: rem(24);

          padding: rem(15) rem(30);
        }
      }
    }
    &--grey {
      background: var(--monochrome-light-grey);
    }
    &--white {
      background: var(--monochrome-white);
    }
  }
  &-item {

  }
  &-btn {
    border-radius: rem(30);
    padding: rem(8) rem(10);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;

    font-size: rem(14);
    font-weight: 300;
    line-height: rem(20);
    &.active{
      color: var(--monochrome-black);
      background: var(--accent-color);
      transition: all 0.3s ease;
    }
    @media(any-hover: hover){
      &:hover {
        padding: rem(8) rem(10);
        background: rgba(255, 206, 31, 0.5);
      }
    }
  }
}