<template>
  <SearchModalLayout class="search__modal--passengers">
    <!-- adults -->
    <ModalItem
      passenger-type="Дорослий"
      hint="Від 18 років"
      :counter="adults.count"
      @on-passenger-add="onAdultPassengerAdd"
      @on-passenger-remove="onAdultPassengerRemove"
    />
    <!-- children -->
    <ModalItem
      passenger-type="Дитина"
      pop-up="Необхідно ввести вік"
      hint="Від 0 до 18 років"
      :counter="children.ages.length"
      @on-passenger-add="onChildPassengerAdd"
      @on-passenger-remove="onChildPassengerRemove"
    >
      <div v-if="showChildInputs" class="block__inputs-child">
        <AppInput
          class="app-input-box--child"
          v-for="(child, i) in children.ages"
          type="number"
          :key="i"
          :placeholder="`Вік дитини ${i + 1}`"
          v-model.number="child.age"
          @update:model-value="onPassengerDataUpdate"
        />
      </div>
    </ModalItem>
    <!-- animals -->
    <ModalItem
      passenger-type="Тварина"
      pop-up="Необхідно додати інформацію про вагу"
      :counter="animals.weights.length"
      @on-passenger-add="onAnimalPassengerAdd"
      @on-passenger-remove="onAnimalPassengerRemove"
    >
      <div v-if="showAnimalsInputs" class="block__inputs-child">
        <!-- :style="{ 'row-gap': hasError ? '25px' : '15px' }" -->
        <div
          class="block__inputs-inner"
          v-for="(animal, i) in animals.weights"
          :key="i"
        >
          <h3>Тварина {{ i + 1 }}</h3>
          <AppInput
            class="app-input-box--animal"
            type="number"
            :placeholder="`Вага тварини ${i + 1}`"
            v-model.number="animal.weight"
            @update:model-value="onPassengerDataUpdate"
          />
        </div>
      </div>
    </ModalItem>

    <!-- only mobile devices -->
    <AppButton
      button-style="default-gold"
      text="Продовжити"
      @click="onSubmitPassengers"
    />
  </SearchModalLayout>
</template>

<script setup lang="ts">
// Components
import SearchModalLayout from "~/components/App/Search/SearchModalLayout.vue"
import AppButton from "~/components/UI/AppButton.vue"
import AppInput from "~/components/UI/AppInput.vue"
import ModalItem from "~/components/App/Search/PassengersModalItem.vue"

// Constants
import { QUERY_KEY } from "~/constants/trips"

// Composables
// const route = useRoute()

// Store
import { useTripsStore } from "~/stores/trips"

const tripsStore = useTripsStore()

// Store data
const { adults, animals, children } = toRefs(tripsStore.search.passengers)
const { fetchQuery, validationErrors } = toRefs(tripsStore)

// Local data
const emit = defineEmits<{
  (e: "on-confirm"): void
}>()

// Computed data
const showChildInputs = computed(() => {
  return !!children.value.ages.length
})
const showAnimalsInputs = computed(() => {
  return !!animals.value.weights.length
})

// Methods
function onPassengerDataUpdate() {
  validationErrors.value.passengers = false
}

// -- adults
function onAdultPassengerAdd() {
  adults.value.count += 1
}
function onAdultPassengerRemove() {
  if (adults.value.count === 1) return

  adults.value.count -= 1

  // if (!adults.value.count) {
  //   fetchQuery.value[QUERY_KEY.PASSENGERS].adults.count = undefined

  //   return
  // }
}
// -- childrens
function onChildPassengerAdd() {
  children.value.ages.push({ age: 0 })
}
function onChildPassengerRemove() {
  if (children.value.ages.length === 0) return

  children.value.ages.pop()

  // reset query children
  if (children.value.ages.length === 0) {
    fetchQuery.value[QUERY_KEY.PASSENGERS].children = {
      count: undefined,
      ages: [],
    }

    return
  }
}
// -- animals
function onAnimalPassengerAdd() {
  animals.value.weights.push({ weight: 0 })
}
function onAnimalPassengerRemove() {
  if (animals.value.weights.length === 0) return

  animals.value.weights.pop()

  // reset query animals
  if (animals.value.weights.length === 0) {
    fetchQuery.value[QUERY_KEY.PASSENGERS].animals = {
      count: undefined,
      weights: [],
    }

    return
  }
}

function onSubmitPassengers() {
  emit("on-confirm")
}
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/header/passengers-modal.scss";

.default-gold {
  margin-top: auto;

  @media (min-width: em(850)) {
    display: none;
  }
}
</style>
