<template>
  <div class="block" :class="className">
    <div class="block__info">
      <div class="block__title">
        <span class="block__title-text">
          {{ passengerType }}
        </span>
        <AppTooltip
          v-if="popUp"
          class="tooltip--desktop"
          tooltip-background="transparent"
          icon-name="SearchHint"
          icon-color="var(--monochrome-grey)"
          icon-size="20"
          :text="popUp"
        />
      </div>
      <div v-if="hint" class="block__hint">
        {{ hint }}
      </div>
    </div>
    <div class="block__counters">
      <div :class="{ forbidden: isDisabledCounter }">
        <button
          aria-label="Decrease amount of passengers"
          type="button"
          class="block__btn block__btn--decrease"
          :class="{ disabled: isDisabledCounter }"
          :disabled="isDisabledCounter"
          @click="$emit('on-passenger-remove')"
        >
          <Icon name="SocialMinus" />
        </button>
      </div>
      <span class="block__counter">
        {{ counter }}
      </span>
      <button
        aria-label="Increase amount of passengers"
        type="button"
        class="block__btn block__btn--increase"
        @click="$emit('on-passenger-add')"
      >
        <Icon name="SocialPlus" />
      </button>
    </div>
  </div>
  <slot />
</template>

<script setup lang="ts">
// Components
import AppTooltip from "~/components/UI/AppTooltip.vue"

// Data
const props = defineProps<{
  passengerType: string
  className?: string
  counter: number
  popUp?: string | undefined
  hint?: string | undefined
}>()

defineEmits<{
  (e: "on-passenger-remove"): void
  (e: "on-passenger-add"): void
}>()

const showPopup = ref<boolean>(false)

// Computed data
const isDisabledCounter = computed(() => {
  if (props.passengerType === "Дорослий" && props.counter === 1) return true
  return props.counter === 0
})
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/header/passengers-modal.scss";
</style>
