<template>
  <SearchModalLayout class="search__modal--place">
    <AppInput
      class="app-input-box--place"
      icon-left="SocialLocal"
      icon-right="SocialSearch"
      :model-value="searchQuery"
      :placeholder="inputLabel"
      @update:model-value="onSearchInput"
    />
    <div class="search__modal-loader" v-if="pending">
      <AppLoaderSmall />
    </div>
    <div v-else>
      <div v-if="recentlySearched?.length" class="search__modal--place-after">
        <h3>Раніше ви шукали</h3>
        <ul>
          <li
            v-for="(recent, i) in recentlySearched"
            :key="`${recent.name}-${i}`"
            @click="selectCity(recent)"
          >
            <span>{{ recent.name }} </span>,
            <span>{{ recent.countryName }}</span>
          </li>
        </ul>
      </div>

      <div v-if="searchQuery" class="search__modal-results">
        <h3>{{ searchPlaceholderText }}</h3>
        <ul>
          <li
            v-for="(city, i) in cities"
            :key="`${city.name}-${i}`"
            @click="selectCity(city)"
          >
            <span>{{ city.name }} </span>,
            <span>{{ city.countryName }}</span>
          </li>
        </ul>
      </div>

      <div v-else class="search__modal-popular-directions">
        <h3>Популярні напрямки</h3>
        <ul v-if="popularDirections">
          <li
            v-for="(direction, i) in popularDirections"
            :key="`${direction.name}-${i}`"
            @click="selectCity(direction)"
          >
            <span>{{ direction.name }} </span>,
            <span>{{ direction.countryName }}</span>
          </li>
        </ul>
      </div>
    </div>
  </SearchModalLayout>
</template>

<script setup lang="ts">
// ---- TYPES ---- //
import { ISearchCityItem } from "~/types"

// ---- COMPONENTS ---- //
import SearchModalLayout from "~/components/App/Search/SearchModalLayout.vue"
import AppInput from "~/components/UI/AppInput.vue"
import AppLoaderSmall from "~/components/UI/AppLoaderSmall.vue"

// ---- DATA ---- //
const props = defineProps<{
  popularDirections?: ISearchCityItem[]
  recentlySearched?: ISearchCityItem[]
  selectedCity: ISearchCityItem | null
  searchQuery: string
  inputLabel: string
  pending: boolean
  cities: ISearchCityItem[]
}>()

const emit = defineEmits<{
  (e: "on-city-select", city: ISearchCityItem): void
  (e: "on-search-input", searchQuery: string): void
}>()

// Computed =>
const searchNotFound = computed(() => {
  return props.searchQuery && !props.cities.length
})
const searchPlaceholderText = computed(() => {
  return searchNotFound.value
    ? "Результатів пошуку не знайдено"
    : "Результати пошуку"
})

// ---- METHODS ---- //
function selectCity(selectedCity: ISearchCityItem) {
  emit("on-city-select", selectedCity)
}
function onSearchInput(searchQuery: string) {
  emit("on-search-input", searchQuery)
}
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/main-page/hero/search-form.scss";

.search__modal-loader {
  display: grid;
  place-items: center;
  padding: 30px;
}
</style>
