<template>
  <form class="search" @submit.prevent autocomplete="off">
    <div class="search__wrapper">
      <div class="search__group" :class="{ error: validationErrors.city.from }">
        <AppInput
          class="app-input-box--header app-input-box--header-from"
          :class="{ error: validationErrors.city.from }"
          v-model="search.fromCity.query"
          icon-left="SocialLocal"
          placeholder="Звідки"
          id="placeFrom"
          :read-only="modalSearchPlaceFrom.readOnlySearch.value"
          @update:model-value="onFromCitySearchDebounced"
          @click="onFromCityFieldClick"
        />
        <!-- Mobile only -->
        <ModalTransition>
          <PlaceModal
            v-if="modalSearchPlaceFrom.isOpen.value"
            v-click-outside="modalSearchPlaceFrom.closeModal"
            input-label="Звідки"
            :pending="pendingSearchBar"
            :search-query="search.fromCity.query"
            :selected-city="search.fromCity.selected"
            :cities="search.fromCity.searchResults"
            @modal-close="modalSearchPlaceFrom.closeModal"
            @on-city-select="onFromCitySelect"
            @on-search-input="onFromCitySearchDebounced"
          />
        </ModalTransition>
        <span class="search__error">Необхідно заповнити поле</span>
      </div>
      <button
        class="search__swap"
        :class="{ error: hasDirectionError }"
        @click.prevent="toggleDirection"
      >
        <Icon name="ArrowSwap" />
      </button>
      <div class="search__group" :class="{ error: validationErrors.city.to }">
        <AppInput
          id="placeTo"
          class="app-input-box--header app-input-box--header-to"
          :class="{ error: validationErrors.city.to }"
          v-model="search.toCity.query"
          icon-left="SocialLocal"
          placeholder="Куди"
          :read-only="modalSearchPlaceTo.readOnlySearch.value"
          @update:model-value="onToCitySearchDebounced"
          @click="onToCityFieldClick"
        />
        <!-- Mobile only -->
        <ModalTransition>
          <PlaceModal
            v-if="modalSearchPlaceTo.isOpen.value"
            class="search__modal--place--to"
            input-label="Куди"
            v-click-outside="modalSearchPlaceTo.closeModal"
            :pending="pendingSearchBar"
            :selected-city="search.toCity.selected"
            :search-query="search.toCity.query"
            :cities="search.toCity.searchResults"
            @modal-close="modalSearchPlaceTo.closeModal"
            @on-city-select="onToCitySelect"
            @on-search-input="onToCitySearchDebounced"
          />
        </ModalTransition>
        <span class="search__error">Необхідно заповнити поле</span>
      </div>
    </div>

    <div class="search__wrapper search__wrapper--mod">
      <div
        class="search__group"
        :class="{ error: validationErrors.departureDate }"
      >
        <AppDatepicker
          class-name="datepicker--search"
          placeholder="Дата поїздки"
          format="dd.MM.yyyy"
          id="departureDateMain"
          :class="{
            'datepicker--search-open': headShow,
            error: validationErrors.departureDate,
          }"
          :show-head="headShow"
          :auto-close="closeAuto"
          :month-scroll="scrollMonth"
          :initial-date="fetchQuery.departureDate"
          :multi-calendar="multiCalendars"
          @on-open="openDatepicker"
          @on-closed="closeDatepicker"
          @on-date-select="onDepartureDateSelect"
        />
        <span class="search__error">Необхідно заповнити поле</span>
      </div>
      <div
        class="search__group search__group--passenger"
        :class="{
          active: modalSearchPassenger.isOpen.value,
          error: validationErrors.passengers,
        }"
      >
        <AppInput
          class="app-input-box--header app-input-box--passenger"
          icon-left="SocialPassenger"
          placeholder="Пасажири"
          id="passengers"
          :model-value="passengersInfo"
          :read-only="modalSearchPassenger.readOnlySearch.value == false"
          :class="{
            up: modalSearchPassenger.isOpen.value,
            error: validationErrors.passengers,
          }"
          @click="modalSearchPassenger.openModal($event, true)"
        />
        <ModalTransition>
          <PassengersModal
            v-if="modalSearchPassenger.isOpen.value"
            title-modal="Пасажири"
            v-click-outside="modalSearchPassenger.closeModal"
            @modal-close="modalSearchPassenger.closeModal"
            @on-confirm="modalSearchPassenger.closeModal"
          />
        </ModalTransition>
        <span class="search__error">Необхідно заповнити поле</span>
      </div>
      <AppButton
        class="search-btn btn--search default-gold"
        type="submit"
        text="Знайти квитки"
        icon-name="ArrowLeftIcon"
        :disabled="pendingTripsFetch"
        @click="findTrips"
      />
    </div>
  </form>
</template>

<script setup lang="ts">
// ---- TYPES ---- //
import { ISearchCityItem } from "~/types"
import { LocationQueryRaw } from "#vue-router"

// ---- COMPONENTS ---- //
import ModalTransition from "~/components/UI/Transitions/ModalTransition.vue"
import PassengersModal from "~/components/App/Search/PassengersModal.vue"
import AppDatepicker from "~/components/UI/AppDatepicker.vue"
import PlaceModal from "~/components/App/Search/PlaceModal.vue"
import AppButton from "~/components/UI/AppButton.vue"
import AppInput from "~/components/UI/AppInput.vue"

// ---- MODULES ---- //
import { useShowSearchPopup } from "~/composables/useShowSearchPopup"
import { useScreen } from "vue-screen"

// ---- STORES ---- //
import { useTripsStore } from "~/stores/trips"

// ---- CONSTANTS ---- //
import { QUERY_KEY } from "~/constants/trips"

// --- COMPOSABLES --- //
const screen = useScreen()
const modalSearchPlaceFrom = useShowSearchPopup()
const modalSearchPlaceTo = useShowSearchPopup()

const tripsStore = useTripsStore()

// -- stores data reactive
const {
  pendingTripsFetch,
  validationErrors,
  pendingSearchBar,
  fetchQuery,
  search,
} = toRefs(tripsStore)
const { resetSearchValidationErrors } = tripsStore

// ---- DATA ---- //
defineProps<{
  passengersInfo: string
}>()
const multiCalendars = ref() // Начальное значение для десктопа
const scrollMonth = ref(false)
const closeAuto = ref(false)
const headShow = ref(false)
// Computed data
const hasDirectionError = computed(() => {
  return validationErrors.value.city.to || validationErrors.value.city.from
})

// debounce input handlers =>
const onFromCitySearchDebounced = debounce(onFromCitySearch, 500)
const onToCitySearchDebounced = debounce(onToCitySearch, 500)

// ---- METHODS ---- //
const modalSearchPassenger = {
  ...useShowSearchPopup(),
}

function onFromCityFieldClick(input: Event) {
  const { fromCity } = toRefs(search.value)
  const { from } = toRefs(fetchQuery.value)

  // reset fields if there is already some value
  if (fromCity.value.query) {
    // reset search
    fromCity.value = {
      searchResults: [],
      selected: null,
      query: "",
    }

    // reset query
    from.value = { table: undefined, id: undefined }
  }

  modalSearchPlaceFrom.openModal(input, true)
}
function onToCityFieldClick(input: Event) {
  // TODO:implement input field reset on first click on the field
  const { toCity } = toRefs(search.value)
  const { to } = toRefs(fetchQuery.value)

  // reset fields if there is already some value
  if (toCity.value.query) {
    // reset search
    toCity.value = {
      searchResults: [],
      selected: null,
      query: "",
    }
    // reset query
    to.value = { table: undefined, id: undefined }
  }

  modalSearchPlaceTo.openModal(input, true)
}

// Datepicker handlers =>
// Определение количества месяцев в зависимости от ширины экрана
function calculateMultiCalendars() {
  if (screen.width < 600) {
    multiCalendars.value = 13
    scrollMonth.value = false

    closeAuto.value = false
  } else if (screen.width >= 600 && screen.width < 1400) {
    multiCalendars.value = 0
    scrollMonth.value = true
    closeAuto.value = true
  } else if (screen.width >= 1400) {
    multiCalendars.value = 1
    scrollMonth.value = true
    closeAuto.value = true
  }

  return multiCalendars.value
}
function onDepartureDateSelect(date: string | string[]) {
  if (typeof date === "string") {
    search.value.departureDate = date
    fetchQuery.value[QUERY_KEY.DEPARTURE_DATE] = date

    // reset validation
    validationErrors.value.departureDate = false
  }
}
function openDatepicker() {
  if (screen.width < 600) {
    lockPageScroll()

    scrollMonth.value = false
    closeAuto.value = false
    headShow.value = true
  } else {
    unlockPageScroll()

    modalSearchPlaceFrom.closeModal()
    modalSearchPassenger.closeModal()
    modalSearchPlaceTo.closeModal()

    scrollMonth.value = true
    closeAuto.value = true
    headShow.value = false
  }
}
function closeDatepicker() {
  headShow.value = false
  unlockPageScroll()
}

// Search cities handlers =>
function onFromCitySelect(userSelectedCity: ISearchCityItem) {
  // reset validation flag
  const { from } = toRefs(validationErrors.value.city)
  if (from.value) from.value = false

  const { name, countryName, table, id } = userSelectedCity
  const { selected, query } = toRefs(search.value.fromCity)

  selected.value = userSelectedCity

  // For cities => concate cityName + countryName
  // For countries => take only country name
  query.value = countryName ? `${name}, ${countryName}` : name

  fetchQuery.value.from.table = table
  fetchQuery.value.from.id = id

  modalSearchPlaceFrom.closeModal()
}
function onToCitySelect(userSelectedCity: ISearchCityItem) {
  // reset validation
  const { to } = toRefs(validationErrors.value.city)
  if (to.value) to.value = false

  const { name, countryName, table, id } = userSelectedCity
  const { selected, query } = toRefs(search.value.toCity)

  selected.value = userSelectedCity

  // For cities => concate cityName + countryName
  // For countries => take only country name
  query.value = countryName ? `${name}, ${countryName}` : name

  fetchQuery.value.to.table = table
  fetchQuery.value.to.id = id

  modalSearchPlaceTo.closeModal()
}
async function onFromCitySearch(searchQuery: string) {
  // get required referrence to the searchArr =>
  const { searchResults, query, selected } = toRefs(search.value.fromCity)
  // update query field in the object =>
  query.value = searchQuery

  // if user cleared search input => break the function
  if (!searchQuery) {
    searchResults.value = []
    selected.value = null
    return
  }

  // handle search response =>
  const { data } = await tripsStore.findCity(searchQuery)

  // update founded data =>
  if (data) searchResults.value = data.data.data
}
async function onToCitySearch(searchQuery: string) {
  // get required referrence to the searchArr =>
  const { searchResults, query, selected } = toRefs(search.value.toCity)
  // update query field in the object =>
  query.value = searchQuery

  // if user cleared search input => break the function
  if (!searchQuery) {
    searchResults.value = []
    selected.value = null
    return
  }

  // handle search response =>
  const { data } = await tripsStore.findCity(searchQuery)

  // update founded data =>
  if (data) searchResults.value = data.data.data
}

// Form submission =>
async function findTrips() {
  const { data: tripsFetched } = await tripsStore.fetchTrips()

  if (tripsFetched) {
    const currentQuery = JSON.parse(JSON.stringify(fetchQuery.value))

    return navigateTo({
      path: "/trips",
      // params: {
      //   buses: "автобуси",
      //   from: search.value.fromCity.selected?.name,
      //   to: search.value.toCity.selected?.name,
      // },
      query: currentQuery as LocationQueryRaw,
    })
  }
}
function toggleDirection() {
  const cityFrom = search.value.fromCity

  // update search obj
  search.value.fromCity = search.value.toCity
  search.value.toCity = cityFrom

  // update query obj
  fetchQuery.value.from = {
    table: search.value.fromCity.selected?.table,
    id: search.value.fromCity.selected?.id,
  }
  fetchQuery.value.to = {
    table: cityFrom.selected?.table,
    id: cityFrom.selected?.id,
  }
}

watch(
  () => screen.width,
  () => {
    calculateMultiCalendars()
  },
  { immediate: true },
)

// Lifecycle hooks
onUnmounted(() => {
  resetSearchValidationErrors()
})
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/main-page/hero/search-form.scss";
</style>
