<template>
  <div class="search__modal">
    <button class="search__modal-icon" @click="modalClose">
      <Icon name="ModalClose" />
    </button>
    <div class="search__modal-head">
      <h3 class="search__modal-title">{{ titleModal }}</h3>
    </div>
    <slot />
  </div>
</template>

<script setup lang="ts">
// ---- DATA ---- //
defineProps<{
  titleModal?: string
}>()

const emit = defineEmits(["modal-close"])

// Methods
const modalClose = () => {
  emit("modal-close")
}
</script>

<style scoped lang="scss">
.search {
  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    padding: rem(15);
    background-color: var(--monochrome-white);
    z-index: var(--ui-index-3);

    &--child {
      position: absolute;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
      border-radius: rem(8);
      top: rem(65);
      width: rem(345);
      min-height: rem(276);
      & .search__modal {
        &-head {
          display: none;
        }
        &-icon {
          display: none;
        }
      }

      @media (min-width: 1200px) {
        width: rem(255);
      }
      @media (min-width: 1482px) {
        width: rem(345);
      }
    }

    &-head {
      border-bottom: 1px solid var(--monochrome-grey);
      padding-bottom: rem(25);
      margin-bottom: rem(20);

      & h3 {
        font-style: normal;
        font-size: rem(20);
        line-height: rem(24);
        margin-top: rem(10);
        text-align: center;
        color: var(--monochrome-black);
      }
    }

    &-icon {
      position: absolute;
      top: rem(15);
      right: rem(15);
      border: none;
      background-color: transparent;

      & svg {
        width: rem(30);
        height: rem(30);
      }
    }

    @media (min-width: 845px) {
      position: absolute;
      border-radius: 0.5rem;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
      padding: rem(20);

      &-head,
      &-icon {
        display: none;
      }
    }
  }
}
</style>
