.popular {
  padding-top: rem(100);
  margin-bottom: rem(20);

  @media (min-width: 1200px) {
    padding-top: rem(150);
  }

  &__title {
    margin-bottom: rem(20);

    @media (min-width: 1200px) {
      margin-bottom: rem(30);
    }
  }

  &__tabs {
    padding: rem(10);
    margin-bottom: rem(30);

    @media (min-width: 1200px) {
      margin-bottom: rem(50);
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(20);

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1600px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
