.popular__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: rem(20);
  min-height: rem(345);
  border-radius: rem(8);
  overflow: hidden;

  &:hover .popular__item-img {
    transform: scale(1.03);
  }

  @media (min-width: 1600px) {
    &:nth-child(1) {
      grid-column: 1/3;
    }

    &:nth-child(2) {
      grid-column: 3/5;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: var(--ui-index-1);
    background: linear-gradient(
      0deg,
      rgba(27, 25, 17, 0.2),
      rgba(27, 25, 17, 0.2)
    );
  }

  &-img {
    position: absolute;
    top: 0;
    left: 0;
    // z-index: -1;
    transition: 0.1s linear;
  }

  &-info {
    display: flex;
    width: 100%;
    padding: rem(15);
    border-radius: rem(8);
    background-color: var(--monochrome-white);
    z-index: var(--ui-index-2);

    @media (min-width: 1200px) {
      padding: rem(23.5) rem(20);
    }
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &-inner {
    display: flex;

    &--left {
      flex-direction: column;
    }

    &--right {
      align-items: center;
      justify-content: center;
    }
  }

  &-direction {
    margin-bottom: rem(5);
    color: var(--monochrome-black);

    @media (min-width: 1200px) {
      margin-bottom: rem(10);
      font-size: rem(20);
    }
  }

  &-price {
    font-size: rem(12);
    font-weight: 300;
    color: var(--monochrome-dark-grey);

    @media (min-width: 1200px) {
      font-size: rem(16);
    }
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(50);
    height: rem(50);
    border-radius: 50%;
    border: 1px solid var(--monochrome-dark-grey);

    &:hover svg {
      fill: var(--accent-color);
    }

    &-svg {
      width: rem(24);
      height: rem(24);
    }
  }
}
