.rates{
  padding: rem(75) 0;
  &__inner{
    display: flex;
    gap: rem(20);
  }
  &-block {
    width: 100%;
  }
  &-title {
    font-size: rem(36);
    line-height: rem(43);
    margin-bottom: rem(20);
    @media(min-width: 992px){
      font-size: rem(48);
      line-height: rem(58)  ;
      margin-bottom: rem(40);
    }
  }
  &-subtitle {
    font-size: rem(16);
    line-height: rem(19);
    color: var(--monochrome-black);
    margin-bottom: rem(15);
    @media(min-width: 992px){
      font-size: rem(24);
      line-height: rem(29);
      margin-bottom: rem(25);
    }
  }
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: rem(20);
  }
  &-table {
    flex: 1 0 49%;

    padding: rem(15);
    background: var(--monochrome-white);
    border-radius: rem(8);

    display: flex;
    gap: 2%;
    box-shadow: 0px 0px 10px 0px #6C6C6C66;
    @media(min-width: 992px){
      padding: rem(30);
    }
  }
  &-list{
    width: 100%;
  }
  &-item {
    display: flex;
    align-items: flex-end;
    gap: rem(5);
    &:not(:last-child){
      margin-bottom: rem(20);
    }
    &__city{
      font-size: rem(14);
      font-weight: 300;
      line-height: rem(20);
      color: var(--monochrome-black);
      max-width: rem(190);
      flex-shrink: 0;
      @media(min-width: 992px){
        font-size: rem(16);
        font-weight: 300;
        line-height: rem(24);
        max-width: max-content;
      }
    }
    &__decor{
      display: block;
      width: 100%;
      flex: 1;
      border-bottom: rem(1) solid var(--monochrome-grey);
    }
    &__price {
      flex-shrink: 0;
      font-size: rem(12);
      line-height: rem(14);
      color: var(--monochrome-black);
      @media(min-width: 992px){
        font-size: rem(16);
        line-height: rem(19);
      }
    }
  }

}