// HEADINGS =>
%h1 {
  font-family: "e-Ukraine", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem; 
  line-height: 1.2;
}

%h2 {
  font-family: "e-Ukraine", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.2;
}

%h3 {
  font-family: "e-Ukraine", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.25rem;
  line-height: 1.2;
}

%h4 {
  font-family: "e-Ukraine", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.2;
}

%h5 {
  font-family: "e-Ukraine", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.2;
}

%h6 {
  font-family: "e-Ukraine", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1.16;
}

// TEXTS =>
%text1 {
  font-family: "e-Ukraine", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.2;
}

%text2 {
  font-family: "e-Ukraine", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.2;
}

%text3 {
  font-family: "e-Ukraine", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
}

%text4 {
  font-family: "e-Ukraine", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.4;
}

%text5 {
  font-family: "e-Ukraine", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 1.2;
}
