<template>
  <div class="ticket-comfortable ticket-comfortable--trips">
    <div
      v-if="trip.carrier"
      class="ticket-comfortable__wrapper comfortable-trips--desk comfortable-order--2"
    >
      <span class="ticket-comfortable__icon">
        <Icon class="ticket-comfortable__icon" name="TicketCarrier" />
      </span>
      <span class="ticket-comfortable__title">Перевізник:</span>
      <span class="ticket-comfortable__name">
        {{ trip.carrier.name }}
      </span>
      <span class="ticket-comfortable__mark">
        {{ trip.carrier.rating }}
      </span>
    </div>
    <div
      v-if="trip.schedule"
      class="ticket-comfortable__wrapper comfortable-order--3"
    >
      <span class="ticket-comfortable__icon">
        <Icon name="TicketCalendar" />
      </span>
      <span class="ticket-comfortable__title">Графік поїздок:</span>
      <span class="ticket-comfortable__name">{{ trip.schedule }}</span>
    </div>
    <div
      v-if="trip.icons.length"
      class="ticket-comfortable__wrapper comfortable-order--1"
    >
      <ul class="ticket-comfortable__list">
        <li
          class="ticket-comfortable__item"
          v-for="iconLink in iconsArr"
          :key="iconLink"
        >
          <span class="ticket-comfortable__icon">
            <NuxtImg :src="iconLink" />
          </span>
        </li>
        <li v-if="restAmount">
          <span class="ticket-comfortable__rest"> +{{ restAmount }} </span>
        </li>
      </ul>
    </div>
    <div v-if="false" class="ticket-comfortable__wrapper comfortable-order--4">
      <span class="ticket-comfortable__icon">
        <Icon name="TicketComfortPlace" />
      </span>
      <span class="ticket-comfortable__name">57 місць</span>
    </div>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss"></style>
