<template>
  <li
    class="ticket-elem"
    :class="{ disabled: ticket.cancellation?.cancelledByClient }"
  >
    <div class="ticket-elem__wrapper">
      <MarqueeInfinity
        v-if="ticket.serviceMessage || ticket.needActionsMessage"
        :service-message="ticket.serviceMessage"
        :actions-message="ticket.needActionsMessage"
      />
      <div class="ticket-elem__container">
        <div class="ticket-elem__left">
          <div class="ticket-elem__header">
            <div class="ticket-elem__header-wrapper">
              <div class="ticket-elem__header-info">
                <span class="ticket-elem__number"
                  >Бронювання №{{ ticket.id }}</span
                >
                <span class="ticket-item__circle-decor"></span>
                <span class="ticket-elem__price"
                  >{{ getRecountedPrice(ticket.price) }}
                  {{ ticket.currency.code }}</span
                >
              </div>
              <AppButton
                v-if="false"
                class="ticket-btn__download"
                icon-name="TicketDownload"
                icon-size="24"
              />
            </div>
            <PersonalCabinetBadges :badges="ticket.badges" />
            <div v-if="ticket.cancellation" class="ticket-cancel">
              <p>
                Ви скасували бронювання {{ ticket.cancellation?.cancelledAt }}
              </p>
            </div>
          </div>

          <TicketTravel
            :start-bus-stop="ticket.startBusStop"
            :end-bus-stop="ticket.endBusStop"
          />

          <AppTooltip
            v-if="ticket.endBusStop.flexArrivalTime"
            class="ticket-tooltip"
            tooltip-background="monochrome-grey"
            icon-name="TicketHelp"
            icon-color="var(--monochrome-dark-grey)"
            icon-size="20"
            text="Час прибуття вказаний з врахуванням нормативного часу для проходження кордону"
          />
          <div
            v-if="ticket.carrier"
            class="ticket-comfortable ticket-comfortable--mobile ticket-comfortable--desktop"
          >
            <div class="ticket-comfortable__wrapper">
              <span class="ticket-comfortable__icon">
                <Icon class="ticket-comfortable__icon" name="TicketCarrier" />
              </span>
              <span class="ticket-comfortable__title">Перевізник:</span>
              <span class="ticket-comfortable__name">{{
                ticket.carrier.name
              }}</span>
              <span class="ticket-comfortable__mark">{{
                ticket.carrier.rating
              }}</span>
            </div>
          </div>
        </div>
        <div class="ticket-elem__right">
          <div
            class="ticket-passengers"
            :class="[openTicketPassengers ? 'ticket-passengers--open' : '']"
          >
            <div
              class="ticket-passengers__head"
              @click="toggleMobileTicketPassengers"
            >
              <h4 class="ticket-passengers__head-title">Пасажири</h4>
              <span class="ticket-item__circle-decor"></span>
              <span class="ticket-passengers__head-number">{{
                ticket.passengers.length
              }}</span>
              <Icon
                class="ticket-passengers__head-arrow"
                name="TicketArrowDown"
                size="20"
              />
            </div>
            <div class="ticket-passengers__wrapper">
              <div class="ticket-passengers__content">
                <ul class="ticket-passengers__list">
                  <li
                    class="ticket-passengers__item"
                    v-for="passenger in ticket.passengers"
                    :key="passenger.fullName"
                  >
                    <div class="ticket-passengers__item-info">
                      <h4>{{ passenger.fullName }}</h4>
                      <h5>{{ passenger.info }}</h5>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div
              v-if="!archive.isArchived"
              class="ticket-passengers__transaction"
            >
              <AppButton
                v-if="ticket.badges.notPaid"
                class="ticket-btn__pay ticket-btn__pay--desk"
                text="Оплатити квиток"
                button-style="default-gold"
                @click="$emit('on-pay-order', ticket.id)"
              />

              <div class="ticket-passengers__transaction-wrapper">
                <div class="ticket-passengers__transaction-wrap">
                  <AppButton
                    class="ticket-btn__return ticket-btn__return--desk"
                    text="Повернути квиток"
                    button-style="default-transparent"
                    @click="onCancelOrder"
                  />
                  <a href="#" class="ticket-passengers__transaction-link">
                    Умови повернення
                  </a>
                </div>
                <AppButton
                  v-if="false"
                  class="ticket-btn__download ticket-btn__download--desk"
                  icon-name="TicketDownload"
                  icon-size="24"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="ticket-elem__bottom">
          <AppButton
            v-if="ticket.badges.waitingBeConfirmedByClient"
            class="ticket-btn__confirm"
            text="Підвердити бронювання"
            button-style="default-gold"
            @click="$emit('on-confirm-order', ticket.id)"
          />
          <AppButton
            v-if="ticket.badges.notPaid"
            class="ticket-btn__pay"
            text="Оплатити квиток"
            button-style="default-transparent"
            @click="$emit('on-pay-order', ticket.id)"
          />
          <AppButton
            class="ticket-btn__more"
            :class="[
              openMoreInfo ? 'ticket-btn__more--open' : '',
              pendingTripsDetails ? 'btn--pending' : '',
            ]"
            :text="aboutBtnPending"
            button-style="light-grey"
            icon-name="TicketArrowDown"
            icon-size="24"
            @click="getTicketDetailsById"
          />
        </div>
        <div class="ticket-elem__about">
          <Transition
            name="ticket-about"
            @enter="enter"
            @leave="leave"
            @after-enter="afterEnter"
          >
            <div
              v-if="openMoreInfo"
              class="ticket-about"
              :class="[openMoreInfo ? 'ticket-about--open' : '']"
            >
              <div class="ticket-about__header">
                <h3 class="ticket-about__header-title">Подробиці рейсу</h3>
                <button
                  class="ticket-btn__close-about"
                  @click="getTicketDetailsById"
                >
                  <Icon name="ModalClose" size="30" />
                </button>
              </div>

              <div
                v-if="ticket.more && !pendingTripsDetails"
                class="ticket-about__main"
              >
                <!-- desktop -->
                <TripsTripMore
                  v-if="width >= 1024"
                  :detail="ticket.more.details"
                  :route="ticket.more.route"
                  :discounts="ticket.more.discounts"
                  :rule="ticket.more.rules"
                  :conditions="ticket.more.conditions"
                  :info="ticket.more.info"
                />
                <!-- mobile -->
                <template v-else>
                  <TransitionGroup name="tab-content-fade">
                    <TripDetail key="TripDetail" :data="ticket.more.details" />
                    <TripRoute
                      key="TripRoute"
                      :data="ticket.more.route"
                      :trip-info="ticket.more.info"
                    />
                    <TripDiscounts
                      key="TripDiscounts"
                      :data="ticket.more.discounts"
                    />
                    <TripRule key="TripRule" :data="ticket.more.rules" />
                    <TripConditions
                      key="TripConditions"
                      :data="ticket.more.conditions"
                    />
                  </TransitionGroup>
                </template>
              </div>
              <template v-else>
                <LoadingSkeletonsMore v-if="width >= 1024" />
                <LoadingSkeletonsMoreMobile v-else />
              </template>

              <div class="ticket-about__footer">
                <AppButton
                  text="Повернути квиток"
                  buttonStyle="default-transparent"
                  class="ticket-btn__return"
                  @click="onCancelOrder"
                />
              </div>
            </div>
          </Transition>
        </div>
      </div>
    </div>
  </li>
</template>

<script setup lang="ts">
// Components
import AppButton from "~/components/UI/AppButton.vue"
import MarqueeInfinity from "~/components/PersonalCabinet/MarqueeInfinity.vue"
import AppTooltip from "~/components/UI/AppTooltip.vue"

// Modules
import { useScreen } from "vue-screen"

const { width } = toRefs(useScreen())

// Constants
import { IModalCancelPay, IOrder } from "~/types/profile"
import TripRoute from "~/components/trips/Trip/More/Route.vue"
import TripDiscounts from "~/components/trips/Trip/More/Discounts.vue"
import TripRule from "~/components/trips/Trip/More/Rule.vue"
import TripDetail from "~/components/trips/Trip/More/Detail.vue"
import TripConditions from "~/components/trips/Trip/More/Conditions.vue"

// Store instances
const tripStore = useTripsStore()
const profileStore = useProfileStore()

// Stores data
const { getRecountedPrice, pendingTripsDetails } = toRefs(tripStore)
const { archive } = toRefs(profileStore)

// Data
const openMoreInfo = ref<boolean>(false)
const openTicketPassengers = ref<boolean>(false)

const props = defineProps<{
  ticket: IOrder
}>()

const emit = defineEmits<{
  "on-confirm-order": [orderId: number]
  "on-cancel-order": [returnInfo: IModalCancelPay]
  "on-fetch-details": [ticketId: IOrder]
}>()

// Methods
function onCancelOrder() {
  const returnInfo: IModalCancelPay = {
    ticketId: props.ticket.id,
    return: props.ticket.return,
    returnRules: props.ticket.returnRules,
    ticketIsPaid: props.ticket.badges.paid,
  }

  emit("on-cancel-order", returnInfo)
}

function getTicketDetailsById() {
  if (!props.ticket.more) emit("on-fetch-details", props.ticket)

  openMoreInfo.value = !openMoreInfo.value

  if (openMoreInfo.value && window.innerWidth < 1024) {
    document.documentElement.style.overflow = "hidden"
  } else {
    document.documentElement.style.overflow = "unset"
  }
}
const toggleMobileTicketPassengers = () => {
  if (window.innerWidth < 1024) {
    openTicketPassengers.value = !openTicketPassengers.value
  }
}

// Computed
const aboutBtnText = computed(() => {
  return openMoreInfo.value ? "Сховати деталі" : "Детальніше"
})
const aboutBtnPending = computed(() => {
  return pendingTripsDetails.value && openMoreInfo.value
    ? "Завантаження"
    : aboutBtnText.value
})

//Start Animation openDetails Desktop
const enter = (element: HTMLElement) => {
  if (window.innerWidth >= 1024) {
    element.style.width = getComputedStyle(element).width
    element.style.position = "absolute"
    element.style.visibility = "hidden"
    element.style.height = "auto"

    const height = getComputedStyle(element).height

    element.style.width = ""
    element.style.position = ""
    element.style.visibility = ""
    element.style.height = "0"

    getComputedStyle(element).height
    requestAnimationFrame(() => {
      element.style.height = height
    })
  }
}
const afterEnter = (element: HTMLElement) => {
  if (window.innerWidth >= 1024) {
    element.style.height = "auto"
  }
}
const leave = (element: HTMLElement) => {
  if (window.innerWidth >= 1024) {
    element.style.height = getComputedStyle(element).height

    getComputedStyle(element).height

    requestAnimationFrame(() => {
      element.style.height = "0"
    })
  }
}
//End Animation openDetails Desktop
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/trips/trips";
@import "@/assets/scss/components/personal-cabinet/tickets";

:deep(.ticket-btn__more svg) {
  color: var(--monochrome-dark-grey);
  margin-left: rem(8);
  transition: transform 0.3s ease;
}

:deep(.ticket-btn__more--open svg) {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

:deep(.trips-select__component .select__toggle) {
  background: var(--monochrome-white);
}

.trips-modal-leave-from,
.trips-modal-enter-to {
  transition: 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.trips-modal-leave-to,
.trips-modal-enter-from {
  transition: 0.3s ease;
  opacity: 0;
  transform: translateY(-100%);
}

.trips-filter-leave-from,
.trips-filter-enter-to {
  transition: 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.trips-filter-leave-to,
.trips-filter-enter-from {
  transition: 0.3s ease;
  opacity: 0;
  transform: translateY(-100%);
  @media (min-width: 1199px) {
    opacity: 1;
    transform: translateY(0);
  }
}

.ticket-about-enter-active {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  @media (min-width: 1024px) {
    transition-property: opacity, height;
    transition: height 0.3s ease;
    overflow: hidden;
  }
}

.ticket-about-leave-active {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  @media (min-width: 1024px) {
    transition: height 0.3s ease;
    overflow: hidden;
  }
}

.ticket-about-leave-from,
.ticket-about-enter-to {
  opacity: 1;
  transform: translateY(0);
}

.ticket-about-leave-to,
.ticket-about-enter-from {
  opacity: 0;
  transform: translateY(-100%);
  @media (min-width: 1024px) {
    height: 0;
  }
}

.tab-content-fade-enter-active,
.tab-content-fade-leave-active {
  transition: opacity 0.5s;
}

.tab-content-fade-enter,
.tab-content-fade-leave-to {
  opacity: 0;
}
</style>
