<template>
  <div class="ticket-travel" :class="{ 'ticket-travel--trips': trip }">
    <!--Ticket FROM Start-->
    <div
      class="ticket-travel__from ticket-travel--decor"
      :class="{ 'ticket-travel__from--trips': trip }"
    >
      <time
        v-if="trip && startBusStop.time"
        class="ticket-travel__time"
        :class="{
          'ticket-travel__time--decor': startBusStop.ownAddress,
        }"
      >
        {{ startBusStop.time }}
      </time>
      <div class="ticket-travel__head">
        <h4 class="ticket-travel__city">
          {{ startBusStop.cityName }}
        </h4>
        <div v-if="startBusStop.photo" class="ticket-travel__city-img">
          <NuxtImg v-if="startBusStop.photo" :src="startBusStop.photo" />
          <NuxtImg
            v-else
            src="https://api.rubikon.staj.bid/storage/countries/8a80ecd741b7d5b1c7ec92469f267f1d.png"
          />
        </div>
        <p v-if="startBusStop.address" class="ticket-travel__place">
          {{ startBusStop.address }}
        </p>
        <div class="ticket-tooltip__wrapper" v-else>
          <p>{{ startBusStop.address }}</p>

          <AppTooltip
            class="tooltip--desktop"
            tooltip-background="monochrome-light-grey"
            icon-name="TicketHelpQuestion"
            icon-color="var(--monochrome-dark-grey)"
            icon-size="20"
            text="Власна адреса відправлення"
          />
        </div>
      </div>
      <div v-if="startBusStop.time && !trip" class="ticket-travel__wrapper">
        <p class="ticket-travel__data-head">Відправлення</p>
        <div class="ticket-travel__data">
          <span class="ticket-travel__data-day">{{ startBusStop.time }}</span>
        </div>
      </div>
    </div>
    <!--Ticket FROM End-->

    <div class="ticket-travel__area">
      <div v-if="tripDuration" class="ticket-travel__area-time">
        <Icon name="TicketClock" />
        <time>{{ tripDuration }}</time>
      </div>
      <span v-else class="ticket-travel__icon">
        <Icon name="TicketTransport" size="70" />
      </span>
    </div>

    <!--Ticket TO Start-->
    <div
      class="ticket-travel__to ticket-travel--decor"
      :class="{ 'ticket-travel__to--trips': trip }"
    >
      <time
        v-if="trip && endBusStop.time"
        class="ticket-travel__time"
        :class="{
          'ticket-travel__time--decor': endBusStop.ownAddress,
        }"
      >
        {{ endBusStop.time }}</time
      >

      <div class="ticket-travel__head">
        <h4 class="ticket-travel__city">
          {{ endBusStop.cityName }}
        </h4>
        <div v-if="endBusStop.photo" class="ticket-travel__city-img">
          <NuxtImg :src="endBusStop.photo" />
        </div>
        <p v-if="endBusStop.address" class="ticket-travel__place">
          {{ endBusStop.address }}
        </p>
        <div class="ticket-tooltip__wrapper" v-else>
          <p>{{ endBusStop.address }}</p>

          <AppTooltip
            class="tooltip--desktop"
            tooltip-background="monochrome-light-grey"
            icon-name="TicketHelpQuestion"
            icon-color="var(--monochrome-dark-grey)"
            icon-size="20"
            text="Власна адреса прибуття"
          />
        </div>
      </div>
      <div v-if="!trip" class="ticket-travel__wrapper">
        <p class="ticket-travel__data-head">Прибуття</p>
        <div class="ticket-travel__data">
          <span class="ticket-travel__data-day">{{ endBusStop.time }}</span>
          <AppTooltip
            v-if="endBusStop.flexArrivalTime"
            class="ticket-tooltip tooltip--desktop"
            tooltip-background="transparent"
            icon-name="TicketHelp"
            icon-color="var(--additional-red-color)"
            icon-size="20"
            text="Час прибуття вказаний з врахуванням нормативного часу для проходження кордону"
          />
        </div>
      </div>
    </div>
    <!--Ticket TO End-->
  </div>
</template>

<script setup lang="ts">
// Types
import { IOrderBusStop } from "~/types/profile"

// Components
import AppTooltip from "~/components/UI/AppTooltip.vue"

// Data
defineProps<{
  startBusStop: IOrderBusStop
  endBusStop: IOrderBusStop
  tripDuration?: string
  trip?: boolean
}>()
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/personal-cabinet/tickets";
</style>
