// @keyframes open {
//   0% {
//     opacity: 0;
//     transform: scale3d(1.1, 1.1, 1);
//   }

//   100% {
//     opacity: 1;
//     transform: scale3d(1, 1, 1);
//   }
// }

@keyframes infinite-loop-bg {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes infinite-marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes wheel-rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes open-popup {
  0% {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes close-popup {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(0, -50px, 0);
  }
}

@keyframes open-modal {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes close-modal {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 80px, 0);
  }
}

@keyframes open-modal-cabinet {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes close-modal-cabinet {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}