@use "sass:math";

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow: hidden;
  // scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "e-Ukraine";
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--monochrome-light-grey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  // Фикс для слайдеров
  > * {
    min-width: 0;
    min-height: 0;
  }
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button,
svg {
  transition: 0.1s linear;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

.base-layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100vh;

  > main {
    flex: 1 1 auto;
  }
}

.container {
  @if $maxWidthContainer > 0 {
    margin: 0 auto;
    max-width: rem($maxWidthContainer);
    box-sizing: content-box;
  }

  @if $containerPadding > 0 {
    padding: 0 rem(math.div($containerPadding, 2));
  }

  &--relative {
    position: relative;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.box {
  padding: rem(15);
  border-radius: rem(8);
  border: 1px solid transparent;
  background-color: var(--monochrome-white);
  box-shadow: 0px 0px 10px 0px rgba(108, 108, 108, 0.4);

  &.invalid {
    border: 1px solid var(--additional-red-color);
  }

  &__error {
    margin-top: rem(10);
    font-size: rem(12);
    color: var(--additional-red-color);
  }

  @media (min-width: 1200px) {
    padding: rem(30);
  }

  &--ticket {
    @media (min-width: 1024px) {
      box-shadow: unset;
      border-radius: unset;
      padding: unset;
    }
  }
}

.title {
  font-weight: 400;
  color: var(--monochrome-black);

  &--48 {
    font-size: rem(36);

    @media (min-width: 1400px) {
      font-size: rem(48);
    }
  }

  &--64 {
    font-size: rem(36);

    @media (min-width: 1400px) {
      font-size: rem(48);
    }

    @media (min-width: 1600px) {
      font-size: rem(64);
    }
  }

  &--24 {
    font-size: rem(24);

    @media (min-width: 960px) {
      font-size: rem(32);
    }

    @media (min-width: 1200px) {
      font-size: rem(36);
    }

    @media (min-width: 1400px) {
      font-size: rem(48);
    }
  }
}

.text {
  font-size: rem(14);
  font-weight: 300;

  &--lh140 {
    line-height: 140%;
  }

  &--weight400 {
    font-weight: 400;
  }
}
