@use "sass:math";

:root {
  // colors
  --accent-color: #ffce1f;
  --monochrome-black: #1c1d1e;
  --monochrome-light-black: #363636;
  --monochrome-dark-grey: #939393;
  --monochrome-dark-white: #cecece;
  --monochrome-light-grey: #f5f5f5;
  --monochrome-white: #ffffff;
  --monochrome-grey: #dfdfdf;
  --additional-dark-yellow: #cea924;
  --additional-light-yellow: #fff7da;
  --additional-light-red: #fedddd;
  --disabled-field-color: #cccccc;
  --bright-green-color: #2b9e51;
  --green-color: #488f60;
  --additional-green: #D3F4DE;
  --light-green-color: #d3f4de;
  --light-yellow-color: #fff7da;
  --additional-red-color: #df4723;
  --text-color: #1b1911;
  --additional-light-blue: #ddecfe;
  --accent-blue: #4f87c8;
  --additional-light-green: #e7f6ec;
  --prototype-light-grey: #ececec;
  --prototype-black-2: #575757;

  // z-index
  --ui-index-1: 1; // Для наползающих элементов в общем потоке
  --ui-index-2: 2; // Для наползающих элементов в общем потоке
  --ui-index-3: 3; // Для масок
  --ui-index-4: 4; // Для сайдбаров
  --ui-index-5: 5; // Для модалок
  --ui-index-6: 6; // Для элементов, перекрывающих все
}

// main
$fontFamily: "e-Ukraine", sans-serif;
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1660;
$containerPadding: 30;
$containerIndent: max(
  rem(math.div($containerPadding, 2)),
  (100% - rem($maxWidthContainer)) / 2
);
$containerWidth: $maxWidthContainer + $containerPadding;

// Mixins
@mixin button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 25px;
  border-radius: 8px;
}
