.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--ui-index-5);
  transition: background-color, opacity 0.3s ease;
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(28, 29, 30, 0.5);
  pointer-events: all;
  opacity: 1;

  //&--open {
  //  .modal {
  //    &__content {
  //      opacity: 1;
  //      visibility: visible;
  //      animation-name: anim-open;
  //      animation-duration: 0.3s;
  //      animation-fill-mode: forwards;
  //    }
  //    &-elem-animation {
  //      animation: anim-elem 0.4s both;
  //      animation-delay: 0.1s;
  //    }
  //  }
  //}


  &__body {
    position: relative;
    z-index: var(--ui-index-2);
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100%;
    padding-top: rem(55);
    @media (min-width: 992px) {
      padding: rem(15);
    }
  }

  &__content {
    position: relative;
    padding: rem(50) rem(15) rem(15);
    background: var(--monochrome-white);
    border-radius: rem(8) rem(8) 0 0;
    display: grid;
    width: 100%;
    height: 100%;
    margin-top: auto;

    opacity: 1;
    visibility: visible;
    animation-name: anim-open;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;

    transition: .3s ease;
    @media (min-width: 992px) {
      max-width: rem(960);
      min-height: rem(510);
      margin: auto 0;
      border-radius: rem(8);
      padding: 0;
    }
    &--mod {
      @media(min-width: 992px){
        max-width: rem(540);
      }
    }
    &.profile-modal {
      min-height: max-content;
      .modal-main__left {
        @media(min-width: 992px){
          padding: rem(80) rem(50);
        }
      }
    }
  }

  &-elem-animation {
    animation: anim-elem 0.4s both;
    animation-delay: 0.1s;
  }

  &-back {
    &__btn {
      margin-bottom: rem(20);
    }
  }

  &-input {
    background: var(--monochrome-light-grey);
    @media (min-width: 992px) {
      max-width: rem(380);
    }

    .app-input {
      &__label {
        font-size: rem(16);
        line-height: rem(24);
        text-align: left;
      }
    }

    &--password {
      padding-right: rem(35);
      @media(min-width: 992px){
        max-width: 100%;
      }
    }
  }

  &__title {
    font-size: rem(24);
    line-height: rem(29);
    text-align: left;
    color: var(--monochrome-black);
    margin-bottom: rem(25);
    &--profile{
      text-align: center;
    }
  }

  &__description {
    font-size: rem(14);
    font-weight: 300;
    line-height: rem(20);
    color: var(--monochrome-black);

    margin-bottom: rem(25);

    b {
      font-weight: 500;
    }
    &--profile {
      text-align: center;
    }
  }

  &-info {
    padding: rem(15);
    background: var(--monochrome-light-grey);
    color: var(--monochrome-light-black);
    border-radius: rem(8);
    margin-bottom: rem(20);
    p {
      font-size: rem(14);
      font-weight: 300;
      line-height: rem(20);
    }
    p + p {
      margin-top: rem(10);
    }
    strong {
      font-size: rem(14);
      font-weight: 500;
      line-height: rem(20);
    }
  }

  &-main {
    display: grid;
    &__form {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    &__wrapper {
      @media (min-width: 992px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        //height: 100%;
        //min-height: rem(510);
      }

      &.without-layout {
        @media (min-width: 992px) {
          grid-template-columns:1fr;
          //height: 100%;
        }
      }
    }

    &__left {
      //padding: rem(50) rem(15) rem(15);
      @media (min-width: 992px) {
        padding: rem(50);
      }
    }

    &__right {
      padding: rem(15) 0;
      position: relative;
      @media (min-width: 992px) {
        padding: rem(50);
        margin-right: auto;
      }

      &-bg {
        display: none;

        @media (min-width: 992px) {
          display: block;

          position: absolute;
          top: 0;
          left: 0;
          border-top-right-radius: rem(8);
          border-bottom-right-radius: rem(8);
          width: 100%;
          height: 100%;
          object-fit: cover;
          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-top-right-radius: rem(8);
            border-bottom-right-radius: rem(8);
            width: 100%;
            height: 100%;
            background: linear-gradient(
                            90deg,
                            rgba(27, 27, 29, 0.9) 0%,
                            rgba(56, 62, 69, 0.9) 100%
            );
          }

          img {
            border-top-right-radius: rem(8);
            border-bottom-right-radius: rem(8);
          }
        }
      }
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  // wrap for input
  &-wrap {
    &:not(:last-of-type) {
      margin-bottom: rem(25);
    }

    &--recovery {
      margin-bottom: rem(25);
    }
    &__error {
      color: var(--additional-red-color);
      font-size: rem(12);
    }
  }

  &__divider {
    width: 100%;
    margin: rem(15) auto rem(20);
    @media (min-width: 992px) {
      margin: rem(20) auto;
    }

    span {
      display: flex;
      align-items: center;
      gap: rem(26);

      position: relative;
      font-size: rem(14);
      font-weight: 300;
      line-height: rem(20);
      color: var(--monochrome-dark-grey);

      &:before {
        content: "";
        flex: 1 1 auto;
        height: rem(1);
        background: var(--monochrome-grey);
      }

      &:after {
        content: "";
        flex: 1 1 auto;
        height: rem(1);
        background: var(--monochrome-grey);
      }
    }
  }

  &__link {
    &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      margin: rem(15) 0 0;
      @media (min-width: 992px) {
        margin-top: rem(20);
      }

      &--left {
        justify-content: flex-start;
      }
    }

    font-size: rem(12);
    font-weight: 400;
    line-height: rem(14);
    text-align: center;
    color: var(--monochrome-dark-grey);
    border-bottom: rem(1) solid var(--monochrome-grey);
  }

  &-select {
    position: relative;
    @media (min-width: 992px) {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: rem(15);
      border-radius: rem(8);
      background: var(--monochrome-light-grey);

      cursor: pointer;

      width: 100%;
      height: rem(50);

      & span {
        font-size: rem(14);
        font-weight: 300;
        line-height: rem(20);
        color: var(--monochrome-black);
      }

      @media (min-width: 992px) {
        background: transparent;
        height: auto;

        & span {
          font-size: rem(24);
          font-weight: 400;
          line-height: rem(29);
          color: var(--monochrome-white);
        }
      }
    }

    &__arrow {
      transition: 0.3s cubic-bezier(0.23, 1, 0.32, 1);
      @media (min-width: 992px) {
        display: none;
      }
    }

    &__wrapper {
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
      transition: grid-template-rows 0.3s ease;
      @media (min-width: 992px) {
        margin-top: auto;
        overflow: initial;
        grid-template-rows: 1fr;
      }
    }

    &__content {
      min-height: 0;
      @media (min-width: 992px) {
        min-height: 100%;
      }
    }

    &__list {
      list-style: none;

      &--desk {
        display: none;
        @media (min-width: 992px) {
          display: block;
        }
      }

      &--mobile {
        display: block;
        @media (min-width: 992px) {
          display: none;
        }
      }
    }

    &__item {
      svg {
        margin-right: rem(10);
        color: var(--monochrome-black);
        @media (min-width: 992px) {
          color: var(--monochrome-white);
        }
      }

      font-size: rem(14);
      font-weight: 300;
      line-height: rem(20);
      color: var(--monochrome-black);
      transition: 0.2s ease;
      white-space: pre-wrap;

      &:not(:last-child) {
        margin-bottom: rem(12);
        @media (min-width: 992px) {
          margin-bottom: rem(10);
        }
      }

      @media (min-width: 992px) {
        color: var(--monochrome-white);
      }
    }

    &--open {
      filter: drop-shadow(0px 0px rem(10) rgba(108, 108, 108, 0.4));
      background: #ffffff;
      border-radius: rem(8);

      .modal-select {
        &__top {
          background: transparent;
        }

        &__arrow {
          transform: rotate(180deg);
        }

        &__wrapper {
          padding: 0 rem(15) rem(15);
          grid-template-rows: 1fr;
          margin-top: rem(5);
        }

        &__item {
          &.transition-delay {
            &--0 {
              transition-delay: 0.1s;
            }

            &--1 {
              transition-delay: 0.3s;
            }

            &--2 {
              transition-delay: 0.5s;
            }

            &--3 {
              transition-delay: 0.7s;
            }
          }
        }
      }
    }

    &--cancel {
      order: 1;
      margin-top: rem(10);
      @media(min-width: 992px){
        order: initial;
        margin-top: 0;
        margin-bottom: 30px;
      }
      & .modal-select{
        &__top {
          background: var(--monochrome-light-grey);
          height: rem(50);
          span {
            font-size: rem(14);
            font-weight: 300;
            line-height: rem(20);
            color: var(--monochrome-black);
          }
        }
        &__arrow {
          @media(min-width: 992px){
            display: block;
          }
        }
      }
    }
  }

  &-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(20);
  }

  &-btn {
    padding: rem(15.5) rem(35);
    min-height: rem(50);
    @media(min-width: 992px){
      max-width: rem(100);
    }

    &__cancel {
      max-width: 100%;
    }
  }
}

@keyframes anim-elem {
  0% {
    opacity: 0;
    transform: translate3d(0, rem(25), 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
