<template>
  <Teleport to="body">
    <Transition name="overlay">
      <div v-if="!loadingCompleted" class="loader-wrapper">
        <Transition name="spinner">
          <div v-if="loading" class="loader-spinner" />
        </Transition>
      </div>
    </Transition>
  </Teleport>
</template>

<script setup lang="ts">
defineProps<{
  loadingCompleted: boolean
  loading: boolean
}>()
</script>

<style lang="scss" scoped>
.loader {
  &-wrapper {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(28, 29, 30, 0.8);
    backdrop-filter: blur(2px);
    z-index: var(--ui-index-6);
  }

  &-spinner {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 125px;
    height: 125px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--green-color);
    animation: spin 1.7s linear infinite;
    z-index: var(--ui-index-5);

    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: var(--additional-red-color);
      animation: spin-reverse 0.6s linear infinite;
    }

    &:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: var(--accent-color);
      animation: spin 1s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes app-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Transition -- wrapper
.overlay-enter-active,
.overlay-leave-active {
  transition: opacity 0.1s ease-in-out;
}
.overlay-enter-from,
.overlay-leave-to {
  opacity: 0;
}

// Transition -- spinner
.spinner-enter-active,
.spinner-leave-active {
  transition: opacity 0.3s ease;
}

.spinner-enter-from,
.spinner-leave-to {
  opacity: 0;
}
</style>
