<template>
  <header
    class="header"
    :class="{
      'header--white': !isblackHeader,
      'scrolled--black': isScrolled && isblackHeader,
      'scrolled--white': isScrolled && !isblackHeader,
    }"
  >
    <div class="container">
      <div class="header__inner">
        <div class="header__top">
          <div class="header__left">
            <NuxtLink to="/" class="header__logo">
              <NuxtImg v-if="isblackHeader" src="assets/img/logo/logo.svg" />
              <NuxtImg v-else src="assets/img/logo/logo-black.svg" />
            </NuxtLink>
            <UIAppTabs
              type="lang"
              :tabs="TABS_LANG"
              :current-tab="currentLang"
              @on-change-tab="onChangeLang"
            />
          </div>

          <nav class="header__nav">
            <ul class="header__nav-list">
              <li
                class="header__nav-item"
                v-for="item in HEADER.NAV"
                :key="item.ICON"
                @click="handleIconClick(item.ALT)"
              >
                <Icon :name="item.ICON" :alt="item.ALT" />
              </li>
            </ul>
          </nav>

          <div class="header__right">
            <div class="header__phones">
              <div class="header__phone">
                <Icon name="SocialPhone" />
                <a href="tel:+38(097)470-44-77" type="tel">
                  +38(097)470-44-77
                </a>
              </div>
              <div class="header__phone">
                <Icon name="SocialPhone" />
                <a href="tel:+38(099)470-44-77" type="tel">
                  +38(099)470-44-77
                </a>
              </div>
            </div>
            <div class="header__buttons">
              <NuxtLink to="/support">
                <AppButton
                  class="header__support-btn btn--support"
                  text="Підтримка"
                  sprite-id="support"
                  iconName="SocialSupport"
              /></NuxtLink>
              <AppButton
                class="btn--personal header__personal-cabinet-btn"
                :class="authBtnData.class"
                :icon-name="authBtnData.icon"
                :text="authBtnData.text"
                @click="authBtnData.handler"
              />
            </div>
          </div>
        </div>
        <Transition name="personal-cabinet-menu">
          <PersonalCabinetMobileMenu
            v-if="isOpenMobileMenuProfile"
            @is-open-menu="toggleProfileModal"
          />
        </Transition>
      </div>
    </div>
  </header>
</template>

<script setup lang="ts">
// Components
import AppButton from "~/components/UI/AppButton.vue"

// Constants
import { HEADER, TABS_LANG } from "~/constants"
import { ROUTES } from "~/constants/routes"

// Stores =>
import { useAuthStore } from "~/stores/auth"
import { useModalStore } from "~/stores/modal"
import { useMainStore } from "~/stores/main"
import { lockPageScroll, unlockPageScroll } from "~/utils"

// ---- COMPOSABLES ---- //
const route = useRoute()
// const modalToggle = useModalsShow()

// Store instances
const authStore = useAuthStore()
const modalStore = useModalStore()

// Store actions
const { openModalRegisterEmail, openModalLogout } = modalStore

// Store data
const { accessToken } = toRefs(authStore)

// Data
defineProps<{
  isScrolled: boolean
  isScrolledWhite: boolean
}>()
const isOpenMobileMenuProfile = ref<boolean>(false)

// Stores data
const { currentLang } = toRefs(useMainStore())

// Computed
const isblackHeader = computed(() => {
  if (
    route.path === ROUTES.MAIN ||
    route.path === ROUTES.RESULTS ||
    (route.path.startsWith("/trips/") && route.path != "/trips/unconfirmed") ||
    route.path === "/trips"
  ) {
    return true
  }
})
const authBtnData = computed(() => {
  const authData = {
    text: "Особистий кабінет",
    class: "",
    icon: "SocialPersonalCabinet",
    handler: onUserAuth,
  }
  const signOutData = {
    text: "Вийти з акаунту",
    class: "btn--personal-red",
    icon: "SocialPersonalCabinet",
    handler: toggleProfileModal,
  }

  // show signOut btn only if user located in personal-cabinet page
  return (accessToken.value && route.path === "/personal-cabinet/tickets") ||
    route.path === "/personal-cabinet/archive" ||
    route.path === "/personal-cabinet/contacts"
    ? signOutData
    : authData
})

// Methods
function onChangeLang(selectedLang: string) {
  currentLang.value = selectedLang
}
function onUserAuth() {
  if (authStore.accessToken) return navigateTo("/personal-cabinet/tickets")

  openModalRegisterEmail()
}
function toggleProfileModal() {
  // for personal-cabinet if screen size <991 we open mobile menu else desktop modal
  if (window.innerWidth <= 991) {
    isOpenMobileMenuProfile.value = !isOpenMobileMenuProfile.value
    isOpenMobileMenuProfile.value ? lockPageScroll() : unlockPageScroll()
  } else {
    isOpenMobileMenuProfile.value = false
    openModalLogout()
  }
}

const handleIconClick = (item: string) => {
  if (item === "Viber icon") {
    const phoneNumber = "+380978764512"
    const viberUrl = `viber://add?number=${encodeURIComponent(phoneNumber)}`

    // Проверка доступности Viber
    if (
      typeof navigator !== "undefined" &&
      navigator.userAgent.match(/android|iphone|ipad|ipod/i)
    ) {
      window.location.href = viberUrl
    } else {
      window.open(viberUrl, "_blank")
    }
  } else if (item === "Telegram icon") {
    window.open("https://telegram.im/@Rubikon_tickets_bot", "_blank")
  } else if (item === "Call icon") {
    window.location.href = "tel:+380978764512"
  }
}

// Lifecycle
onMounted(() => {
  window.addEventListener("resize", () => {
    if (window.innerWidth >= 992) {
      // personal-cabinet mobile menu hide
      isOpenMobileMenuProfile.value = false
      unlockPageScroll()
    }
  })
})
</script>

<style lang="scss" scoped>
@import "@/assets/scss/components/header/header.scss";

.scrolled--black {
  background: linear-gradient(
      181.39deg,
      #1b1b1d 26.44%,
      rgba(56, 62, 69, 0.69) 161.3%,
      #383e45 260.84%
    ),
    #ffffff;
  transition: 0.3s ease-in-out;
  padding-bottom: rem(15);
}

.scrolled--white {
  background-color: var(--monochrome-light-grey);
  padding-bottom: rem(15);
  transition: 0.3s ease-in-out;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.1);
}

.personal-cabinet-menu-enter-active,
.personal-cabinet-menu-leave-active {
  transition: all 0.4s ease-in;
}
.personal-cabinet-menu-enter-from,
.personal-cabinet-menu-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}
</style>
