<template>
  <div class="marquee">
    <ul v-for="list in 3" :key="list" class="marquee__list">
      <li v-for="item in 16" :key="item" class="marquee__item">
        <span class="marquee__item-text">Оплата при посадці!</span>
      </li>
    </ul>
  </div>
</template>

<script lang="ts" setup></script>

<style lang="scss" scoped>
.marquee {
  min-height: rem(40);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--monochrome-dark-grey);
  font-size: 0.875rem;
  color: var(--monochrome-white);
  overflow: hidden;

  @media (min-width: 1160px) {
    min-height: rem(50);
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
    animation: infinite-marquee 50s infinite linear;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1.6875rem;
    margin-right: 3.125rem;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      width: 1.375rem;
      height: 1.375rem;
      transform: translateY(-50%);
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.65 22.5L6.75 19.25L2.975 18.475L3.4 14.8L1 12L3.4 9.225L2.975 5.55L6.75 4.775L8.65 1.5L12 3.05L15.35 1.5L17.275 4.775L21.025 5.55L20.6 9.225L23 12L20.6 14.8L21.025 18.475L17.275 19.25L15.35 22.5L12 20.95L8.65 22.5ZM9.325 20.525L12 19.4L14.75 20.525L16.425 18.025L19.35 17.275L19.05 14.3L21.075 12L19.05 9.65L19.35 6.675L16.425 5.975L14.7 3.475L12 4.6L9.25 3.475L7.575 5.975L4.65 6.675L4.95 9.65L2.925 12L4.95 14.3L4.65 17.325L7.575 18.025L9.325 20.525ZM10.925 15.325L16.6 9.7L15.475 8.675L10.925 13.175L8.55 10.7L7.4 11.825L10.925 15.325Z' fill='white'/%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &-svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &-span {
      padding-left: rem(5);
    }
  }
}
</style>
