.bus-animated {
  &--display {
    &_mobile {
      display: flex;
      margin-top: rem(20);

      & svg {
        min-width: 100%;
      }

      @media (min-width: 900px) {
        display: none;
      }
    }

    &_laptop {
      display: none;

      @media (min-width: 900px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: rem(563);
        width: 100%;

        & svg {
          max-width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }

  &__wheel {
    transform-origin: 162.7px 124.7px;
    animation: wheel-rotation 1.6s infinite linear reverse;

    &--rear {
      transform-origin: 417px 125.5px;
    }
  }
}
