//.hero-screen {
//  display: flex;
//  justify-content: space-between;
//
//  // padding-top: 1.875rem;
//
//  &__title {
//    padding-bottom: rem(30);
//    font-size: rem(36);
//    color: var(--monochrome-white);
//
//    // max-width: 48.75rem;
//    // padding-bottom: 3.625rem;
//
//    & span {
//      color: var(--accent-color);
//    }
//  }
//}