.hero {
  position: relative;
  padding-top: rem(70);
  min-height: calc(100vh - 110px);
  //z-index: var(--ui-index-1);
  @media (min-width: 1160px) {
    padding-top: rem(110);
    min-height: calc(100vh - 160px);
  }

  &__infinite-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: linear-gradient(
                      #1b1b1d 23.96%,
                      rgba(56, 62, 69, 0.69) 67.71%,
                      #383e45 100%
      );
      z-index: var(--ui-index-1);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 110px);

    @media (min-width: 1160px) {
      min-height: calc(100vh - 160px);
    }
  }

  &__main {
    position: relative;
    margin-top: auto;
    @media (min-width: 1160px) {
      padding-bottom: rem(95);
      margin: auto 0;
    }
  }

  &-screen {
    display: flex;
    justify-content: space-between;

    &__title {
      padding-bottom: rem(30);
      font-size: rem(36);
      color: var(--monochrome-white);

      & span {
        color: var(--accent-color);
      }

      @media (min-width: 1160px) {
        max-width: rem(781);
        font-size: rem(64);
        line-height: rem(77);
      }
    }
  }
  &-trips {
    &__title {
      font-size: rem(20);
      line-height: rem(24);
      color: var(--monochrome-white);
      margin-bottom: rem(15);
      @media(min-width: 1200px){
        display: none;
      }
    }
  }
  &-btn {
    &__search {
      position: absolute;
      //top: calc(100% + 25px);
      top: 100%;
      left: 50%;
      transform: translateX(-50%);

      display: none;
      justify-content: center;
      align-items: center;
      width: rem(50);
      height: rem(50);
      border-radius: 50%;
      background: var(--monochrome-white);


      &.show {
        display: flex;
        @media(min-width: 1200px){
          display: none;
        }
      }
      @media(min-width: 1200px){
        display: none;
      }
    }
  }

  &--search {
    min-height: 0;
    background: linear-gradient(90deg, #1b1b1d 0%, #383e45 100%);
    padding-top: rem(155);
    padding-bottom: rem(50);

    .hero {
      &__inner {
        display: block;
        min-height: 0;

        @media (min-width: 1160px) {
          min-height: 0;
        }
      }

      &__main {
        margin-top: 0;

        @media (min-width: 1160px) {
          padding-bottom: 0;
          margin: 0;
        }
      }
    }
  }

  &--trips {
    padding-top: rem(70);
    padding-bottom: rem(20);
    @media(min-width: 1200px){
      padding-top: rem(155);
      padding-bottom: rem(50);
    }
  }
}

.infinite-bg {
  &__wrapper {
    padding-top: rem(560);
    height: 100%;
    width: 100%;
    animation: infinite-loop-bg 10s infinite linear;

    & img {
      width: unset;
    }
  }
}
