.search {
  &--trips {
    display: none;
  }
  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 47% 1fr;
  }
  &.show {
    display: grid;
  }
  &__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: rem(10);

    &:not(:last-child) {
      margin-bottom: rem(10);
      @media (min-width: 1200px) {
        margin-bottom: 0;
      }
    }

    @media (min-width: 1200px) {
      flex-direction: row;
      align-items: center;
      gap: 0;
      background: var(--monochrome-white);
      border-top-left-radius: rem(8);
      border-bottom-left-radius: rem(8);
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: rem(1);
        height: rem(80);
        transform: translateY(-50%);
        background-color: var(--monochrome-grey);
      }
    }

    &--mod {
      display: grid;
      grid-template-columns: 1fr 1fr;
      @media (min-width: 1200px) {
        grid-template-columns: 28% 1fr;
        border-radius: 0 rem(8) rem(8) 0;
        .search__group {
          &:last-of-type {
            @media (min-width: 1200px) {
              &.error {
                .app-input-box {
                  border-top-right-radius: rem(8);
                  border-bottom-right-radius: rem(8);
                }
              }
            }
          }
        }
      }
    }
  }

  &__group {
    position: relative;
    width: 100%;
    color: var(--monochrome-dark-grey);

    &.error {
      transition: all 0.3s ease;
      border-radius: rem(8);

      .app-input-box {
        border: rem(1) solid var(--additional-red-color);
      }

      .search__error {
        transform: translateY(0);
        opacity: 1;
        position: sticky;
        z-index: 0;
      }

      .datepicker--search {
        border-radius: rem(8);
        border: rem(1) solid var(--additional-red-color);
      }

      @media (min-width: 1200px) {
        .app-input-box {
          border-radius: 0;
        }
        .search__error {
          position: absolute;
        }
        .datepicker--search {
          border-radius: unset;
        }
      }
    }

    &:first-child {
      @media (min-width: 1200px) {
        &.error {
          .app-input-box {
            border-top-left-radius: rem(8);
            border-bottom-left-radius: rem(8);
          }
        }
      }
    }

    &--passenger {
      .search__error {
        @media (min-width: 1200px) {
          width: calc(100% - 247px);
        }
      }
    }
  }

  &__swap {
    border: rem(1) solid var(--monochrome-dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(45);
    height: rem(45);
    border-radius: 50%;
    cursor: pointer;
    background: var(--monochrome-white);

    position: absolute;
    top: rem(40);
    right: rem(10);
    z-index: var(--ui-index-3);

    svg {
      height: rem(24);
      width: rem(24);
      color: var(--monochrome-dark-grey);
      z-index: var(--ui-index-4);
      transform: rotate(90deg);
    }

    @media (any-hover: hover) {
      &:hover {
        & svg {
          color: var(--accent-color);
        }
      }
    }
    @media (min-width: 1200px) {
      right: unset;
      left: 50%;
      transform: translate(-50%, -50%);
      flex-shrink: 0;
      border: none;
      background: var(--monochrome-light-grey);
      svg {
        transform: rotate(180deg);
      }
    }

    &.error {
      svg {
        color: var(--additional-red-color);
      }
    }
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--monochrome-white);
    font-size: rem(10);
    font-weight: 300;
    line-height: rem(12);
    background: var(--additional-red-color);
    border-bottom-right-radius: rem(8);
    border-bottom-left-radius: rem(8);

    transition: all 0.3s ease;
    padding: rem(10) rem(5) rem(5);
    margin-top: rem(-5);
    transform: translateY(rem(-30));
    opacity: 0;
    position: absolute;
    width: 100%;
    pointer-events: none;
  }

  &-btn {
    grid-column: 1/3;
    margin-top: rem(10);
    margin-bottom: rem(20);
    font-size: rem(16);
    border-radius: rem(8);
    background-color: var(--accent-color);
    border: 1px solid transparent;
    @media (min-width: 1200px) {
      max-width: rem(217);
      margin: 0;
      position: absolute;
      top: rem(10);
      right: rem(10);
      z-index: var(--ui-index-2);
    }
  }
  &__submit-link {
    width: 100%;

    @media (min-width: em(1200)) {
      max-width: rem(217);
    }
  }

  &__modal {
    height: 100%;
    width: 100%;
    max-width: 100%;

    top: 0;
    left: 0;
    z-index: var(--ui-index-4);

    background-color: var(--monochrome-white);

    @media (min-width: 845px) {
      height: auto;
    }

    &--passengers {
      display: flex;
      flex-direction: column;
      gap: rem(20);

      @media (min-width: 845px) {
        left: 0;
        top: calc(100% + 5px);
        max-width: rem(395);
      }
    }

    &--place {
      @media (min-width: 845px) {
        left: rem(0);
        top: calc(100% + 5px);
      }

      &-after {
        &::after {
          content: "";
          display: block;
          width: calc(100% + rem(40));
          margin-left: rem(-20);
          height: rem(1);
          background-color: var(--monochrome-grey);
          margin-top: rem(30);
          margin-bottom: rem(30);

          @media (min-width: 1200px) {
            margin-top: rem(15);
            margin-bottom: rem(15);
          }

          @media (min-width: 1335px) {
            margin-top: rem(20);
            margin-bottom: rem(20);
          }
        }
      }

      & h3 {
        font-weight: 400;
        line-height: rem(19);
        font-size: rem(12);
        color: var(--monochrome-dark-grey);

        @media (min-width: 845px) {
          font-size: rem(14);
        }

        @media (min-width: 1200px) {
          font-size: rem(13);
          color: var(--monochrome-black);
        }

        @media (min-width: 1335px) {
          font-size: rem(16);
        }
      }

      & ul {
        display: grid;
        gap: rem(20);
        margin-top: rem(15);

        @media (min-width: 845px) {
          gap: rem(10);
        }

        @media (min-width: 1200px) {
          margin-top: rem(10);
        }

        @media (min-width: 1335px) {
          gap: rem(15);
          margin-top: rem(15);
        }
      }

      & li,
      & p {
        cursor: pointer;
        font-weight: 300;
        line-height: 150%;
        color: var(--monochrome-black);
        font-size: rem(14);

        @media (min-width: 1200px) {
          font-size: rem(13);
        }

        @media (min-width: 1335px) {
          font-size: rem(16);
        }

        & span:nth-child(1):hover {
          color: var(--accent-color);
        }

        & span:nth-child(2) {
          color: var(--monochrome-dark-grey);
        }
      }
    }
  }

  &-mobile {
    cursor: pointer;
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: rem(5);
    }
    &__top {
    }
    &__from {
      padding: rem(10);
      background: var(--monochrome-white);
      border-radius: rem(8);
      display: flex;
      align-items: center;
      gap: rem(5);
      svg {
        color: var(--monochrome-dark-grey);
      }
    }
    &__bottom {
      padding: rem(10);
      background: var(--monochrome-white);
      border-radius: rem(8);
      display: grid;
      grid-template-columns: 37% 1fr;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(37% + rem(1));
        width: rem(1);
        height: 100%;
        background: var(--monochrome-grey);
      }
    }
    &__data {
      display: flex;
      align-items: center;
      gap: rem(5);
      padding-right: rem(10);
      p {
        font-size: rem(14);
        font-weight: 300;
        line-height: rem(20);
      }
    }
    &__passenger {
      display: flex;
      align-items: center;
      gap: rem(5);
      padding: 0 rem(10);
      p {
        font-size: rem(14);
        font-weight: 300;
        line-height: rem(20);
      }
    }
    @media (min-width: 1200px) {
      display: none;
    }
    &.hide {
      display: none;
    }
  }
}
