<template>
  <Transition name="modal">
    <slot />
  </Transition>
</template>

<style scoped lang="scss">
.modal-enter-active {
  animation: open-modal-cabinet 0.3s ease forwards;
}
.modal-leave-active {
  animation: close-modal-cabinet 0.3s ease forwards;
}
.modal-leave-from {
  opacity: 1;
}
.modal-leave-to {
  opacity: 0;
}
</style>
