<template>
  <div class="app-button-back">
    <button class="app-button-back__btn">
      <Icon name="ArrowLeftIcon" color="#1C1D1E" size="24px" />
    </button>
    <span class="app-button-back__text">Повернутись назад</span>
  </div>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
@import "@/assets/scss/components/UI/app-button-back.scss";
</style>
