<template>
  <nav aria-label="breadcrumb" class="breadcrumb">
    <ul class="breadcrumb-list">
      <li class="breadcrumb-item">
        <a href="#" class="breadcrumb-link active">Квитки на автобус</a>
      </li>
      <li class="breadcrumb-item">
        <a href="#" class="breadcrumb-link">Розклад</a>
      </li>
    </ul>
  </nav>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
@import "@/assets/scss/components/UI/breadcrumb.scss";
</style>
