<template>
  <button :class="['btn', buttonStyle]" :disabled="disabled || false">
    <span>
      {{ text }}
    </span>
    <template v-if="iconName">
      <Icon :name="iconName" :size="iconSize" />
    </template>
  </button>
</template>

<script lang="ts" setup>
type TButtonsStyle =
  | "modified-transparent"
  | "default-transparent"
  | "modified-white"
  | "modified-gold"
  | "default-gold"
  | "light-grey"
  | "grey"

interface IProps {
  buttonStyle?: TButtonsStyle
  disabled?: boolean
  iconName?: string | number
  iconSize?: string
  text?: string | number | undefined
}

const props = defineProps<IProps>()

// ---- COMPUTED ---- //
const buttonStyle = computed(() => {
  switch (props.buttonStyle) {
    case "default-gold": {
      return "default-gold"
    }
    case "default-transparent": {
      return "default-transparent"
    }
    case "grey": {
      return "grey"
    }
    case "light-grey": {
      return "light-grey"
    }
    case "modified-white": {
      return "modified-white"
    }
    case "modified-gold": {
      return "modified-gold"
    }
    case "modified-transparent": {
      return "modified-transparent"
    }
  }
})
</script>

<style lang="scss" scoped>
.btn {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: rem(8);
  border: 1px solid transparent;
  transition: 0.2s linear;

  width: 100%;
  font-size: rem(16);
  // line-height: rem(19);
  text-align: left;

  min-height: rem(60);

  color: var(--monochrome-black);

  svg {
    flex-shrink: 0;
  }

  &--search {
    gap: rem(10);

    & svg {
      height: rem(24);
      width: rem(24);
      transform: rotate(180deg);
    }
  }

  &.default-gold {
    border: rem(1) solid var(--accent-color);
    background: var(--accent-color);

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--accent-color);
        background: var(--monochrome-white);
      }
    }

    &:disabled {
      background: var(--monochrome-grey);
      color: var(--monochrome-dark-grey);
      border-color: transparent;

      svg {
        fill: var(--monochrome-dark-grey);
      }
    }

    &--green {
      border: rem(1) solid var(--bright-green-color);
      background: var(--bright-green-color);
      color: var(--monochrome-white);

      font-weight: 400;

      @media (any-hover: hover) {
        &:hover:not([disabled]) {
          border-color: var(--bright-green-color);
          background: transparent;
          color: var(--monochrome-black);
        }
      }
    }
  }

  &.default-transparent {
    border: rem(1) solid var(--accent-color);
    @media (any-hover: hover) {
      &:hover {
        background: var(--accent-color);
      }
    }

    &:disabled {
      border-color: var(--monochrome-dark-grey);
      color: var(--monochrome-dark-grey);
      background: transparent;
    }
  }

  &.grey {
    background: var(--monochrome-grey);
    @media (any-hover: hover) {
      &:hover {
        background: var(--monochrome-dark-grey);
      }
    }

    &:disabled {
      color: var(--monochrome-dark-grey);
      background: var(--monochrome-grey);
    }
  }

  &.light-grey {
    background: var(--monochrome-light-grey);

    @media (any-hover: hover) {
      &:hover {
        background: var(--monochrome-dark-grey);
        color: var(--monochrome-black);

        svg {
          color: var(--monochrome-black);
        }
      }
    }

    &:disabled {
      background: var(--monochrome-grey);
      color: var(--monochrome-dark-grey);
    }
  }

  &--support {
    min-height: rem(49);

    & svg {
      height: rem(24);
      width: rem(24);
      fill: var(--monochrome-black);
    }
  }

  &--confirmed {
    & svg {
      width: rem(24);
      height: rem(24);
      fill: var(--monochrome-black);
    }
  }

  &--personal {
    min-height: 0;
    border: none;

    & span {
      display: none;
    }

    & svg {
      width: rem(40);
      height: rem(40);
    }

    @media (min-width: 1160px) {
      min-height: rem(49);
      & span {
        display: block;
      }

      & svg {
        display: none;
      }
    }
  }

  &--form {
    min-height: rem(50);
  }

  &--unconfirmed {
    & svg {
      width: rem(24);
      height: rem(24);

      fill: var(--monochrome-black);
    }
  }

  &--download {
    span {
      display: none;
      @media (min-width: 1100px) {
        display: block;

        font-size: rem(12);
        color: var(--monochrome-black);
      }
    }
  }

  &--pending {
    span {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: rem(-3);
        left: rem(-34);
        width: rem(24);
        height: rem(24);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M9.97051 20C4.46248 19.9985 -0.00148002 15.5201 3.68102e-07 9.99733C0.00148076 4.47452 4.46782 -0.001484 9.97585 3.69089e-07C13.7376 0.00101599 17.1786 2.12422 18.8749 5.49081C19.1746 6.1123 18.9152 6.85979 18.2954 7.16034C17.6915 7.45319 16.9648 7.2144 16.6509 6.61995C14.7893 2.92226 10.2907 1.43781 6.60285 3.30437C2.91505 5.17093 1.43458 9.68166 3.29613 13.3794C5.15768 17.0771 9.65632 18.5616 13.3441 16.695C14.7653 15.9757 15.9205 14.8205 16.6417 13.3975C16.9541 12.7821 17.7048 12.5372 18.3185 12.8504C18.9322 13.1636 19.1764 13.9163 18.8641 14.5317C17.1689 17.8936 13.7276 20.0095 9.97051 20Z' fill='%23939393'/%3E%3C/svg%3E");
        background-position: center;
        background-repeat: no-repeat;
        animation: circle 1s linear infinite;
      }
    }
    svg {
      display: none;
    }
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
