<template>
  <div class="app__datepicker datepicker" :class="className">
    <div class="datepicker__head" v-if="showHead">
      <span @click="closeDatepicker">
        <Icon name="ModalClose" size="30" />
      </span>
      <h3>Дата поїздки</h3>
    </div>
    <VueDatePicker
      ref="datepicker"
      calendar-cell-class-name="datepicker__cell"
      calendar-class-name="datepicker__calendar"
      input-class-name="datepicker__input"
      menu-class-name="datepicker__menu"
      no-disabled-range
      model-type="yyyy-MM-dd"
      month-name-format="long"
      format="dd.MM.yyyy"
      :enable-time-picker="false"
      :highlight-week-days="weekDays"
      :multi-dates="multiDates"
      :locale="'uk-UA'"
      :uid="id"
      :multi-calendars="multiCalendar"
      :auto-apply="autoClose"
      :month-change-on-scroll="monthScroll"
      :model-value="date"
      @open="openDatepicker"
      @closed="closeDatepicker"
      @update:model-value="setNewDate"
      @internal-model-change="onCurrentDateUpdate"
    >
      <template #arrow-left>
        <Icon name="ArrowLeftIcon" size="24" />
      </template>
      <template #arrow-right>
        <Icon name="ArrowRightIcon" size="24" />
      </template>
      <template #action-row="{ selectDate }">
        <button
          class="datepicker__btn datepicker__btn--apply"
          :disabled="!currentDate"
          :class="{ 'datepicker__btn--apply-disabled': !currentDate }"
          @click="selectDate"
        >
          {{ submitBtnText }}
        </button>
      </template>
    </VueDatePicker>

    <div :class="{ upLabel: date }" class="detapicker__label">
      <Icon name="Calendar" />
      <span>{{ placeholder }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
// Modules
import VueDatePicker, { DatePickerInstance } from "@vuepic/vue-datepicker"
import "@vuepic/vue-datepicker/dist/main.css"

// Stores
import { useTripsStore } from "~/stores/trips"

// Composable
const tripsStore = useTripsStore()

// Store data
const { search } = toRefs(tripsStore)

// Data
const props = withDefaults(
  defineProps<{
    initialDate?: string
    placeholder?: string
    multiDates?: boolean
    autoClose?: boolean
    weekDays?: number[]
    id: string
    format?: string
    className?: string
    multiCalendar?: number | boolean
    monthScroll?: boolean
    showHead?: boolean
  }>(),
  {
    multiDates: false,
  }
)
const emit = defineEmits<{
  (e: "on-date-select", dates: string): void
  (e: "on-closed"): void
  (e: "on-open"): void
}>()

const datepicker = ref<DatePickerInstance>(null)
const currentDate = ref()
const date = ref()

const submitBtnText = computed(() => {
  return currentDate.value ? `Обрати ${currentDateFormat()}` : "Оберіть дату"
})

// Methods
function onCurrentDateUpdate(value: Date) {
  currentDate.value = value
}
function currentDateFormat() {
  const day = currentDate.value.getDate()
  const month = currentDate.value.getMonth() + 1
  const year = currentDate.value.getFullYear()

  const formattedDay = day < 10 ? `0${day}` : `${day}`
  const formattedMonth = month < 10 ? `0${month}` : `${month}`

  return `${formattedDay}.${formattedMonth}.${year}`
}
function closeDatepicker() {
  emit("on-closed")
}
function openDatepicker() {
  emit("on-open")
}
// handler to set new date, which user selected on datepicker
function setNewDate(selectedDate: Date | Date[] | string | string[]) {
  date.value = selectedDate

  // type guard in case of selectedDate = null
  if (!selectedDate) {
    // set modelValue var to an empty array if we have multiDates picker
    if (props.multiDates) date.value = []
  }

  emit("on-date-select", date.value)
}
// handler to set initial date data from the props object
function setInitialDate() {
  // if (!!props.initialDate) {
  date.value = props.initialDate
  // }
}

// Lifecycle hooks
onMounted(() => {
  setInitialDate()

  if (
    props.placeholder === "Дата поїздки" &&
    search.value.departureDate != ""
  ) {
    date.value = search.value.departureDate
  }
})
onUpdated(() => setInitialDate())
</script>

<style lang="scss">
.detapicker__label {
  position: absolute;
  top: 50%;
  left: rem(15);
  font-weight: 300;
  color: var(--monochrome-dark-grey);
  transform: translateY(-50%);
  pointer-events: none;
  transition: 300ms ease;
  transform-origin: left;
  display: flex;
  align-items: center;
  gap: rem(5);
  font-size: rem(14);

  & svg {
    width: rem(20);
    height: rem(20);
  }

  @media (min-width: 1200px) {
    font-size: rem(18);
  }

  @media (min-width: 1600px) {
    font-size: rem(20);
    gap: rem(10);

    & svg {
      width: rem(24);
      height: rem(24);
    }
  }
}

.upLabel {
  transform: translateY(-22px) scale(0.6);
  left: 22px;
}

.datepicker__input {
  font-family: "e-Ukraine", sans-serif;
  font-weight: 300;
  color: var(--monochrome-black);
  background-color: var(--monochrome-light-grey);
  border-radius: 8px;
  border: none;
}

.datepicker__menu {
  font-family: "e-Ukraine", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 150%;
  color: var(--monochrome-black);
  background-color: var(--monochrome-white);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: none;

  & .dp__overlay {
    font-family: "e-Ukraine", sans-serif;
    font-size: 16px;
    font-weight: 300;
  }

  & .dp__overlay_cell_active {
    background: var(--accent-color);
    color: var(--monochrome-black);
  }

  & .dp__month_year_row {
    margin-bottom: 20px;
  }

  & .dp--arrow-btn-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    border: 1px solid var(--monochrome-dark-grey);
    border-radius: 50%;

    &:hover {
      background: #f5f5f5;
    }

    & .dp__inner_nav {
      background: transparent;
      color: unset;
    }
  }

  & .dp__menu_inner {
    padding: 15px;
  }

  & .dp__action_row {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    & .datepicker__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      padding: 10px 15px;
      font-weight: 400;
      border-radius: 8px;

      &--apply {
        font-size: rem(16);

        background-color: var(--accent-color);
        color: var(--monochrome-black);
        border-radius: 8px;
        height: 60px;

        position: fixed;
        bottom: 20px;
        right: 15px;
        left: 15px;
        z-index: var(--ui-index-3);

        &-disabled {
          color: var(--monochrome-dark-grey);
          background-color: var(--monochrome-grey);
        }
      }
      &--cancel {
        color: var(--additional-red);
        background-color: var(--additional-light-red);
      }
    }
  }
}

.dp__menu_inner.dp__flex_display {
  @media (min-width: 1400px) {
    & .dp__instance_calendar {
      &:first-of-type {
        & .datepicker__calendar {
          & .dp__calendar {
            border-right: 1px solid var(--prototype-light-grey);
          }
        }
      }
    }
  }
}

.dp__calendar_row {
  & .dp__calendar_item {
    &:nth-child(6),
    &:nth-child(7) {
      & .datepicker__cell {
        font-weight: 400;
      }
    }
  }
}

.datepicker__calendar {
  & .dp__calendar_header_item {
    color: var(--prototype-black-2);
    font-weight: 400;
    text-transform: uppercase;
  }

  & .dp__calendar_header_separator {
    margin-bottom: 10px;
    background: var(--monochrome-light-grey, #f5f5f5);
  }

  & .dp__calendar_row {
    margin: 0;
  }

  & .dp__calendar_item {
    padding: 7px;

    & .dp__today {
      border: 1px solid var(--accent-color);
      color: var(--accent-color);
    }

    & .dp__active_date {
      background: var(--accent-color);
      color: var(--monochrome-black);
    }
  }
}

.datepicker__cell {
  border-radius: 50%;
  font-weight: 300;
  margin: auto;
}

.datepicker__icon {
  margin-left: 8px;
}

.dp--menu-wrapper {
  top: calc(100% + 5px) !important;
  left: 0 !important;
  z-index: var(--ui-index-4);

  @media (min-width: 1200px) {
  }
}

.dp__input {
  position: relative;

  padding: 25px 15px 13px 15px;
  background-color: var(--monochrome-white);
  border: 2px solid var(--monochrome-white);
  line-height: unset;
  font-weight: 400;

  outline: transparent;

  &:hover {
    border-color: var(--monochrome-white);
  }

  @media (min-width: 1200px) {
    min-height: 60px;
    padding-top: rem(20);
    padding-bottom: rem(0);
  }
}

.datepicker__calendar .dp__calendar_item {
  padding: 3px;

  @media (min-width: 700px) {
    padding: 7px;
  }
}

.dp__inner_nav {
  border-radius: 50%;
  border: 1px solid transparent;
}

.dp__action_select {
  height: 30px;
}

.dp__today {
  border: 1px solid var(--accent-color);
}

.dp__action_select {
  font-size: rem(14);

  background-color: var(--accent-color);
  color: var(--monochrome-black);
}

.dp__overlay_cell_active {
  background-color: var(--accent-color);
  color: var(--monochrome-black);
}

.dp__active_date {
  background-color: var(--accent-color);
  color: var(--monochrome-black);
}

.dp__action_cancel {
  display: none;
}

.dp__button {
  display: none;
}

.dp__input_wrap {
  .dp__icon {
    display: none;
  }
}

.dp__arrow_top,
.dp__arrow_bottom {
  display: none;
}

.datepicker--search {
  position: relative;
  z-index: var(--ui-index-2);

  @media (min-width: 1200px) {
    border-right: rem(1) solid var(--monochrome-grey);
    border-left: rem(1) solid var(--monochrome-grey);
  }
  & .dp__input {
    border-radius: rem(8);
    @media (min-width: 1200px) {
      padding: rem(42) rem(20) rem(14);
      min-height: rem(79);
    }
  }
  &-open {
    position: fixed;
    z-index: var(--ui-index-4);
    top: 0 !important;
    right: 0;
    left: 0;
    bottom: 0;

    background-color: var(--monochrome-white);

    @media (min-width: 600px) {
      position: unset;
      z-index: var(--ui-index-3);
      right: unset;
      left: unset;
      bottom: unset;
      top: unset;
      overflow-y: unset;
    }
    & .datepicker__head {
      & h3 {
        font-size: rem(20);
        font-weight: 400;
        color: var(--monochrome-black);
        text-align: center;
        margin-top: 30px;
      }

      & span {
        position: absolute;
        z-index: var(--ui-index-6);
        top: 5px;
        right: 5px;
      }

      @media (min-width: 600px) {
        display: none;
      }
    }

    & .dp--menu-wrapper {
      position: fixed;
      z-index: var(--ui-index-5);
      top: rem(20) !important;
      right: 0;
      left: 0 !important;
      bottom: 0;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: rem(5);
      }

      &::-webkit-scrollbar-track {
        background-color: var(--monochrome-grey);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--additional-dark-yellow);
      }

      @media (min-width: 600px) {
        position: absolute;
        z-index: var(--ui-index-4);
        right: unset;
        left: -83px;
        bottom: unset;
        top: 77px !important;
        overflow-y: unset;
      }
    }

    & .datepicker__menu .dp__action_row .datepicker__btn--cancel {
      display: none;
    }
  }

  & .datepicker__menu .dp--arrow-btn-nav {
    display: none;

    @media (min-width: 600px) {
      display: flex;
    }
  }

  & .datepicker__menu {
    border-radius: 0;

    @media (min-width: 600px) {
      border-radius: 8px;
    }
  }

  & .dp__instance_calendar {
    &:not(:first-of-type) {
      margin-top: 10px;
      padding-top: 10px;
      border-top: 1px solid var(--monochrome-grey);

      @media (min-width: 600px) {
        margin-top: 0;
        padding-top: 0;
        border-top: unset;
      }
    }
  }

  & .dp__calendar_header {
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: var(--monochrome-light-grey);
    border-radius: 8px;

    @media (min-width: 600px) {
      background-color: transparent;
      border-radius: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  & .dp__month_year_wrap {
    max-width: 200px;
    margin: auto;

    @media (min-width: 600px) {
      max-width: 100%;
      margin: unset;
    }
  }

  &.error {
    .dp__input {
      border-bottom-left-radius: unset;
      border-bottom-right-radius: unset;
    }
  }
  .upLabel {
    left: rem(15);
    @media (min-width: 1200px) {
      left: rem(20);
    }
  }
}

.datepicker--passengers {
  & .dp__input {
    min-height: 54px;
    padding: 20px 15px 10px 15px;

    background-color: var(--monochrome-light-grey);
  }
  .upLabel {
    transform: translateY(-24px) scale(0.56);
    left: rem(15);
  }
  & .dp--menu-wrapper {
    top: 59px !important;
    left: 0 !important;

    @media (min-width: 700px) {
      left: unset !important;
      right: 0 !important;
    }
  }

  & .detapicker__label {
    @media (min-width: 1200px) {
      font-size: rem(16);
    }

    @media (min-width: 1600px) {
      font-size: rem(16);
    }
  }
}
</style>
