<template>
  <div ref="fancyGallery">
    <slot></slot>
  </div>
</template>

<script setup lang="ts">
import * as FancyboxLibs from "@fancyapps/ui"
import "@fancyapps/ui/dist/fancybox/fancybox.css"

const props = defineProps({
  options: Object,
})
const { Fancybox } = FancyboxLibs
const fancyGallery = ref<HTMLElement | null>(null)

onMounted(() => {
  Fancybox.bind(fancyGallery.value, "[data-fancybox]", {
    ...(props.options || {}),
  })
})

onUpdated(() => {
  Fancybox.unbind(fancyGallery.value)
  Fancybox.close()

  Fancybox.bind(fancyGallery.value, "[data-fancybox]", {
    ...(props.options || {}),
  })
})

onUnmounted(() => {
  Fancybox.destroy()
})
</script>
