<template>
  <div
    class="app-input-box"
    :class="{ invalid: validationError }"
    @click="$emit('open-modal')"
  >
    <input
      class="app-input"
      :id="id"
      :type="type"
      :placeholder="' '"
      :value="modelValue"
      :readonly="readOnly"
      @input="
        $emit('update:modelValue', ($event.target as HTMLInputElement).value)
      "
    />

    <label :for="id" class="app-input__label">
      <Icon v-if="iconLeft" :name="iconLeft" />
      <span>{{ placeholder }}</span>
    </label>
    <Transition name="error-appearing">
      <span v-if="validationError" class="error-info">
        {{ validationError }}
      </span>
    </Transition>
    <template v-if="iconRight">
      <Icon
        :name="iconRight"
        @click="$emit('icon-click')"
        class="app-input__icon"
      />
    </template>
  </div>
</template>

<script setup lang="ts">
// Modules, plugins
// import { useField } from "vee-validate"

// Data
defineProps<{
  validationError?: string | null
  invalidField?: boolean
  placeholder: string
  modelValue: string | number | null
  iconRight?: string
  iconLeft?: string
  readOnly?: boolean
  type?: string
  id?: string
}>()
defineEmits<{
  "update:modelValue": [string]
  "open-modal": []
  "icon-click": []
}>()

// -- validation
// const { value, errorMessage } = useField(() => props.id, undefined, {
//   syncVModel: true,
// })
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/UI/app-input.scss";

input:-webkit-autofill {
  -webkit-background-clip: text;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.error-appearing-enter-active,
.error-appearing-leave-active {
  transition: all 0.4s ease;
}

.error-appearing-enter-from,
.error-appearing-leave-to {
  opacity: 0;
  transform: translateX(200px);
}
</style>
