<template>
  <div class="app-loader app-loader--sm"></div>
</template>

<script lang="ts" setup>
// defineProps<{}>()
</script>

<style scoped lang="scss">
.app-loader.app-loader--sm {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid #ddd;
  border-top-color: #333;
  animation: rotate 1s infinite;
}
@keyframes rotate {
  100% {
    rotate: 360deg;
  }
}
</style>
