<template>
  <div
    v-click-outside="closeList"
    :class="[
      'select',
      { active: isOpen, disabled: disabled, choose: chooseOption },
    ]"
    :data-error="dataError"
  >
    <div
      class="select__toggle"
      :class="[{ 'form__label--error': validationError }, backgroundColor]"
      @click="openList"
    >
      <div class="select__field">
        <span v-if="label" class="select__text">{{ label }}</span>
        <span v-if="selected" class="select__chosen">
          {{ selectedValue }}
        </span>
      </div>
      <Icon name="ArrowFooter" class="select__svg" />
    </div>
    <div v-show="!props.disabled" class="select__dropdown" ref="rootElem">
      <!--      <div v-if="search" class="select__search">-->
      <!--        <AppConstructorInput-->
      <!--          class="select__search-input"-->
      <!--          id="select-search"-->
      <!--          placeholder="Пошук"-->
      <!--          v-model="searchQuery"-->
      <!--          @input="onSearchHandler"-->
      <!--        />-->
      <!--      </div>-->
      <!-- Options content -->
      <simplebar data-simplebar :auto-hide="true" class="select__options">
        <ul>
          <li
            v-for="(option, index) in options"
            :key="index"
            :class="[
              'select__item',
              {
                active: option.name === selected?.name,
              },
            ]"
            ref="optionsList"
            @click="chooseItem(option)"
          >
            <p class="select__option" v-html="highlightText(option.name)" />
            <Icon
              v-if="option.selected || option.id === selected?.id"
              name="SelectedIcon"
              size="20"
            />
          </li>
          <div ref="lastElem" class="last-element" />
          <!-- Options empty content -->
          <div
            v-if="!options?.length && !searchQuery"
            class="select__options--empty"
          >
            Даних не знайдено
          </div>
        </ul>
      </simplebar>
      <!-- Search empty content -->
      <div
        v-if="!options?.length && searchQuery"
        class="select__search-not-found"
      >
        <span>
          Результатів пошуку для <i>"{{ searchQuery }}"</i> не знайдено
        </span>
      </div>
      <slot />
    </div>
  </div>
</template>

<script setup lang="ts">
// Modules
import simplebar from "simplebar-vue"
import "~/node_modules/simplebar-vue/dist/simplebar.min.css"

export interface ISelectSearchEmit {
  page: number | null
  search: string | null
}

interface IOption {
  name?: string | number | null
  value?: string | number
  info?: string
  text?: string | undefined
  selected?: boolean
  id?: string | number | null
}

const emit = defineEmits(["on-choose", "on-search", "on-fetch"])
const props = defineProps<{
  label?: string
  search?: boolean
  nextPage?: string | null
  currentPage?: number | null
  options: IOption[] | null
  selected?: IOption | null | undefined
  disabled?: boolean
  error?: boolean | object | string
  dataError?: string
  background?: "grey" | "white"
}>()
// ---- DATA ---- //
const searchQuery = ref<string | null>(null)
const lastElem = ref<Element | null>()
const rootElem = ref<Element | null>()
const isOpen = ref(false)
const chooseOption = ref<boolean>(false)

// ---- COMPUTED ---- //
const backgroundColor = computed(() => {
  switch (props.background) {
    case "grey":
      return "bgc-grey"
    case "white":
      return "bgc-white"
    default:
      return ""
  }
})

const selectedValue = computed(() => {
  return props.selected?.name
})
const validationError = computed(() => {
  return props.error && !props.selected?.name
})

// ---- METHODS ---- //
function openList() {
  if (props.disabled) return
  isOpen.value = true
}

function closeList() {
  isOpen.value = false
  // currentPage.value = 1
}

function chooseItem(selected: object) {
  emit("on-choose", selected)
  closeList()
  chooseOption.value = true
}

function onSearchHandler() {
  const emitPayload: ISelectSearchEmit = {
    page: 1,
    search: searchQuery.value,
  }

  emit("on-search", emitPayload)
}
function highlightText(text: string | number | undefined | null) {
  // Если поиск не производился - возвращаем исходную строку без изменений
  if (!searchQuery.value) return text
  // Создаем регулярное выражение для поиска совпадений с искомым термином
  const regex = new RegExp(searchQuery.value, "gi")
  // Заменяем совпадения на обернутый в тег <span> текст
  return (text as string).replace(
    regex,
    (match: string) => `<span class="highlight">${match}</span>`,
  )
}

// Lifecycle hooks
onMounted(() => {
  // IMPORTANT - DO NOT USE V-IF ON ELEM USED WITH INTERSECTION LOGIC
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        // If user has already sought sth or there is no data for fetching already break the function
        if (!props.nextPage) return

        // The last element is now visible in the viewport
        if (props.currentPage && props.options?.length) {
          if (entry.isIntersecting) {
            emit("on-fetch", {
              page: props.currentPage + 1,
              search: searchQuery.value,
            })
          }
        }
      })
    },
    { root: rootElem.value },
  ) as IntersectionObserver

  if (lastElem.value) observer.observe(lastElem.value)
})
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/UI/app-select.scss";
@import "simplebar-vue/dist/simplebar.min.css";
</style>
