<template>
  <ul class="tabs-list" :class="[listData?.background, type]">
    <li class="tabs-item" v-for="tab in tabs" :key="tab.tabName">
      <button
        class="tabs-btn"
        :class="[listData?.colorText, { active: currentTab === tab.value }]"
        @click="onChangeTab(tab.value)"
      >
        {{ tab.tabName }}
      </button>
    </li>
  </ul>
</template>

<script setup lang="ts">
// ---- CONSTANTS ---- //
import { ITab } from "~/constants/interfaces/index.interface"

type TabsT = "lang" | "details" | "popular"
const props = defineProps<{
  type: TabsT
  tabs: ITab[]
  currentTab: string
}>()
const emit = defineEmits<{
  "on-change-tab": [tabComponent: string]
}>()
// Computed
const listData = computed(() => {
  const lang = {
    background: "tabs-list--white",
    colorText: "tabs-btn--lang",
  }
  const details = {
    background: "tabs-list--grey",
    colorText: "",
  }
  const popular = {
    background: "tabs-list--white",
    colorText: "",
  }
  const dataArr = new Map([
    ["lang", lang],
    ["details", details],
    ["popular", popular],
  ])

  return dataArr.get(props.type)
})

// Methods
function onChangeTab(tabName: string) {
  emit("on-change-tab", tabName)
}
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/UI/tabs.scss";
</style>
