<template>
  <div class="tooltip" :class="[tooltipBackground]">
    <Icon
      class="tooltip__icon"
      :name="iconName"
      :size="iconSize"
      :color="iconColor"
    />
    <span class="tooltip__text">
      {{ text }}
    </span>
  </div>
</template>

<script setup lang="ts">
type TTooltipBackground =
  | "monochrome-grey"
  | "transparent"
  | "monochrome-light-grey"
  | "accent-color"
  | "additional-red-color"
  | "light-green-color"
  | "additional-light-red"
interface IProps {
  text?: string
  iconName?: string | number
  iconSize?: string
  iconColor?: string
  tooltipBackground?: TTooltipBackground
}
defineProps<IProps>()
</script>

<style scoped lang="scss">
.tooltip {
  flex: 1 1 100%;
  width: 100%;
  padding: rem(10) rem(18) rem(10) rem(10);
  border-radius: rem(8);
  display: flex;
  transition: 0.3s ease;
  @media (min-width: 576px) {
    align-items: center;
  }
  @media (min-width: 1024px) {
    display: none;
  }

  &__icon {
    margin-right: rem(5);
    flex-shrink: 0;
  }

  &__text {
    font-weight: 300;
    font-size: rem(12);
    line-height: rem(14);
    color: var(--monochrome-black);

    @media (min-width: 1024px) {
      position: absolute;
      left: 0;
      bottom: rem(26);
      z-index: var(--ui-index-2);
      opacity: 0;
      visibility: hidden;
      transition: 0.3s ease;

      border-radius: rem(8);
      background: var(--monochrome-white);
      box-shadow: 0 0 rem(10) 0 rgba(0, 0, 0, 0.15);
      padding: rem(8);
      min-width: rem(261);
      max-width: rem(336);
    }
  }

  @media (any-hover: hover) {
    &:hover {
      cursor: pointer;
      .tooltip__text {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // colors
  &.monochrome-grey {
    background: var(--monochrome-grey);
  }
  &.accent-color {
    background: var(--accent-color);
  }
  &.transparent {
    background: transparent;
  }
  &.monochrome-light-grey {
    background: var(--monochrome-light-grey);
  }
  &.additional-red-color {
    background: var(--additional-red-color);
  }
  &.additional-light-red {
    background: var(--additional-light-red);
  }
  &.light-green-color {
    background: var(--light-green-color);
  }
  // modification
  &--about {
    padding: 0;
    svg {
      display: none;
    }
    span {
      color: var(--monochrome-dark-grey);
    }
    @media (min-width: 1024px) {
      display: block;
      svg {
        display: block;
      }
      span {
        color: var(--monochrome-black);
      }
    }
  }

  &--desktop {
    display: none;
    padding: 0;
    background: transparent;
    position: relative;
    margin-top: 0;
    flex: 0;
    svg {
      cursor: pointer;
    }
    @media (min-width: 1024px) {
      display: block;
    }
  }

  &--trips {
    svg {
      display: none;
    }
    @media (min-width: 1024px) {
      //display: block;
      svg {
        display: block;
        margin-right: 0;
      }
    }
    &-prepayment {
      @media (min-width: 1024px) {
        .tooltip__text {
          left: -50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  &--badges-recommended {
    padding: rem(6) rem(10);
    border-radius: rem(16.5);

    align-items: center;
    span {
      font-size: rem(10);
      font-weight: 400;
      line-height: rem(12);
    }
    @media (min-width: 992px) {
      padding: rem(8) rem(17);
    }
    @media (min-width: 1024px) {
      display: flex;
      position: relative;
      svg {
        margin: 0;
      }
      .tooltip__text {
        text-align: center;
        left: 50%;
        bottom: rem(35);
        transform: translateX(-50%);

        min-width: rem(156);
        max-width: rem(156);
      }
    }
  }

  &--badges-red {
    padding: 0;
    display: none;
    @media (min-width: 1024px) {
      display: flex;
      position: relative;
      width: max-content;
      flex: 0 1 auto;
      svg {
        margin: 0;
      }
      .tooltip__text {
        left: 50%;
        transform: translateX(-50%);
        min-width: rem(170);
        max-width: rem(170);
        text-align: center;
      }
    }
  }

  &--badges-confirmed {
    padding: rem(6) rem(9.5);
    border-radius: rem(16.5);
    align-items: center;
    svg {
      display: none;
    }
    span {
      font-weight: 400;
      font-size: rem(10);
      line-height: rem(12);
    }
    .tooltip__text {
      color: var(--green-color);
    }
    @media (min-width: 992px) {
      padding: rem(6) rem(13.5);
    }
    @media (min-width: 1024px) {
      display: flex;
      position: relative;
      svg {
        display: block;
        margin: 0;
      }
      .tooltip__text {
        text-align: center;
        left: 50%;
        bottom: rem(35);
        transform: translateX(-50%);

        min-width: rem(245);
        max-width: rem(245);
        color: var(--monochrome-black);
      }
    }
  }

  &--badges-waiting {
    padding: rem(6) rem(9.5);
    border-radius: rem(16.5);
    align-items: center;
    svg {
      display: none;
    }
    span {
      font-weight: 400;
      font-size: rem(10);
      line-height: rem(12);
    }
    .tooltip__text {
      color: var(--additional-red-color);
    }
    @media (min-width: 992px) {
      padding: rem(6) rem(13.5);
    }
    @media (min-width: 1024px) {
      display: flex;
      position: relative;
      svg {
        display: block;
        margin: 0;
      }
      .tooltip__text {
        text-align: center;
        left: 50%;
        bottom: rem(35);
        transform: translateX(-50%);

        min-width: rem(245);
        max-width: rem(245);
        color: var(--monochrome-black);
      }
    }
  }
}
</style>
