.reviews {
  background-color: var(--monochrome-white);

  padding-top: rem(50);
  padding-bottom: rem(50);
  padding-left: rem(15);
  padding-right: rem(15);

  @media (min-width: 1200px) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }

  &__wrapper {
    @media (min-width: 960px) {
      position: relative;

      display: grid;
      grid-template-columns: 34% 57%;
      gap: rem(50);
    }

    @media (min-width: 1200px) {
      gap: rem(100);
      grid-template-columns: 34% 53%;
    }

    @media (min-width: 1400px) {
      grid-template-columns: 29% 53%;
      gap: rem(160);
    }
  }

  &__title {
    margin-bottom: rem(30);
    line-height: rem(43);

    @media (min-width: 960px) {
      margin-bottom: rem(0);
      line-height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-right: rem(5);
  }

  &__comment {
    display: grid;
    gap: rem(15);

    margin-bottom: rem(20);
    padding-right: rem(10);

    max-height: rem(350);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: rem(1);
    }

    &::-webkit-scrollbar-track {
      background-color: var(--monochrome-grey);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--additional-dark-yellow);
    }

    @media (min-width: 1200px) {
      margin-bottom: rem(30);
      max-height: rem(330);
    }
  }

  &__text {
    font-size: rem(14);
    font-weight: 300;
    line-height: 140%;

    color: var(--monochrome-black);

    @media (min-width: 1200px) {
      font-size: rem(16);
    }

    @media (min-width: 1400px) {
      font-size: rem(20);
    }
  }

  &__block {
    display: grid;
    grid-template-columns: rem(35) 1fr;
    align-items: center;
    gap: rem(10);

    @media (min-width: 960px) {
      grid-template-columns: rem(51) 1fr;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: rem(5);

    @media (min-width: 1200px) {
      gap: rem(10);
    }
  }

  &__name {
    font-size: rem(12);
    font-weight: 400;
    line-height: rem(14);

    color: var(--monochrome-black);

    @media (min-width: 1200px) {
      font-size: rem(14);
    }
    @media (min-width: 1400px) {
      font-size: rem(20);
    }
  }

  &__label {
    font-size: rem(12);
    font-weight: 300;
    line-height: rem(14);

    color: var(--monochrome-dark-grey);

    @media (min-width: 1200px) {
      font-size: rem(14);
    }
  }

  &__image {
    display: block;

    width: rem(35);
    height: rem(35);

    overflow: hidden;
    border-radius: 50%;

    & img {
      object-fit: contain;
    }

    @media (min-width: 960px) {
      width: rem(51);
      height: rem(51);
    }
  }

  & .splide {
    &__slider {
      position: relative;
    }
    &__arrows {
      position: relative;

      display: flex;
      gap: rem(20);

      height: rem(50);

      margin-top: rem(40);

      @media (min-width: 960px) {
        position: absolute;
        bottom: 0;
        right: 146%;
      }
      @media (min-width: 1200px) {
        right: 159%;
      }
    }

    &__arrow {
      position: static;

      margin-top: rem(25);

      width: rem(50);
      height: rem(50);

      background-color: transparent;
      border: 1px solid var(--monochrome-dark-grey);
      position: static;
      margin-top: rem(25);

      & svg {
        width: rem(40);
        height: rem(40);
      }
    }
  }
}
