<template>
  <div class="detail" :class="[openDetail ? 'detail--open' : '']">
    <div class="detail-head" @click="toggleDetail">
      <h4 class="detail-head__title">Умови повернення</h4>
      <Icon name="TicketArrowDownAbout" size="20" />
    </div>
    <div class="detail-body">
      <div v-if="tripDetailsTabHasContent(data)" class="detail__inner">
        <div class="detail-block">
          <div class="detail-block__body" v-if="data.return">
            <div class="conditions__wrap">
              {{ useExtractContent(data.return) }}
            </div>
          </div>
        </div>
      </div>

      <div class="detail__inner" v-else>
        <EmptyLayout
          class="empty-layout--trips-more"
          :img-src="img"
          :layout-title="title"
          :layout-text="text"
          :layout-link="phone"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
// Components
import EmptyLayout from "~/components/PersonalCabinet/EmptyLayout.vue"

// Types
import { ITripConditions } from "~/types/trips"

// Store
import { useTripsStore } from "~/stores/trips"

// Constants
import { TRIP_TAB_EMPTY_LAYOUT } from "~/constants/trips"
import { PHONES } from "~/constants"

// Data
defineProps<{
  data: ITripConditions
}>()
const { img, title, text } = TRIP_TAB_EMPTY_LAYOUT
const [phone] = PHONES
const openDetail = ref<boolean>(false)

// -- store actions
const { tripDetailsTabHasContent } = toRefs(useTripsStore())

// Methods
const toggleDetail = () => {
  if (window.innerWidth < 1024) {
    openDetail.value = !openDetail.value
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/trips/trips-detail.scss";
@import "@/assets/scss/components/booking/ticket/ticket-conditions.scss";
</style>
