<template>
  <div class="detail" :class="[openDetail ? 'detail--open' : '']">
    <div class="detail-head" @click="toggleDetail">
      <h4 class="detail-head__title">Деталі</h4>
      <Icon name="TicketArrowDownAbout" size="20" />
    </div>
    <div class="detail-body">
      <div v-if="tripDetailsTabHasContent(data)" class="detail__inner">
        <div v-if="data.bookingConditions" class="detail__condition">
          <h5>Умови купівлі квитка</h5>
          <p>{{ useExtractContent(data.bookingConditions) }}</p>
        </div>

        <div class="detail-block">
          <div class="detail-block__head">
            <h5>Загальна інформація</h5>
            <AppTooltip
              class="detail-tooltip tooltip--about detail-tooltip--about tooltip--desktop"
              tooltip-background="transparent"
              icon-name="TicketHelp"
              icon-color="var(--monochrome-grey)"
              icon-size="20"
              text="Загальні дані про рейс."
            />
          </div>
          <div class="detail-block__body">
            <ul class="detail-block__list">
              <li class="detail-block__item" v-if="data.transportType">
                <h4>Тип транспорту:</h4>
                <p>{{ data.transportType }}</p>
              </li>
              <li class="detail-block__item" v-if="data.routeName">
                <h4>Маршрут:</h4>
                <p>{{ data.routeName }}</p>
              </li>
              <li class="detail-block__item" v-if="data.timezone">
                <h4>Часовий пояс:</h4>
                <p>{{ data.timezone }}</p>
              </li>
            </ul>
          </div>
        </div>

        <div v-if="data.busOptions.length" class="detail-block">
          <div class="detail-block__head">
            <h5>Комфорт</h5>
            <AppTooltip
              class="detail-tooltip tooltip--about detail-tooltip--about tooltip--desktop"
              tooltip-background="transparent"
              icon-name="TicketHelp"
              icon-color="var(--monochrome-grey)"
              icon-size="20"
              text="Додаткові послуги від перевізника в транспортному засобі."
            />
          </div>
          <div class="detail-block__body">
            <ul class="detail-block__list detail-block__list--comfort">
              <li
                class="detail-block__item"
                v-for="(option, i) in data.busOptions"
                :key="i"
              >
                <NuxtImg :src="option.icon" width="20px" height="20px" />
                <h4>{{ option.name }}</h4>
              </li>
            </ul>
          </div>
        </div>

        <div v-if="data.carrierDescription" class="detail-block">
          <div class="detail-block__head">
            <h5>Додаткова інформація від перевізника</h5>
            <AppTooltip
              class="detail-tooltip tooltip--about detail-tooltip--about tooltip--desktop"
              tooltip-background="transparent"
              icon-name="TicketHelp"
              icon-color="var(--monochrome-grey)"
              icon-size="20"
              text="Додаткова інформація від перевізника"
            />
          </div>
          <div class="detail-block__body">
            <p class="detail-block__text">
              {{ useExtractContent(data.carrierDescription) }}
            </p>
          </div>
        </div>

        <div v-if="data.busPhotos.length" class="detail-block">
          <div class="detail-block__head">
            <h5>Фото транспорту</h5>
            <AppTooltip
              class="detail-tooltip tooltip--about detail-tooltip--about tooltip--desktop"
              tooltip-background="transparent"
              icon-name="TicketHelp"
              icon-color="var(--monochrome-grey)"
              icon-size="20"
              text="Фотографії транпорту від перевізника."
            />
          </div>
          <div class="detail-block__body">
            <Fancybox :options="optionsFancy" class="detail-gallery">
              <a
                data-fancybox="gallery"
                v-for="(photo, i) in data.busPhotos"
                :key="i"
                :href="photo"
                class="detail-gallery__link"
                :data-count="`${photo.length - 5}`"
              >
                <NuxtImg :src="photo" :alt="`busPhoto-${i}`" />
              </a>
            </Fancybox>
          </div>
        </div>

        <div class="detail-warning">
          <div class="detail-warning__wrapper">
            <Icon name="BookingWarningIcon" size="24" />
            <p>
              Увага! Перевізник не передбачає бронювання з вибором конкретного
              місця. Посадка здійснюється на вільні місця!
            </p>
          </div>
        </div>
      </div>
      <div v-else class="detail__inner">
        <EmptyLayout
          class="empty-layout--trips-more"
          :img-src="img"
          :layout-title="title"
          :layout-text="text"
          :layout-link="phone"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
// Components
import AppTooltip from "~/components/UI/AppTooltip.vue"
import Fancybox from "~/components/UI/AppFancybox.vue"
import { IBookingDetails } from "~/types/booking"
import EmptyLayout from "~/components/PersonalCabinet/EmptyLayout.vue"

// Store
import { useTripsStore } from "~/stores/trips"

// Constants
import { TRIP_TAB_EMPTY_LAYOUT } from "~/constants/trips"
import { PHONES } from "~/constants"
import { useExtractContent } from "~/composables/useExtractText"

const { img, title, text } = TRIP_TAB_EMPTY_LAYOUT
const [phone] = PHONES

// -- store actions
const { tripDetailsTabHasContent } = toRefs(useTripsStore())

// Data
defineProps<{
  data: IBookingDetails
}>()
const openDetail = ref<boolean>(false)

const optionsFancy = {
  infinite: false,
  classes: {
    image: "f-thumbs__slide__img",
    isSelected: "is-selected",
    isPrev: "is-prev",
    isNext: "is-next",
  },
}

// Methods
const toggleDetail = () => {
  if (window.innerWidth < 1024) {
    openDetail.value = !openDetail.value
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/trips/trips-detail.scss";
</style>
