<template>
  <div class="detail" :class="[openDetail ? 'detail--open' : '']">
    <div class="detail-head" @click="toggleDetail">
      <h4 class="detail-head__title">Знижки</h4>
      <Icon name="TicketArrowDownAbout" size="20" />
    </div>
    <div class="detail-body">
      <div v-if="tripDetailsTabHasContent(data)" class="detail__inner">
        <div v-if="data.children.length" class="detail-block">
          <div class="detail-block__head">
            <h5>Знижки для неповнолітніх осіб</h5>
            <AppTooltip
              class="detail-tooltip tooltip--about detail-tooltip--about tooltip--desktop"
              tooltip-background="transparent"
              icon-name="TicketHelp"
              icon-color="var(--monochrome-grey)"
              icon-size="20"
              text="Знижки для осіб від 0 до 18 років."
            />
          </div>
          <div class="detail-block__body">
            <ul class="discounts__list">
              <li
                v-for="(childrenDiscount, i) in data.children"
                class="discounts__item"
                :key="i"
              >
                <p>{{ childrenDiscount.name }}</p>
              </li>
            </ul>
          </div>
        </div>
        <div v-if="data.animals.length" class="detail-block">
          <div class="detail-block__head">
            <h5>Знижки для перевезення тварин</h5>
            <AppTooltip
              class="detail-tooltip tooltip--about detail-tooltip--about tooltip--desktop"
              tooltip-background="transparent"
              icon-name="TicketHelp"
              icon-color="var(--monochrome-grey)"
              icon-size="20"
              text="Знижки для перевезення тварин"
            />
          </div>
          <div class="detail-block__body">
            <ul class="discounts__list">
              <li
                v-for="(animalDiscount, i) in data.animals"
                class="discounts__item"
                :key="i"
              >
                <p>{{ animalDiscount.name }}</p>
              </li>
            </ul>
          </div>
        </div>
        <div v-if="data.other.length" class="detail-block">
          <div class="detail-block__head">
            <h5>Інші знижки</h5>
            <AppTooltip
              class="detail-tooltip tooltip--about detail-tooltip--about tooltip--desktop"
              tooltip-background="transparent"
              icon-name="TicketHelp"
              icon-color="var(--monochrome-grey)"
              icon-size="20"
              text="Знижки від перевізника, які не відносяться до пільгових категорій."
            />
          </div>
          <div class="detail-block__body">
            <ul class="discounts__list">
              <li
                v-for="(discountsOther, i) in data.other"
                :key="i"
                class="discounts__item discounts__item--other"
              >
                <p>{{ discountsOther.name }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="detail__inner" v-else>
        <EmptyLayout
          class="empty-layout--trips-more"
          :img-src="img"
          :layout-title="title"
          :layout-text="text"
          :layout-link="phone"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
// Components
import AppTooltip from "~/components/UI/AppTooltip.vue"
import EmptyLayout from "~/components/PersonalCabinet/EmptyLayout.vue"

// Constants
import { TRIP_TAB_EMPTY_LAYOUT } from "~/constants/trips"
import { PHONES } from "~/constants"

// Types
import { ITripDiscounts } from "~/types/trips"

// Store
import { useTripsStore } from "~/stores/trips"

// Data
defineProps<{
  data: ITripDiscounts
}>()

const { img, title, text } = TRIP_TAB_EMPTY_LAYOUT
const [phone] = PHONES
const openDetail = ref<boolean>(false)

// -- store actions
const { tripDetailsTabHasContent } = toRefs(useTripsStore())

// Methods
const toggleDetail = () => {
  if (window.innerWidth < 1024) {
    openDetail.value = !openDetail.value
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/trips/trips-detail.scss";
@import "@/assets/scss/components/booking/ticket/ticket-discounts.scss";
</style>
