<template>
  <div class="detail" :class="[openDetail ? 'detail--open' : '']">
    <div class="detail-head" @click="toggleDetail">
      <h4 class="detail-head__title">Відгуки</h4>
      <Icon name="TicketArrowDownAbout" size="20" />
    </div>
    <div class="detail-body">
      <div v-if="!hasContent" class="detail__inner">
        <div class="feedback__block">
          <div class="feedback__left">
            <div class="feedback__top">
              <div class="feedback__top-head">
                <h4 class="feedback__subtitle">4.5 <Icon name="StarIcon" /></h4>
                <p class="feedback__label">Загальна оцінка серед пасажирів</p>
              </div>

              <p class="feedback__text">
                Всього відгуків: <span>{{ feedback.length }}</span>
              </p>
            </div>
          </div>
          <div class="feedback__right">
            <ul class="feedback__cards">
              <FeedbackCard
                v-for="(item, i) in feedback"
                :key="i"
                :review="item"
              />
            </ul>
          </div>
        </div>
      </div>
      <template v-else>
        <EmptyLayout
          class="empty-layout--trips-more"
          :img-src="img"
          :layout-title="title"
          :layout-text="text"
          :layout-link="phone"
        />
      </template>
    </div>
  </div>
</template>

<script setup lang="ts">
// Components
import FeedbackCard from "~/components/booking/ticket/FeedbackCard.vue"
import EmptyLayout from "~/components/PersonalCabinet/EmptyLayout.vue"

// TYPES
import { IFeedback } from "~/types/booking"

// Constants
import { TRIP_TAB_EMPTY_LAYOUT } from "~/constants/trips"
import { PHONES } from "~/constants"
const { img, title, text } = TRIP_TAB_EMPTY_LAYOUT
const [phone] = PHONES

// Data
const openDetail = ref<boolean>(false)

const feedback = ref<IFeedback[]>([
  {
    name: "Наталія",
    info: "Подорожувала з нами 28.03.2023",
    text: "Моя поїздка в автобусі була дуже приємною. Автобус був новим та чистим, з комфортними сидіннями та достатньою кількістю простору для пасажирів та їх багажу. Водій був досвідченим та ввічливим, і забезпечив безпечну та комфортну поїздку. На борту був безкоштовний Wi-Fi та розважальна система, що зробило поїздку ще приємнішою та корисною. Я був задоволений зі свого вибору та раджу цю компанію всім, хто шукає надійний транспорт для подорожей.",
    stars: 4,
  },
  {
    name: "Вікторія",
    info: "Подорожувала з нами 25.03.2023",
    text: "Моя поїздка в автобусі була дуже приємною.",
    stars: 3,
  },
  {
    name: "Михайло",
    info: "Подорожував з нами 28.04.2023",
    text: "Автобус був новим та чистим, з комфортними сидіннями та достатньою кількістю простору для пасажирів та їх багажу. Водій був досвідченим та ввічливим, і забезпечив безпечну та комфортну поїздку. На борту був безкоштовний Wi-Fi та розважальна система, що зробило поїздку ще приємнішою та корисною. Я був задоволений зі свого вибору та раджу цю компанію всім, хто шукає надійний транспорт для подорожей.",
    stars: 5,
  },
  {
    name: "Дмитро",
    info: "Подорожував з нами 28.04.2023",
    text: "Моя поїздка в автобусі була дуже приємною. Автобус був новим та чистим, з комфортними сидіннями та достатньою кількістю простору для пасажирів та їх багажу. Водій був досвідченим та ввічливим, і забезпечив безпечну та комфортну поїздку. На борту був безкоштовний Wi-Fi та розважальна система, що зробило поїздку ще приємнішою та корисною. Я був задоволений зі свого вибору та раджу цю компанію всім, хто шукає надійний транспорт для подорожей.",
    stars: 4,
  },
  {
    name: "Наталія",
    info: "Подорожувала з нами 28.03.2023",
    text: "Моя поїздка в автобусі була дуже приємною. Автобус був новим та чистим, з комфортними сидіннями та достатньою кількістю простору для пасажирів та їх багажу. Водій був досвідченим та ввічливим, і забезпечив безпечну та комфортну поїздку. На борту був безкоштовний Wi-Fi та розважальна система, що зробило поїздку ще приємнішою та корисною. Я був задоволений зі свого вибору та раджу цю компанію всім, хто шукає надійний транспорт для подорожей.",
    stars: 4,
  },
  {
    name: "Вікторія",
    info: "Подорожувала з нами 25.03.2023",
    text: "Моя поїздка в автобусі була дуже приємною.",
    stars: 3,
  },
  {
    name: "Михайло",
    info: "Подорожував з нами 28.04.2023",
    text: "Автобус був новим та чистим, з комфортними сидіннями та достатньою кількістю простору для пасажирів та їх багажу. Водій був досвідченим та ввічливим, і забезпечив безпечну та комфортну поїздку. На борту був безкоштовний Wi-Fi та розважальна система, що зробило поїздку ще приємнішою та корисною. Я був задоволений зі свого вибору та раджу цю компанію всім, хто шукає надійний транспорт для подорожей.",
    stars: 5,
  },
  {
    name: "Дмитро",
    info: "Подорожував з нами 28.04.2023",
    text: "Моя поїздка в автобусі була дуже приємною. Автобус був новим та чистим, з комфортними сидіннями та достатньою кількістю простору для пасажирів та їх багажу. Водій був досвідченим та ввічливим, і забезпечив безпечну та комфортну поїздку. На борту був безкоштовний Wi-Fi та розважальна система, що зробило поїздку ще приємнішою та корисною. Я був задоволений зі свого вибору та раджу цю компанію всім, хто шукає надійний транспорт для подорожей.",
    stars: 4,
  },
])
// -- computed data
const hasContent = computed(() => {
  for (const key in props.data) {
    const value = props.data[key]

    if (Array.isArray(value) && value.length) return true
    if (typeof value === "string" && value) return true
  }

  return false
})
// Methods
const toggleDetail = () => {
  if (window.innerWidth < 1024) {
    openDetail.value = !openDetail.value
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/trips/trips-detail.scss";
@import "@/assets/scss/components/booking/ticket/ticket-feedback.scss";
</style>
