<template>
  <AppTabs
    type="details"
    :tabs="TABS_TRIP_DETAILS"
    :currentTab="currentTab"
    @on-change-tab="onChangeTab"
  />
  <component
    :is="components[currentTab]"
    :data="componentProps[currentTab]"
    :trip-info="info"
  />
</template>

<script setup lang="ts">
// Components
import AppTabs from "~/components/UI/AppTabs.vue"
import TripDetail from "~/components/trips/Trip/More/Detail.vue"
// import TripFeedback from "~/components/trips/Trip/More/Feedback.vue"
import TripRoute from "~/components/trips/Trip/More/Route.vue"
import TripDiscounts from "~/components/trips/Trip/More/Discounts.vue"
import TripRule from "~/components/trips/Trip/More/Rule.vue"
import TripConditions from "~/components/trips/Trip/More/Conditions.vue"

//  Constants
import { TABS_TRIP_DETAILS } from "~/constants"

// Types
import { IBookingDetails, ITripInfo, ITripRoute } from "~/types/booking"
import { ITripConditions, ITripDiscounts, ITripRules } from "~/types/trips"

interface IComponents {
  [key: string]: object
}
// Data
const props = defineProps<{
  detail: IBookingDetails
  // feedback: ITripRoute
  route: ITripRoute
  discounts: ITripDiscounts
  rule: ITripRules
  conditions: ITripConditions
  info: ITripInfo
}>()

const currentTab = ref("TripDetail")

const components: IComponents = {
  TripDetail,
  // TripFeedback,
  TripRoute,
  TripDiscounts,
  TripRule,
  TripConditions,
}
const componentProps = ref<IComponents>({
  TripDetail: props.detail,
  // TripFeedback: props.feedback,
  TripRoute: props.route,
  TripDiscounts: props.discounts,
  TripRule: props.rule,
  TripConditions: props.conditions,
})

// Methods
function onChangeTab(tabComponent: string) {
  currentTab.value = tabComponent
}
</script>

<style scoped lang="scss"></style>
