<template>
  <div class="detail" :class="[openDetail ? 'detail--open' : '']">
    <div class="detail-head" @click="toggleDetail">
      <h4 class="detail-head__title">Мапа</h4>
      <Icon name="TicketArrowDownAbout" size="20" />
    </div>
    <div class="detail-body">
      <div class="detail__inner">
        <div class="detail-block">
          <div class="detail-block__body">
            <div class="ticket-about__options">
              <div class="ticket-about__address">
                <div class="ticket-about__address-wrapper">
                  <div class="ticket-about__address-top">
                    <div class="ticket-about__address-from">
                      <div class="ticket-about__address-head">
                        <Icon name="TicketAboutPlace" size="16" />
                        <h5>Адреса відправлення</h5>
                      </div>
                      <div class="ticket-about__address-content">
                        <p ref="btnClipboardTextFromRef">
                          Львів, вул. Чернівецька; буд. 21
                        </p>
                        <AppButton
                          class="ticket-btn__clipboard"
                          icon-name="TicketClipboard"
                          @click="btnClipboard(btnClipboardTextFromRef)"
                        />
                      </div>
                    </div>
                    <Icon
                      name="TicketArrowTabMap"
                      class="ticket-about__address-arrow"
                    />
                    <div class="ticket-about__address-to">
                      <div class="ticket-about__address-head">
                        <Icon name="TicketAboutLocation" size="24" />
                        <h5>Адреса прибуття</h5>
                      </div>
                      <div class="ticket-about__address-content">
                        <p ref="btnClipboardTextToRef">
                          Київ, Вокзальна площа, 1
                        </p>
                        <AppButton
                          class="ticket-btn__clipboard"
                          icon-name="TicketClipboard"
                          @click="btnClipboard(btnClipboardTextToRef)"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="ticket-about__address-bottom">
                    <div
                      class="ticket-about__address-you ticket-about__address-you--desck"
                    >
                      <Icon name="TicketAboutPlaceYou" />
                      — 
                      <p>ваше місцезнаходження</p>
                    </div>
                  </div>
                </div>
                <div class="ticket-about__address-map">
                  <NuxtImg src="assets/img/ticket/map.png" />
                </div>
                <div class="ticket-about__address-you">
                  <Icon name="TicketAboutPlaceYou" />
                  — 
                  <p>ваше місцезнаходження</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
// Components
import AppButton from "~/components/UI/AppButton.vue"

// Data
const btnClipboardTextFromRef = ref<HTMLElement>()
const btnClipboardTextToRef = ref<HTMLElement>()
const openDetail = ref<boolean>(false)

// Methods
const toggleDetail = () => {
  if (window.innerWidth < 1024) {
    openDetail.value = !openDetail.value
  }
}
const btnClipboard = (ref: HTMLElement) => {
  if (ref) {
    navigator.clipboard.writeText(ref.innerText)
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/trips/trips-detail.scss";
@import "@/assets/scss/components/personal-cabinet/tickets.scss";
</style>
