<template>
  <div class="detail" :class="[openDetail ? 'detail--open' : '']">
    <div class="detail-head" @click="toggleDetail">
      <h4 class="detail-head__title">Маршрут</h4>
      <Icon name="TicketArrowDownAbout" size="20" />
    </div>
    <div class="detail-body">
      <div v-if="tripDetailsTabHasContent(data)" class="detail__inner">
        <div class="detail-block detail-block--mod detail-block--route">
          <RoutePoints
            :bus-stops="data.busStops"
            :has-border-cross="tripInfo.withCrossingPoint"
          />

          <div v-if="data.photo" class="route__map">
            <NuxtImg :src="data.photo" />
          </div>
        </div>
      </div>
      <div v-else class="detail__inner">
        <EmptyLayout
          class="empty-layout--trips-more"
          :img-src="img"
          :layout-title="title"
          :layout-text="text"
          :layout-link="phone"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
// Components
import RoutePoints from "~/components/booking/RoutePoints.vue"

// Store
import { useTripsStore } from "~/stores/trips"

// Types
import { ITripInfo, ITripRoute } from "~/types/booking"
import EmptyLayout from "~/components/PersonalCabinet/EmptyLayout.vue"

// Constants
import { TRIP_TAB_EMPTY_LAYOUT } from "~/constants/trips"
import { PHONES } from "~/constants"

// Data
const { img, title, text } = TRIP_TAB_EMPTY_LAYOUT
const [phone] = PHONES

// -- store actions
const { tripDetailsTabHasContent } = toRefs(useTripsStore())

defineProps<{
  data: ITripRoute
  tripInfo: ITripInfo
}>()
const openDetail = ref<boolean>(false)

// Methods
const toggleDetail = () => {
  if (window.innerWidth < 1024) {
    openDetail.value = !openDetail.value
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/trips/trips-detail.scss";
@import "@/assets/scss/components/trips/the-flight.scss";
</style>
