<template>
  <div class="detail" :class="[openDetail ? 'detail--open' : '']">
    <div class="detail-head" @click="toggleDetail">
      <h4 class="detail-head__title">Правила</h4>
      <Icon name="TicketArrowDownAbout" size="20" />
    </div>
    <div class="detail-body">
      <div v-if="tripDetailsTabHasContent(data)" class="detail__inner">
        <div v-if="data.childrenTransportRules" class="detail-block">
          <div class="detail-block__head">
            <h5>Правила перевезення дітей</h5>
            <AppTooltip
              class="detail-tooltip tooltip--about detail-tooltip--about tooltip--desktop"
              tooltip-background="transparent"
              icon-name="TicketHelp"
              icon-color="var(--monochrome-grey)"
              icon-size="20"
              text="Правила поводження в транспорті, необхідні документи для перевезення дитини."
            />
          </div>
          <div class="detail-block__body">
            <ul class="rule__list">
              <li class="rule__item">
                {{ useExtractContent(data.childrenTransportRules) }}
              </li>
            </ul>
          </div>
        </div>
        <div v-if="data.animalsAllowed" class="detail-block">
          <div class="detail-block__head">
            <h5>Правила перевезення тварин</h5>
            <AppTooltip
              class="detail-tooltip tooltip--about detail-tooltip--about tooltip--desktop"
              tooltip-background="transparent"
              icon-name="TicketHelp"
              icon-color="var(--monochrome-grey)"
              icon-size="20"
              text="Правила поводження в транспорті, необхідні документи для перевезення тварини, вартість."
            />
          </div>
          <div class="detail-block__body">
            <div class="rule__wrap">
              <h4>Дозволені категорії тварин:</h4>
              <p>Кішки Собаки</p>
            </div>
            <div v-if="data.maxAnimalWeight" class="rule__wrap">
              <h4>Допустима максимальна вага тварини:</h4>
              <p>{{ data.maxAnimalWeight }}кг</p>
            </div>
            <div v-if="data.animalsTransportRules" class="rule__wrap">
              <h4>Додаткова інформація для перевезення тварин:</h4>
              <p>{{ useExtractContent(data.animalsTransportRules) }}кг</p>
            </div>
            <div v-if="data.animalWithSeparatePlace" class="rule__wrap">
              <h4>Із зайняттям окремого місця</h4>
              <ul class="rule-place__list">
                <li
                  v-if="data.animalWithSeparatePlacePrice"
                  class="rule-place__item rule-place__animal"
                >
                  {{ data.animalWithSeparatePlacePrice }}
                </li>
                <li v-else class="rule-place__item rule-place__free">
                  Безкоштовно
                </li>
              </ul>
            </div>
            <div v-if="data.animalWithoutSeparatePlace" class="rule__wrap">
              <h4>Із зайняттям окремого місця</h4>
              <ul class="rule-place__list">
                <li
                  v-if="data.animalWithoutSeparatePlace"
                  class="rule-place__item rule-place__animal"
                >
                  {{ data.animalWithoutSeparatePlacePrice }}
                </li>
                <li v-else class="rule-place__item rule-place__free">
                  Безкоштовно
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div v-if="data.needManagerClarifyAnimal" class="detail-warning">
          <div class="detail-warning__wrapper">
            <Icon name="BookingWarningIcon" size="24" />
            <p>
              Перевезення інших тварин потрібно уточнювати у
              <span>менеджера</span>!
            </p>
          </div>
        </div>
      </div>
      <div class="detail__inner" v-else>
        <EmptyLayout
          class="empty-layout--trips-more"
          :img-src="img"
          :layout-title="title"
          :layout-text="text"
          :layout-link="phone"
        />
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
// Components
import AppTooltip from "~/components/UI/AppTooltip.vue"

// Constants
import { TRIP_TAB_EMPTY_LAYOUT } from "~/constants/trips"
import { PHONES } from "~/constants"

// Types
import { ITripRules } from "~/types/trips"
import EmptyLayout from "~/components/PersonalCabinet/EmptyLayout.vue"

// Store
import { useTripsStore } from "~/stores/trips"

// Data
defineProps<{
  data: ITripRules
}>()

const { img, title, text } = TRIP_TAB_EMPTY_LAYOUT
const [phone] = PHONES
const openDetail = ref<boolean>(false)

// -- store actions
const { tripDetailsTabHasContent } = toRefs(useTripsStore())

// Methods
const toggleDetail = () => {
  if (window.innerWidth < 1024) {
    openDetail.value = !openDetail.value
  }
}
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/trips/trips-detail.scss";
@import "@/assets/scss/components/booking/ticket/ticket-rule.scss";
</style>
