.social {
  &-list {
    margin-bottom: rem(25);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: rem(26);
    &--auth {
      @media (min-width: 992px) {
        margin-bottom: rem(30);
      }
    }
  }
  &-item {
   &__link {
     padding: rem(18);
     background: var(--monochrome-light-grey);

     display: flex;
     justify-content: center;
     align-items: center;

     border-radius: rem(8);
   }
  }
}
