.footer__socials {
  display: flex;
  gap: rem(20);

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(50);
    height: rem(50);
    border-radius: 50%;

    & svg {
      width: rem(50);
      height: rem(50);
    }
  }

  &--position {
    &_top {
      @media (min-width: 1200px) {
        display: none;
      }
    }

    &_bottom {
      display: none;

      @media (min-width: 1200px) {
        display: flex;
        margin-bottom: 0;
      }
    }
  }

  &--support {
    gap: rem(15);
    & .footer__socials {
      &-link {
        width: rem(24);
        height: rem(24);
        & svg {
          width: rem(24);
          height: rem(24);
        }
      }
    }
  }
}
