.footer {
  padding-top: rem(50);
  padding-bottom: rem(30);
  color: var(--monochrome-white);
  background-color: var(--monochrome-black);

  @media (min-width: 1200px) {
    padding-bottom: rem(30);
    padding-top: rem(30);
  }

  &__logo {
    max-width: rem(180);
    margin-bottom: rem(30);
    img {
      width: rem(127);
      height: rem(38);
      @media(min-width: 992px){
        width: rem(170);
        height: rem(52);
      }
    }
    @media (min-width: 1200px) {
      max-width: rem(250);

      margin-bottom: 0;
    }
  }

  &__block {
    @media (min-width: 1200px) {
      margin-top: rem(30);
    }

    @media (min-width: 1600px) {
      display: flex;
      justify-content: space-between;
      gap: rem(30);

      margin-bottom: rem(30);
    }
  }

  &__navigation {
    @media (min-width: 1200px) {
      display: flex;
      gap: rem(80);
    }
  }

  &__station {
    padding-bottom: rem(15);

    @media (min-width: 700px) {
      padding-bottom: 0;
    }
  }

  &__nav {
    padding-top: rem(30);
    padding-bottom: rem(30);
    border-top: 1px solid var(--monochrome-grey);
    border-bottom: 1px solid var(--monochrome-grey);

    @media (min-width: 700px) {
      grid-column: span 2;
    }

    @media (min-width: 1200px) {
      grid-column: unset;
      padding: 0;
      border: none;
    }

    &-title {
      display: none;

      @media (min-width: 1200px) {
        display: block;
        font-size: rem(16);
        font-weight: 400;
        color: var(--monochrome-white);
      }
    }

    &-list {
      display: grid;
      gap: rem(15);

      @media (min-width: 700px) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media (min-width: 1200px) {
        grid-template-columns: 1fr;
        gap: rem(20);
        margin-top: rem(20);
      }
    }

    &-item {
      @media (min-width: 700px) {
        margin: auto;
      }

      @media (min-width: 1200px) {
        margin: 0;
      }
    }

    &-link {
      font-size: rem(16);
      font-weight: 300;
      line-height: 140%;
      color: var(--monochrome-white);
      text-decoration: none;
      cursor: pointer;

      &:hover {
        color: var(--accent-color);
      }

      @media (min-width: 1200px) {
        font-size: rem(14);
      }
    }
  }

  &__connection {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    margin-top: rem(30);
    margin-bottom: rem(30);

    @media (min-width: 700px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    @media (min-width: 1200px) {
      padding-top: rem(30);
      border-top: 1px solid var(--monochrome-grey);
    }

    @media (min-width: 1600px) {
      flex-direction: column;
      padding: 0;
      margin: 0;
      border: none;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: rem(30);

    @media (min-width: 760px) {
      flex-direction: row;
    }

    @media (min-width: 1200px) {
      flex-direction: column;
      gap: rem(15);
      margin-bottom: 0;
    }

    &-link {
      position: relative;
      padding-left: rem(28);

      &:hover .footer__contacts-icon {
        fill: var(--accent-color);
      }
    }

    &-icon {
      position: absolute;
      left: 0;
      top: 50%;
      width: rem(18);
      height: rem(18);
      fill: var(--monochrome-white);
      transform: translateY(-50%);
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-politics {
      display: flex;
      flex-direction: column;
      gap: rem(20);
      padding-top: rem(30);
      border-top: 1px solid var(--monochrome-grey);

      & span {
        text-decoration: underline;
        text-underline-offset: 3px;
      }

      @media (min-width: 715px) {
        flex-direction: row;
      }

      @media (min-width: 1200px) {
        gap: rem(50);
      }
      & a {
        font-size: rem(14);
        font-weight: 300;
        color: var(--monochrome-dark-grey);

        @media (min-width: 1200px) {
          font-size: inherit;
        }
      }
    }

    &-link {
      font-size: rem(14);
      font-weight: 300;
      color: var(--monochrome-dark-grey);

      @media (min-width: 1200px) {
        font-size: inherit;
      }
    }
  }
}
