<template>
  <section
    v-if="QUESTIONS.length"
    class="section questions"
    :class="{ open: subMenuIsActive }"
  >
    <div class="questions__wrapper">
      <h2 class="title title--48">Питання та відповіді</h2>
      <AppButtom text="Задати питання" class="questions__btn" />
    </div>

    <div class="questions__content">
      <ul class="questions__list">
        <li
          class="questions__item"
          v-for="(question, i) in QUESTIONS"
          :key="i"
          :class="{ selected: questionIndex === i }"
          @click="selectQuestions(i)"
        >
          {{ question.TITLE }}
        </li>
      </ul>

      <div class="questions__answers answers">
        <button class="answers__btn" @click="closeAnswers">
          <Icon name="ArrowLeft" />
          <span>{{ QUESTIONS[questionIndex].TITLE }}</span>
        </button>
        <div class="answers__accordion">
          <div
            v-for="(answer, i) in QUESTIONS[questionIndex].ANSWERS"
            :key="i"
            class="accordion"
            :class="{ active: isActive === i }"
          >
            <div class="accordion__head">
              <button class="accordion__btn" @click="toggleAccordion(i)">
                <span>{{ answer.BODY }}</span>
                <Icon name="ArrowDown" />
              </button>
            </div>
            <div class="accordion__body">
              <p class="accordion__info">
                {{ answer.HEAD }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <AppButtom
      text="Задати питання"
      class="questions__btn questions__btn--mobile"
    />
  </section>
</template>

<script setup lang="ts">
// ---- COMPONENTS ---- //
import AppButtom from "~/components/UI/AppButton.vue"

// ---- CONTANTS ---- //
import { QUESTIONS } from "~/constants"

// ---- DATA ---- //
const subMenuIsActive = ref<boolean>(false)
const isActive = ref<null | number>(null)

const questionIndex = ref<number>(0)

// ---- METHODS ---- //
const closeAnswers = () => {
  subMenuIsActive.value = !subMenuIsActive.value
}

const selectQuestions = (i: number) => {
  questionIndex.value = i
  subMenuIsActive.value = !subMenuIsActive.value
}

const toggleAccordion = (i: number) => {
  isActive.value === i ? (isActive.value = null) : (isActive.value = i)
}
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/main-page/questions/questions-section.scss";
@import "@/assets/scss/components/main-page/questions/questions-answers.scss";
@import "@/assets/scss/components/main-page/questions/questions-accordion.scss";
</style>
