<template>
  <div class="base-layout">
    <Header
      :isScrolled="isScrolled"
      :isScrolledWhite="isScrolledWhite"
      v-if="$route.path != '/support-booking'"
    />
    <main class="main">
      <slot />
    </main>
    <Footer v-if="$route.path != '/support-booking'" />
  </div>
</template>

<script lang="ts" setup>
// ---- COMPONENTS ---- //
import Header from "~/components/App/DefaultHeader.vue"
import Footer from "~/components/App/footer/DefaultFooter.vue"

// Data
const isScrolled = ref<boolean>(false)
const isScrolledWhite = ref<boolean>(false)

// Methods

// Логика для обработки прокрутки сролла и установки соответствующих значений пропсов

function handleScroll() {
  if (window.scrollY > 0) {
    isScrolled.value = true
    isScrolledWhite.value = true
  } else {
    isScrolled.value = false
    isScrolledWhite.value = false
  }
}

onMounted(() => {
  window.addEventListener("scroll", handleScroll)
})

onUnmounted(() => {
  window.removeEventListener("scroll", handleScroll)
})
</script>
<style lang="scss" scoped></style>
