<template>
  <section class="section reviews">
    <div class="container">
      <div class="reviews__wrapper">
        <h2 class="title title--48 reviews__title">Відгуки наших клієнтів</h2>
        <Splide
          :options="optionsSplide"
          :has-track="false"
          aria-label="splideRewiews"
          id="splideRewiews"
        >
          <SplideTrack>
            <SplideSlide v-for="review in REVIEWS" :key="review.ID">
              <div class="reviews__content">
                <div class="reviews__comment">
                  <p
                    class="reviews__text"
                    v-for="comment in review.COMMENT"
                    :key="comment"
                  >
                    {{ comment }}
                  </p>
                </div>
                <div class="reviews__block">
                  <div class="reviews__image">
                    <NuxtImg
                      src="assets/img/main-page/reviews/avatar.png"
                      loading="lazy"
                      width="51"
                      height="51"
                      alt="avatar"
                    />
                  </div>
                  <div class="reviews__info">
                    <p class="reviews__name">{{ review.FULLNAME }}</p>
                    <p class="reviews__label">
                      {{ review.INFO }}
                    </p>
                  </div>
                </div>
              </div>
            </SplideSlide>
          </SplideTrack>
          <div class="splide__arrows"></div>
        </Splide>
      </div>
    </div>
  </section>
</template>

<script setup lang="ts">
import { Splide, SplideSlide, SplideTrack } from "@splidejs/vue-splide"

// ---- CONTANTS ---- //
import { REVIEWS } from "~/constants"

const optionsSplide = ref({
  // type: "fade",
  // rewind: true,
  waitForTransition: true,
  slideFocus: true,
  perPage: 1,
  arrows: true,
  pagination: false,
  arrowPath:
    "M22.0094 14L20.936 15.0478L25.1295 19.2391H12V20.736H25.1295L20.9111 24.9522L21.9844 26L28 19.9875L22.0094 14Z",
})
</script>

<style lang="scss">
@import "@splidejs/vue-splide/css";
@import "@/assets/scss/components/main-page/reviews/reviews-section.scss";
</style>
