<template>
  <button class="modal__close" @click="modalStore.closeModal">
    <Icon name="ModalClose" />
  </button>
</template>

<script setup lang="ts">
import { useModalStore } from "~/stores/modal"

const modalStore = useModalStore()
</script>

<style scoped lang="scss">
.modal__close {
  position: absolute;
  right: rem(15);
  top: rem(15);
  z-index: var(--ui-index-1);
  background: transparent;

  width: rem(24);
  height: rem(24);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  svg {
    width: rem(24);
    height: rem(24);
    flex-shrink: 0;
    color: var(--monochrome-dark-grey);
  }
}
</style>
