<template>
  <Teleport to="body">
    <Transition name="modal">
      <div
        v-if="component"
        class="modal"
        aria-modal="true"
        role="dialog"
        tabindex="-1"
        @click="modalStore.closeModal"
      >
        <div class="modal__body">
          <component :is="component" v-bind="props" />
        </div>
      </div>
    </Transition>
  </Teleport>
</template>

<script setup lang="ts">
// Stores =>
import { useModalStore } from "~/stores/modal"

// Composables =>
const modalStore = useModalStore()

// Store data = >
const { component, props } = toRefs(modalStore)
// Methods =>
// -- close the modal on the esc key press:
function keydownListener(event: KeyboardEvent) {
  if (event.key === "Escape") modalStore.closeModal()
}

// Lifecycle hooks =>
onMounted(() => {
  document.addEventListener("keydown", keydownListener)
})

onUnmounted(() => {
  document.removeEventListener("keydown", keydownListener)
})
</script>

<style scoped lang="scss">
@import "~/assets/scss/components/modal/modal.scss";

.modal-enter-active {
  animation: open-modal-cabinet 0.3s ease forwards;
}
.modal-leave-active {
  animation: close-modal-cabinet 0.3s ease forwards;
}
.modal-leave-from {
  opacity: 1;
}
.modal-leave-to {
  opacity: 0;
}
</style>
