<template>
  <div
    class="modal__content"
    :class="{ 'modal__content--mod': !layout, 'profile-modal': profile }"
    @click.stop
  >
    <ModalBtnClose />
    <div class="modal-main">
      <div class="modal-main__wrapper" :class="{ 'without-layout': !layout }">
        <div class="modal-main__left">
          <div class="modal-main__form">
            <slot />
          </div>
        </div>
        <div v-if="layout" class="modal-main__right">
          <div class="modal-main__right-bg">
            <NuxtImg src="assets/img/modals/modal-bg.jpg" alt="modal-bg" />
          </div>
          <div
            class="modal-select"
            :class="[{ 'modal-select--open': openMobileSelect }]"
          >
            <div
              class="modal-select__top modal-elem-animation"
              @click="toggleMobileSelect"
            >
              <span>Можливості особистого кабінету</span>
              <button class="modal-select__arrow">
                <Icon name="ModalArrow" size="20" />
              </button>
            </div>

            <div class="modal-select__wrapper modal-elem-animation">
              <div class="modal-select__content">
                <TransitionGroup
                  class="modal-select__list modal-select__list--mobile"
                  tag="ul"
                  name="modal-select__list"
                >
                  <template v-if="openMobileSelect">
                    <li
                      v-for="(item, i) in ADVANTAGES"
                      :key="i"
                      class="modal-select__item"
                      :class="`transition-delay--${i}`"
                    >
                      <Icon name="ModalCheck" size="24" />
                      {{ item }}
                    </li>
                  </template>
                </TransitionGroup>

                <ul class="modal-select__list modal-select__list--desk">
                  <li
                    v-for="(item, i) in ADVANTAGES"
                    :key="i"
                    class="modal-select__item"
                  >
                    <Icon name="ModalCheck" size="24" />
                    {{ item }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
// Constants
import { ADVANTAGES } from "~/constants"
import ModalBtnClose from "~/components/Modal/ModalBtnClose.vue"

defineProps<{ layout?: boolean; profile?: boolean }>()
// Data
const openMobileSelect = ref<boolean>(false)

// Methods
const toggleMobileSelect = () => {
  if (window.innerWidth < 992) {
    openMobileSelect.value = !openMobileSelect.value
  }
}
</script>

<style lang="scss">
@import "~/assets/scss/components/modal/modal.scss";

.modal-select__list-enter-active,
.modal-select__list-leave-active {
  transition: all 0.3s ease;
}
.modal-select__list-enter-from {
  opacity: 0;
  transform: translateX(30px);
}
.modal-select__list-leave-from,
.modal-select__list-leave-to {
  opacity: 0;
}
</style>
