.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;

  &--grey {
    animation: skeleton-loading-grey 1s linear infinite alternate;
  }

  &--yellow {
    animation: skeleton-loading-yellow 1s linear infinite alternate;
  }

  &-badges {
    display: none;
    @media (min-width: 1024px) {
      display: flex;
      flex-wrap: wrap;
      gap: rem(10);
    }

    &__item {
      border-radius: rem(15.5);
      width: rem(116);
      height: rem(31);

      &:first-child {
        width: rem(40);
      }

      &:last-child {
        width: rem(181);
      }
    }
  }

  &-travel {
    &__from {
      padding-bottom: rem(35) !important;
      @media (min-width: 992px) {
        padding-bottom: 0 !important;
      }
    }

    &__time {
      width: rem(70);
      height: rem(26);
      border-radius: rem(8);
    }

    &__city {
      width: rem(70);
      height: rem(15);
      border-radius: rem(6);
    }

    &__place {
      width: rem(133);
      height: rem(15);
      grid-column: 2 span;
      border-radius: rem(6);
    }

    &__area {
      top: rem(-25) !important;

      width: rem(103);
      height: rem(15);
      border-radius: rem(6);
    }
  }

  &-comfortable {
    &__icon {
      display: block;
      width: rem(30);
      height: rem(30);
      border-radius: 50%;
    }

    &__title {
      width: rem(137);
      height: rem(21);
      border-radius: rem(6);
    }
  }

  &-notice {
    width: 100%;
    height: rem(31);
    border-radius: rem(6);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(9);
    @media (min-width: 1024px) {
      display: none;
    }

    &__text {
      width: 100%;
      max-width: rem(102);
      height: rem(13);
      border-radius: rem(8);
    }
  }

  &-trips {
    &__price {
      width: 100%;
      max-width: rem(112);
      height: rem(32);
      border-radius: rem(8);
    }

    &__prepayment {
      width: 100%;
      max-width: rem(148);
      height: rem(15);
      border-radius: rem(6);
    }

    &__info {
      width: 100%;
      max-width: rem(154);
      margin-top: rem(10);
      height: rem(15);
      border-radius: rem(8);
    }

    &__date {
      pointer-events: none;
      &-name {
        width: 100%;
        max-width: rem(70);
        height: rem(14);
        border-radius: rem(8);
        @media (min-width: 992px) {
          max-width: rem(220);
          height: rem(24);
        }
      }
      &-icon {
        width: rem(22);
        height: rem(22);
        border-radius: 50%;

        grid-column: 2/3;
        grid-row: 1/3;
        @media (min-width: 768px) {
          width: rem(47);
          height: rem(47);
          border-radius: 50%;
        }
      }
      &-price {
        width: 100%;
        max-width: rem(50);
        height: rem(12);
        border-radius: rem(8);
        @media (min-width: 992px) {
          max-width: rem(130);
          height: rem(17);
        }
      }
    }
  }

  &-ticket {
    &__travel {
      &-id {
        width: rem(263);
        height: rem(21);
        border-radius: rem(6);
      }

      &-city {
        width: rem(101);
        height: rem(26);
        border-radius: rem(8);
      }

      &-place {
        width: rem(187);
        height: rem(15);
        border-radius: rem(6);
        grid-column: 2 span;
      }

      &-departure {
        @media (min-width: 1024px) {
          width: rem(94);
          margin-bottom: rem(10);
          height: rem(15);
          border-radius: rem(6);
        }
      }

      &-day {
        width: 100%;
        max-width: rem(247);
        height: rem(15);
        border-radius: rem(6);
      }
    }

    &__passengers {
      &-item {
        &:before {
          display: none;
        }
      }

      &-title {
        width: 100%;
        max-width: rem(94);
        height: rem(21);
        border-radius: rem(6);
      }

      &-count {
        width: 100%;
        max-width: rem(45);
        height: rem(21);
        border-radius: rem(6);
        @media (min-width: 1024px) {
          display: none;
        }
      }

      &-link {
        width: 100%;
        max-width: rem(131);
        height: rem(9);
        border-radius: rem(6);
      }

      &-name {
        width: rem(170);
        height: rem(15);
        border-radius: rem(6);
      }

      &-type {
        width: rem(90);
        height: rem(15);
        border-radius: rem(6);
      }
    }
  }

  &-btn {
    width: 100%;
    height: rem(44);
    background: var(--monochrome-light-grey);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: rem(13);
    border-radius: rem(6);

    &__more {
      width: rem(102);
      height: rem(18);
      border-radius: rem(8);
    }

    &__reserve {
      height: rem(60);
    }

    &__confirm {
      background: var(--accent-color);
    }

    &__pay {
      background: var(--accent-color);

      @media (min-width: 1024px) {
        display: none;
      }

      &--desk {
        display: flex;
      }
    }

    &__return {
      &--desk {
        background: transparent;
        border: rem(1) solid var(--accent-color);

        span {
          display: block;
          width: rem(126);
          height: rem(15);
          border-radius: rem(6);
        }
      }
    }
  }

  &-tabs {
    pointer-events: none;
  }

  &-more {
    @media (min-width: 1024px) {
      padding-top: rem(20);
    }
    &__block {
      &:not(:last-child) {
        margin-bottom: rem(25);
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: rem(25);
      margin-bottom: rem(25);
      @media (min-width: 1024px) {
        flex-direction: row;
        gap: rem(60);
      }
    }

    &__head {
      width: 100%;
      max-width: rem(220);
      height: rem(20);
      border-radius: rem(8);
      margin-bottom: rem(15);

      &--small {
        max-width: rem(110);
      }

      &--big {
        max-width: rem(380);
      }
    }

    &__text {
      width: rem(200);
      height: rem(20);
      border-radius: rem(6);

      &:not(:last-child) {
        margin-bottom: rem(9);
      }

      &--big {
        width: 100%;
        max-width: rem(820);
      }

      &--middle {
        width: 100%;

        max-width: rem(566);
      }

      &--tiny {
        width: 100%;
        max-width: rem(375);
      }
    }

    &__comforts {
      display: grid;
      grid-template-columns: 1fr;
      gap: rem(10) rem(20);
      @media (min-width: 576px) {
        grid-template-columns: 1fr 1fr;
      }
    }

    &__comfort {
      display: flex;
      align-items: center;
      gap: rem(6);
    }

    &__icon {
      width: rem(30);
      height: rem(30);
      border-radius: 50%;
    }

    &__images {
      display: flex;
      flex-wrap: wrap;
      gap: rem(10);
    }

    &__img {
      width: 100%;
      max-width: rem(115);
      height: rem(115);
      border-radius: rem(6);
    }

    &__list {
    }

    &__item {
      width: 100%;
      padding: rem(13) rem(15);
      border-radius: rem(8);
      background: var(--monochrome-white);
      box-shadow: 0 0 10px 0 #6c6c6c66;

      display: flex;
      justify-content: space-between;
      gap: rem(20);
      &:not(:last-child) {
        margin-bottom: rem(15);
      }

      &-name {
        width: 100%;
        max-width: rem(170);
        border-radius: rem(6);
        &--small {
          max-width: rem(130);
        }
        &--big {
          max-width: rem(225);
        }
      }
      &-icon {
        width: rem(24);
        height: rem(24);
        border-radius: 50%;
      }
    }
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@keyframes skeleton-loading-grey {
  0% {
    background-color: hsl(200, 0%, 58%);
  }
  100% {
    background-color: hsl(200, 20%, 73%);
  }
}

@keyframes skeleton-loading-yellow {
  0% {
    background-color: hsl(47, 100%, 56%);
  }
  100% {
    background-color: hsl(47, 100%, 71%);
  }
}
