<template>
  <div :class="['bus-animated', busPosition]">
    <svg viewBox="0 0 563 154" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_1410_95406)">
        <path
          d="M40.3498 24.5799C40.3498 23.2299 39.2598 22.1399 37.9098 22.1399C30.4498 22.1399 22.3298 22.1299 21.9298 22.1299C19.1398 22.1299 9.30978 22.4399 4.64978 27.0999C-0.800217 32.5499 0.449782 48.4999 0.449782 48.4999H3.34978C3.34978 48.4999 0.959783 31.7299 8.30978 28.4299C12.1598 26.6999 19.4398 26.9499 21.8598 26.9999C22.2898 26.9999 30.4398 27.0199 37.9098 27.0199C39.2598 27.0199 40.3498 25.9299 40.3498 24.5799Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.87 61.5098H2.02C0.9 61.5098 0 60.6098 0 59.4898V42.2598C0 41.0498 0.98 40.0598 2.2 40.0598H5.93C6.38 40.0598 6.78 40.3398 6.92 40.7698C7.33 42.0098 8.09 44.8498 8.09 48.9098C8.09 52.9698 7.29 59.2598 6.88 60.7298C6.76 61.1898 6.34 61.4998 5.87 61.4998V61.5098Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.84937 61.3999H2.13938C1.01938 61.3999 0.109375 60.3099 0.109375 59.1899V42.3599C0.109375 41.1499 1.08938 40.1699 2.29938 40.1699H5.89937C6.33938 40.1699 6.73938 40.4499 6.87937 40.8799C7.27938 42.1199 8.01938 44.9299 8.01938 48.9399C8.01938 52.9499 7.23937 59.1799 6.84937 60.6399C6.72937 61.0899 6.31938 61.3999 5.85938 61.3999H5.84937Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.84047 61.2898H2.26047C1.14047 61.2898 0.230469 60.0198 0.230469 58.8998V42.4698C0.230469 41.2598 1.21047 40.2898 2.41047 40.2898H5.88047C6.32047 40.2898 6.71047 40.5698 6.84047 40.9898C7.23047 42.2198 7.95047 45.0198 7.95047 48.9598C7.95047 52.8998 7.19047 59.0998 6.81047 60.5398C6.69047 60.9898 6.29047 61.2998 5.83047 61.2998L5.84047 61.2898Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.81984 61.1799H2.36984C1.24984 61.1799 0.339844 59.7299 0.339844 58.5999V42.5699C0.339844 41.3699 1.30984 40.3899 2.51984 40.3899H5.86984C6.30984 40.3899 6.68984 40.6699 6.81984 41.0899C7.19984 42.3199 7.89984 45.0999 7.89984 48.9799C7.89984 52.8599 7.15984 59.0099 6.78984 60.4299C6.66984 60.8699 6.27984 61.1799 5.81984 61.1799Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.79922 61.0698H2.48922C1.35922 61.0698 0.449219 59.4298 0.449219 58.3098V42.6798C0.449219 41.4798 1.41922 40.5098 2.61922 40.5098H5.83922C6.26922 40.5098 6.64922 40.7898 6.77922 41.1998C7.14922 42.4198 7.82922 45.1898 7.82922 48.9998C7.82922 52.8098 7.11922 58.9298 6.74922 60.3298C6.63922 60.7698 6.24922 61.0698 5.79922 61.0698Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.78031 60.9599H2.61031C1.48031 60.9599 0.570312 59.1399 0.570312 58.0099V42.7799C0.570312 41.5799 1.54031 40.6199 2.73031 40.6199H5.82031C6.25031 40.6199 6.62031 40.8999 6.75031 41.3099C7.11031 42.5199 7.77031 45.2699 7.77031 49.0299C7.77031 52.7899 7.08031 58.8499 6.73031 60.2299C6.62031 60.6599 6.23031 60.9599 5.79031 60.9599H5.78031Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.75969 60.8497H2.72969C1.59969 60.8497 0.679688 58.8497 0.679688 57.7197V42.8897C0.679688 41.6997 1.64969 40.7297 2.83969 40.7297H5.79969C6.21969 40.7297 6.59969 41.0097 6.70969 41.4097C7.05969 42.6197 7.69969 45.3497 7.69969 49.0497C7.69969 52.7497 7.02969 58.7697 6.68969 60.1297C6.57969 60.5597 6.19969 60.8497 5.75969 60.8497Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.73906 60.7398H2.83906C1.70906 60.7398 0.789062 58.5598 0.789062 57.4198V42.9898C0.789062 41.7998 1.74906 40.8398 2.93906 40.8398H5.76906C6.18906 40.8398 6.55906 41.1198 6.66906 41.5198C7.00906 42.7198 7.62906 45.4398 7.62906 49.0698C7.62906 52.6998 6.97906 58.6798 6.64906 60.0198C6.54906 60.4398 6.16906 60.7398 5.73906 60.7398Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.73039 60.6297H2.96039C1.82039 60.6297 0.900391 58.2597 0.900391 57.1297V43.0997C0.900391 41.9197 1.86039 40.9497 3.05039 40.9497H5.76039C6.18039 40.9497 6.54039 41.2297 6.65039 41.6297C6.97039 42.8197 7.58039 45.5197 7.58039 49.0997C7.58039 52.6797 6.96039 58.6097 6.64039 59.9297C6.54039 60.3497 6.17039 60.6397 5.74039 60.6397L5.73039 60.6297Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.70953 60.5198H3.07953C1.93953 60.5198 1.01953 57.9698 1.01953 56.8298V43.1998C1.01953 42.0198 1.97953 41.0598 3.15953 41.0598H5.73953C6.14953 41.0598 6.50953 41.3298 6.61953 41.7298C6.92953 42.9198 7.50953 45.5998 7.50953 49.1098C7.50953 52.6198 6.90953 58.5098 6.59953 59.8098C6.49953 60.2198 6.13953 60.5098 5.71953 60.5098L5.70953 60.5198Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.68914 60.4099H3.18914C2.04914 60.4099 1.11914 57.6799 1.11914 56.5399V43.3099C1.11914 42.1299 2.06914 41.1799 3.24914 41.1799H5.69914C6.10914 41.1799 6.45914 41.4499 6.55914 41.8499C6.85914 43.0299 7.41914 45.6999 7.41914 49.1499C7.41914 52.5999 6.83914 58.4499 6.53914 59.7299C6.44914 60.1399 6.08914 60.4199 5.66914 60.4199L5.68914 60.4099Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.67023 60.2998H3.31023C2.17023 60.2998 1.24023 57.3798 1.24023 56.2398V43.4098C1.24023 42.2398 2.19023 41.2798 3.37023 41.2798H5.69023C6.09023 41.2798 6.44023 41.5498 6.54023 41.9398C6.83023 43.1198 7.37023 45.7698 7.37023 49.1598C7.37023 52.5498 6.81023 58.3498 6.52023 59.6098C6.43023 60.0098 6.07023 60.2898 5.66023 60.2898L5.67023 60.2998Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.64961 60.1899H3.42961C2.27961 60.1899 1.34961 57.0899 1.34961 55.9399V43.5099C1.34961 42.3399 2.29961 41.3899 3.46961 41.3899H5.65961C6.05961 41.3899 6.40961 41.6599 6.49961 42.0499C6.77961 43.2199 7.29961 45.8499 7.29961 49.1799C7.29961 52.5099 6.76961 58.2699 6.48961 59.5099C6.39961 59.9099 6.04961 60.1899 5.64961 60.1899Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.6307 60.0798H3.5507C2.4007 60.0798 1.4707 56.7998 1.4707 55.6498V43.6198C1.4707 42.4498 2.4207 41.5098 3.5807 41.5098H5.6507C6.0407 41.5098 6.3907 41.7798 6.4807 42.1598C6.7507 43.3198 7.2507 45.9398 7.2507 49.2098C7.2507 52.4798 6.7407 58.1898 6.4707 59.4098C6.3807 59.7998 6.0407 60.0798 5.6407 60.0798H5.6307Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.62008 59.9699H3.67008C2.52008 59.9699 1.58008 56.4999 1.58008 55.3499V43.7199C1.58008 42.5599 2.52008 41.6099 3.69008 41.6099H5.63008C6.02008 41.6099 6.36008 41.8799 6.44008 42.2599C6.70008 43.4199 7.18008 46.0199 7.18008 49.2299C7.18008 52.4399 6.69008 58.1099 6.43008 59.3099C6.35008 59.6999 6.01008 59.9699 5.61008 59.9699H5.62008Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.59945 59.8597H3.77945C2.62945 59.8597 1.68945 56.2097 1.68945 55.0597V43.8297C1.68945 42.6697 2.62945 41.7297 3.78945 41.7297H5.59945C5.98945 41.7297 6.31945 41.9997 6.39945 42.3797C6.64945 43.5297 7.10945 46.1097 7.10945 49.2597C7.10945 52.4097 6.63945 58.0397 6.39945 59.2197C6.31945 59.5997 5.98945 59.8697 5.59945 59.8697V59.8597Z"
          fill="#F4F3F2"
        />
        <path
          d="M5.58055 59.7498H3.90055C2.74055 59.7498 1.81055 55.9198 1.81055 54.7598V43.9298C1.81055 42.7698 2.75055 41.8398 3.90055 41.8398H5.58055C5.96055 41.8398 6.29055 42.1098 6.37055 42.4798C6.61055 43.6198 7.05055 46.1898 7.05055 49.2798C7.05055 52.3698 6.60055 57.9498 6.37055 59.1098C6.29055 59.4898 5.96055 59.7498 5.58055 59.7498Z"
          fill="#F4F3F2"
        />
        <g style="mix-blend-mode: soft-light" opacity="0.05">
          <path
            d="M3.95946 47.6799C4.08946 47.0199 2.34946 60.0199 0.729464 59.6199C-0.170536 59.3999 0.499464 41.5499 1.18946 40.9599C1.87946 40.3599 4.61946 40.0199 5.20946 40.7299C5.79946 41.4299 3.78946 48.5499 3.96946 47.6899L3.95946 47.6799Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.1">
          <path
            d="M3.90897 47.3997C4.03897 46.7897 2.35897 59.1497 0.808969 58.7697C-0.0610305 58.5597 0.558969 41.5897 1.21897 41.0097C1.86897 40.4197 4.48897 40.0897 5.05897 40.7597C5.62897 41.4297 3.73897 48.2097 3.90897 47.3997Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.14">
          <path
            d="M3.84948 47.1199C3.96948 46.5599 2.36948 58.2799 0.879476 57.9299C0.0394763 57.7299 0.609476 41.6399 1.22948 41.0699C1.84948 40.4999 4.33948 40.1699 4.89948 40.7999C5.45948 41.4299 3.67948 47.8699 3.83948 47.1199H3.84948Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.19">
          <path
            d="M3.79881 46.8498C3.90881 46.3398 2.38881 57.4198 0.968814 57.0898C0.158814 56.8998 0.688814 41.6898 1.26881 41.1398C1.84881 40.5798 4.22881 40.2498 4.76881 40.8498C5.31881 41.4498 3.64881 47.5398 3.79881 46.8498Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.24">
          <path
            d="M3.74932 46.5697C3.84932 46.1097 2.40932 56.5497 1.04932 56.2397C0.269322 56.0597 0.749321 41.7297 1.29932 41.1897C1.84932 40.6497 4.09932 40.3197 4.62932 40.8797C5.15932 41.4397 3.60932 47.1897 3.74932 46.5597V46.5697Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.29">
          <path
            d="M3.68859 46.2998C3.78859 45.8898 2.41859 55.6898 1.11859 55.4098C0.368589 55.2398 0.798589 41.7897 1.31859 41.2597C1.83859 40.7297 3.95859 40.4097 4.47859 40.9397C4.99859 41.4697 3.55859 46.8698 3.68859 46.3098V46.2998Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.33">
          <path
            d="M3.64014 46.0197C3.73014 45.6497 2.43014 54.8297 1.20014 54.5597C0.480144 54.3997 0.860144 41.8297 1.35014 41.3197C1.83014 40.7997 3.83014 40.4797 4.34014 40.9797C4.85014 41.4697 3.52014 46.5397 3.64014 46.0297V46.0197Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.38">
          <path
            d="M3.58009 45.7399C3.66009 45.4199 2.44009 53.9599 1.28009 53.7099C0.59009 53.5599 0.93009 41.8699 1.37009 41.3699C1.82009 40.8699 3.69009 40.5499 4.18009 41.0099C4.67009 41.4699 3.46009 46.1899 3.58009 45.7399Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.43">
          <path
            d="M3.52919 45.4699C3.60919 45.1999 2.45919 53.0999 1.35919 52.8699C0.699192 52.7299 0.989192 41.9199 1.39919 41.4299C1.80919 40.9399 3.55919 40.6299 4.03919 41.0499C4.51919 41.4699 3.41919 45.8499 3.52919 45.4599V45.4699Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.48">
          <path
            d="M3.47952 45.1898C3.54952 44.9698 2.47952 52.2298 1.43952 52.0298C0.799524 51.8998 1.04952 41.9698 1.42952 41.4998C1.80952 41.0198 3.42952 40.7198 3.89952 41.0998C4.36952 41.4898 3.37952 45.5198 3.47952 45.1898Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.52">
          <path
            d="M3.41907 44.9198C3.47907 44.7498 2.47907 51.3798 1.50907 51.1898C0.899071 51.0698 1.09907 42.0198 1.44907 41.5598C1.78907 41.0998 3.29907 40.7898 3.74907 41.1398C4.19907 41.4898 3.31907 45.1798 3.41907 44.9198Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.57">
          <path
            d="M3.36995 44.6398C3.41995 44.5198 2.49995 50.5098 1.59995 50.3398C1.01995 50.2298 1.17995 42.0598 1.48995 41.6098C1.79995 41.1598 3.17995 40.8598 3.61995 41.1798C4.05995 41.4998 3.28995 44.8398 3.37995 44.6398H3.36995Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.62">
          <path
            d="M3.31026 44.3698C3.36026 44.2998 2.51026 49.6498 1.67026 49.5098C1.12026 49.4098 1.23026 42.1198 1.50026 41.6898C1.78026 41.2498 3.03026 40.9598 3.46026 41.2398C3.89026 41.5198 3.23026 44.5198 3.31026 44.3798V44.3698Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.67">
          <path
            d="M3.25978 44.0898C3.25978 44.0898 2.52978 48.7798 1.74978 48.6598C1.22978 48.5798 1.28978 42.1598 1.52978 41.7398C1.76978 41.3198 2.89978 41.0198 3.31978 41.2698C3.72978 41.5198 3.19978 44.1798 3.25978 44.0898Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.71">
          <path
            d="M3.20868 43.8097C3.20868 43.8097 2.53868 47.9197 1.82868 47.8097C1.33868 47.7397 1.34868 42.1997 1.55868 41.7897C1.76868 41.3797 2.76868 41.0897 3.16868 41.2997C3.56868 41.5097 3.14868 43.8297 3.20868 43.7997V43.8097Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.76">
          <path
            d="M3.15005 43.5397C3.18005 43.6197 2.55005 47.0597 1.90005 46.9697C1.44005 46.9097 1.40005 42.2497 1.58005 41.8597C1.75005 41.4597 2.63005 41.1797 3.02005 41.3497C3.41005 41.5297 3.10005 43.5097 3.15005 43.5397Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.81">
          <path
            d="M3.09928 43.2597C3.13928 43.3897 2.56928 46.1997 1.98928 46.1297C1.54928 46.0797 1.47928 42.2997 1.60928 41.9197C1.74928 41.5397 2.50928 41.2497 2.87928 41.3997C3.24928 41.5397 3.06928 43.1797 3.09928 43.2697V43.2597Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.86">
          <path
            d="M3.03901 42.9897C3.06901 43.1697 2.57901 45.3397 2.05901 45.2897C1.64901 45.2497 1.52901 42.3497 1.62901 41.9797C1.72901 41.6097 2.36901 41.3297 2.72901 41.4397C3.08901 41.5497 3.01901 42.8397 3.03901 42.9897Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.9">
          <path
            d="M2.98994 42.7098C3.00994 42.9398 2.58994 44.4698 2.13994 44.4398C1.75994 44.4098 1.58994 42.3898 1.65994 42.0398C1.72994 41.6798 2.23994 41.4098 2.58994 41.4798C2.93994 41.5498 2.97994 42.4998 2.98994 42.7098Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.95">
          <path
            d="M2.94022 42.4299C2.94022 42.7099 2.61022 43.6099 2.22022 43.5999C1.87022 43.5899 1.65022 42.4399 1.69022 42.0999C1.72022 41.7599 2.11022 41.4899 2.45022 41.5199C2.79022 41.5599 2.93022 42.1699 2.94022 42.4399V42.4299Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light">
          <path
            d="M2.87875 42.1598C2.87875 42.4898 2.61875 42.7598 2.29875 42.7598C1.97875 42.7598 1.71875 42.4898 1.71875 42.1598C1.71875 41.8298 1.97875 41.5598 2.29875 41.5598C2.61875 41.5598 2.87875 41.8298 2.87875 42.1598Z"
            fill="#F4F3F2"
          />
        </g>
        <path
          d="M507.37 130.02C503.53 132.05 493.36 128.66 481.16 131.39C468.97 134.1 447.94 134.55 439.82 134.55C431.7 134.55 394.63 134.1 394.63 134.1C394.63 134.1 396 117.37 392.15 110.36C388.31 103.35 379.73 96.5699 364.14 96.5699C348.55 96.5699 341.09 108.57 339.04 112.84C337.02 117.14 337.25 134.75 337.25 134.75H140.42C140.42 134.75 141.31 118.71 139.06 112.39C136.8 106.06 128.2 97.0299 111.7 97.0299C95.2002 97.0299 85.7202 108.77 84.8102 114.41C83.8902 120.08 83.6702 135.66 83.6702 135.66C83.6702 135.66 29.5302 134.44 24.9402 134.41C6.9902 134.25 2.7202 120.76 4.3102 104.28L10.7102 106.7L6.5102 91.3499C11.0102 72.1099 20.2902 52.4199 23.6102 46.5099C39.4802 18.3299 44.7802 10.0099 50.2202 4.36989C55.6302 -1.27011 60.6302 0.299888 68.0602 0.069888C75.5302 -0.160112 494.05 0.529888 497.44 0.529888C500.83 0.529888 502.85 1.20989 503.77 3.91989V3.94989C503.77 3.94989 511 42.3499 511 69.4799V114.89C511 118.28 512.57 127.29 507.38 130.02H507.37Z"
          fill="#F4F3F2"
        />
        <path
          d="M195.08 134.78C195.76 132.13 196.13 129.35 196.13 126.49C196.13 108.21 181.31 93.3899 163.03 93.3899C144.75 93.3899 129.93 108.21 129.93 126.49C129.93 129.35 130.29 132.13 130.98 134.78H195.08Z"
          fill="#010105"
        />
        <path
          d="M448.611 134.78C449.291 132.13 449.661 129.35 449.661 126.49C449.661 108.21 434.841 93.3899 416.561 93.3899C398.281 93.3899 383.461 108.21 383.461 126.49C383.461 129.35 383.821 132.13 384.511 134.78H448.611Z"
          fill="#010105"
        />
        <path
          d="M122.79 127.53C122.79 141.63 111.36 153.06 97.2605 153.06C83.1605 153.06 71.7305 141.63 71.7305 127.53C71.7305 113.43 83.1605 102 97.2605 102C111.36 102 122.79 113.43 122.79 127.53Z"
          fill="#2D2B33"
        />
        <path
          d="M117.71 117.38C117.71 128.89 108.39 138.21 96.9101 138.21C85.4301 138.21 76.0801 128.89 76.0801 117.38C76.0801 105.87 85.4001 96.55 96.9101 96.55C108.42 96.55 117.71 105.87 117.71 117.38Z"
          fill="#232027"
        />
        <path
          d="M113.021 117.55C113.021 126.16 106.041 133.11 97.4609 133.11C88.8809 133.11 81.8809 126.13 81.8809 117.55C81.8809 108.97 88.8609 101.96 97.4609 101.96C106.061 101.96 113.021 108.94 113.021 117.55Z"
          fill="#E7E9EB"
        />
        <path
          d="M109.77 117.55C109.77 124.36 104.24 129.86 97.4604 129.86C90.6804 129.86 85.1504 124.33 85.1504 117.55C85.1504 110.77 90.6804 105.24 97.4604 105.24C104.24 105.24 109.77 110.74 109.77 117.55Z"
          fill="#000004"
        />
        <path
          d="M107.06 121.34C107.86 121.34 108.6 121.54 109.25 121.85C109.79 120.45 110.1 118.94 110.1 117.35C110.1 116.12 109.93 114.96 109.59 113.82C108.74 114.45 107.65 114.85 106.49 114.85C103.58 114.85 101.22 112.49 101.22 109.58C101.22 108.15 101.79 106.9 102.7 105.96C101.16 105.28 99.4196 104.88 97.5996 104.88C95.5796 104.88 93.6996 105.36 92.0196 106.22C93.0996 107.19 93.7896 108.59 93.7896 110.15C93.7896 113.06 91.4296 115.42 88.5196 115.42C87.3796 115.42 86.3296 115.05 85.4696 114.42C85.2396 115.36 85.0996 116.33 85.0996 117.35C85.0996 119.26 85.5296 121.08 86.3296 122.68C87.1296 122.17 88.0696 121.88 89.0896 121.88C92.0296 121.88 94.3596 124.24 94.3596 127.15C94.3596 127.92 94.1896 128.6 93.8796 129.26C95.0496 129.63 96.2996 129.83 97.5796 129.83C99.2596 129.83 100.83 129.49 102.28 128.89C101.94 128.21 101.74 127.41 101.74 126.58C101.74 123.67 104.11 121.31 107.01 121.31L107.07 121.34H107.06Z"
          fill="#C7C8C6"
        />
        <path
          d="M105.859 118.26C105.859 122.91 102.099 126.67 97.4593 126.67C92.8193 126.67 89.0293 122.91 89.0293 118.26C89.0293 113.61 92.7893 109.86 97.4593 109.86C102.129 109.86 105.859 113.62 105.859 118.26Z"
          fill="#E2E5E5"
        />
        <path
          d="M382.49 127.53C382.49 141.63 371.06 153.06 356.96 153.06C342.86 153.06 331.43 141.63 331.43 127.53C331.43 113.43 342.86 102 356.96 102C371.06 102 382.49 113.43 382.49 127.53Z"
          fill="#2D2B33"
        />
        <path
          d="M377.42 117.18C377.42 128.69 368.1 138.01 356.59 138.01C345.08 138.01 335.76 128.69 335.76 117.18C335.76 105.67 345.08 96.3499 356.59 96.3499C368.1 96.3499 377.42 105.67 377.42 117.18Z"
          fill="#232027"
        />
        <path
          d="M372.72 117.38C372.72 125.98 365.74 132.94 357.16 132.94C348.58 132.94 341.6 125.96 341.6 117.38C341.6 108.8 348.58 101.8 357.16 101.8C365.74 101.8 372.72 108.78 372.72 117.38Z"
          fill="#E7E9EB"
        />
        <path
          d="M369.47 117.38C369.47 124.19 363.94 129.69 357.16 129.69C350.38 129.69 344.85 124.19 344.85 117.38C344.85 110.57 350.35 105.07 357.16 105.07C363.97 105.07 369.47 110.57 369.47 117.38Z"
          fill="#000004"
        />
        <path
          d="M366.76 121.17C367.56 121.17 368.3 121.37 368.95 121.68C369.49 120.28 369.8 118.77 369.8 117.18C369.8 115.96 369.63 114.79 369.29 113.68C368.41 114.31 367.35 114.71 366.19 114.71C363.28 114.71 360.92 112.34 360.92 109.44C360.92 108.02 361.49 106.76 362.4 105.82C360.86 105.14 359.12 104.74 357.33 104.74C355.33 104.74 353.43 105.22 351.74 106.05C352.82 107.02 353.54 108.42 353.54 110.01C353.54 112.92 351.18 115.28 348.27 115.28C347.13 115.28 346.08 114.91 345.19 114.28C344.96 115.22 344.82 116.22 344.82 117.21C344.82 119.12 345.28 120.91 346.05 122.54C346.85 122.03 347.79 121.74 348.81 121.74C351.72 121.74 354.08 124.1 354.08 127.01C354.08 127.78 353.88 128.46 353.6 129.12C354.77 129.49 356.02 129.69 357.33 129.69C359.01 129.69 360.58 129.35 362.03 128.78C361.69 128.1 361.49 127.3 361.49 126.47C361.49 123.56 363.85 121.2 366.76 121.2V121.17Z"
          fill="#C7C8C6"
        />
        <path
          d="M365.57 118.09C365.57 122.73 361.81 126.49 357.14 126.49C352.47 126.49 348.74 122.73 348.74 118.09C348.74 113.45 352.5 109.66 357.14 109.66C361.78 109.66 365.57 113.42 365.57 118.09Z"
          fill="#E2E5E5"
        />
        <path
          d="M561.851 114.9V69.4799C561.851 42.3599 554.611 3.94994 554.611 3.94994L554.641 3.88994C553.761 1.17994 551.711 0.499941 548.311 0.499941C544.911 0.499941 126.181 -0.180059 118.711 0.0499407C111.241 0.279941 106.291 -1.29006 100.841 4.34994C95.4305 9.98994 90.1306 18.3099 74.2306 46.4899C67.1306 59.0599 33.2905 135.04 75.7405 135.41C76.9505 135.41 99.1306 135.37 131.111 135.3L130.981 134.78C130.951 134.68 130.931 134.57 130.911 134.46L130.721 133.66H130.741C130.231 131.35 129.941 128.95 129.941 126.48C129.941 108.2 144.761 93.3799 163.041 93.3799C181.321 93.3799 196.141 108.2 196.141 126.48C196.141 128.95 195.851 131.34 195.341 133.66H195.361L195.121 134.64C195.121 134.64 195.101 134.73 195.091 134.77L195.001 135.15C281.921 134.95 384.501 134.71 384.501 134.71C383.831 132.08 383.471 129.32 383.471 126.48C383.471 108.2 398.291 93.3799 416.571 93.3799C434.851 93.3799 449.671 108.2 449.671 126.48C449.671 129.28 449.321 131.99 448.671 134.59C468.921 134.55 487.251 134.52 490.641 134.52C498.791 134.52 519.591 135.55 532.041 134.41C546.801 133.07 554.411 132.05 558.251 130.02C563.461 127.28 561.871 118.28 561.871 114.89L561.851 114.9Z"
          fill="#E9E9E9"
        />
        <path
          d="M61.0204 89.8368C61.0204 89.8368 128.218 99.9028 169.407 60.8126C182.779 48.1207 199.004 28.705 208 5.10168C208 5.10168 132.44 4.8729 122.513 5.10168C112.586 5.33045 97.957 9.91583 90.5043 25.2237C86.3945 33.6683 73.8097 56.0283 61 89.8368H61.0307H61.0204Z"
          fill="#44474C"
        />
        <path
          d="M188.04 56.8513C188.04 56.8513 211.151 15.3903 210.461 5L541.985 5.17C541.985 5.17 542.216 22.1204 540.845 30.7006C539.475 39.2809 538.135 49.4511 532.265 51.9312C526.395 54.4112 498.134 56.0013 488.183 56.2313C478.243 56.4613 373.388 56.6913 361.158 56.9113C348.957 57.1413 188 56.8513 188 56.8513H188.03H188.04Z"
          fill="#44474C"
        />
        <path
          d="M112.701 92.99H108.081C106.741 92.99 105.631 94.07 105.631 95.44V97.66C105.631 99 106.711 100.11 108.081 100.11H112.701C114.041 100.11 115.151 99.03 115.151 97.66V95.47C115.151 94.13 114.041 93.02 112.701 93.02V92.99Z"
          fill="#517897"
        />
        <g opacity="0.5">
          <path d="M266.82 6H268.84V57.34H266.82V6Z" fill="#2D2D2D" />
        </g>
        <g opacity="0.5">
          <path d="M368 6H370V56H368V6Z" fill="#2D2D2D" />
        </g>
        <g opacity="0.5">
          <path d="M318.41 6H320.43V57.34H318.41V6Z" fill="#2D2D2D" />
        </g>
        <g opacity="0.5">
          <path
            d="M458.721 5.53003H460.741V56.69H458.721V5.53003Z"
            fill="#2D2D2D"
          />
        </g>
        <path
          d="M58.3405 89.48C58.3405 89.48 163.621 101.36 206.131 5.29004L209.261 5.43004C209.261 5.43004 186.491 92.84 56.3105 99.54L58.3305 89.48H58.3405Z"
          fill="#43454C"
        />
        <path
          d="M557.329 86.72H562.219V125.64H557.329C555.869 125.64 554.689 124.46 554.689 123V89.37C554.689 87.91 555.869 86.73 557.329 86.73V86.72Z"
          fill="#FD8B02"
        />
        <path
          d="M50.9807 8.31C50.9807 8.31 27.5107 33.13 12.7207 86.15H55.0007C55.0007 86.15 75.0307 27.83 92.5007 7L50.9907 8.31H50.9807Z"
          fill="#44474C"
        />
        <path
          style="mix-blend-mode: soft-light"
          d="M51.26 8.31C51.26 8.31 27.79 33.13 13 86.15H55.28C55.28 86.15 75.31 27.83 92.78 7L51.27 8.31H51.26Z"
          fill="url(#paint0_linear_1410_95406)"
        />
        <g class="bus-animated__wheel bus-animated__wheel--front">
          <path
            d="M189.77 124.73C189.77 139.72 177.63 151.85 162.65 151.85C147.67 151.85 135.52 139.71 135.52 124.73C135.52 109.75 147.66 97.6099 162.65 97.6099C177.64 97.6099 189.77 109.75 189.77 124.73Z"
            fill="#2D2B33"
          />
          <path
            d="M140.11 124.91C140.03 112.68 149.88 102.71 162.11 102.63C174.34 102.55 184.31 112.4 184.39 124.63C184.47 136.86 174.62 146.83 162.39 146.91C150.16 146.99 140.19 137.14 140.11 124.91Z"
            fill="#232027"
          />
          <path
            d="M179.401 124.93C179.401 134.08 171.991 141.48 162.851 141.48C153.711 141.48 146.301 134.07 146.301 124.93C146.301 115.79 153.711 108.38 162.851 108.38C171.991 108.38 179.401 115.79 179.401 124.93Z"
            fill="#E7E9EB"
          />
          <path
            d="M175.92 124.93C175.92 132.14 170.08 138.01 162.84 138.01C155.6 138.01 149.76 132.14 149.76 124.93C149.76 117.72 155.63 111.85 162.84 111.85C170.05 111.85 175.92 117.69 175.92 124.93Z"
            fill="#000004"
          />
          <path
            d="M173.079 128.97C173.909 128.97 174.699 129.17 175.419 129.51C175.989 128.03 176.299 126.43 176.299 124.75C176.299 123.44 176.099 122.19 175.759 121.02C174.849 121.7 173.709 122.1 172.459 122.1C169.349 122.1 166.879 119.59 166.879 116.49C166.879 114.98 167.479 113.64 168.449 112.64C166.799 111.9 164.969 111.47 163.039 111.47C160.899 111.47 158.909 111.98 157.109 112.87C158.279 113.9 159.019 115.38 159.019 117.06C159.019 120.17 156.509 122.67 153.439 122.67C152.209 122.67 151.099 122.27 150.189 121.62C149.929 122.62 149.789 123.64 149.789 124.73C149.789 126.75 150.269 128.69 151.099 130.4C151.959 129.86 152.949 129.54 154.039 129.54C157.139 129.54 159.619 132.05 159.619 135.15C159.619 135.98 159.419 136.72 159.109 137.4C160.359 137.77 161.679 138 163.039 138C164.809 138 166.519 137.66 168.049 137C167.679 136.26 167.449 135.43 167.449 134.55C167.449 131.44 169.959 128.94 173.059 128.94L173.089 128.97H173.079Z"
            fill="#C7C8C6"
          />
          <path
            d="M171.791 125.69C171.791 130.62 167.771 134.64 162.841 134.64C157.911 134.64 153.891 130.65 153.891 125.69C153.891 120.73 157.881 116.74 162.841 116.74C167.801 116.74 171.791 120.73 171.791 125.69Z"
            fill="#E2E5E5"
          />
        </g>
        <g class="bus-animated__wheel bus-animated__wheel--rear">
          <path
            d="M444.06 125.41C444.06 140.4 431.92 152.53 416.94 152.53C401.96 152.53 389.82 140.39 389.82 125.41C389.82 110.43 401.96 98.29 416.94 98.29C431.92 98.29 444.06 110.43 444.06 125.41Z"
            fill="#2D2B33"
          />
          <path
            d="M438.68 125.41C438.68 137.63 428.77 147.55 416.54 147.55C404.31 147.55 394.43 137.63 394.43 125.41C394.43 113.19 404.35 103.27 416.54 103.27C428.73 103.27 438.68 113.18 438.68 125.41Z"
            fill="#232027"
          />
          <path
            d="M433.69 125.58C433.69 134.73 426.28 142.13 417.14 142.13C408 142.13 400.59 134.72 400.59 125.58C400.59 116.44 408 109.03 417.14 109.03C426.28 109.03 433.69 116.44 433.69 125.58Z"
            fill="#E7E9EB"
          />
          <path
            d="M430.221 125.58C430.221 132.82 424.351 138.66 417.141 138.66C409.931 138.66 404.061 132.82 404.061 125.58C404.061 118.34 409.931 112.5 417.141 112.5C424.351 112.5 430.221 118.37 430.221 125.58Z"
            fill="#000004"
          />
          <path
            d="M427.371 129.63C428.221 129.63 428.991 129.86 429.711 130.17C430.281 128.69 430.621 127.09 430.621 125.41C430.621 124.1 430.421 122.85 430.081 121.68C429.141 122.36 428.031 122.76 426.781 122.76C423.681 122.76 421.171 120.25 421.171 117.15C421.171 115.64 421.771 114.3 422.741 113.3C421.091 112.56 419.261 112.13 417.331 112.13C415.191 112.13 413.201 112.64 411.401 113.53C412.571 114.55 413.311 116.06 413.311 117.72C413.311 120.83 410.801 123.33 407.701 123.33C406.471 123.33 405.361 122.93 404.451 122.28C404.191 123.28 404.051 124.33 404.051 125.41C404.051 127.43 404.531 129.37 405.331 131.08C406.191 130.54 407.181 130.22 408.261 130.22C411.371 130.22 413.871 132.73 413.871 135.83C413.871 136.63 413.671 137.4 413.361 138.08C414.611 138.48 415.921 138.68 417.321 138.68C419.091 138.68 420.771 138.34 422.341 137.68C421.971 136.94 421.771 136.11 421.771 135.23C421.771 132.12 424.281 129.62 427.381 129.62L427.371 129.63Z"
            fill="#C7C8C6"
          />
        </g>
        <path
          d="M426.089 126.35C426.089 131.31 422.069 135.3 417.139 135.3C412.209 135.3 408.189 131.31 408.189 126.35C408.189 121.39 412.209 117.4 417.139 117.4C422.069 117.4 426.089 121.42 426.089 126.35Z"
          fill="#E2E5E5"
        />
        <path
          d="M58.3392 89.48L6.44922 90.59C6.44922 90.59 3.82922 101.9 4.05922 106.52L54.6592 107.94L58.3392 89.48Z"
          fill="#FDBC40"
        />
        <path
          d="M106.861 114.55H95.3508C94.6328 114.55 94.0508 115.132 94.0508 115.85V118.52C94.0508 119.238 94.6328 119.82 95.3508 119.82H106.861C107.579 119.82 108.161 119.238 108.161 118.52V115.85C108.161 115.132 107.579 114.55 106.861 114.55Z"
          fill="#FD8B02"
        />
        <path
          d="M486.64 114.55H475.13C474.412 114.55 473.83 115.132 473.83 115.85V118.52C473.83 119.238 474.412 119.82 475.13 119.82H486.64C487.358 119.82 487.94 119.238 487.94 118.52V115.85C487.94 115.132 487.358 114.55 486.64 114.55Z"
          fill="#FD8B02"
        />
        <path d="M121.11 85.23H118.92V135.33H121.11V85.23Z" fill="#CECECE" />
        <path d="M218.03 93.5H215.84V135.12H218.03V93.5Z" fill="#CECECE" />
        <path d="M267.1 93.5H264.91V135.13H267.1V93.5Z" fill="#CECECE" />
        <path d="M320.54 93.52H318.35V134.76H320.54V93.52Z" fill="#CECECE" />
        <path d="M215.84 132.94V135.13H369.81V132.94H215.84Z" fill="#CECECE" />
        <path
          d="M215.84 93.3998V95.5898L369.81 95.5898V93.3998L215.84 93.3998Z"
          fill="#CECECE"
        />
        <path d="M369.809 93.52H367.619V134.77H369.809V93.52Z" fill="#CECECE" />
        <path
          d="M57.7 89.4178C57.7 89.4178 58.47 89.45 59 89.5C66.21 90.23 120.66 94.49 169.88 56.85L189.25 56C189.25 56 131.27 114.73 54 108.03L57.7 89.57V89.4178Z"
          fill="#FDBC40"
        />
        <path
          d="M541.781 100.26H521.461V102.64H541.781V100.26Z"
          fill="#CECECE"
        />
        <path
          d="M541.781 109.72H521.461V112.1H541.781V109.72Z"
          fill="#CECECE"
        />
        <path
          d="M541.781 104.97H521.461V107.35H541.781V104.97Z"
          fill="#CECECE"
        />
        <path
          style="mix-blend-mode: soft-light"
          opacity="0.65"
          d="M538.442 43H81C89.0906 27.3203 93.7784 6.63246 120.058 5L541.925 5.17131C542.286 19.1278 541.383 31.9658 538.432 43H538.442Z"
          fill="url(#paint1_linear_1410_95406)"
        />
        <path
          d="M212 5L206.124 5.11032C206.124 5.11032 195.766 34.5452 170 56.9398L188.475 57C188.475 57 200.258 47.1115 212 5Z"
          fill="#FDBC40"
        />
        <path
          d="M85.4903 24.5799C85.4903 23.2299 84.4003 22.1399 83.0503 22.1399C75.5903 22.1399 67.4703 22.1299 67.0703 22.1299C64.2803 22.1299 54.4503 22.4399 49.7903 27.0999C44.3303 32.5599 45.5803 48.5099 45.5803 48.5099H48.4803C48.4803 48.5099 46.0903 31.7299 53.4403 28.4299C57.2903 26.6999 64.5703 26.9499 66.9903 26.9999C67.4203 26.9999 75.5703 27.0199 83.0403 27.0199C84.3903 27.0199 85.4803 25.9299 85.4803 24.5799H85.4903Z"
          fill="#F4F3F2"
        />
        <path
          d="M51.0106 61.5098H47.1606C46.0406 61.5098 45.1406 60.6098 45.1406 59.4898V42.2598C45.1406 41.0498 46.1206 40.0598 47.3406 40.0598H51.0706C51.5206 40.0598 51.9206 40.3398 52.0606 40.7698C52.4706 42.0098 53.2306 44.8498 53.2306 48.9098C53.2306 52.9698 52.4306 59.2598 52.0206 60.7298C51.9006 61.1898 51.4806 61.4998 51.0106 61.4998V61.5098Z"
          fill="#F4F3F2"
        />
        <path
          d="M51 61.3999H47.28C46.16 61.3999 45.25 60.3099 45.25 59.1899V42.3599C45.25 41.1499 46.23 40.1699 47.44 40.1699H51.04C51.48 40.1699 51.88 40.4499 52.02 40.8799C52.42 42.1199 53.16 44.9299 53.16 48.9399C53.16 52.9499 52.38 59.1799 51.99 60.6399C51.87 61.0899 51.46 61.3999 51 61.3999Z"
          fill="#F4F3F2"
        />
        <path
          d="M50.9811 61.2898H47.4011C46.2811 61.2898 45.3711 60.0198 45.3711 58.8998V42.4698C45.3711 41.2598 46.3511 40.2898 47.5511 40.2898H51.0211C51.4611 40.2898 51.8511 40.5698 51.9811 40.9898C52.3711 42.2198 53.0911 45.0198 53.0911 48.9598C53.0911 52.8998 52.3311 59.0998 51.9511 60.5398C51.8311 60.9898 51.4311 61.2998 50.9711 61.2998L50.9811 61.2898Z"
          fill="#F4F3F2"
        />
        <path
          d="M50.9602 61.1799H47.5202C46.4002 61.1799 45.4902 59.7299 45.4902 58.5999V42.5699C45.4902 41.3699 46.4602 40.3899 47.6702 40.3899H51.0202C51.4602 40.3899 51.8402 40.6699 51.9702 41.0899C52.3502 42.3199 53.0502 45.0999 53.0502 48.9799C53.0502 52.8599 52.3102 59.0099 51.9402 60.4299C51.8202 60.8699 51.4302 61.1799 50.9702 61.1799H50.9602Z"
          fill="#F4F3F2"
        />
        <path
          d="M50.9398 61.0698H47.6298C46.4998 61.0698 45.5898 59.4298 45.5898 58.3098V42.6798C45.5898 41.4798 46.5598 40.5098 47.7598 40.5098H50.9798C51.4098 40.5098 51.7898 40.7898 51.9198 41.1998C52.2898 42.4198 52.9698 45.1898 52.9698 48.9998C52.9698 52.8098 52.2598 58.9298 51.8898 60.3298C51.7798 60.7698 51.3898 61.0698 50.9398 61.0698Z"
          fill="#F4F3F2"
        />
        <path
          d="M50.9209 60.9599H47.7509C46.6209 60.9599 45.7109 59.1399 45.7109 58.0099V42.7799C45.7109 41.5799 46.6809 40.6199 47.8709 40.6199H50.9609C51.3909 40.6199 51.7609 40.8999 51.8909 41.3099C52.2509 42.5199 52.9109 45.2699 52.9109 49.0299C52.9109 52.7899 52.2209 58.8499 51.8709 60.2299C51.7609 60.6599 51.3709 60.9599 50.9309 60.9599H50.9209Z"
          fill="#F4F3F2"
        />
        <path
          d="M50.9005 60.8497H47.8605C46.7305 60.8497 45.8105 58.8497 45.8105 57.7197V42.8897C45.8105 41.6997 46.7805 40.7297 47.9705 40.7297H50.9305C51.3505 40.7297 51.7305 41.0097 51.8405 41.4097C52.1905 42.6197 52.8305 45.3497 52.8305 49.0497C52.8305 52.7497 52.1605 58.7697 51.8205 60.1297C51.7105 60.5597 51.3305 60.8497 50.8905 60.8497H50.9005Z"
          fill="#F4F3F2"
        />
        <path
          d="M50.8914 60.7398H47.9914C46.8614 60.7398 45.9414 58.5598 45.9414 57.4198V42.9898C45.9414 41.7998 46.9014 40.8398 48.0914 40.8398H50.9214C51.3414 40.8398 51.7114 41.1198 51.8214 41.5198C52.1614 42.7198 52.7814 45.4398 52.7814 49.0698C52.7814 52.6998 52.1314 58.6798 51.8014 60.0198C51.7014 60.4398 51.3214 60.7398 50.8914 60.7398Z"
          fill="#F4F3F2"
        />
        <path
          d="M50.871 60.6297H48.101C46.961 60.6297 46.041 58.2597 46.041 57.1297V43.0997C46.041 41.9197 47.001 40.9497 48.191 40.9497H50.901C51.321 40.9497 51.681 41.2297 51.791 41.6297C52.111 42.8197 52.721 45.5197 52.721 49.0997C52.721 52.6797 52.101 58.6097 51.781 59.9297C51.681 60.3497 51.311 60.6397 50.881 60.6397L50.871 60.6297Z"
          fill="#F4F3F2"
        />
        <path
          d="M50.8502 60.5198H48.2202C47.0802 60.5198 46.1602 57.9698 46.1602 56.8298V43.1998C46.1602 42.0198 47.1202 41.0598 48.3002 41.0598H50.8802C51.2902 41.0598 51.6502 41.3298 51.7602 41.7298C52.0702 42.9198 52.6502 45.5998 52.6502 49.1098C52.6502 52.6198 52.0502 58.5098 51.7402 59.8098C51.6402 60.2198 51.2802 60.5098 50.8602 60.5098L50.8502 60.5198Z"
          fill="#F4F3F2"
        />
        <path
          d="M50.8315 60.4099H48.3415C47.2015 60.4099 46.2715 57.6799 46.2715 56.5399V43.3099C46.2715 42.1299 47.2215 41.1799 48.4015 41.1799H50.8515C51.2615 41.1799 51.6115 41.4499 51.7115 41.8499C52.0115 43.0299 52.5715 45.6999 52.5715 49.1499C52.5715 52.5999 51.9915 58.4499 51.6915 59.7299C51.6015 60.1399 51.2415 60.4199 50.8215 60.4199L50.8315 60.4099Z"
          fill="#F4F3F2"
        />
        <path
          d="M50.8109 60.2998H48.4509C47.3109 60.2998 46.3809 57.3798 46.3809 56.2398V43.4098C46.3809 42.2398 47.3309 41.2798 48.5109 41.2798H50.8309C51.2309 41.2798 51.5809 41.5498 51.6809 41.9398C51.9709 43.1198 52.5109 45.7698 52.5109 49.1598C52.5109 52.5498 51.9509 58.3498 51.6609 59.6098C51.5709 60.0098 51.2109 60.2898 50.8009 60.2898L50.8109 60.2998Z"
          fill="#F4F3F2"
        />
        <path
          d="M50.8 60.1899H48.58C47.43 60.1899 46.5 57.0899 46.5 55.9399V43.5099C46.5 42.3399 47.45 41.3899 48.62 41.3899H50.81C51.21 41.3899 51.56 41.6599 51.65 42.0499C51.93 43.2199 52.45 45.8499 52.45 49.1799C52.45 52.5099 51.92 58.2699 51.64 59.5099C51.55 59.9099 51.2 60.1899 50.8 60.1899Z"
          fill="#F4F3F2"
        />
        <path
          d="M50.7813 60.0798H48.6913C47.5413 60.0798 46.6113 56.7998 46.6113 55.6498V43.6198C46.6113 42.4498 47.5613 41.5098 48.7213 41.5098H50.7913C51.1813 41.5098 51.5313 41.7798 51.6213 42.1598C51.8913 43.3198 52.3913 45.9398 52.3913 49.2098C52.3913 52.4798 51.8813 58.1898 51.6113 59.4098C51.5213 59.7998 51.1813 60.0798 50.7813 60.0798Z"
          fill="#F4F3F2"
        />
        <path
          d="M50.7607 59.9699H48.8107C47.6607 59.9699 46.7207 56.4999 46.7207 55.3499V43.7199C46.7207 42.5599 47.6607 41.6099 48.8307 41.6099H50.7707C51.1607 41.6099 51.5007 41.8799 51.5807 42.2599C51.8407 43.4199 52.3207 46.0199 52.3207 49.2299C52.3207 52.4399 51.8307 58.1099 51.5707 59.3099C51.4907 59.6999 51.1507 59.9699 50.7507 59.9699H50.7607Z"
          fill="#F4F3F2"
        />
        <path
          d="M50.7401 59.8597H48.9201C47.7701 59.8597 46.8301 56.2097 46.8301 55.0597V43.8297C46.8301 42.6697 47.7701 41.7297 48.9301 41.7297H50.7401C51.1301 41.7297 51.4601 41.9997 51.5401 42.3797C51.7901 43.5297 52.2501 46.1097 52.2501 49.2597C52.2501 52.4097 51.7801 58.0397 51.5401 59.2197C51.4601 59.5997 51.1301 59.8697 50.7401 59.8697V59.8597Z"
          fill="#F4F3F2"
        />
        <path
          d="M50.7212 59.7498H49.0412C47.8812 59.7498 46.9512 55.9198 46.9512 54.7598V43.9298C46.9512 42.7698 47.8912 41.8398 49.0412 41.8398H50.7212C51.1012 41.8398 51.4312 42.1098 51.5112 42.4798C51.7512 43.6198 52.1912 46.1898 52.1912 49.2798C52.1912 52.3698 51.7412 57.9498 51.5112 59.1098C51.4312 59.4898 51.1012 59.7498 50.7212 59.7498Z"
          fill="#F4F3F2"
        />
        <g style="mix-blend-mode: soft-light" opacity="0.05">
          <path
            d="M49.1099 47.6799C49.2399 47.0199 47.4999 60.0199 45.8799 59.6199C44.9799 59.3999 45.6499 41.5499 46.3399 40.9599C47.0299 40.3599 49.7699 40.0199 50.3599 40.7299C50.9499 41.4299 48.9399 48.5499 49.1199 47.6899L49.1099 47.6799Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.1">
          <path
            d="M49.0496 47.3997C49.1796 46.7897 47.4996 59.1497 45.9496 58.7697C45.0796 58.5597 45.6996 41.5897 46.3596 41.0097C47.0096 40.4197 49.6296 40.0897 50.1996 40.7597C50.7696 41.4297 48.8796 48.2097 49.0496 47.3997Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.14">
          <path
            d="M48.9999 47.1199C49.1199 46.5599 47.5199 58.2799 46.0299 57.9299C45.1899 57.7299 45.7599 41.6399 46.3799 41.0699C46.9999 40.4999 49.4899 40.1699 50.0499 40.7999C50.6099 41.4299 48.8299 47.8699 48.9899 47.1199H48.9999Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.19">
          <path
            d="M48.9394 46.8498C49.0494 46.3398 47.5294 57.4198 46.1094 57.0898C45.2994 56.8998 45.8294 41.6898 46.4094 41.1398C46.9894 40.5798 49.3694 40.2498 49.9094 40.8498C50.4594 41.4498 48.7894 47.5398 48.9394 46.8498Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.24">
          <path
            d="M48.8899 46.5697C48.9899 46.1097 47.5499 56.5497 46.1899 56.2397C45.4099 56.0597 45.8899 41.7297 46.4399 41.1897C46.9899 40.6497 49.2399 40.3197 49.7699 40.8797C50.2999 41.4397 48.7499 47.1897 48.8899 46.5597V46.5697Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.29">
          <path
            d="M48.8409 46.2998C48.9409 45.8898 47.5709 55.6898 46.2709 55.4098C45.5209 55.2398 45.9509 41.7897 46.4709 41.2597C46.9909 40.7297 49.1109 40.4097 49.6309 40.9397C50.1509 41.4697 48.7109 46.8698 48.8409 46.3098V46.2998Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.33">
          <path
            d="M48.7808 46.0197C48.8708 45.6497 47.5708 54.8297 46.3408 54.5597C45.6208 54.3997 46.0008 41.8297 46.4908 41.3197C46.9708 40.7997 48.9708 40.4797 49.4808 40.9797C49.9908 41.4697 48.6608 46.5397 48.7808 46.0297V46.0197Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.38">
          <path
            d="M48.7305 45.7399C48.8105 45.4199 47.5905 53.9599 46.4305 53.7099C45.7405 53.5599 46.0805 41.8699 46.5205 41.3699C46.9705 40.8699 48.8405 40.5499 49.3305 41.0099C49.8205 41.4699 48.6105 46.1899 48.7305 45.7399Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.43">
          <path
            d="M48.6698 45.4699C48.7498 45.1999 47.5998 53.0999 46.4998 52.8699C45.8398 52.7299 46.1298 41.9199 46.5398 41.4299C46.9498 40.9399 48.6998 40.6299 49.1798 41.0499C49.6598 41.4699 48.5598 45.8499 48.6698 45.4599V45.4699Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.48">
          <path
            d="M48.6201 45.1898C48.6901 44.9698 47.6201 52.2298 46.5801 52.0298C45.9401 51.8998 46.1901 41.9698 46.5701 41.4998C46.9501 41.0198 48.5701 40.7198 49.0401 41.0998C49.5101 41.4898 48.5201 45.5198 48.6201 45.1898Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.52">
          <path
            d="M48.5695 44.9198C48.6295 44.7498 47.6295 51.3798 46.6595 51.1898C46.0495 51.0698 46.2495 42.0198 46.5995 41.5598C46.9395 41.0998 48.4495 40.7898 48.8995 41.1398C49.3495 41.4898 48.4695 45.1798 48.5695 44.9198Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.57">
          <path
            d="M48.5106 44.6398C48.5606 44.5198 47.6406 50.5098 46.7406 50.3398C46.1606 50.2298 46.3206 42.0598 46.6306 41.6098C46.9406 41.1598 48.3206 40.8598 48.7606 41.1798C49.2006 41.4998 48.4306 44.8398 48.5206 44.6398H48.5106Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.62">
          <path
            d="M48.4606 44.3698C48.5106 44.2998 47.6606 49.6498 46.8206 49.5098C46.2706 49.4098 46.3806 42.1198 46.6506 41.6898C46.9306 41.2498 48.1806 40.9598 48.6106 41.2398C49.0406 41.5198 48.3806 44.5198 48.4606 44.3798V44.3698Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.67">
          <path
            d="M48.4004 44.0898C48.4004 44.0898 47.6704 48.7798 46.8904 48.6598C46.3704 48.5798 46.4304 42.1598 46.6704 41.7398C46.9104 41.3198 48.0404 41.0198 48.4604 41.2698C48.8704 41.5198 48.3404 44.1798 48.4004 44.0898Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.71">
          <path
            d="M48.3493 43.8097C48.3493 43.8097 47.6793 47.9197 46.9693 47.8097C46.4793 47.7397 46.4893 42.1997 46.6993 41.7897C46.9093 41.3797 47.9093 41.0897 48.3093 41.2997C48.7093 41.5097 48.2893 43.8297 48.3493 43.7997V43.8097Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.76">
          <path
            d="M48.3004 43.5397C48.3304 43.6197 47.7004 47.0597 47.0504 46.9697C46.5904 46.9097 46.5504 42.2497 46.7304 41.8597C46.9004 41.4597 47.7804 41.1797 48.1704 41.3497C48.5604 41.5297 48.2504 43.5097 48.3004 43.5397Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.81">
          <path
            d="M48.2399 43.2597C48.2799 43.3897 47.7099 46.1997 47.1299 46.1297C46.6899 46.0797 46.6199 42.2997 46.7499 41.9197C46.8899 41.5397 47.6499 41.2497 48.0199 41.3997C48.3899 41.5397 48.2099 43.1797 48.2399 43.2697V43.2597Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.86">
          <path
            d="M48.1894 42.9897C48.2194 43.1697 47.7294 45.3397 47.2094 45.2897C46.7994 45.2497 46.6794 42.3497 46.7794 41.9797C46.8794 41.6097 47.5194 41.3297 47.8794 41.4397C48.2394 41.5497 48.1694 42.8397 48.1894 42.9897Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.9">
          <path
            d="M48.1306 42.7098C48.1506 42.9398 47.7306 44.4698 47.2806 44.4398C46.9006 44.4098 46.7306 42.3898 46.8006 42.0398C46.8706 41.6798 47.3806 41.4098 47.7306 41.4798C48.0806 41.5498 48.1206 42.4998 48.1306 42.7098Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light" opacity="0.95">
          <path
            d="M48.0808 42.4299C48.0808 42.7099 47.7508 43.6099 47.3608 43.5999C47.0108 43.5899 46.7908 42.4399 46.8308 42.0999C46.8608 41.7599 47.2508 41.4899 47.5908 41.5199C47.9308 41.5599 48.0708 42.1699 48.0808 42.4399V42.4299Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light">
          <path
            d="M48.0291 42.1598C48.0291 42.4898 47.7691 42.7598 47.4491 42.7598C47.1291 42.7598 46.8691 42.4898 46.8691 42.1598C46.8691 41.8298 47.1291 41.5598 47.4491 41.5598C47.7691 41.5598 48.0291 41.8298 48.0291 42.1598Z"
            fill="#F4F3F2"
          />
        </g>
        <g style="mix-blend-mode: soft-light">
          <path d="M296.1 124.28L296.09 124.27L296.1 124.28Z" fill="#FD8B02" />
        </g>
        <g style="mix-blend-mode: soft-light">
          <path
            d="M289.84 124.27L289.83 124.28H289.82L289.84 124.27Z"
            fill="#FD8B02"
          />
        </g>
        <path
          d="M296.27 123.23H289.19C288.809 123.23 288.5 123.539 288.5 123.92V126.91C288.5 127.291 288.809 127.6 289.19 127.6H296.27C296.651 127.6 296.96 127.291 296.96 126.91V123.92C296.96 123.539 296.651 123.23 296.27 123.23Z"
          fill="#2D2B33"
        />
        <path
          d="M245.01 123.23H237.93C237.549 123.23 237.24 123.539 237.24 123.92V126.91C237.24 127.291 237.549 127.6 237.93 127.6H245.01C245.391 127.6 245.7 127.291 245.7 126.91V123.92C245.7 123.539 245.391 123.23 245.01 123.23Z"
          fill="#2D2B33"
        />
        <path
          d="M347.62 123.23H340.54C340.159 123.23 339.85 123.539 339.85 123.92V126.91C339.85 127.291 340.159 127.6 340.54 127.6H347.62C348.001 127.6 348.31 127.291 348.31 126.91V123.92C348.31 123.539 348.001 123.23 347.62 123.23Z"
          fill="#2D2B33"
        />
      </g>
      <defs>
        <linearGradient
          id="paint0_linear_1410_95406"
          x1="43.79"
          y1="13.97"
          x2="66.58"
          y2="95.63"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white" />
          <stop offset="0.14" stop-color="#F6F6F6" />
          <stop offset="0.37" stop-color="#DEDEDE" />
          <stop offset="0.65" stop-color="#B7B7B7" />
          <stop offset="0.98" stop-color="#828282" />
          <stop offset="1" stop-color="#808080" />
        </linearGradient>
        <linearGradient
          id="paint1_linear_1410_95406"
          x1="311.503"
          y1="43"
          x2="311.503"
          y2="5"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white" />
          <stop offset="0.14" stop-color="#F6F6F6" />
          <stop offset="0.37" stop-color="#DEDEDE" />
          <stop offset="0.65" stop-color="#B7B7B7" />
          <stop offset="0.98" stop-color="#828282" />
          <stop offset="1" stop-color="#808080" />
        </linearGradient>
        <clipPath id="clip0_1410_95406">
          <rect width="562.22" height="153.06" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </div>
</template>

<script setup lang="ts">
// ---- DATA ---- //

const props = defineProps<{
  display: string
}>()

const busPosition = computed(() => {
  switch (props.display) {
    case "mobile":
      return "bus-animated--display_mobile"
    case "laptop":
      return "bus-animated--display_laptop"
    default:
      return ""
  }
})
</script>

<style lang="scss" scoped>
@import "~/assets/scss/components/main-page/hero/bus-animated.scss";
</style>
