<template>
  <div class="hero-screen">
    <h1 class="hero-screen__title">
      Бронюй зараз —
      <span>сплачуй при посадці!</span>
    </h1>
    <BusAnimated :display="'laptop'" />
  </div>
</template>

<script lang="ts" setup>
// ---- COMPONENTS ---- //
import BusAnimated from "~/components/main-page/hero/BusAnimated.vue"
</script>

<style lang="scss" scoped>
@import "@/assets/scss/components/main-page/hero/hero.scss";
</style>
