<template>
  <section class="hero" id="hero-section" :class="className">
    <div class="container">
      <ul v-if="showAnimationBack" class="hero__infinite-bg infinite-bg">
        <li v-for="item in 6" :key="item" class="infinite-bg__wrapper">
          <NuxtImg src="assets/img/hero/hero-bg.png" alt="hero-bg" />
        </li>
      </ul>
      <div class="hero__inner">
        <div class="hero__main">
          <HeroMotto v-if="heroMotto" />
          <h1 v-if="isTripsPageSearch" class="hero-trips__title">
            Бронюйте з оплатою при посадці
          </h1>
          <SearchForm
            :class="[{ show: isSearchShown }, showSearch]"
            :passengers-info="passengersInfo"
          />
          <div
            v-if="isTripsPageSearch"
            class="search-mobile"
            :class="{ hide: isButtonShown }"
            @click="showMobileInfo"
          >
            <div class="search-mobile__wrapper">
              <div class="search-mobile__top">
                <div class="search-mobile__from">
                  <Icon name="HeaderSearch" />
                  <p>
                    {{ search.fromCity.selected?.name }} -
                    {{ search.toCity.selected?.name }}
                  </p>
                </div>
              </div>
              <div class="search-mobile__bottom">
                <div class="search-mobile__data">
                  <Icon name="Calendar" />
                  <p>{{ fetchQuery.departureDate }}</p>
                </div>
                <div class="search-mobile__passenger">
                  <Icon name="SocialPassenger" />
                  <p>{{ passengersInfo }}</p>
                </div>
              </div>
            </div>
          </div>
          <button
            v-if="isTripsPageSearch"
            class="hero-btn__search"
            :class="{ show: isButtonShown }"
            @click="showMobileInfo"
          >
            <Icon name="SearchMobileArrow" size="24" />
          </button>

          <BusAnimated v-if="busAnimated" :display="'mobile'" />
        </div>
      </div>
    </div>
    <MarqueeString v-if="marqueeString" />
  </section>
</template>

<script setup lang="ts">
// ---- COMPONENTS ---- //
import HeroMotto from "~/components/main-page/hero/HeroMotto.vue"
import BusAnimated from "~/components/main-page/hero/BusAnimated.vue"
import SearchForm from "~/components/App/Search/SearchForm.vue"
import MarqueeString from "~/components/App/MarqueeString.vue"

// Store
import { useTripsStore } from "~/stores/trips"

// Data
const props = defineProps<{
  showAnimationBack?: boolean
  marqueeString?: boolean
  busAnimated?: boolean
  heroMotto?: boolean
  className?: string
  isTripsPageSearch?: boolean
}>()

const isSearchShown = ref<boolean>(false)
const isButtonShown = ref<boolean>(false)

// -- stores data
const { search, fetchQuery } = toRefs(useTripsStore())

// Methods
function showMobileInfo() {
  isSearchShown.value = !isSearchShown.value
  isButtonShown.value = !isButtonShown.value
}

// Computed data
const passengersInfo = computed(() => {
  const { children, adults, animals } = toRefs(search.value.passengers)
  const passengerTypes = []

  const adultsCount = adults.value.count
  if (adultsCount > 0) {
    const adultStr = `${adultsCount} доросли${adultsCount > 1 ? "х" : "й"}`
    passengerTypes.push(adultStr)
  }

  const childrenCount = children.value.ages.length
  if (childrenCount > 0) {
    let childStr
    if (childrenCount > 4) {
      childStr = `${childrenCount} дітей`
    } else {
      childStr = `${childrenCount} дитин${childrenCount > 1 ? "и" : "а"}`
    }
    passengerTypes.push(childStr)
  }

  const animalsCount = animals.value.weights.length
  if (animalsCount > 0) {
    let animalStr
    if (animalsCount > 4) {
      animalStr = `${animalsCount} тварин`
    } else {
      animalStr = `${animalsCount} тварин${animalsCount > 1 ? "и" : "а"}`
    }
    passengerTypes.push(animalStr)
  }

  return passengerTypes.join(", ")
})
const showSearch = computed(() => {
  return props.isTripsPageSearch ? "search--trips" : ""
})
</script>

<style scoped lang="scss">
@import "@/assets/scss/components/main-page/hero/hero.scss";
@import "@/assets/scss/components/main-page/hero/search-form.scss";
</style>
