.advantages {
  padding-top: rem(100);

  @media (min-width: 1200px) {
    padding-top: rem(150);
  }

  &__title {
    margin-bottom: rem(40);

    @media (min-width: 1200px) {
      margin-bottom: rem(50);
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(20);

    @media (min-width: 760px) {
      grid-template-columns: 1fr 1fr;

      & :nth-child(3) {
        grid-column: 1/3;
      }
    }

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;

      & :nth-child(3) {
        grid-column: auto;
      }
    }
  }
}
