.advantages__item {
  display: flex;
  flex-direction: column;
  padding: rem(20);
  min-height: rem(450);
  border-radius: rem(8);

  @media (min-width: 1200px) {
    padding: rem(30);
    min-height: rem(600);
  }

  &-title {
    margin-bottom: rem(10);
    font-size: rem(20);

    @media (min-width: 960px) {
      font-size: rem(24);
    }
  }

  &-desc {
    font-size: rem(14);
    line-height: 1.5;
    font-weight: 300;

    @media (min-width: 960px) {
      font-size: rem(16);
    }
  }

  &-img-wrapper {
    align-self: center;
    justify-self: flex-end;
    margin-top: auto;
    width: 100%;
    max-width: rem(420);
  }
}
