<template>
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M16.925 8.62495L18 9.69995L12 15.7L6 9.72495L7.075 8.64995L12 13.575L16.925 8.62495Z"
      fill="currentColor"
    />
  </svg>
</template>
