<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M6.825 20L2 15.175L6.825 10.35L7.875 11.4L4.85 14.425H12.75V15.925H4.85L7.875 18.95L6.825 20ZM17.175 13.65L16.125 12.6L19.15 9.575H11.25V8.075H19.15L16.125 5.05L17.175 4L22 8.825L17.175 13.65Z"
      fill="currentColor"
    />
  </svg>
</template>
