<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M9.975 17.95L11.05 16.9L6.85 12.7H20V11.2H6.85L11.075 6.97499L10 5.92499L3.975 11.95L9.975 17.95Z"
    />
  </svg>
</template>
