<template>
  <svg
    width="36"
    height="36"
    viewBox="0 0 36 36"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M25.3875 12.9383L27 14.5508L18 23.5508L9 14.5883L10.6125 12.9758L18 20.3633L25.3875 12.9383Z"
    />
  </svg>
</template>
