<template>
  <svg
    width="17"
    height="17"
    viewBox="0 0 17 17"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_2258_8767)">
      <path
        d="M4.54053 4.53922L5.59235 4.5516L5.59235 10.6645L12.0889 4.16799L12.8314 4.91046L6.33481 11.407L12.4477 11.407L12.4601 12.4588L4.54053 12.4588L4.54053 4.53922Z"
      />
    </g>
    <defs>
      <clipPath id="clip0_2258_8767">
        <rect
          width="16.8"
          height="16.8"
          transform="translate(16.9004 0.0996094) rotate(90)"
        />
      </clipPath>
    </defs>
  </svg>
</template>
