<template>
  <svg
    width="20"
    height="20"
    viewBox="0 0 20 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M9.16536 16.6673L0.832031 10.0007L9.16536 3.33398V7.50065C13.7677 7.50065 17.4987 11.2317 17.4987 15.834C17.4987 16.0612 17.4896 16.2863 17.4718 16.509C16.2533 14.1977 13.8638 12.5998 11.0929 12.5051L10.832 12.5007H9.16528L9.16536 16.6673ZM7.49858 10.834H9.16528L10.8604 10.8342L11.1499 10.8394C12.2201 10.876 13.2531 11.0977 14.2127 11.4785C12.9902 10.0631 11.1824 9.16732 9.16536 9.16732H7.4987V6.80169L3.5 10.0007L7.49863 13.1996L7.49858 10.834Z"
      fill="#939393"
    />
  </svg>
</template>
