<template>
  <svg
    width="17"
    height="17"
    viewBox="0 0 17 17"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M9.91789 12.6651L9.16539 11.9301L12.1054 8.99006H2.90039V7.94006H12.1054L9.14789 4.98256L9.90039 4.24756L14.1179 8.46506L9.91789 12.6651Z"
      fill="#1C1D1E"
    />
  </svg>
</template>
