<template>
  <svg
    width="36"
    height="36"
    viewBox="0 0 36 36"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M6.36971 17.8125C5.42324 17.8125 4.625 17.4857 3.975 16.8322C3.325 16.1787 3 15.3787 3 14.4322C3 13.4857 3.32676 12.6875 3.98029 12.0375C4.63381 11.3875 5.43381 11.0625 6.38029 11.0625C7.32676 11.0625 8.125 11.3893 8.775 12.0428C9.425 12.6963 9.75 13.4963 9.75 14.4428C9.75 15.3893 9.42324 16.1875 8.76971 16.8375C8.11619 17.4875 7.31619 17.8125 6.36971 17.8125ZM13.3072 11.4375C12.3607 11.4375 11.5625 11.1107 10.9125 10.4572C10.2625 9.80369 9.9375 9.00369 9.9375 8.05721C9.9375 7.11074 10.2643 6.3125 10.9178 5.6625C11.5713 5.0125 12.3713 4.6875 13.3178 4.6875C14.2643 4.6875 15.0625 5.01426 15.7125 5.66779C16.3625 6.32131 16.6875 7.12131 16.6875 8.06779C16.6875 9.01426 16.3607 9.8125 15.7072 10.4625C15.0537 11.1125 14.2537 11.4375 13.3072 11.4375ZM22.6822 11.4375C21.7357 11.4375 20.9375 11.1107 20.2875 10.4572C19.6375 9.80369 19.3125 9.00369 19.3125 8.05721C19.3125 7.11074 19.6393 6.3125 20.2928 5.6625C20.9463 5.0125 21.7463 4.6875 22.6928 4.6875C23.6393 4.6875 24.4375 5.01426 25.0875 5.66779C25.7375 6.32131 26.0625 7.12131 26.0625 8.06779C26.0625 9.01426 25.7357 9.8125 25.0822 10.4625C24.4287 11.1125 23.6287 11.4375 22.6822 11.4375ZM29.6197 17.8125C28.6732 17.8125 27.875 17.4857 27.225 16.8322C26.575 16.1787 26.25 15.3787 26.25 14.4322C26.25 13.4857 26.5768 12.6875 27.2303 12.0375C27.8838 11.3875 28.6838 11.0625 29.6303 11.0625C30.5768 11.0625 31.375 11.3893 32.025 12.0428C32.675 12.6963 33 13.4963 33 14.4428C33 15.3893 32.6732 16.1875 32.0197 16.8375C31.3662 17.4875 30.5662 17.8125 29.6197 17.8125ZM9.975 33.1875C8.925 33.1875 8.0625 32.7934 7.3875 32.0053C6.7125 31.2171 6.375 30.2862 6.375 29.2125C6.375 28.1625 6.69375 27.2313 7.33125 26.4188C7.96875 25.6063 8.65 24.825 9.375 24.075C9.925 23.525 10.4375 22.9438 10.9125 22.3313C11.3875 21.7188 11.8375 21.0875 12.2625 20.4375C12.9875 19.3375 13.8 18.3125 14.7 17.3625C15.6 16.4125 16.7 15.9375 18 15.9375C19.3 15.9375 20.4062 16.4125 21.3187 17.3625C22.2312 18.3125 23.05 19.35 23.775 20.475C24.2 21.125 24.6437 21.75 25.1062 22.35C25.5687 22.95 26.075 23.525 26.625 24.075C27.35 24.825 28.0312 25.6063 28.6687 26.4188C29.3062 27.2313 29.625 28.1625 29.625 29.2125C29.625 30.2862 29.2875 31.2171 28.6125 32.0053C27.9375 32.7934 27.075 33.1875 26.025 33.1875C24.675 33.1875 23.3375 33.075 22.0125 32.85C20.6875 32.625 19.35 32.5125 18 32.5125C16.65 32.5125 15.3125 32.625 13.9875 32.85C12.6625 33.075 11.325 33.1875 9.975 33.1875Z"
      fill="#939393"
    />
  </svg>
</template>
