<template>
  <svg
    width="36"
    height="36"
    viewBox="0 0 36 36"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M17.9993 25.5C18.3498 25.5 18.6438 25.3815 18.8813 25.1444C19.1188 24.9074 19.2375 24.6136 19.2375 24.2632C19.2375 23.9127 19.119 23.6188 18.8819 23.3813C18.6449 23.1438 18.3511 23.025 18.0007 23.025C17.6502 23.025 17.3563 23.1435 17.1188 23.3806C16.8813 23.6177 16.7625 23.9114 16.7625 24.2618C16.7625 24.6123 16.881 24.9062 17.1181 25.1438C17.3552 25.3813 17.6489 25.5 17.9993 25.5ZM16.9875 19.7625H19.2375V10.275H16.9875V19.7625ZM18.01 33C15.9416 33 13.9979 32.6063 12.1787 31.8188C10.3596 31.0313 8.76875 29.9563 7.40625 28.5938C6.04375 27.2313 4.96875 25.6395 4.18125 23.8185C3.39375 21.9975 3 20.0517 3 17.9813C3 15.9108 3.39375 13.965 4.18125 12.144C4.96875 10.323 6.04375 8.7375 7.40625 7.3875C8.76875 6.0375 10.3605 4.96875 12.1815 4.18125C14.0025 3.39375 15.9483 3 18.0188 3C20.0892 3 22.035 3.39375 23.856 4.18125C25.677 4.96875 27.2625 6.0375 28.6125 7.3875C29.9625 8.7375 31.0313 10.325 31.8188 12.15C32.6063 13.975 33 15.9217 33 17.99C33 20.0584 32.6063 22.0021 31.8188 23.8213C31.0313 25.6404 29.9625 27.229 28.6125 28.5869C27.2625 29.9447 25.675 31.0198 23.85 31.8118C22.025 32.604 20.0783 33 18.01 33ZM18.0188 30.75C21.5563 30.75 24.5625 29.5063 27.0375 27.0188C29.5125 24.5312 30.75 21.5188 30.75 17.9813C30.75 14.4438 29.5149 11.4375 27.0445 8.9625C24.5742 6.4875 21.5594 5.25 18 5.25C14.475 5.25 11.4688 6.48515 8.98125 8.95545C6.49375 11.4258 5.25 14.4406 5.25 18C5.25 21.525 6.49375 24.5312 8.98125 27.0188C11.4688 29.5063 14.4813 30.75 18.0188 30.75Z"
    />
  </svg>
</template>
