<template>
  <svg
    width="14"
    height="14"
    viewBox="0 0 14 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M5.51276 10.4128L2.24609 7.14609L2.87318 6.51901L5.51276 9.15859L11.1128 3.55859L11.7398 4.18568L5.51276 10.4128Z"
      fill="#1C1D1E"
    />
  </svg>
</template>
