<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M9.45156 17.8496L3.85156 12.2496L4.92656 11.1746L9.45156 15.6996L19.0516 6.09961L20.1266 7.17461L9.45156 17.8496Z"
      fill="white"
    />
  </svg>
</template>
