<template>
  <svg viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M14.525 17.9498L13.45 16.8998L17.65 12.6998H4.5V11.1998H17.65L13.425 6.9748L14.5 5.9248L20.525 11.9498L14.525 17.9498Z"
      fill="currentColor"
    />
  </svg>
</template>
