<template>
  <svg
    width="20"
    height="20"
    viewBox="0 0 20 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M9.4349 14.167H10.6849V9.16699H9.4349V14.167ZM9.99702 7.62533C10.1917 7.62533 10.355 7.56144 10.487 7.43366C10.6189 7.30588 10.6849 7.14755 10.6849 6.95866C10.6849 6.75796 10.619 6.58974 10.4874 6.45397C10.3556 6.31821 10.1925 6.25033 9.99777 6.25033C9.80308 6.25033 9.63976 6.31821 9.50781 6.45397C9.37587 6.58974 9.3099 6.75796 9.3099 6.95866C9.3099 7.14755 9.37574 7.30588 9.50744 7.43366C9.63915 7.56144 9.80234 7.62533 9.99702 7.62533ZM10.0029 18.3337C8.85385 18.3337 7.77399 18.1149 6.76335 17.6774C5.75271 17.2399 4.86892 16.6427 4.11198 15.8857C3.35503 15.1288 2.75781 14.2445 2.32031 13.2328C1.88281 12.2211 1.66406 11.1402 1.66406 9.98991C1.66406 8.83964 1.88281 7.75868 2.32031 6.74701C2.75781 5.73533 3.35503 4.85449 4.11198 4.10449C4.86892 3.35449 5.75324 2.76074 6.76492 2.32324C7.77658 1.88574 8.85755 1.66699 10.0078 1.66699C11.1581 1.66699 12.239 1.88574 13.2507 2.32324C14.2624 2.76074 15.1432 3.35449 15.8932 4.10449C16.6432 4.85449 17.237 5.73644 17.6745 6.75033C18.112 7.76421 18.3307 8.8457 18.3307 9.99478C18.3307 11.1439 18.112 12.2237 17.6745 13.2344C17.237 14.245 16.6432 15.1275 15.8932 15.8819C15.1432 16.6363 14.2613 17.2335 13.2474 17.6736C12.2335 18.1136 11.152 18.3337 10.0029 18.3337Z"
    />
  </svg>
</template>
