<template>
  <svg
    width="25"
    height="25"
    viewBox="0 0 25 25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M6 20.5C5.6 20.5 5.25 20.35 4.95 20.05C4.65 19.75 4.5 19.4 4.5 19V15.425H6V19H19V15.425H20.5V19C20.5 19.4 20.35 19.75 20.05 20.05C19.75 20.35 19.4 20.5 19 20.5H6ZM12.5 16.675L7.675 11.85L8.75 10.775L11.75 13.775V4.5H13.25V13.775L16.25 10.775L17.325 11.85L12.5 16.675Z"
      fill="#1C1D1E"
    />
  </svg>
</template>
