<template>
  <svg
    width="40"
    height="40"
    viewBox="0 0 40 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M35 18.75H26.25C23.5075 18.75 21.25 21.0075 21.25 23.75C21.25 26.4925 23.5075 28.75 26.25 28.75H31.25V32.5C31.25 33.1863 30.6863 33.75 30 33.75H10C7.9425 33.75 6.25 32.0575 6.25 30V11.25C6.25 9.1925 7.9425 7.5 10 7.5H12.5C13.1863 7.5 13.75 6.93625 13.75 6.25C13.75 5.56375 13.1863 5 12.5 5H10C6.57125 5 3.75 7.82125 3.75 11.25V30C3.75 33.4288 6.57125 36.25 10 36.25H30C32.0575 36.25 33.75 34.5575 33.75 32.5V28.75H35C35.6863 28.75 36.25 28.1863 36.25 27.5V20C36.25 19.3137 35.6863 18.75 35 18.75ZM33.75 26.25H26.25C24.8787 26.25 23.75 25.1213 23.75 23.75C23.75 22.3787 24.8787 21.25 26.25 21.25H33.75V26.25Z"
      fill="#1C1D1E"
    />
    <path
      d="M9.55158 10.0868C8.15658 10.6956 8.61783 12.4993 10.0016 12.4993H30.0016C30.6878 12.4993 31.2516 13.0631 31.2516 13.7493V14.9993C31.2516 15.6856 31.8153 16.2493 32.5016 16.2493C33.1878 16.2493 33.7516 15.6856 33.7516 14.9993V13.7493C33.7516 12.7548 33.3565 11.8009 32.6532 11.0977C31.95 10.3944 30.9961 9.99932 30.0016 9.99932H29.6016L27.4141 4.53682C27.2903 4.23242 27.0521 3.98866 26.7507 3.8578C26.4492 3.72695 26.1085 3.71941 25.8016 3.83682L9.55158 10.0868ZM26.9016 9.99932H16.7391L25.5516 6.61182L26.9016 9.99932Z"
      fill="#1C1D1E"
    />
  </svg>
</template>
