<template>
  <svg
    width="40"
    height="40"
    viewBox="0 0 40 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M20.0028 38.3345C19.3912 38.3358 18.7853 38.2169 18.2195 37.9845C13.8159 36.2564 10.0379 33.2368 7.38163 29.3224C4.72541 25.408 3.31518 20.7817 3.33617 16.0512V9.26783C3.33569 8.12961 3.72358 7.0253 4.43572 6.13738C5.14787 5.24947 6.14165 4.63111 7.25284 4.3845L18.9195 1.7845C19.6339 1.63433 20.3718 1.63433 21.0862 1.7845L32.7528 4.3845C33.864 4.63111 34.8578 5.24947 35.57 6.13738C36.2821 7.0253 36.67 8.12961 36.6695 9.26783V16.0512C36.687 20.783 35.2755 25.4098 32.62 29.3262C29.9644 33.2427 26.1885 36.2662 21.7862 38.0012C21.217 38.2201 20.6126 38.3331 20.0028 38.3345ZM20.0028 5.00116H19.6362L7.9695 7.60116C7.59353 7.68583 7.25852 7.89818 7.0215 8.20206C6.78448 8.50593 6.66009 8.88256 6.6695 9.26783V16.0512C6.65268 20.1154 7.86425 24.0898 10.1454 27.4535C12.4265 30.8172 15.6708 33.4132 19.4528 34.9012C19.8074 35.0341 20.1982 35.0341 20.5528 34.9012C24.3349 33.4132 27.5792 30.8172 29.8603 27.4535C32.1414 24.0898 33.353 20.1154 33.3362 16.0512V9.26783C33.3456 8.88256 33.2212 8.50593 32.9842 8.20206C32.7471 7.89818 32.4121 7.68583 32.0362 7.60116L20.3695 5.00116H20.0028ZM18.7195 24.6178C18.2846 24.6204 17.8659 24.453 17.5528 24.1512L13.7528 20.4178C13.5966 20.2629 13.4726 20.0786 13.388 19.8755C13.3034 19.6724 13.2598 19.4545 13.2598 19.2345C13.2598 19.0145 13.3034 18.7966 13.388 18.5935C13.4726 18.3904 13.5966 18.2061 13.7528 18.0512C14.0651 17.7407 14.4875 17.5665 14.9278 17.5665C15.3681 17.5665 15.7906 17.7407 16.1028 18.0512L18.7362 20.6345L25.5862 13.9678C25.7427 13.8135 25.928 13.6916 26.1316 13.6089C26.3353 13.5262 26.5532 13.4845 26.773 13.486C26.9927 13.4876 27.21 13.5324 27.4125 13.6179C27.6149 13.7034 27.7985 13.828 27.9528 13.9845C28.1071 14.141 28.2291 14.3263 28.3118 14.53C28.3944 14.7336 28.4362 14.9515 28.4347 15.1713C28.4331 15.391 28.3883 15.6084 28.3028 15.8108C28.2172 16.0132 28.0927 16.1969 27.9362 16.3512L19.9195 24.2345C19.5851 24.5143 19.1542 24.652 18.7195 24.6178Z"
      fill="#1C1D1E"
    />
  </svg>
</template>
