<template>
  <svg
    width="40"
    height="40"
    viewBox="0 0 40 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_1851_68773)">
      <path
        d="M33.118 17.5C29.3273 17.5039 26.2461 20.6094 26.25 24.4234C26.2516 26.507 27.2898 28.882 29.3359 31.4836C30.7961 33.3406 32.243 34.6313 32.3039 34.6852C32.7787 35.1066 33.4933 35.1038 33.9648 34.6836C34.0258 34.6297 35.4703 33.3359 36.9273 31.4766C38.4905 29.481 40 26.9355 40 24.4102C39.9967 20.6034 36.9388 17.5 33.118 17.5ZM33.132 32.0187C31.4242 30.2844 28.7523 27.0203 28.75 24.4211C28.7477 21.9852 30.7086 20.0023 33.1203 20C35.5455 20 37.4968 21.9748 37.5 24.4125C37.5023 27.0117 34.8359 30.282 33.132 32.0187Z"
        fill="#1C1D1E"
      />
      <path
        d="M33.125 22.5C31.4703 22.5 30.6134 24.5157 31.8 25.7023C32.741 26.6413 34.3451 26.33 34.8586 25.0914C35.367 23.8651 34.4606 22.5 33.125 22.5ZM6.04844 17.1844C6.27729 17.3877 6.57278 17.5 6.87891 17.5C7.18503 17.5 7.48052 17.3877 7.70938 17.1844C7.77031 17.1305 9.21641 15.8383 10.675 13.9805C12.718 11.3766 13.7539 9.00078 13.7539 6.91641C13.7539 3.10313 10.6695 0 6.87891 0C3.08828 0 0.00390625 3.10313 0.00390625 6.91641C0.00390625 9.00078 1.03984 11.3766 3.08281 13.9805C4.54141 15.8383 5.9875 17.1305 6.04844 17.1844ZM6.87891 2.5C9.29141 2.5 11.2539 4.48125 11.2539 6.91641C11.2539 9.51641 8.58359 12.7844 6.87813 14.5195C5.17188 12.7875 2.50391 9.52422 2.50391 6.91641C2.50391 4.48125 4.46641 2.5 6.87891 2.5Z"
        fill="#1C1D1E"
      />
      <path
        d="M6.87891 8.75C7.91444 8.75 8.75391 7.91053 8.75391 6.875C8.75391 5.83947 7.91444 5 6.87891 5C5.84337 5 5.00391 5.83947 5.00391 6.875C5.00391 7.91053 5.84337 8.75 6.87891 8.75Z"
        fill="#1C1D1E"
      />
      <path
        d="M35.0125 38.123C35.0138 39.8317 32.8903 40.6566 31.7414 39.3745H5.62891C2.52734 39.3745 0.00390625 36.8511 0.00390625 33.7495C0.00390625 30.648 2.52734 28.1245 5.62891 28.1245H18.168C19.8695 28.1245 21.2539 26.7402 21.2539 25.0386C21.2539 23.337 19.8695 21.9527 18.168 21.9527H8.27656C7.11797 23.2312 5.00523 22.4158 5.00391 20.7042C5.00125 18.9905 7.11149 18.1744 8.27656 19.4527H18.168C21.2484 19.4527 23.7539 21.9581 23.7539 25.0386C23.7539 28.1191 21.2484 30.6245 18.168 30.6245H5.62891C3.90547 30.6245 2.50391 32.0261 2.50391 33.7495C2.50391 35.473 3.90547 36.8745 5.62891 36.8745H31.7406C32.9035 35.5912 35.0099 36.4206 35.0125 38.123Z"
        fill="#1C1D1E"
      />
    </g>
    <defs>
      <clipPath id="clip0_1851_68773">
        <rect width="40" height="40" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
