<template>
  <svg viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M7.57086 2.53125C7.34586 2.53125 7.13211 2.62125 6.97461 2.77875L2.78961 6.96375C2.46336 7.29 2.46336 7.83 2.78961 8.15625C3.11586 8.4825 3.65586 8.4825 3.98211 8.15625L6.73836 5.4L6.73836 23.625C6.73836 24.0862 7.12086 24.4687 7.58211 24.4687C8.04336 24.4687 8.41461 24.0862 8.41461 23.625L8.41461 5.41125L11.1596 8.15625C11.4859 8.4825 12.0259 8.4825 12.3521 8.15625C12.5209 7.9875 12.5996 7.77375 12.5996 7.56C12.5996 7.34625 12.5209 7.1325 12.3521 6.96375L8.17836 2.79C8.09961 2.71125 7.99836 2.64375 7.88586 2.59875C7.87461 2.59875 7.86336 2.59875 7.85211 2.5875C7.76211 2.55375 7.67211 2.53125 7.57086 2.53125ZM18.5824 3.375L18.5824 21.5887L15.8374 18.8437C15.5111 18.5175 14.9711 18.5175 14.6449 18.8437C14.3186 19.17 14.3186 19.71 14.6449 20.0362L18.8186 24.21C18.8974 24.2887 18.9986 24.3562 19.1111 24.4012C19.1224 24.4012 19.1336 24.4012 19.1449 24.4125C19.2349 24.4462 19.3361 24.4687 19.4374 24.4687C19.6624 24.4687 19.8761 24.3787 20.0336 24.2212L24.2186 20.0362C24.3874 19.8675 24.4661 19.6537 24.4661 19.44C24.4661 19.2262 24.3874 19.0125 24.2186 18.8437C23.8924 18.5175 23.3524 18.5175 23.0261 18.8437L20.2699 21.6L20.2699 3.375C20.2699 2.91375 19.8874 2.53125 19.4261 2.53125C18.9649 2.53125 18.5824 2.91375 18.5824 3.375Z"
      fill="currentColor"
    />
  </svg>
</template>
