<template>
  <svg
    width="30"
    height="23"
    viewBox="0 0 30 23"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      opacity="0.2"
      d="M11.9388 0H10.2551C4.13265 0 0 3.83333 0 11.96V23H11.9388V11.04H6.12245V10.7333C6.12245 7.20667 7.34694 5.67333 10.4082 5.67333H11.9388V0ZM30 0H28.3163C22.1939 0 18.0612 3.83333 18.0612 11.96V23H30V11.04H24.1837V10.7333C24.1837 7.20667 25.4082 5.67333 28.4694 5.67333H30V0Z"
      fill="#FFCE1F"
    />
  </svg>
</template>
