<template>
  <svg
    width="25"
    height="25"
    viewBox="0 0 25 25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect width="25" height="25" rx="12.5" fill="#00A0FF" />
    <rect
      x="11.5938"
      y="5"
      width="1.64712"
      height="4.94135"
      rx="0.823558"
      fill="white"
    />
    <rect
      x="5"
      y="10.9141"
      width="1.85346"
      height="5.32869"
      rx="0.926729"
      transform="rotate(-70 5 10.9141)"
      fill="white"
    />
    <rect
      width="1.85346"
      height="5.32869"
      rx="0.926729"
      transform="matrix(-0.34202 -0.939693 -0.939693 0.34202 19.6719 10.9141)"
      fill="white"
    />
    <rect
      width="1.85346"
      height="5.32869"
      rx="0.926729"
      transform="matrix(-0.819152 -0.573576 -0.573576 0.819152 11.8906 14.6328)"
      fill="white"
    />
    <rect
      x="12.875"
      y="14.6328"
      width="1.85346"
      height="5.32869"
      rx="0.926729"
      transform="rotate(-35 12.875 14.6328)"
      fill="white"
    />
  </svg>
</template>
