<template>
  <svg
    width="25"
    height="25"
    viewBox="0 0 25 25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_1623_60107)">
      <path
        d="M23.0217 5.86403C22.0992 4.40948 20.9461 3.22767 19.6546 2.31858C18.3169 1.40948 16.8409 0.727667 15.1343 0.36403C12.3667 -0.317788 9.69147 0.000394106 7.10844 1.13676C5.67855 1.77312 4.38704 2.63676 3.32616 3.77312C1.94239 5.18221 0.973757 6.72767 0.374126 8.50039V8.54585C0.374126 8.5913 0.328 8.68221 0.328 8.72767C-0.271631 10.7731 0.281875 11.864 1.20438 10.9549C1.25051 10.9095 1.29664 10.864 1.29664 10.8186L1.34276 10.7731C2.40365 9.45494 4.11029 8.36403 4.11029 8.36403C4.52542 8.0913 4.98667 7.77312 5.44793 7.54585C6.00143 7.22767 6.55494 6.95494 7.06232 6.77312C7.06232 6.77312 7.52357 6.54585 7.66195 5.90948V5.86403C7.7542 5.31858 8.35383 3.81858 10.0143 3.72767C10.5217 3.63676 11.0752 3.72767 11.5365 3.95494C12.3667 4.31858 12.9664 5.0913 13.1048 6.00039C13.197 6.72767 13.0125 7.40948 12.6435 7.95494C12.6435 8.00039 12.5974 8.00039 12.5974 8.04585C12.5974 8.04585 12.5974 8.04585 12.5974 8.0913C12.2745 8.50039 11.8594 8.81857 11.3059 9.00039C10.983 9.0913 10.6601 9.18221 10.3834 9.18221C10.1988 9.22767 9.96822 9.18221 9.78372 9.13676C9.55309 9.0913 9.32246 9.00039 9.13796 8.90948C8.81508 8.77312 8.53833 8.5913 8.44608 8.50039C8.35383 8.40948 8.3077 8.40948 8.21545 8.36403C8.03095 8.31857 7.89258 8.36403 7.80032 8.40948C7.7542 8.45494 7.70807 8.45494 7.66195 8.50039C7.24682 8.81858 6.87782 9.18221 6.50881 9.54585C5.54018 10.5458 4.75604 11.6822 4.38704 12.2277C4.20254 12.5458 4.01804 12.864 3.83354 13.1822C3.64903 13.5004 3.51066 13.8186 3.37228 14.1368C3.00328 14.5458 2.77265 15.0913 2.58815 15.6368C2.58815 15.6822 2.58815 15.6822 2.54202 15.7277C2.54202 15.7731 2.4959 15.8186 2.4959 15.8186C2.4959 15.864 2.4959 15.9095 2.44977 15.9095C1.29664 19.8186 3.37228 22.0913 5.12505 19.7277C5.2173 19.5913 5.30955 19.4095 5.4018 19.2731C7.24682 16.1368 10.983 13.864 10.983 13.864C11.2136 13.7277 11.4442 13.5913 11.6749 13.4549C11.6749 13.4549 11.6749 13.4549 11.721 13.4095C12.3667 13.0458 13.0125 12.7277 13.7044 12.4549C14.304 12.1822 14.9498 11.9549 15.5033 11.8186C15.5033 11.8186 16.149 11.6368 16.2874 10.9095C16.4258 10.364 16.7948 9.54585 17.7173 9.13676C17.9479 9.04585 18.1324 8.95494 18.3631 8.90948C18.5937 8.86403 18.8704 8.81857 19.1011 8.86403C19.2394 8.86403 19.3778 8.86403 19.5162 8.90948C20.6693 9.13676 21.5918 10.0458 21.7302 11.2731C21.9147 12.7731 20.8538 14.0913 19.3317 14.2731C18.5937 14.364 17.9018 14.1822 17.3483 13.7731C16.7025 13.5004 16.1952 13.6822 16.0107 13.7731C15.4572 14.0913 14.9036 14.4095 14.3963 14.7731C13.4276 15.5004 12.6435 16.2277 12.3667 16.5004C11.721 17.1822 11.1214 17.9095 10.614 18.6822C10.5679 18.7277 10.5679 18.7731 10.5217 18.8186C10.5217 18.8186 10.5217 18.8186 10.5217 18.864C10.0143 19.6822 9.41472 20.7731 8.95346 22.0458C8.90734 22.1368 8.86121 22.2277 8.86121 22.364C8.35383 24.0004 9.46084 24.6822 10.6601 24.9095C10.6601 24.9095 11.6287 25.0913 13.0125 25.0004C13.1048 25.0004 13.1509 25.0004 13.2431 25.0004C13.6121 24.9549 13.935 24.9095 14.304 24.864C16.7025 24.4549 18.8243 23.4549 20.6693 21.864C22.9756 19.8186 24.3594 17.3186 24.7745 14.3186C25.2819 11.2277 24.6822 8.40948 23.0217 5.86403Z"
        fill="#FFCE1F"
      />
    </g>
    <defs>
      <clipPath id="clip0_1623_60107">
        <rect width="25" height="25" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
