<template>
  <svg viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M12.0022 11.7634C12.4841 11.7634 12.8958 11.5919 13.2375 11.2487C13.5792 10.9056 13.75 10.4931 13.75 10.0112C13.75 9.52935 13.5784 9.11759 13.2353 8.77593C12.8921 8.43426 12.4796 8.26343 11.9978 8.26343C11.5159 8.26343 11.1042 8.435 10.7625 8.77815C10.4208 9.12129 10.25 9.53379 10.25 10.0157C10.25 10.4975 10.4216 10.9093 10.7647 11.2509C11.1079 11.5926 11.5204 11.7634 12.0022 11.7634ZM12 22.0134C9.31667 19.7301 7.3125 17.6093 5.9875 15.6509C4.6625 13.6926 4 11.8801 4 10.2134C4 7.71343 4.80417 5.72176 6.4125 4.23843C8.02083 2.75509 9.88333 2.01343 12 2.01343C14.1167 2.01343 15.9792 2.75509 17.5875 4.23843C19.1958 5.72176 20 7.71343 20 10.2134C20 11.8801 19.3375 13.6926 18.0125 15.6509C16.6875 17.6093 14.6833 19.7301 12 22.0134Z"
      fill="currentColor"
    />
  </svg>
</template>
