<template>
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M9.45156 17.8516L3.85156 12.2516L4.92656 11.1766L9.45156 15.7016L19.0516 6.10156L20.1266 7.17656L9.45156 17.8516Z"
      fill="currentColor"
    />
  </svg>
</template>
