<template>
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M6.22578 18.8258L5.17578 17.7758L10.9508 12.0008L5.17578 6.22578L6.22578 5.17578L12.0008 10.9508L17.7758 5.17578L18.8258 6.22578L13.0508 12.0008L18.8258 17.7758L17.7758 18.8258L12.0008 13.0508L6.22578 18.8258Z"
      fill="currentColor"
    />
  </svg>
</template>
