<template>
  <svg
    width="16"
    height="16"
    viewBox="0 0 16 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <ellipse cx="8" cy="8.0012" rx="8" ry="7.98435" fill="#FFF7DA" />
    <ellipse cx="8" cy="8.00121" rx="4" ry="3.99218" fill="white" />
  </svg>
</template>
