<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M4.5 19.5008H5.6L16.675 8.42578L15.575 7.32578L4.5 18.4008V19.5008ZM19.85 7.35078L16.65 4.15078L17.7 3.10078C17.9833 2.81745 18.3333 2.67578 18.75 2.67578C19.1667 2.67578 19.5167 2.81745 19.8 3.10078L20.9 4.20078C21.1833 4.48411 21.325 4.83411 21.325 5.25078C21.325 5.66745 21.1833 6.01745 20.9 6.30078L19.85 7.35078ZM18.8 8.40078L6.2 21.0008H3V17.8008L15.6 5.20078L18.8 8.40078ZM16.125 7.87578L15.575 7.32578L16.675 8.42578L16.125 7.87578Z"
      fill="currentColor"
    />
  </svg>
</template>
