<template>
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M7.60313 21.9492L6.20313 20.5242L14.7781 11.9492L6.20312 3.37422L7.60313 1.94922L17.6031 11.9492L7.60313 21.9492Z"
      fill="#939393"
    />
  </svg>
</template>
