<template>
  <svg
    width="24"
    height="25"
    viewBox="0 0 24 25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M14.025 18.4498L12.95 17.3998L17.15 13.1998H4V11.6998H17.15L12.925 7.4748L14 6.4248L20.025 12.4498L14.025 18.4498Z"
      fill="#1C1D1E"
    />
  </svg>
</template>
