<template>
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M7.075 15.3748L6 14.2998L12 8.2998L18 14.2748L16.925 15.3498L12 10.4248L7.075 15.3748Z"
      fill="#939393"
    />
  </svg>
</template>
