<template>
  <svg
    width="45"
    height="45"
    viewBox="0 0 45 45"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M29.0625 36.9844H14.0625C13.2891 36.9844 12.627 36.709 12.0762 36.1582C11.5254 35.6074 11.25 34.9453 11.25 34.1719V12.5625H14.0625V34.1719H29.0625V36.9844ZM20.5312 11.3438C19.4688 11.3438 18.5703 10.9766 17.8359 10.2422C17.1016 9.50781 16.7344 8.60938 16.7344 7.54688C16.7344 6.48438 17.1016 5.58594 17.8359 4.85156C18.5703 4.11719 19.4688 3.75 20.5312 3.75C21.5938 3.75 22.4922 4.11719 23.2266 4.85156C23.9609 5.58594 24.3281 6.48438 24.3281 7.54688C24.3281 8.60938 23.9609 9.50781 23.2266 10.2422C22.4922 10.9766 21.5938 11.3438 20.5312 11.3438ZM30.9375 41.25V32.2969H19.4531C18.4863 32.2969 17.6587 31.9572 16.9702 31.278C16.2817 30.5986 15.9375 29.782 15.9375 28.8281V18.1406C15.9375 16.8675 16.381 15.7914 17.2681 14.9123C18.1553 14.0333 19.2412 13.5938 20.526 13.5938C21.8107 13.5938 22.8984 14.0333 23.7891 14.9123C24.6797 15.7914 25.125 16.8675 25.125 18.1406V27.6094H30.2344C31.2012 27.6094 32.0288 27.949 32.7173 28.6283C33.4058 29.3076 33.75 30.1242 33.75 31.0781V41.25H30.9375Z"
      fill="#939393"
    />
  </svg>
</template>
