<template>
  <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="15" height="15" rx="7.5" fill="#FFCE1F" />
    <path
      d="M5.96938 10.9844C5.88604 10.9844 5.80792 10.9712 5.735 10.945C5.66208 10.9187 5.59438 10.8746 5.53188 10.8125L2.84438 8.125C2.72979 8.01042 2.675 7.86187 2.68 7.67937C2.685 7.49687 2.745 7.34854 2.86 7.23437C2.97458 7.11979 3.12042 7.0625 3.2975 7.0625C3.47458 7.0625 3.62042 7.11979 3.735 7.23437L5.96938 9.46875L11.2663 4.17188C11.3808 4.05729 11.5294 4 11.7119 4C11.8944 4 12.0427 4.05729 12.1569 4.17188C12.2715 4.28646 12.3288 4.435 12.3288 4.6175C12.3288 4.8 12.2715 4.94833 12.1569 5.0625L6.40688 10.8125C6.34438 10.875 6.27667 10.9194 6.20375 10.9456C6.13083 10.9719 6.05271 10.9848 5.96938 10.9844Z"
      fill="white"
    />
  </svg>
</template>
