<template>
  <svg viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M15 12V17.7679H23.4091C23.0399 19.6228 21.9318 21.1934 20.2698 22.2495L25.3409 26C28.2954 23.4005 30 19.5823 30 15.0466C30 13.9905 29.9006 12.9749 29.7159 12.0002L15 12Z"
      fill="#4285F4"
    />
    <path
      d="M7.13024 18L6.00015 18.8304L2 21.8215C4.5404 26.6585 9.74715 30 15.7823 30C19.9507 30 23.4455 28.6796 26 26.4161L20.9894 22.6839C19.6139 23.5731 17.8595 24.1121 15.7823 24.1121C11.7682 24.1121 8.35772 21.5117 7.13655 18.0086L7.13024 18Z"
      fill="#34A853"
    />
    <path
      d="M1.7065 8C0.621839 9.95126 0 12.1531 0 14.5C0 16.8468 0.621839 19.0487 1.7065 21C1.7065 21.0131 7 17.2555 7 17.2555C6.68182 16.3853 6.49375 15.4624 6.49375 14.4998C6.49375 13.5372 6.68182 12.6143 7 11.7442L1.7065 8Z"
      fill="#FBBC05"
    />
    <path
      d="M15.7183 5.89898C17.9814 5.89898 19.993 6.65317 21.5995 8.10773L26 3.86537C23.3318 1.4681 19.8674 0 15.7183 0C9.71127 0 4.52853 3.32659 2 8.17508L7.11289 12C8.32819 8.49828 11.7229 5.89898 15.7183 5.89898Z"
      fill="#EA4335"
    />
  </svg>
</template>
