<template>
  <svg
    width="24"
    height="25"
    viewBox="0 0 24 25"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M19.875 21.0464C17.8417 21.0464 15.8208 20.5464 13.8125 19.5464C11.8042 18.5464 10 17.2464 8.4 15.6464C6.8 14.0464 5.5 12.2422 4.5 10.2339C3.5 8.22555 3 6.20472 3 4.17139C3 3.84995 3.10714 3.58209 3.32142 3.36781C3.53571 3.15353 3.80357 3.04639 4.125 3.04639H7.625C7.85185 3.04639 8.0544 3.12555 8.23265 3.28389C8.41088 3.44222 8.525 3.65472 8.575 3.92139L9.25 7.07139C9.28333 7.30472 9.27917 7.51722 9.2375 7.70889C9.19583 7.90055 9.10833 8.06305 8.975 8.19639L6.475 10.7214C7.40833 12.2714 8.45417 13.6214 9.6125 14.7714C10.7708 15.9214 12.0833 16.8964 13.55 17.6964L15.925 15.2464C16.0917 15.0631 16.2833 14.9339 16.5 14.8589C16.7167 14.7839 16.9333 14.7714 17.15 14.8214L20.125 15.4714C20.3802 15.5276 20.5898 15.6542 20.7539 15.8511C20.918 16.048 21 16.2797 21 16.5464V19.9214C21 20.2428 20.8929 20.5107 20.6786 20.725C20.4643 20.9392 20.1964 21.0464 19.875 21.0464ZM5.725 9.34639L7.75 7.29639L7.175 4.54639H4.5C4.5 5.19639 4.6 5.90889 4.8 6.68389C5 7.45889 5.30833 8.34639 5.725 9.34639ZM14.95 18.4214C15.6333 18.7381 16.375 18.9964 17.175 19.1964C17.975 19.3964 18.75 19.5131 19.5 19.5464V16.8714L16.925 16.3464L14.95 18.4214Z"
      fill="currentColor"
    />
  </svg>
</template>
