<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M0.949219 19.9996V17.6496C0.949219 17.0663 1.09922 16.5371 1.39922 16.0621C1.69922 15.5871 2.11589 15.2329 2.64922 14.9996C3.86589 14.4663 4.96172 14.0829 5.93672 13.8496C6.91172 13.6163 7.91589 13.4996 8.94922 13.4996C9.98255 13.4996 10.9826 13.6163 11.9492 13.8496C12.9159 14.0829 14.0076 14.4663 15.2242 14.9996C15.7576 15.2329 16.1784 15.5871 16.4867 16.0621C16.7951 16.5371 16.9492 17.0663 16.9492 17.6496V19.9996H0.949219ZM18.4492 19.9996V17.6496C18.4492 16.5996 18.1826 15.7371 17.6492 15.0621C17.1159 14.3871 16.4159 13.8413 15.5492 13.4246C16.6992 13.5579 17.7826 13.7538 18.7992 14.0121C19.8159 14.2704 20.6409 14.5663 21.2742 14.8996C21.8242 15.2163 22.2576 15.6079 22.5742 16.0746C22.8909 16.5413 23.0492 17.0663 23.0492 17.6496V19.9996H18.4492ZM8.94922 11.9746C7.84922 11.9746 6.94922 11.6246 6.24922 10.9246C5.54922 10.2246 5.19922 9.32461 5.19922 8.22461C5.19922 7.12461 5.54922 6.22461 6.24922 5.52461C6.94922 4.82461 7.84922 4.47461 8.94922 4.47461C10.0492 4.47461 10.9492 4.82461 11.6492 5.52461C12.3492 6.22461 12.6992 7.12461 12.6992 8.22461C12.6992 9.32461 12.3492 10.2246 11.6492 10.9246C10.9492 11.6246 10.0492 11.9746 8.94922 11.9746ZM17.9492 8.22461C17.9492 9.32461 17.5992 10.2246 16.8992 10.9246C16.1992 11.6246 15.2992 11.9746 14.1992 11.9746C14.0159 11.9746 13.8117 11.9621 13.5867 11.9371C13.3617 11.9121 13.1576 11.8663 12.9742 11.7996C13.3742 11.3829 13.6784 10.8704 13.8867 10.2621C14.0951 9.65378 14.1992 8.97461 14.1992 8.22461C14.1992 7.47461 14.0951 6.81211 13.8867 6.23711C13.6784 5.66211 13.3742 5.13294 12.9742 4.64961C13.1576 4.59961 13.3617 4.55794 13.5867 4.52461C13.8117 4.49128 14.0159 4.47461 14.1992 4.47461C15.2992 4.47461 16.1992 4.82461 16.8992 5.52461C17.5992 6.22461 17.9492 7.12461 17.9492 8.22461ZM2.44922 18.4996H15.4492V17.6496C15.4492 17.3829 15.3701 17.1246 15.2117 16.8746C15.0534 16.6246 14.8576 16.4496 14.6242 16.3496C13.4242 15.8163 12.4159 15.4579 11.5992 15.2746C10.7826 15.0913 9.89922 14.9996 8.94922 14.9996C7.99922 14.9996 7.11172 15.0913 6.28672 15.2746C5.46172 15.4579 4.44922 15.8163 3.24922 16.3496C3.01589 16.4496 2.82422 16.6246 2.67422 16.8746C2.52422 17.1246 2.44922 17.3829 2.44922 17.6496V18.4996ZM8.94922 10.4746C9.59922 10.4746 10.1367 10.2621 10.5617 9.83711C10.9867 9.41211 11.1992 8.87461 11.1992 8.22461C11.1992 7.57461 10.9867 7.03711 10.5617 6.61211C10.1367 6.18711 9.59922 5.97461 8.94922 5.97461C8.29922 5.97461 7.76172 6.18711 7.33672 6.61211C6.91172 7.03711 6.69922 7.57461 6.69922 8.22461C6.69922 8.87461 6.91172 9.41211 7.33672 9.83711C7.76172 10.2621 8.29922 10.4746 8.94922 10.4746Z"
      fill="#939393"
    />
  </svg>
</template>
