<template>
  <svg
    width="40"
    height="40"
    viewBox="0 0 40 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M20.5947 38.8106C31.312 38.8106 40 30.1225 40 19.4053C40 8.68804 31.312 0 20.5947 0C9.8775 0 1.18945 8.68804 1.18945 19.4053C1.18945 30.1225 9.8775 38.8106 20.5947 38.8106Z"
      fill="#7D3DAF"
    />
    <path
      d="M31.9868 12.6474L31.9797 12.6193C31.4113 10.3212 28.8486 7.85536 26.495 7.34234L26.4686 7.33688C22.662 6.61069 18.8023 6.61069 14.9965 7.33688L14.9691 7.34234C12.6164 7.85536 10.0537 10.3212 9.48449 12.6193L9.47824 12.6474C8.77548 15.8567 8.77548 19.1111 9.47824 22.3204L9.48449 22.3485C10.0294 24.5485 12.4013 26.9011 14.6669 27.5481V30.1133C14.6669 31.0417 15.7984 31.4977 16.4418 30.8278L19.0408 28.1261C19.6045 28.1577 20.1685 28.1752 20.7325 28.1752C22.6487 28.1752 24.5656 27.9941 26.4686 27.631L26.495 27.6256C28.8486 27.1125 31.4113 24.6466 31.9797 22.3487L31.9868 22.3205C32.6895 19.1111 32.6895 15.8567 31.9868 12.6474ZM29.93 21.8551C29.5505 23.3542 27.6047 25.2181 26.0587 25.5625C24.0347 25.9474 21.9945 26.1119 19.9566 26.0554C19.9161 26.0543 19.8771 26.0701 19.8488 26.0991C19.5596 26.3959 17.9512 28.0471 17.9512 28.0471L15.9327 30.1187C15.7851 30.2725 15.5259 30.1679 15.5259 29.9555V25.706C15.5259 25.6358 15.4757 25.5761 15.4068 25.5626C15.4064 25.5626 15.4072 25.5627 15.4068 25.5626C13.8607 25.2183 11.9145 23.3542 11.5342 21.855C10.9017 18.9542 10.9017 16.0136 11.5342 13.1127C11.9145 11.6135 13.8596 9.74959 15.4056 9.40524C18.9405 8.73295 22.5246 8.73295 26.0587 9.40524C27.6055 9.74959 29.5505 11.6135 29.93 13.1127C30.5632 16.0136 30.5632 18.9542 29.93 21.8551Z"
      fill="white"
    />
    <path
      d="M24.0965 23.8167C23.8589 23.7446 23.6323 23.6961 23.422 23.6088C21.2422 22.7045 19.236 21.5378 17.647 19.7492C16.7433 18.7322 16.036 17.5839 15.4381 16.3688C15.1546 15.7926 14.9156 15.1937 14.6722 14.5988C14.4501 14.0562 14.7772 13.4958 15.1216 13.087C15.4448 12.7034 15.8607 12.4098 16.311 12.1934C16.6626 12.0245 17.0093 12.1219 17.2661 12.4199C17.8211 13.0641 18.3309 13.7412 18.7438 14.4879C18.9976 14.9472 18.9279 15.5086 18.4679 15.8212C18.356 15.8972 18.2541 15.9864 18.15 16.0722C18.0586 16.1473 17.9727 16.2233 17.91 16.3251C17.7955 16.5114 17.7901 16.7312 17.8638 16.9337C18.4311 18.493 19.3875 19.7054 20.9568 20.3584C21.2079 20.4628 21.4602 20.5845 21.7495 20.5508C22.234 20.4941 22.3907 19.9627 22.7304 19.685C23.0622 19.4138 23.4862 19.4101 23.8438 19.6363C24.2013 19.8627 24.5479 20.1055 24.8924 20.351C25.2306 20.5919 25.5673 20.8277 25.8793 21.1024C26.1791 21.3665 26.2825 21.7131 26.1136 22.0716C25.8043 22.7281 25.3544 23.2743 24.7053 23.6229C24.5221 23.7212 24.3033 23.7531 24.0965 23.8167C24.3033 23.7531 23.8589 23.7446 24.0965 23.8167Z"
      fill="white"
    />
    <path
      d="M20.7445 11.4426C23.5957 11.5225 25.9375 13.4147 26.4394 16.2335C26.5249 16.7138 26.5553 17.2049 26.5934 17.6924C26.6094 17.8974 26.4933 18.0923 26.272 18.0948C26.0434 18.0977 25.9406 17.9065 25.9258 17.7014C25.8964 17.2957 25.8761 16.8881 25.8201 16.4858C25.525 14.3618 23.8313 12.6046 21.7173 12.2276C21.3991 12.1708 21.0735 12.1559 20.7512 12.1221C20.5474 12.1007 20.2807 12.0883 20.2356 11.8351C20.1976 11.6228 20.3769 11.4538 20.5791 11.4429C20.634 11.4399 20.6893 11.4424 20.7445 11.4426C23.5957 11.5225 20.6893 11.4424 20.7445 11.4426Z"
      fill="white"
    />
    <path
      d="M25.0715 17.0594C25.0668 17.095 25.0642 17.1788 25.0435 17.2576C24.9677 17.5438 24.5338 17.5797 24.4338 17.2908C24.4042 17.2051 24.3998 17.1076 24.3996 17.0152C24.3985 16.4113 24.2673 15.8081 23.9628 15.2827C23.6498 14.7427 23.1715 14.2886 22.6105 14.0139C22.2713 13.8478 21.9045 13.7446 21.5327 13.683C21.3703 13.6562 21.206 13.6399 21.0428 13.6171C20.8449 13.5896 20.7393 13.4636 20.7486 13.2686C20.7574 13.0859 20.8909 12.9545 21.09 12.9658C21.7444 13.0029 22.3764 13.1443 22.9582 13.4523C24.1411 14.0788 24.8169 15.0677 25.014 16.3881C25.0229 16.4478 25.0374 16.5072 25.0419 16.5672C25.053 16.7154 25.0601 16.8639 25.0715 17.0594C25.0668 17.095 25.0601 16.8639 25.0715 17.0594Z"
      fill="white"
    />
    <path
      d="M23.2965 16.99C23.0579 16.9942 22.9303 16.8622 22.9056 16.6435C22.8886 16.491 22.8751 16.3365 22.8387 16.1881C22.7669 15.8959 22.6117 15.6252 22.3659 15.4461C22.2498 15.3616 22.1183 15.2999 21.9806 15.2601C21.8056 15.2097 21.624 15.2235 21.4493 15.1808C21.2597 15.1343 21.1548 14.9808 21.1847 14.8029C21.2118 14.641 21.3693 14.5147 21.5462 14.5275C22.6516 14.6074 23.4416 15.1789 23.5544 16.4801C23.5623 16.572 23.5717 16.6691 23.5513 16.7569C23.5165 16.9072 23.4051 16.9826 23.2965 16.99C23.4051 16.9826 23.0579 16.9942 23.2965 16.99Z"
      fill="white"
    />
  </svg>
</template>
