<template>
  <svg
    width="41"
    height="41"
    viewBox="0 0 41 41"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M7.07031 37.3117C7.07031 29.886 13.09 23.8663 20.5157 23.8663C27.9414 23.8663 33.9611 29.886 33.9611 37.3117H7.07031ZM20.5157 22.1856C14.9443 22.1856 10.4317 17.673 10.4317 12.1016C10.4317 6.53018 14.9443 2.01758 20.5157 2.01758C26.0871 2.01758 30.5997 6.53018 30.5997 12.1016C30.5997 17.673 26.0871 22.1856 20.5157 22.1856Z"
      fill="#FFCE1F"
    />
  </svg>
</template>
