<template>
  <svg viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="20" cy="20" r="20" fill="white" />
    <path
      d="M20 19.9751C18.9 19.9751 18 19.6251 17.3 18.9251C16.6 18.2251 16.25 17.3251 16.25 16.2251C16.25 15.1251 16.6 14.2251 17.3 13.5251C18 12.8251 18.9 12.4751 20 12.4751C21.1 12.4751 22 12.8251 22.7 13.5251C23.4 14.2251 23.75 15.1251 23.75 16.2251C23.75 17.3251 23.4 18.2251 22.7 18.9251C22 19.6251 21.1 19.9751 20 19.9751ZM12 28.0001V25.6501C12 25.0168 12.1583 24.4751 12.475 24.0251C12.7917 23.5751 13.2 23.2334 13.7 23.0001C14.8167 22.5001 15.8875 22.1251 16.9125 21.8751C17.9375 21.6251 18.9667 21.5001 20 21.5001C21.0333 21.5001 22.0583 21.6293 23.075 21.8876C24.0917 22.1459 25.1577 22.5184 26.273 23.0049C26.7947 23.2404 27.213 23.5818 27.5278 24.0291C27.8426 24.4764 28 25.0168 28 25.6501V28.0001H12ZM13.5 26.5001H26.5V25.6501C26.5 25.3834 26.4208 25.1293 26.2625 24.8876C26.1042 24.6459 25.9083 24.4668 25.675 24.3501C24.6083 23.8334 23.6333 23.4793 22.75 23.2876C21.8667 23.0959 20.95 23.0001 20 23.0001C19.05 23.0001 18.125 23.0959 17.225 23.2876C16.325 23.4793 15.35 23.8334 14.3 24.3501C14.0667 24.4668 13.875 24.6459 13.725 24.8876C13.575 25.1293 13.5 25.3834 13.5 25.6501V26.5001ZM20 18.4751C20.65 18.4751 21.1875 18.2626 21.6125 17.8376C22.0375 17.4126 22.25 16.8751 22.25 16.2251C22.25 15.5751 22.0375 15.0376 21.6125 14.6126C21.1875 14.1876 20.65 13.9751 20 13.9751C19.35 13.9751 18.8125 14.1876 18.3875 14.6126C17.9625 15.0376 17.75 15.5751 17.75 16.2251C17.75 16.8751 17.9625 17.4126 18.3875 17.8376C18.8125 18.2626 19.35 18.4751 20 18.4751Z"
      fill="black"
    />
  </svg>
</template>
