<template>
  <svg
    width="50"
    height="50"
    viewBox="0 0 50 50"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_1435_72999)">
      <path
        d="M25 50C38.8072 50 50 38.8072 50 25C50 11.1929 38.8072 0 25 0C11.1929 0 0 11.1929 0 25C0 38.8072 11.1929 50 25 50Z"
        fill="#25D366"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M25.8228 38.9092H25.8165C23.3286 38.9084 20.8839 38.2842 18.7126 37.0998L10.832 39.167L12.941 31.4637C11.6401 29.2092 10.9555 26.6518 10.9567 24.0318C10.9599 15.8354 17.6287 9.16699 25.8226 9.16699C29.7993 9.16871 33.5318 10.7169 36.3386 13.5268C39.1451 16.3365 40.69 20.0715 40.6884 24.0436C40.6851 32.2381 34.019 38.9059 25.8228 38.9092ZM19.0783 34.4086L19.5293 34.6764C21.4264 35.8021 23.6011 36.3978 25.8182 36.3987H25.8233C32.6334 36.3987 38.1762 30.8557 38.1789 24.0428C38.1801 20.7412 36.8962 17.637 34.5634 15.3014C32.2306 12.9659 29.1283 11.6791 25.8281 11.6779C19.0126 11.6779 13.4697 17.2203 13.467 24.0328C13.4661 26.3675 14.1193 28.6412 15.3562 30.6084L15.65 31.0759L14.4018 35.6353L19.0783 34.4086ZM32.8039 27.244C33.0631 27.3692 33.2379 27.4539 33.3126 27.5786C33.4054 27.7334 33.4054 28.477 33.0961 29.3448C32.7865 30.2125 31.3025 31.0043 30.5889 31.1111C29.9489 31.2067 29.139 31.2465 28.2493 30.9639C27.7098 30.7926 27.0179 30.564 26.1317 30.1814C22.6495 28.6778 20.2962 25.3028 19.8515 24.6648C19.8203 24.6201 19.7986 24.5889 19.7864 24.5726L19.7834 24.5687C19.5868 24.3064 18.2697 22.549 18.2697 20.7303C18.2697 19.0192 19.1101 18.1225 19.497 17.7096C19.5236 17.6814 19.5479 17.6553 19.5697 17.6315C19.9101 17.2596 20.3126 17.1667 20.5603 17.1667C20.8078 17.1667 21.0557 17.1689 21.2722 17.1798C21.2989 17.1812 21.3267 17.1809 21.3553 17.1807C21.5718 17.1795 21.8417 17.1779 22.1079 17.8175C22.2103 18.0636 22.3601 18.4284 22.5183 18.8132C22.8378 19.5914 23.1909 20.4511 23.2531 20.5754C23.3461 20.7614 23.4079 20.9782 23.284 21.2262C23.2654 21.2634 23.2483 21.2986 23.2318 21.332C23.1389 21.5218 23.0704 21.6615 22.9126 21.8459C22.8506 21.9182 22.7864 21.9964 22.7223 22.0745C22.5945 22.2301 22.4667 22.3857 22.3554 22.4967C22.1695 22.6818 21.9759 22.8828 22.1926 23.2546C22.4093 23.6265 23.1548 24.8428 24.259 25.8278C25.4461 26.8865 26.4776 27.334 27.0006 27.5609C27.1026 27.6051 27.1854 27.6411 27.2461 27.6714C27.6175 27.8575 27.834 27.8264 28.0508 27.5786C28.2675 27.3306 28.9793 26.4939 29.2268 26.122C29.4745 25.7503 29.7222 25.8121 30.0626 25.9361C30.4032 26.0601 32.2293 26.9587 32.6007 27.1446C32.6732 27.1809 32.7411 27.2137 32.8039 27.244Z"
        fill="#FDFDFD"
      />
    </g>
    <defs>
      <clipPath id="clip0_1435_72999">
        <rect width="50" height="50" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
