<template>
  <svg
    width="24"
    height="25"
    viewBox="0 0 24 25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M11 21.0461V19.5461H19.5V11.9461C19.5 10.9795 19.2917 10.0503 18.875 9.15864C18.4583 8.26698 17.9 7.47948 17.2 6.79614C16.5 6.11281 15.7 5.56698 14.8 5.15864C13.9 4.75031 12.9667 4.54614 12 4.54614C11.0333 4.54614 10.1 4.75031 9.2 5.15864C8.3 5.56698 7.5 6.11281 6.8 6.79614C6.1 7.47948 5.54167 8.26698 5.125 9.15864C4.70833 10.0503 4.5 10.9795 4.5 11.9461V18.0461H4C3.45 18.0461 2.97917 17.8503 2.5875 17.4586C2.19583 17.067 2 16.5961 2 16.0461V14.0461C2 13.6628 2.09167 13.3253 2.275 13.0336C2.45833 12.742 2.7 12.5045 3 12.3211L3.075 10.9961C3.225 9.77948 3.57083 8.67948 4.1125 7.69614C4.65417 6.71281 5.32917 5.87948 6.1375 5.19614C6.94583 4.51281 7.85417 3.98364 8.8625 3.60864C9.87083 3.23364 10.9167 3.04614 12 3.04614C13.1 3.04614 14.1542 3.23364 15.1625 3.60864C16.1708 3.98364 17.075 4.51698 17.875 5.20864C18.675 5.90031 19.3458 6.73364 19.8875 7.70864C20.4292 8.68364 20.775 9.77114 20.925 10.9711L21 12.2711C21.3 12.4211 21.5417 12.642 21.725 12.9336C21.9083 13.2253 22 13.5461 22 13.8961V16.1961C22 16.5628 21.9083 16.8878 21.725 17.1711C21.5417 17.4545 21.3 17.6711 21 17.8211V19.5461C21 19.9586 20.8531 20.3118 20.5594 20.6055C20.2656 20.8993 19.9125 21.0461 19.5 21.0461H11ZM9 13.7961C8.8 13.7961 8.625 13.7211 8.475 13.5711C8.325 13.4211 8.25 13.242 8.25 13.0336C8.25 12.8253 8.325 12.6503 8.475 12.5086C8.625 12.367 8.80417 12.2961 9.0125 12.2961C9.22083 12.2961 9.39583 12.368 9.5375 12.5118C9.67917 12.6555 9.75 12.8336 9.75 13.0461C9.75 13.2461 9.67812 13.4211 9.53438 13.5711C9.39062 13.7211 9.2125 13.7961 9 13.7961ZM15 13.7961C14.8 13.7961 14.625 13.7211 14.475 13.5711C14.325 13.4211 14.25 13.242 14.25 13.0336C14.25 12.8253 14.325 12.6503 14.475 12.5086C14.625 12.367 14.8042 12.2961 15.0125 12.2961C15.2208 12.2961 15.3958 12.368 15.5375 12.5118C15.6792 12.6555 15.75 12.8336 15.75 13.0461C15.75 13.2461 15.6781 13.4211 15.5344 13.5711C15.3906 13.7211 15.2125 13.7961 15 13.7961ZM6.025 12.4961C5.95833 11.5128 6.09583 10.6211 6.4375 9.82114C6.77917 9.02114 7.2375 8.34198 7.8125 7.78364C8.3875 7.22531 9.05 6.79614 9.8 6.49614C10.55 6.19614 11.3 6.04614 12.05 6.04614C13.5667 6.04614 14.8417 6.52531 15.875 7.48364C16.9083 8.44198 17.5417 9.63781 17.775 11.0711C16.2083 11.0545 14.8292 10.6336 13.6375 9.80864C12.4458 8.98364 11.525 7.91281 10.875 6.59614C10.6083 7.94614 10.0458 9.14198 9.1875 10.1836C8.32917 11.2253 7.275 11.9961 6.025 12.4961Z"
      fill="#1C1D1E"
    />
  </svg>
</template>
