<template>
  <svg
    width="20"
    height="20"
    viewBox="0 0 20 20"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill="currentColor"
      d="M10.0827 14.854C10.3049 14.854 10.4924 14.7776 10.6452 14.6248C10.798 14.4721 10.8743 14.2846 10.8743 14.0623C10.8743 13.8401 10.798 13.6526 10.6452 13.4998C10.4924 13.3471 10.3049 13.2707 10.0827 13.2707C9.86046 13.2707 9.67296 13.3471 9.52018 13.4998C9.3674 13.6526 9.29102 13.8401 9.29102 14.0623C9.29102 14.2846 9.3674 14.4721 9.52018 14.6248C9.67296 14.7776 9.86046 14.854 10.0827 14.854ZM9.35352 11.8123H10.5827C10.5827 11.4512 10.6278 11.1214 10.7181 10.8228C10.8084 10.5241 11.0896 10.1804 11.5618 9.7915C11.9924 9.43039 12.298 9.07623 12.4785 8.729C12.6591 8.38178 12.7493 7.99984 12.7493 7.58317C12.7493 6.84706 12.5098 6.25678 12.0306 5.81234C11.5514 5.36789 10.916 5.14567 10.1243 5.14567C9.44379 5.14567 8.8431 5.31581 8.32227 5.65609C7.80143 5.99636 7.42296 6.46511 7.18685 7.06234L8.29102 7.479C8.44379 7.09011 8.67296 6.78803 8.97852 6.57275C9.28407 6.35748 9.64518 6.24984 10.0618 6.24984C10.5341 6.24984 10.916 6.37831 11.2077 6.63525C11.4993 6.8922 11.6452 7.22206 11.6452 7.62484C11.6452 7.93039 11.5549 8.21859 11.3743 8.48942C11.1938 8.76025 10.9299 9.0415 10.5827 9.33317C10.166 9.69428 9.85699 10.0519 9.6556 10.4061C9.45421 10.7603 9.35352 11.229 9.35352 11.8123ZM9.99935 18.3332C8.86046 18.3332 7.78407 18.1144 6.77018 17.6769C5.75629 17.2394 4.87088 16.6422 4.11393 15.8853C3.35699 15.1283 2.75977 14.2429 2.32227 13.229C1.88477 12.2151 1.66602 11.1387 1.66602 9.99984C1.66602 8.84706 1.88477 7.76373 2.32227 6.74984C2.75977 5.73595 3.35699 4.854 4.11393 4.104C4.87088 3.354 5.75629 2.76025 6.77018 2.32275C7.78407 1.88525 8.86046 1.6665 9.99935 1.6665C11.1521 1.6665 12.2355 1.88525 13.2493 2.32275C14.2632 2.76025 15.1452 3.354 15.8952 4.104C16.6452 4.854 17.2389 5.73595 17.6764 6.74984C18.1139 7.76373 18.3327 8.84706 18.3327 9.99984C18.3327 11.1387 18.1139 12.2151 17.6764 13.229C17.2389 14.2429 16.6452 15.1283 15.8952 15.8853C15.1452 16.6422 14.2632 17.2394 13.2493 17.6769C12.2355 18.1144 11.1521 18.3332 9.99935 18.3332Z"
    />
  </svg>
</template>
<script setup lang="ts"></script>
