<template>
  <svg
    width="40"
    height="40"
    viewBox="0 0 40 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="20" cy="20" r="20" fill="#FFCE1F" />
    <path
      d="M27.875 29C25.8417 29 23.8208 28.5 21.8125 27.5C19.8042 26.5 18 25.2 16.4 23.6C14.8 22 13.5 20.1958 12.5 18.1875C11.5 16.1792 11 14.1583 11 12.125C11 11.8036 11.1071 11.5357 11.3214 11.3214C11.5357 11.1071 11.8036 11 12.125 11H15.625C15.8519 11 16.0544 11.0792 16.2327 11.2375C16.4109 11.3958 16.525 11.6083 16.575 11.875L17.25 15.025C17.2833 15.2583 17.2792 15.4708 17.2375 15.6625C17.1958 15.8542 17.1083 16.0167 16.975 16.15L14.475 18.675C15.4083 20.225 16.4542 21.575 17.6125 22.725C18.7708 23.875 20.0833 24.85 21.55 25.65L23.925 23.2C24.0917 23.0167 24.2833 22.8875 24.5 22.8125C24.7167 22.7375 24.9333 22.725 25.15 22.775L28.125 23.425C28.3802 23.4812 28.5898 23.6078 28.7539 23.8047C28.918 24.0016 29 24.2333 29 24.5V27.875C29 28.1964 28.8929 28.4643 28.6786 28.6786C28.4643 28.8929 28.1964 29 27.875 29ZM13.725 17.3L15.75 15.25L15.175 12.5H12.5C12.5 13.15 12.6 13.8625 12.8 14.6375C13 15.4125 13.3083 16.3 13.725 17.3ZM22.95 26.375C23.6333 26.6917 24.375 26.95 25.175 27.15C25.975 27.35 26.75 27.4667 27.5 27.5V24.825L24.925 24.3L22.95 26.375Z"
      fill="#1C1D1E"
    />
  </svg>
</template>
