<template>
  <svg viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M32.1816 34C33.1932 34 34 33.1804 34 32.1816V2.81839C34 1.80675 33.1804 1 32.1816 1H2.81839C1.81956 1 1 1.81956 1 2.81839V32.1816C1 33.1932 1.81956 34 2.81839 34H32.1816Z"
      fill="#157DC3"
    />
    <path
      d="M23.0827 34V21.2285H27.2113L27.8275 16.2505H23.0827V13.0768C23.0827 11.6307 23.4648 10.6581 25.4613 10.6581H28V6.19196C27.5563 6.12797 26.0528 6 24.3028 6C20.6426 6 18.1408 8.31627 18.1408 12.5777V16.2505H14V21.2285H18.1408V34H23.0827Z"
      fill="white"
    />
  </svg>
</template>
