<template>
  <svg
    width="40"
    height="40"
    viewBox="0 0 40 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_3365_61683)">
      <path
        d="M20 40C31.0457 40 40 31.0457 40 20C40 8.9543 31.0457 0 20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40Z"
        fill="#039BE5"
      />
      <path
        d="M9.15308 19.5677L28.4364 12.1327C29.3314 11.8094 30.1131 12.3511 29.8231 13.7044L29.8247 13.7027L26.5414 29.1711C26.2981 30.2677 25.6464 30.5344 24.7347 30.0177L19.7347 26.3327L17.3231 28.6561C17.0564 28.9227 16.8314 29.1477 16.3147 29.1477L16.6697 24.0594L25.9364 15.6877C26.3397 15.3327 25.8464 15.1327 25.3147 15.4861L13.8631 22.6961L8.92641 21.1561C7.85475 20.8161 7.83141 20.0844 9.15308 19.5677Z"
        fill="white"
      />
    </g>
    <defs>
      <clipPath id="clip0_3365_61683">
        <rect width="40" height="40" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
