<template>
  <svg
    width="25"
    height="25"
    viewBox="0 0 25 25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M8.94459 8.57919L11.6508 3.12919C11.7296 2.97146 11.8508 2.8388 12.0007 2.74608C12.1507 2.65336 12.3235 2.60425 12.4998 2.60425C12.6761 2.60425 12.8489 2.65336 12.9989 2.74608C13.1488 2.8388 13.27 2.97146 13.3488 3.12919L16.055 8.57919L22.105 9.45835C22.2795 9.48255 22.4437 9.55533 22.5788 9.66837C22.714 9.78141 22.8146 9.93016 22.8692 10.0977C22.9239 10.2651 22.9303 10.4446 22.8878 10.6156C22.8453 10.7866 22.7556 10.9422 22.629 11.0646L18.2519 15.3042L19.2852 21.2938C19.4175 22.0625 18.605 22.6479 17.9102 22.2854L12.4998 19.4563L7.08834 22.2854C6.39459 22.649 5.58209 22.0625 5.71438 21.2927L6.74772 15.3031L2.37063 11.0636C2.24458 10.941 2.15542 10.7856 2.1133 10.6149C2.07119 10.4443 2.07779 10.2652 2.13237 10.0981C2.18695 9.93098 2.28732 9.78254 2.42206 9.66964C2.5568 9.55673 2.72051 9.48389 2.89459 9.4594L8.94459 8.57919Z"
      stroke-width="1.8"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>
