<template>
  <svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M9.14505 9.81442L9.8013 9.15817L7.48255 6.82484V3.89359H6.60755V7.17484L9.14505 9.81442ZM7.0013 12.8332C6.20408 12.8332 5.45061 12.68 4.74089 12.3738C4.03116 12.0675 3.41137 11.6495 2.88151 11.1196C2.35165 10.5898 1.93359 9.96998 1.62734 9.26025C1.32109 8.55053 1.16797 7.79706 1.16797 6.99984C1.16797 6.20261 1.32109 5.44914 1.62734 4.73942C1.93359 4.0297 2.35165 3.40991 2.88151 2.88005C3.41137 2.35018 4.03116 1.93213 4.74089 1.62588C5.45061 1.31963 6.20408 1.1665 7.0013 1.1665C7.79852 1.1665 8.552 1.31963 9.26172 1.62588C9.97144 1.93213 10.5912 2.35018 11.1211 2.88005C11.651 3.40991 12.069 4.0297 12.3753 4.73942C12.6815 5.44914 12.8346 6.20261 12.8346 6.99984C12.8346 7.79706 12.6815 8.55053 12.3753 9.26025C12.069 9.96998 11.651 10.5898 11.1211 11.1196C10.5912 11.6495 9.97144 12.0675 9.26172 12.3738C8.552 12.68 7.79852 12.8332 7.0013 12.8332ZM7.0013 11.9582C8.36241 11.9582 9.52908 11.4721 10.5013 10.4998C11.4735 9.52761 11.9596 8.36095 11.9596 6.99984C11.9596 5.63873 11.4735 4.47206 10.5013 3.49984C9.52908 2.52761 8.36241 2.0415 7.0013 2.0415C5.64019 2.0415 4.47352 2.52761 3.5013 3.49984C2.52908 4.47206 2.04297 5.63873 2.04297 6.99984C2.04297 8.36095 2.52908 9.52761 3.5013 10.4998C4.47352 11.4721 5.64019 11.9582 7.0013 11.9582Z"
      fill="currentColor"
    />
  </svg>
</template>
