<template>
  <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_1867_75722)">
      <path
        d="M10.4349 14.168H11.6849V9.16797H10.4349V14.168ZM10.997 7.6263C11.1917 7.6263 11.355 7.56241 11.487 7.43463C11.6189 7.30686 11.6849 7.14852 11.6849 6.95964C11.6849 6.75894 11.619 6.59071 11.4874 6.45495C11.3556 6.31918 11.1925 6.2513 10.9978 6.2513C10.8031 6.2513 10.6398 6.31918 10.5078 6.45495C10.3759 6.59071 10.3099 6.75894 10.3099 6.95964C10.3099 7.14852 10.3757 7.30686 10.5074 7.43463C10.6391 7.56241 10.8023 7.6263 10.997 7.6263ZM11.0029 18.3346C9.85385 18.3346 8.77399 18.1159 7.76335 17.6784C6.75271 17.2409 5.86892 16.6437 5.11198 15.8867C4.35503 15.1298 3.75781 14.2455 3.32031 13.2338C2.88281 12.2221 2.66406 11.1411 2.66406 9.99088C2.66406 8.84062 2.88281 7.75966 3.32031 6.74799C3.75781 5.73631 4.35503 4.85547 5.11198 4.10547C5.86892 3.35547 6.75324 2.76172 7.76492 2.32422C8.77658 1.88672 9.85755 1.66797 11.0078 1.66797C12.1581 1.66797 13.239 1.88672 14.2507 2.32422C15.2624 2.76172 16.1432 3.35547 16.8932 4.10547C17.6432 4.85547 18.237 5.73741 18.6745 6.7513C19.112 7.76519 19.3307 8.84668 19.3307 9.99576C19.3307 11.1448 19.112 12.2247 18.6745 13.2353C18.237 14.246 17.6432 15.1285 16.8932 15.8829C16.1432 16.6373 15.2613 17.2345 14.2474 17.6746C13.2335 18.1146 12.152 18.3346 11.0029 18.3346Z"
        fill="currentColor"
      />
    </g>
    <defs>
      <clipPath id="clip0_1867_75722">
        <rect width="20" height="20" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
