<template>
  <svg viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M13.4555 16.486H6.76929C6.42453 16.486 6.1294 16.3632 5.88389 16.1177C5.63838 15.8722 5.51562 15.5771 5.51562 15.2323V5.60002H6.76929V15.2323H13.4555V16.486ZM9.65271 5.05676C9.1791 5.05676 8.77863 4.89309 8.45128 4.56575C8.12394 4.2384 7.96027 3.83792 7.96027 3.36432C7.96027 2.89071 8.12394 2.49024 8.45128 2.16289C8.77863 1.83555 9.1791 1.67188 9.65271 1.67188C10.1263 1.67188 10.5268 1.83555 10.8541 2.16289C11.1815 2.49024 11.3452 2.89071 11.3452 3.36432C11.3452 3.83792 11.1815 4.2384 10.8541 4.56575C10.5268 4.89309 10.1263 5.05676 9.65271 5.05676ZM14.2913 18.3874V14.3965H9.17214C8.74119 14.3965 8.37227 14.2452 8.06539 13.9424C7.7585 13.6396 7.60506 13.2756 7.60506 12.8504V8.08645C7.60506 7.51896 7.80277 7.03929 8.19819 6.64745C8.59362 6.25561 9.07768 6.05969 9.65035 6.05969C10.223 6.05969 10.7079 6.25561 11.1049 6.64745C11.5019 7.03929 11.7004 7.51896 11.7004 8.08645V12.3071H13.9778C14.4088 12.3071 14.7777 12.4585 15.0846 12.7613C15.3915 13.0641 15.5449 13.4281 15.5449 13.8533V18.3874H14.2913Z"
      fill="currentColor"
    />
  </svg>
</template>
