<template>
  <svg viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M6.66927 19.9948L20.0026 33.3281L33.3359 19.9948L31.5859 18.2448L21.2526 28.5781L21.2526 6.66146L18.7526 6.66146L18.7526 28.5781L8.41927 18.2448L6.66927 19.9948Z"
      fill="#939393"
    />
  </svg>
</template>
