<template>
  <svg viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M8.39375 12.4125L13.7 7.10625L12.8375 6.2625L8.39375 10.7063L6.14375 8.45625L5.3 9.3L8.39375 12.4125ZM9.5 16.5C8.475 16.5 7.50625 16.3031 6.59375 15.9094C5.68125 15.5156 4.88438 14.9781 4.20312 14.2969C3.52188 13.6156 2.98438 12.8188 2.59063 11.9062C2.19688 10.9938 2 10.025 2 9C2 7.9625 2.19688 6.9875 2.59063 6.075C2.98438 5.1625 3.52188 4.36875 4.20312 3.69375C4.88438 3.01875 5.68125 2.48438 6.59375 2.09063C7.50625 1.69688 8.475 1.5 9.5 1.5C10.5375 1.5 11.5125 1.69688 12.425 2.09063C13.3375 2.48438 14.1313 3.01875 14.8063 3.69375C15.4813 4.36875 16.0156 5.1625 16.4094 6.075C16.8031 6.9875 17 7.9625 17 9C17 10.025 16.8031 10.9938 16.4094 11.9062C16.0156 12.8188 15.4813 13.6156 14.8063 14.2969C14.1313 14.9781 13.3375 15.5156 12.425 15.9094C11.5125 16.3031 10.5375 16.5 9.5 16.5ZM9.5 15.375C11.275 15.375 12.7812 14.7531 14.0188 13.5094C15.2563 12.2656 15.875 10.7625 15.875 9C15.875 7.225 15.2563 5.71875 14.0188 4.48125C12.7812 3.24375 11.275 2.625 9.5 2.625C7.7375 2.625 6.23438 3.24375 4.99063 4.48125C3.74688 5.71875 3.125 7.225 3.125 9C3.125 10.7625 3.74688 12.2656 4.99063 13.5094C6.23438 14.7531 7.7375 15.375 9.5 15.375Z"
      fill="currentColor"
    />
  </svg>
</template>
