<template>
  <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M1.70833 6.33317L2.89583 5.1665L10.0417 12.3123L17.1875 5.1665L18.375 6.33317L10.0417 14.6665L1.70833 6.33317Z"
      fill="currentColor"
    />
  </svg>
</template>
