<template>
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="12" cy="12" r="10" fill="white" />
    <path
      d="M8.84438 14.425C8.46479 14.425 8.14583 14.294 7.8875 14.0319C7.62917 13.7698 7.5 13.4489 7.5 13.0694C7.5 12.6898 7.63104 12.3708 7.89313 12.1125C8.15523 11.8542 8.47606 11.725 8.85563 11.725C9.23521 11.725 9.55417 11.856 9.8125 12.1181C10.0708 12.3802 10.2 12.7011 10.2 13.0806C10.2 13.4602 10.069 13.7792 9.80687 14.0375C9.54478 14.2958 9.22394 14.425 8.84438 14.425ZM15.1694 14.425C14.7898 14.425 14.4708 14.294 14.2125 14.0319C13.9542 13.7698 13.825 13.4489 13.825 13.0694C13.825 12.6898 13.956 12.3708 14.2181 12.1125C14.4802 11.8542 14.8011 11.725 15.1806 11.725C15.5602 11.725 15.8792 11.856 16.1375 12.1181C16.3958 12.3802 16.525 12.7011 16.525 13.0806C16.525 13.4602 16.394 13.7792 16.1319 14.0375C15.8698 14.2958 15.5489 14.425 15.1694 14.425ZM12 20.5C14.3729 20.5 16.3828 19.6754 18.0297 18.0263C19.6766 16.3772 20.5 14.3645 20.5 11.9884C20.5 11.5628 20.4667 11.1417 20.4 10.725C20.3333 10.3083 20.25 9.925 20.15 9.575C19.8167 9.65833 19.4562 9.71667 19.0684 9.75C18.6808 9.78333 18.2746 9.8 17.85 9.8C16.2314 9.8 14.7018 9.46667 13.2611 8.8C11.8204 8.13333 10.5917 7.18333 9.575 5.95C9.00833 7.3 8.19583 8.47917 7.1375 9.4875C6.07917 10.4958 4.86667 11.275 3.5 11.825V12C3.5 14.3729 4.32343 16.3828 5.9703 18.0297C7.61718 19.6766 9.62708 20.5 12 20.5ZM12 22C10.6167 22 9.31667 21.7375 8.1 21.2125C6.88333 20.6875 5.825 19.975 4.925 19.075C4.025 18.175 3.3125 17.1167 2.7875 15.9C2.2625 14.6833 2 13.3833 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3833 21.7375 14.6833 21.2125 15.9C20.6875 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22Z"
      fill="#1C1D1E"
    />
  </svg>
</template>
