<template>
  <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M9.99955 15C10.2332 15 10.4292 14.921 10.5875 14.7629C10.7458 14.6049 10.825 14.4091 10.825 14.1755C10.825 13.9418 10.746 13.7458 10.588 13.5875C10.4299 13.4292 10.2341 13.35 10.0005 13.35C9.76682 13.35 9.57083 13.429 9.4125 13.5871C9.25417 13.7451 9.175 13.9409 9.175 14.1746C9.175 14.4082 9.25402 14.6042 9.41205 14.7625C9.5701 14.9208 9.76593 15 9.99955 15ZM9.325 11.175H10.825V4.85H9.325V11.175ZM10.0066 20C8.62775 20 7.33192 19.7375 6.11915 19.2125C4.90638 18.6875 3.84583 17.9708 2.9375 17.0625C2.02917 16.1542 1.3125 15.093 0.7875 13.879C0.2625 12.665 0 11.3678 0 9.9875C0 8.60718 0.2625 7.31003 0.7875 6.09602C1.3125 4.88201 2.02917 3.825 2.9375 2.925C3.84583 2.025 4.90701 1.3125 6.12103 0.7875C7.33503 0.2625 8.63218 0 10.0125 0C11.3928 0 12.69 0.2625 13.904 0.7875C15.118 1.3125 16.175 2.025 17.075 2.925C17.975 3.825 18.6875 4.88333 19.2125 6.1C19.7375 7.31667 20 8.61445 20 9.99335C20 11.3723 19.7375 12.6681 19.2125 13.8809C18.6875 15.0936 17.975 16.1526 17.075 17.0579C16.175 17.9632 15.1167 18.6798 13.9 19.2079C12.6833 19.736 11.3855 20 10.0066 20ZM10.0125 18.5C12.3708 18.5 14.375 17.6708 16.025 16.0125C17.675 14.3542 18.5 12.3458 18.5 9.9875C18.5 7.62917 17.6766 5.625 16.0297 3.975C14.3828 2.325 12.3729 1.5 10 1.5C7.65 1.5 5.64583 2.32343 3.9875 3.9703C2.32917 5.61718 1.5 7.62708 1.5 10C1.5 12.35 2.32917 14.3542 3.9875 16.0125C5.64583 17.6708 7.65417 18.5 10.0125 18.5Z"
      fill="currentColor"
    />
  </svg>
</template>
