<template>
  <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M14.925 5.925L16 7L10 13L4 7.025L5.075 5.95L10 10.875L14.925 5.925Z"
      fill="currentColor"
    />
  </svg>
</template>
