<template>
  <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M10.0807 14.8545C10.303 14.8545 10.4905 14.7781 10.6432 14.6253C10.796 14.4725 10.8724 14.285 10.8724 14.0628C10.8724 13.8406 10.796 13.6531 10.6432 13.5003C10.4905 13.3475 10.303 13.2712 10.0807 13.2712C9.85851 13.2712 9.67101 13.3475 9.51823 13.5003C9.36545 13.6531 9.28906 13.8406 9.28906 14.0628C9.28906 14.285 9.36545 14.4725 9.51823 14.6253C9.67101 14.7781 9.85851 14.8545 10.0807 14.8545ZM9.35156 11.8128H10.5807C10.5807 11.4517 10.6259 11.1219 10.7161 10.8232C10.8064 10.5246 11.0877 10.1809 11.5599 9.79199C11.9905 9.43088 12.296 9.07671 12.4766 8.72949C12.6571 8.38227 12.7474 8.00033 12.7474 7.58366C12.7474 6.84755 12.5078 6.25727 12.0286 5.81283C11.5495 5.36838 10.9141 5.14616 10.1224 5.14616C9.44184 5.14616 8.84115 5.3163 8.32031 5.65658C7.79948 5.99685 7.42101 6.4656 7.1849 7.06283L8.28906 7.47949C8.44184 7.0906 8.67101 6.78852 8.97656 6.57324C9.28212 6.35796 9.64323 6.25033 10.0599 6.25033C10.5321 6.25033 10.9141 6.3788 11.2057 6.63574C11.4974 6.89269 11.6432 7.22255 11.6432 7.62533C11.6432 7.93088 11.553 8.21908 11.3724 8.48991C11.1918 8.76074 10.928 9.04199 10.5807 9.33366C10.1641 9.69477 9.85503 10.0524 9.65365 10.4066C9.45226 10.7607 9.35156 11.2295 9.35156 11.8128ZM9.9974 18.3337C8.85851 18.3337 7.78212 18.1149 6.76823 17.6774C5.75434 17.2399 4.86892 16.6427 4.11198 15.8857C3.35503 15.1288 2.75781 14.2434 2.32031 13.2295C1.88281 12.2156 1.66406 11.1392 1.66406 10.0003C1.66406 8.84755 1.88281 7.76421 2.32031 6.75033C2.75781 5.73644 3.35503 4.85449 4.11198 4.10449C4.86892 3.35449 5.75434 2.76074 6.76823 2.32324C7.78212 1.88574 8.85851 1.66699 9.9974 1.66699C11.1502 1.66699 12.2335 1.88574 13.2474 2.32324C14.2613 2.76074 15.1432 3.35449 15.8932 4.10449C16.6432 4.85449 17.237 5.73644 17.6745 6.75033C18.112 7.76421 18.3307 8.84755 18.3307 10.0003C18.3307 11.1392 18.112 12.2156 17.6745 13.2295C17.237 14.2434 16.6432 15.1288 15.8932 15.8857C15.1432 16.6427 14.2613 17.2399 13.2474 17.6774C12.2335 18.1149 11.1502 18.3337 9.9974 18.3337Z"
      fill="currentColor"
    />
  </svg>
</template>
