<template>
  <svg
    width="25"
    height="25"
    viewBox="0 0 25 25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_3196_101445)">
      <path
        d="M21.9081 6.26069L21.3902 6.77866C20.967 7.20186 20.4043 7.43491 19.8058 7.43491C19.2072 7.43491 18.6446 7.20186 18.2214 6.77866C17.7982 6.35547 17.5651 5.79277 17.5651 5.19429C17.5651 4.5958 17.7982 4.03311 18.2214 3.60986L18.7394 3.09189L15.6474 0L0 15.6474L3.09189 18.7393L3.60986 18.2213C4.03306 17.7981 4.59575 17.5651 5.19429 17.5651C5.79282 17.5651 6.35542 17.7981 6.77866 18.2213C7.20186 18.6445 7.43491 19.2072 7.43491 19.8057C7.43491 20.4042 7.20186 20.9669 6.77866 21.3901L6.26069 21.9081L9.35259 25L25 9.35259L21.9081 6.26069ZM8.28174 21.8572C8.68394 21.2545 8.9 20.5467 8.9 19.8057C8.9 18.8159 8.51455 17.8853 7.8146 17.1854C7.1147 16.4854 6.18408 16.1 5.19429 16.1C4.45327 16.1 3.74546 16.3161 3.14277 16.7183L2.07187 15.6474L15.6474 2.07187L16.7183 3.14277C16.3161 3.74546 16.1 4.45327 16.1 5.19429C16.1 6.18413 16.4854 7.1147 17.1854 7.8146C17.8853 8.51455 18.8159 8.9 19.8057 8.9C20.5467 8.9 21.2545 8.68394 21.8572 8.28174L22.9281 9.35259L9.35259 22.9281L8.28174 21.8572Z"
        fill="#939393"
      />
      <path
        d="M13.5643 10.3979L14.6002 9.36201L15.6402 10.4021L14.6043 11.438L13.5643 10.3979ZM11.4844 8.31714L12.5203 7.28125L13.5604 8.32129L12.5245 9.35723L11.4844 8.31714ZM15.6446 12.4781L16.6805 11.4421L17.7206 12.4822L16.6847 13.5182L15.6446 12.4781Z"
        fill="#939393"
      />
    </g>
    <defs>
      <clipPath id="clip0_3196_101445">
        <rect width="25" height="25" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
