<template>
  <svg
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M5.5 21C5.1 21 4.75 20.85 4.45 20.55C4.15 20.25 4 19.9 4 19.5V15.925H5.5V19.5H18.5V15.925H20V19.5C20 19.9 19.85 20.25 19.55 20.55C19.25 20.85 18.9 21 18.5 21H5.5ZM12 17.175L7.175 12.35L8.25 11.275L11.25 14.275V5H12.75V14.275L15.75 11.275L16.825 12.35L12 17.175Z"
      fill="#1C1D1E"
    />
  </svg>
</template>
