<template>
  <svg viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M51.8123 19.9609H9.90483C9.04085 19.9609 8.33984 20.661 8.33984 21.5259V31.6942H16.0498V23.0909H19.1798V31.6942H26.8903V23.0909H30.0203V31.6942H37.7302V23.0909H40.8602V31.6942H48.5707V23.0909H51.7007V32.2921L61.7581 37.3262V29.9068C61.7581 24.4224 57.2958 19.9609 51.8123 19.9609Z"
      fill="#DFDFDF"
    />
    <path
      d="M8.33984 34.8242V44.9935C8.33984 45.8574 9.04085 46.5585 9.90483 46.5585H15.1557C15.1557 42.9843 18.0648 40.0763 21.6389 40.0763C25.2135 40.0763 28.1215 42.9843 28.1215 46.5585H40.2998C40.2998 42.9843 43.2089 40.0763 46.7831 40.0763C50.3577 40.0763 53.2657 42.9843 53.2657 46.5585H60.1931C61.0571 46.5585 61.7581 45.8574 61.7581 44.9935V40.8202L49.766 34.8242H8.33984Z"
      fill="#DFDFDF"
    />
    <path
      d="M21.6377 43.207C19.789 43.207 18.2852 44.711 18.2852 46.5597C18.2852 48.4078 19.789 49.9118 21.6377 49.9118C23.4859 49.9118 24.9898 48.4078 24.9898 46.5595C24.9898 44.711 23.4859 43.2071 21.6376 43.2071L21.6377 43.207ZM46.7818 43.207C44.9332 43.207 43.4293 44.711 43.4293 46.5597C43.4293 48.4078 44.9332 49.9118 46.7818 49.9118C48.6301 49.9118 50.1339 48.4078 50.1339 46.5595C50.1339 44.711 48.6301 43.2071 46.7817 43.2071L46.7818 43.207Z"
      fill="#DFDFDF"
    />
  </svg>
</template>
