<template>
  <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_1867_78146)">
      <path
        d="M4.83333 12.5627L3.52083 11.2502C4.49306 10.2779 5.51042 9.54877 6.57292 9.06266C7.63542 8.57655 8.77778 8.3335 10 8.3335C11.2222 8.3335 12.3646 8.57655 13.4271 9.06266C14.4896 9.54877 15.5069 10.2779 16.4792 11.2502L15.1667 12.5627C14.3194 11.7154 13.4653 11.1113 12.6042 10.7502C11.7431 10.3891 10.875 10.2085 10 10.2085C9.125 10.2085 8.25694 10.3891 7.39583 10.7502C6.53472 11.1113 5.68056 11.7154 4.83333 12.5627ZM1.3125 9.04183L0 7.72933C1.29167 6.40988 2.79514 5.34738 4.51042 4.54183C6.22569 3.73627 8.05556 3.3335 10 3.3335C11.9444 3.3335 13.7743 3.73627 15.4896 4.54183C17.2049 5.34738 18.7083 6.40988 20 7.72933L18.6875 9.04183C17.4653 7.87516 16.1285 6.94461 14.6771 6.25016C13.2257 5.55572 11.6667 5.2085 10 5.2085C8.33333 5.2085 6.77431 5.55572 5.32292 6.25016C3.87153 6.94461 2.53472 7.87516 1.3125 9.04183ZM10 17.7293L13.0833 14.6252C12.6806 14.2224 12.2188 13.9064 11.6979 13.6772C11.1771 13.4481 10.6111 13.3335 10 13.3335C9.38889 13.3335 8.82292 13.4481 8.30208 13.6772C7.78125 13.9064 7.31944 14.2224 6.91667 14.6252L10 17.7293Z"
        fill="#939393"
      />
    </g>
    <defs>
      <clipPath id="clip0_1867_78146">
        <rect width="20" height="20" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
