<template>
  <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M3.75 18.3122C3.41667 18.3122 3.125 18.1872 2.875 17.9372C2.625 17.6872 2.5 17.3955 2.5 17.0622V4.49967H3.75V17.0622H13.625V18.3122H3.75ZM6.25 15.8122C5.91667 15.8122 5.625 15.6872 5.375 15.4372C5.125 15.1872 5 14.8955 5 14.5622V2.89551C5 2.56217 5.125 2.27051 5.375 2.02051C5.625 1.77051 5.91667 1.64551 6.25 1.64551H15.4167C15.75 1.64551 16.0417 1.77051 16.2917 2.02051C16.5417 2.27051 16.6667 2.56217 16.6667 2.89551V14.5622C16.6667 14.8955 16.5417 15.1872 16.2917 15.4372C16.0417 15.6872 15.75 15.8122 15.4167 15.8122H6.25ZM6.25 14.5622H15.4167V2.89551H6.25V14.5622Z"
      fill="#939393"
    />
  </svg>
</template>
