<template>
  <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M5.1862 17.4998C5.00564 17.4998 4.84592 17.4478 4.70703 17.3436C4.56814 17.2394 4.4987 17.104 4.4987 16.9373V15.1873C4.09592 14.9651 3.80078 14.6457 3.61328 14.229C3.42578 13.8123 3.33203 13.3679 3.33203 12.8957V4.62484C3.33203 3.59706 3.86328 2.84706 4.92578 2.37484C5.98828 1.90262 7.6862 1.6665 10.0195 1.6665C12.3251 1.6665 14.0091 1.90262 15.0716 2.37484C16.1341 2.84706 16.6654 3.59706 16.6654 4.62484V12.8957C16.6654 13.3679 16.5716 13.8123 16.3841 14.229C16.1966 14.6457 15.9015 14.9651 15.4987 15.1873V16.9373C15.4987 17.104 15.4293 17.2394 15.2904 17.3436C15.1515 17.4478 14.9918 17.4998 14.8112 17.4998H14.4154C14.2209 17.4998 14.0543 17.4478 13.9154 17.3436C13.7765 17.2394 13.707 17.104 13.707 16.9373V15.7915H6.29036V16.9373C6.29036 17.104 6.22092 17.2394 6.08203 17.3436C5.94314 17.4478 5.77648 17.4998 5.58203 17.4998H5.1862ZM10.0195 4.08317H15.4154H4.58203H10.0195ZM13.707 10.1873H4.58203H15.4154H13.707ZM4.58203 8.93734H15.4154V5.33317H4.58203V8.93734ZM6.79036 13.4998C7.10981 13.4998 7.38064 13.3887 7.60286 13.1665C7.82509 12.9443 7.9362 12.6734 7.9362 12.354C7.9362 12.0346 7.82509 11.7637 7.60286 11.5415C7.38064 11.3193 7.10981 11.2082 6.79036 11.2082C6.47092 11.2082 6.20009 11.3193 5.97786 11.5415C5.75564 11.7637 5.64453 12.0346 5.64453 12.354C5.64453 12.6734 5.75564 12.9443 5.97786 13.1665C6.20009 13.3887 6.47092 13.4998 6.79036 13.4998ZM13.207 13.4998C13.5265 13.4998 13.7973 13.3887 14.0195 13.1665C14.2418 12.9443 14.3529 12.6734 14.3529 12.354C14.3529 12.0346 14.2418 11.7637 14.0195 11.5415C13.7973 11.3193 13.5265 11.2082 13.207 11.2082C12.8876 11.2082 12.6168 11.3193 12.3945 11.5415C12.1723 11.7637 12.0612 12.0346 12.0612 12.354C12.0612 12.6734 12.1723 12.9443 12.3945 13.1665C12.6168 13.3887 12.8876 13.4998 13.207 13.4998ZM4.58203 4.08317H15.4154C15.082 3.72206 14.4431 3.43734 13.4987 3.229C12.5543 3.02067 11.3945 2.9165 10.0195 2.9165C8.38064 2.9165 7.1237 3.01025 6.2487 3.19775C5.3737 3.38525 4.81814 3.68039 4.58203 4.08317ZM6.29036 14.5415H13.707C14.1931 14.5415 14.5994 14.354 14.9258 13.979C15.2522 13.604 15.4154 13.1734 15.4154 12.6873V10.1873H4.58203V12.6873C4.58203 13.1734 4.74523 13.604 5.07161 13.979C5.398 14.354 5.80425 14.5415 6.29036 14.5415Z"
      fill="#939393"
    />
  </svg>
</template>
