<template>
  <svg viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <ellipse cx="8.0907" cy="8.5001" rx="8.0907" ry="8.07872" fill="#FFCE1F" />
    <ellipse
      cx="8.09223"
      cy="8.49981"
      rx="4.04535"
      ry="4.03936"
      fill="#1C1D1E"
    />
  </svg>
</template>
