<template>
  <svg
    width="14"
    height="14"
    viewBox="0 0 14 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M9.14115 9.81442L9.7974 9.15817L7.47865 6.82484V3.89359H6.60365V7.17484L9.14115 9.81442ZM6.9974 12.8332C6.20017 12.8332 5.4467 12.68 4.73698 12.3738C4.02726 12.0675 3.40747 11.6495 2.8776 11.1196C2.34774 10.5898 1.92969 9.96998 1.62344 9.26025C1.31719 8.55053 1.16406 7.79706 1.16406 6.99984C1.16406 6.20261 1.31719 5.44914 1.62344 4.73942C1.92969 4.0297 2.34774 3.40991 2.8776 2.88005C3.40747 2.35018 4.02726 1.93213 4.73698 1.62588C5.4467 1.31963 6.20017 1.1665 6.9974 1.1665C7.79462 1.1665 8.54809 1.31963 9.25781 1.62588C9.96753 1.93213 10.5873 2.35018 11.1172 2.88005C11.647 3.40991 12.0651 4.0297 12.3714 4.73942C12.6776 5.44914 12.8307 6.20261 12.8307 6.99984C12.8307 7.79706 12.6776 8.55053 12.3714 9.26025C12.0651 9.96998 11.647 10.5898 11.1172 11.1196C10.5873 11.6495 9.96753 12.0675 9.25781 12.3738C8.54809 12.68 7.79462 12.8332 6.9974 12.8332ZM6.9974 11.9582C8.35851 11.9582 9.52517 11.4721 10.4974 10.4998C11.4696 9.52761 11.9557 8.36095 11.9557 6.99984C11.9557 5.63873 11.4696 4.47206 10.4974 3.49984C9.52517 2.52761 8.35851 2.0415 6.9974 2.0415C5.63628 2.0415 4.46962 2.52761 3.4974 3.49984C2.52517 4.47206 2.03906 5.63873 2.03906 6.99984C2.03906 8.36095 2.52517 9.52761 3.4974 10.4998C4.46962 11.4721 5.63628 11.9582 6.9974 11.9582Z"
    />
  </svg>
</template>
