<template>
  <svg
    width="14"
    height="14"
    viewBox="0 0 14 14"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M3.95729 12.25L1.17188 9.46458L3.97187 6.66458L4.58437 7.27708L2.83437 9.02708H12.299V9.90208H2.83437L4.56979 11.6375L3.95729 12.25ZM10.0531 7.33542L9.44062 6.72292L11.176 4.9875H1.71146V4.1125H11.176L9.42604 2.3625L10.0385 1.75L12.8385 4.55L10.0531 7.33542Z"
      fill="#1C1D1E"
    />
  </svg>
</template>
