<template>
  <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M11.2507 11.2502C10.5562 11.2502 9.96593 11.0071 9.47982 10.521C8.99371 10.0349 8.75065 9.44461 8.75065 8.75016C8.75065 8.05572 8.99371 7.46544 9.47982 6.97933C9.96593 6.49322 10.5562 6.25016 11.2507 6.25016C11.9451 6.25016 12.5354 6.49322 13.0215 6.97933C13.5076 7.46544 13.7507 8.05572 13.7507 8.75016C13.7507 9.44461 13.5076 10.0349 13.0215 10.521C12.5354 11.0071 11.9451 11.2502 11.2507 11.2502ZM4.58398 14.1668C4.24023 14.1668 3.94596 14.0444 3.70117 13.7996C3.45638 13.5548 3.33398 13.2606 3.33398 12.9168V4.5835C3.33398 4.23975 3.45638 3.94548 3.70117 3.70068C3.94596 3.45589 4.24023 3.3335 4.58398 3.3335H17.9173C18.2611 3.3335 18.5553 3.45589 18.8001 3.70068C19.0449 3.94548 19.1673 4.23975 19.1673 4.5835V12.9168C19.1673 13.2606 19.0449 13.5548 18.8001 13.7996C18.5553 14.0444 18.2611 14.1668 17.9173 14.1668H4.58398ZM6.66732 12.9168H15.834C15.834 12.3335 16.0354 11.8404 16.4382 11.4377C16.8409 11.0349 17.334 10.8335 17.9173 10.8335V6.66683C17.334 6.66683 16.8409 6.46544 16.4382 6.06266C16.0354 5.65988 15.834 5.16683 15.834 4.5835H6.66732C6.66732 5.16683 6.46593 5.65988 6.06315 6.06266C5.66037 6.46544 5.16732 6.66683 4.58398 6.66683V10.8335C5.16732 10.8335 5.66037 11.0349 6.06315 11.4377C6.46593 11.8404 6.66732 12.3335 6.66732 12.9168ZM16.6673 16.6668H2.08398C1.74023 16.6668 1.44596 16.5444 1.20117 16.2996C0.95638 16.0548 0.833984 15.7606 0.833984 15.4168V5.8335H2.08398V15.4168H16.6673V16.6668Z"
      fill="currentColor"
    />
  </svg>
</template>
