<template>
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M10.9995 20C10.7161 20 10.4786 19.9042 10.287 19.7125C10.0953 19.5208 9.99948 19.2833 9.99948 19V13L4.02448 5.375C3.79115 5.09167 3.75781 4.79167 3.92448 4.475C4.09115 4.15833 4.34948 4 4.69948 4H19.2995C19.6495 4 19.9078 4.15833 20.0745 4.475C20.2411 4.79167 20.2078 5.09167 19.9745 5.375L13.9995 13V19C13.9995 19.2833 13.9036 19.5208 13.712 19.7125C13.5203 19.9042 13.2828 20 12.9995 20H10.9995ZM11.9995 13.1L17.9995 5.5H5.99948L11.9995 13.1Z"
      fill="#939393"
    />
  </svg>
</template>
