<template>
  <svg viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M5.90625 14.0625L4.71875 12.0312L2.35938 11.5469L2.625 9.25L1.125 7.5L2.625 5.76562L2.35938 3.46875L4.71875 2.98438L5.90625 0.9375L8 1.90625L10.0938 0.9375L11.2969 2.98438L13.6406 3.46875L13.375 5.76562L14.875 7.5L13.375 9.25L13.6406 11.5469L11.2969 12.0312L10.0938 14.0625L8 13.0938L5.90625 14.0625ZM6.32812 12.8281L8 12.125L9.71875 12.8281L10.7656 11.2656L12.5938 10.7969L12.4062 8.9375L13.6719 7.5L12.4062 6.03125L12.5938 4.17188L10.7656 3.73438L9.6875 2.17188L8 2.875L6.28125 2.17188L5.23438 3.73438L3.40625 4.17188L3.59375 6.03125L2.32812 7.5L3.59375 8.9375L3.40625 10.8281L5.23438 11.2656L6.32812 12.8281ZM7.32812 9.57812L10.875 6.0625L10.1719 5.42188L7.32812 8.23438L5.84375 6.6875L5.125 7.39062L7.32812 9.57812Z"
      fill="#1C1D1E"
    />
  </svg>
</template>
