<template>
  <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M8.77018 13.7915L14.666 7.89567L13.7077 6.95817L8.77018 11.8957L6.27018 9.39567L5.33268 10.3332L8.77018 13.7915ZM9.99935 18.3332C8.86046 18.3332 7.78407 18.1144 6.77018 17.6769C5.75629 17.2394 4.87088 16.6422 4.11393 15.8853C3.35699 15.1283 2.75977 14.2429 2.32227 13.229C1.88477 12.2151 1.66602 11.1387 1.66602 9.99984C1.66602 8.84706 1.88477 7.76373 2.32227 6.74984C2.75977 5.73595 3.35699 4.854 4.11393 4.104C4.87088 3.354 5.75629 2.76025 6.77018 2.32275C7.78407 1.88525 8.86046 1.6665 9.99935 1.6665C11.1521 1.6665 12.2355 1.88525 13.2494 2.32275C14.2632 2.76025 15.1452 3.354 15.8952 4.104C16.6452 4.854 17.2389 5.73595 17.6764 6.74984C18.1139 7.76373 18.3327 8.84706 18.3327 9.99984C18.3327 11.1387 18.1139 12.2151 17.6764 13.229C17.2389 14.2429 16.6452 15.1283 15.8952 15.8853C15.1452 16.6422 14.2632 17.2394 13.2494 17.6769C12.2355 18.1144 11.1521 18.3332 9.99935 18.3332ZM9.99935 17.0832C11.9716 17.0832 13.6452 16.3922 15.0202 15.0103C16.3952 13.6283 17.0827 11.9582 17.0827 9.99984C17.0827 8.02762 16.3952 6.354 15.0202 4.979C13.6452 3.604 11.9716 2.9165 9.99935 2.9165C8.04102 2.9165 6.37088 3.604 4.98893 4.979C3.60699 6.354 2.91602 8.02762 2.91602 9.99984C2.91602 11.9582 3.60699 13.6283 4.98893 15.0103C6.37088 16.3922 8.04102 17.0832 9.99935 17.0832Z"
      fill="currentColor"
    />
  </svg>
</template>
