<template>
  <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M7.075 15.375L6 14.3L12 8.30005L18 14.275L16.925 15.35L12 10.425L7.075 15.375Z"
      fill="#939393"
    />
  </svg>
</template>
