<template>
  <svg
    width="25"
    height="25"
    viewBox="0 0 25 25"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_1623_60102)">
      <path
        d="M7.95454 1.21801C11.0079 0.00105654 14.5645 0.0851976 17.5365 1.49868C16.6896 1.37002 15.8282 1.46703 14.99 1.60874C12.7133 2.03871 10.5498 3.1099 8.85867 4.70131C7.23716 6.29517 6.10087 8.40995 5.77993 10.6725C5.56765 12.2757 5.76443 13.9572 6.48381 15.4164C7.22513 16.9474 8.53002 18.2031 10.1028 18.8512C11.6183 19.4925 13.3762 19.4854 14.9113 18.913C17.2146 18.0677 18.8695 15.7854 19.0587 13.3469C19.1778 11.7487 18.7891 10.0486 17.7154 8.82281C16.6904 7.62296 15.1913 6.96206 13.6911 6.58587C13.6107 5.10632 14.3077 3.64466 15.4131 2.68244C16.027 2.1289 16.7888 1.77606 17.5767 1.55027L17.6365 1.52962C19.8917 2.6111 21.808 4.39473 23.0289 6.58439C24.075 8.44862 24.6206 10.5969 24.5666 12.7367C24.5563 15.5039 23.5219 18.2436 21.7489 20.3594C20.0723 22.3772 17.7274 23.8286 15.1716 24.4098C12.6091 25.0011 9.85203 24.746 7.45375 23.6569C5.10706 22.6088 3.11894 20.7868 1.85419 18.5456C0.802102 16.6831 0.245535 14.5357 0.291723 12.3933C0.296741 9.72392 1.24461 7.07515 2.89958 4.98777C4.22152 3.32103 5.97523 1.99574 7.95454 1.21801Z"
        fill="#E60000"
      />
      <path
        d="M14.9939 1.60767C15.8321 1.46595 16.6935 1.36901 17.5404 1.49767L17.6619 1.51825L17.5806 1.54913C16.7927 1.77505 16.0309 2.12782 15.417 2.68143C14.3116 3.64359 13.6146 5.10531 13.695 6.58486C15.1951 6.96098 16.6943 7.62182 17.7193 8.82174C18.793 10.0475 19.1817 11.7476 19.0626 13.3458C18.8734 15.7842 17.2185 18.0666 14.9152 18.9119C13.3801 19.4844 11.6222 19.4914 10.1067 18.8502C8.53386 18.2021 7.22903 16.9464 6.48771 15.4154C5.76833 13.9561 5.57155 12.2746 5.7839 10.6714C6.10477 8.40888 7.24106 6.29409 8.86264 4.70024C10.5537 3.10883 12.7172 2.03764 14.9939 1.60767Z"
        fill="white"
      />
    </g>
    <defs>
      <clipPath id="clip0_1623_60102">
        <rect width="24.8684" height="25" fill="white" />
      </clipPath>
    </defs>
  </svg>
</template>
