.accordion {
  display: grid;

  @media (min-width: 960px) {
    padding-right: rem(5);
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(20);

    width: 100%;
    min-height: rem(35);

    & svg {
      fill: var(--monochrome-dark-grey);
    }

    & span {
      max-width: rem(295);

      font-size: rem(14);
      font-weight: 400;
      text-align: start;
      word-wrap: break-word;
      color: var(--monochrome-dark-grey);

      &:hover {
        color: var(--accent-color);
      }

      @media (min-width: 635px) {
        max-width: 100%;
        font-size: rem(16);
      }

      @media (min-width: 1200px) {
        font-size: rem(20);
      }
    }
  }

  &__body {
    display: grid;
    grid-template-rows: 0fr;

    overflow: hidden;

    transition: 0.3s ease;
  }

  &__info {
    min-height: 0;
    padding-right: rem(25);

    font-size: rem(14);
    line-height: 135%;
    color: var(--monochrome-black);

    @media (min-width: 960px) {
      max-width: rem(850);
    }

    @media (min-width: 1200px) {
      font-size: rem(16);
    }
  }

  &.active {
    & .accordion {
      &__btn {
        & svg {
          fill: var(--monochrome-black);
          transform: rotate(180deg);
        }

        & span {
          color: var(--monochrome-black);
        }
      }

      &__body {
        grid-template-rows: 1fr;
        margin-top: rem(10);
      }
    }
  }
}
