.questions {
  padding-top: rem(100);
  padding-bottom: rem(100);

  @media (min-width: 1200px) {
    padding-top: rem(150);
    padding-bottom: rem(150);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(50);

    margin-bottom: rem(30);

    @media (min-width: 960px) {
      margin-bottom: rem(50);
    }
  }

  &__content {
    display: flex;
    width: 200%;
    overflow: hidden;

    @media (min-width: 960px) {
      display: grid;
      grid-template-columns: 35% 65%;
      width: 100%;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;

    margin-bottom: rem(20);

    max-height: rem(535);
    overflow-y: auto;

    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1);
    flex: 1;

    &::-webkit-scrollbar {
      width: rem(0);
    }

    @media (min-width: 960px) {
      margin-bottom: rem(0);

      border-right: 1px solid var(--monochrome-grey);

      &::-webkit-scrollbar {
        width: rem(1);
      }

      &::-webkit-scrollbar-track {
        background-color: var(--monochrome-grey);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--additional-dark-yellow);
      }
    }
  }

  &__item {
    font-size: rem(16);
    color: var(--monochrome-dark-grey);

    cursor: pointer;

    padding-top: rem(15);
    padding-bottom: rem(15);

    &:hover {
      color: var(--accent-color);
    }

    @media (min-width: 960px) {
      max-width: rem(340);
      &.selected {
        color: var(--monochrome-black);
      }
    }

    @media (min-width: 1200px) {
      font-size: rem(24);
      max-width: rem(405);
    }
  }

  &__answers {
    margin-bottom: rem(25);
    overflow: hidden;

    display: grid;
    grid-template-rows: 1fr;

    transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1);
    flex: 1;
    height: 0;

    @media (min-width: 960px) {
      height: auto;

      overflow: visible;

      margin-left: rem(20);
      margin-bottom: rem(0);
    }
  }

  &__btn {
    display: none;

    width: rem(215);
    height: rem(60);

    background-color: var(--accent-color);

    font-size: rem(16);
    color: var(--monochrome-black);

    @media (min-width: 960px) {
      display: flex;
    }

    &:hover {
      background-color: var(--monochrome-white);
      border: 1px solid var(--accent-color);
    }

    &--mobile {
      display: flex;

      width: 100%;

      @media (min-width: 960px) {
        display: none;
      }
    }
  }

  @media (max-width: 959px) {
    &.open {
      & .questions {
        &__list {
          transform: translate3d(-100%, 0, 0);
          transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1);
        }

        &__answers {
          height: fit-content;
          transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1);
          transform: translate3d(-100%, 0, 0);
        }
      }
    }
  }
}
