.answers {
  &__btn {
    margin-bottom: rem(10);

    display: flex;
    align-items: center;
    gap: rem(10);

    width: 100%;
    min-height: rem(55);

    & svg {
      width: rem(25);
      height: rem(25);
      stroke: var(--monochrome-black);
    }

    & span {
      font-size: rem(16);
      text-align: start;
      word-wrap: break-word;
      color: var(--monochrome-black);
    }

    @media (min-width: 960px) {
      display: none;
    }
  }

  &__accordion {
    display: grid;
    gap: rem(15);

    max-height: rem(535);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: rem(0);
    }

    @media (min-width: 960px) {
      height: fit-content;
      gap: rem(20);

      &::-webkit-scrollbar {
        width: rem(1);
      }

      &::-webkit-scrollbar-track {
        background-color: var(--monochrome-grey);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--additional-dark-yellow);
      }
    }
  }
}
