<template>
  <section class="rates">
    <div class="container">
      <div class="rates__inner">
        <div class="rates-block">
          <h2 class="rates-title">Ціни квитків на автобус Київ — Варшава</h2>
          <h3 class="rates-subtitle">Внутрішні</h3>
          <div class="rates-wrapper">
            <div class="rates-table">
              <ul class="rates-list">
                <li v-for="item in 8" :key="item" class="rates-item">
                  <h4 class="rates-item__city">Варшава — Київ</h4>
                  <span class="rates-item__decor"></span>
                  <div class="rates-item__price">від 780,00 UAH</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup lang="ts"></script>

<style scoped lang="scss">
@import "@/assets/scss/components/rates/rates.scss";
</style>
