.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--ui-index-4);
  width: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    padding-top: rem(15);
  }

  &__logo {
    max-width: rem(140);
    //max-height: rem(40);
    //@media(min-width: 991px){
    //  max-height: max-content;
    //}
    @media (min-width: 1315px) {
      max-width: rem(250);
    }
  }

  &__tabs {
    display: none;

    @media (min-width: 760px) {
      margin-left: rem(30);
      display: flex;
    }
  }

  &__top,
  &__left,
  &__right,
  &__buttons {
    display: flex;
    align-items: center;
  }

  &__top {
    justify-content: space-between;
  }

  &__left {
    justify-content: space-between;
  }

  &__right {
    justify-content: space-between;
    margin-left: rem(10);

    @media (min-width: 1160px) {
      display: flex;
      margin-left: auto;
    }
  }

  &__nav {
    margin-left: auto;
    @media (min-width: 1160px) {
      display: none;
    }
    &-list {
      display: flex;
      justify-content: space-between;
      gap: rem(10);
    }

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(40);
      height: rem(40);
      cursor: pointer;

      & svg {
        width: rem(40);
        height: rem(40);
      }
    }
  }

  &__phones {
    display: none;
    align-items: center;
    gap: rem(20);
    margin-right: 1.875rem;

    @media (min-width: 1200px) {
      display: flex;
    }
  }

  &__phone {
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(8);

    font-family: "e-Ukraine", sans-serif;
    font-weight: 300;
    color: var(--monochrome-white);
    text-decoration: none;
    cursor: pointer;

    & svg {
      width: rem(20);
      height: rem(20);

      &:hover {
        color: var(--accent-color);
      }
    }

    &:not(:last-child) {
      margin-right: 1.43rem;
    }

    @media (min-width: 1400px) {
      & svg {
        width: rem(24);
        height: rem(24);
      }
    }
  }

  &__support-btn {
    flex-direction: row-reverse;
    gap: rem(12);
    align-items: center;
    display: none;

    margin-right: 1.25rem;
    padding: rem(10) rem(25);
    width: unset;

    color: var(--monochrome-black);
    background-color: var(--monochrome-white);
    border: 1px solid transparent;

    @media (min-width: 1160px) {
      display: flex;
    }

    &:hover {
      background-color: var(--accent-color);
    }
  }

  &__personal-cabinet-btn {
    @media (min-width: 1160px) {
      padding: rem(14) rem(25);
      width: unset;

      color: var(--monochrome-white);
      border: rem(1) solid var(--monochrome-white);

      &:hover {
        background-color: var(--monochrome-white);
        color: var(--monochrome-black);
      }

      & span {
        max-width: rem(220);
      }
    }
  }

  &--white {
    .header {
      &__phone {
        color: var(--monochrome-black);

        & svg {
          color: var(--accent-color);
        }
      }

      &__support-btn {
        background-color: var(--accent-color);

        &:hover {
          border: 1px solid var(--accent-color);
          background-color: var(--monochrome-light-grey);
        }
      }

      &__personal-cabinet-btn {
        @media (min-width: 1160px) {
          color: var(--monochrome-black);
          border: 1px solid var(--accent-color);

          &:hover {
            background-color: var(--accent-color);
          }
        }
        &.btn--personal-red {
          @media(min-width: 1160px){
            border-color: var(--additional-red-color);
          }
          @media (any-hover: hover) {
            &:hover {
              background: transparent;
            }
          }
        }
      }
    }
  }
}
