.block {
  display: grid;
  grid-template-columns: 3fr 140px;
  align-items: center;
  color: var(--monochrome-black);

  @media (min-width: 845px) {
    grid-template-columns: 3fr 100px;
  }

  &__inputs-inner {
    display: flex;
    flex-direction: column;
    gap: 5px;

    & h3 {
      display: none;

      font-size: 16px;
      font-weight: 300;
      color: var(--monochrome-black);

      @media (min-width: 960px) {
        display: block;
      }
    }
  }

  &__inputs-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: rem(11);
    row-gap: rem(15);
    position: relative;
    width: 100%;

    @media (min-width: 500px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 670px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media (min-width: 850px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1200px) {
      grid-template-columns: 1fr;
    }
    @media (min-width: 1450px) {
      grid-template-columns: 1fr 1fr;
    }

    &--animals {
      @media (min-width: 850px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media (min-width: 960px) {
        grid-row: span 2;
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media (min-width: 1450px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    & input {
      @media (min-width: 1400px) {
        max-width: rem(145);
      }

      @media (min-width: 1450px) {
        max-width: rem(155);
      }

      @media (min-width: 1600px) {
        max-width: rem(167);
      }
    }
  }

  &__child {
    &-head {
      margin-bottom: rem(15);
    }
    &-title,
    &-info {
      font-weight: 400;
      text-align: center;
    }
    &-title {
      margin-bottom: rem(8);
      font-size: rem(12);
      color: var(--monochrome-dark-grey);
    }

    &-info {
      font-size: rem(16);
      color: var(--monochrome-light-black);
    }
  }

  &__title {
    position: relative;
    display: flex;
    align-items: center;

    &-text {
      margin-right: rem(7);
    }
  }

  &__hint {
    margin-top: rem(4);
    font-size: rem(12);
    font-weight: 300;
    color: var(--monochrome-dark-grey);
  }

  &__counters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    gap: rem(20);
    max-width: rem(140);

    @media (min-width: em(845)) {
      max-width: rem(100);
      gap: 0;
    }
  }

  &__btn {
    display: grid;
    align-items: center;
    justify-items: center;
    width: rem(45);
    height: rem(45);

    border-radius: 50%;
    background: var(--monochrome-light-grey);

    @media (min-width: em(845)) {
      width: rem(30);
      height: rem(30);
    }
    @media (any-hover: hover) {
      &:hover .block__btn-icon {
        fill: var(--accent-color);
      }

      &:hover .block__btn-icon--decrease {
        stroke: var(--accent-color);
      }
    }

    &-icon {
      width: rem(20);
      height: rem(20);
      fill: var(--monochrome-grey);
    }

    &.disabled {
      pointer-events: none;
      background: var(--monochrome-grey);

      & svg {
        stroke: var(--monochrome-dark-grey);
      }
    }

    &--decrease {
      & svg {
        width: rem(12);
        height: rem(2);
        stroke: var(--monochrome-black);
      }
    }

    &--increase {
      & svg {
        width: rem(14);
        height: rem(14);
        fill: var(--monochrome-black);
      }
    }
  }

  &--animals {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(10);
    align-self: start;

    @media (min-width: 845px) {
      grid-template-columns: 1fr;
      gap: rem(15);
    }

    @media (min-width: 960px) {
      grid-row: span 1;
      grid-column: span 1;
    }

    & .block {
      &__info {
        display: none;
      }
    }
  }
}

.forbidden {
  cursor: not-allowed;
}
